﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.headerUrltext)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <script src="/Scripts/resize.js"></script>
    <script src="/Scripts/ckeditor.js"></script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/core.js"></script>
    <script src="/Scripts/aims_amClientInfo.js"></script>
    <script src="~/scripts/authentication.js"></script>
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <style>
        table .btn-action {
            width: 25px;
            min-width: 25px;
            max-width: 25px;
        }

        .maxheight {
            max-height: 47px !important;
        }
    </style>
</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>Menu&nbsp;</a></li>

                    <li class="fc-white"><a href="">@Html.Raw(home_index.resx3)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name">@Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">User</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-3">
                <ul class="align-right">
                    <li class="liCreateStore fc-slate-blue"><a data-bind="click: createNewStore" class="linkBtnCreateStore toolbarbutton fs-large-normal" href="#" title="Create New Store"><i class="fa fa-file-text-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staffPositions.toolbox_left_ul_li_linkBtnCreateStore_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Location"><i class=" fa fa-file-text-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx879)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: search" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Store Information"><i class="fa fa-search"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx880)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Store Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx5)</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to home page"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx6)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx7)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(home_index.resx8)</span></li>

                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">
                <div class="flex-item-1 flex-field-container">
                    @*<input type="hidden" name="CLIENT_CODE" id="CLIENT_CODE">*@
                    <input type="hidden" name="LOGOACTION" id="LOGOACTION">
                    <input type="hidden" name="CLIENT_LOGO" id="CLIENT_LOGO">
                    <input type="hidden" name="CLIENT_PATH_LOGO" id="CLIENT_PATH_LOGO">                    

                    <label for="CLIENTLOGO">@Html.Raw(othresource.resx_clientlogo)</label>
                    <img src="" id="CLIENT_IMAGE" name="CLIENT_IMAGE" style="height:150px; width:150px;" /><br />
                    <input style="height:50px;" type="file" accept="image/jpeg, image/png, image/gif" id="imageInfo" name="imageInfo" /><br /><br />

                    <label for="CLIENT_CODE">@Html.Raw(home_index.resx30)</label>
                    <input type="text" name="CLIENT_CODE" id="CLIENT_CODE" placeholder="" required="required"><br />

                    <label for="DESCRIPTION_SHORT">@Html.Raw(staffPositions.label_03)</label>
                    <input type="text" name="DESCRIPTION_SHORT" id="DESCRIPTION_SHORT" placeholder="" required="required"><br />

                    <label for="DESCRIPTION">@Html.Raw(home_index.resx9)</label>
                    <textarea name="DESCRIPTION" id="DESCRIPTION" placeholder="" required="required"></textarea> <br />

                    <label for="DESCRIPTION_OTH">@Html.Raw(home_index.resx881)</label>
                    <textarea name="DESCRIPTION_OTH" id="DESCRIPTION_OTH" placeholder=""></textarea> <br />


                </div>
                <div class="flex-item-1 flex-field-container">

                    @*<br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />*@
                    <label for="ADDRESS">@Html.Raw(home_index.resx11)</label>
                    <textarea name="ADDRESS" id="ADDRESS" placeholder="" required="required"></textarea> <br />

                    <label for="CITY">@Html.Raw(home_index.resx12)</label>
                    <input type="text" name="CITY" id="CITY" placeholder="" required="required"><br />

                    <label for="ZIPCODE">@Html.Raw(home_index.resx13)</label>
                    <input type="text" name="ZIPCODE" id="ZIPCODE" placeholder="" required="required"><br />

                    <label for="STATE">@Html.Raw(home_index.resx14)</label>
                    <input type="text" name="STATE" id="STATE" placeholder="" required="required"><br />

                    <label for="CONTACT_NO1">@Html.Raw(home_index.resx15)</label>
                    <input type="text" name="CONTACT_NO1" id="CONTACT_NO1" placeholder="" required="required"><br />

                    <label for="CONTACT_NO2">@Html.Raw(home_index.resx16)</label>
                    <input type="text" name="CONTACT_NO2" id="CONTACT_NO2" placeholder="" required="required"><br />

                    <label for="EMAIL_ADDRESS">@Html.Raw(supplier.frmInfo_input_text15):</label>
                    <input type="email" name="EMAIL_ADDRESS" id="EMAIL_ADDRESS" placeholder=""><br /><br />

                    <label for="CONTACT_PERSON">@Html.Raw(home_index.resx202):</label>
                    <input type="text" name="CONTACT_PERSON" id="CONTACT_PERSON" placeholder=""><br />

                    <label for="CONTACTNO_PERSON">@Html.Raw(staffPositions.label_08)</label>
                    <input type="text" name="CONTACTNO_PERSON" id="CONTACTNO_PERSON" placeholder="" required="required"><br />

                    <label for="CONTACT_EMAILADD">@Html.Raw(staffPositions.label_09)</label>
                    <input type="email" name="CONTACT_EMAILADD" id="CONTACT_EMAILADD" placeholder="" required="required"><br />

                    <div class="storeContainer">
                        <label>@Html.Raw(home_index.resx811):</label>
                        <input type="text" placeholder="No Client Linked" data-bind="value: unsaveStore.DESCRIPTION" disabled="disabled"><br />
                    </div>
                </div>


                <div class="flex-item-1 flex-field-container">
                    <input type="hidden" name="delRow" id="delRow">
                    <label for="HEADING">@Html.Raw(home_index.resx882)</label>
                    <textarea name="HEADING" id="HEADING" placeholder="" required="required" class="maxheight"></textarea> <br />

                    <label for="HEADING_OTH">@Html.Raw(home_index.resx883)</label>
                    <textarea name="HEADING_OTH" id="HEADING_OTH" placeholder="" class="maxheight"></textarea> <br />

                    <label for="HEADING2">@Html.Raw(home_index.resx884)</label>
                    <textarea name="HEADING2" id="HEADING2" placeholder="" class="maxheight"></textarea> <br />

                    <label for="HEADING_OTH2">@Html.Raw(home_index.resx885)</label>
                    <textarea name="HEADING_OTH2" id="HEADING_OTH2" placeholder="" class="maxheight"></textarea> <br />
                    <br />
                    <br />
                    <br />
                    @*<br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />*@
                <p style="cursor:pointer;" class="fc-slate-blue fs-medium-normal liSaveAll" data-bind="click: addModels" id="clientCostCenterAddModels"><i class="fa fa-search"></i>&nbsp;@Html.Raw(home_index.resx886) &nbsp; <span data-bind='text: modelsList().length'>&nbsp;</span> </p>
                    <p style="cursor:pointer;" class="fc-slate-blue fs-medium-normal liModify">&nbsp;Linked Cost Center &nbsp; </p>

                    <table id="itemsReceiveBatch" style="width: 100%; padding: 0; padding-right: 50px">
                        <thead>
                            <tr>
                                <th class='a'>@Html.Raw(staffPositions.label_03)</th>
                                <th class='c'>@Html.Raw(staffPositions.label_04)</th>


                            </tr>
                        </thead>
                        <tbody data-bind='foreach: modelsList'>
                            <tr data-bind="click: $parent.select">
                                <td class="a"><span data-bind='text: COSTCENTERCODE, uniqueName: true'></span></td>
                                <td class=""><span data-bind='text: DESCRIPTION, uniqueName: true'></span></td>

                                <td id="btnRemove" class="liSaveAll"><a href='#' data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>

                    <br />
                    <br />
                    <br />

                    <div class="flex-container" style="justify-content: space-between; padding-right: 50px;">
                        <label for="otherContact">@Html.Raw(home_index.resx887)</label>
                        <text class="fc-slate-blue" style="cursor: pointer" title="Add New Other Contact" id="otherContactNew" data-bind="click: openOtherContactModal"><i class="fa fa-plus"></i> @Html.Raw(amDispatchedPartsReturn.btnLabel_text1)</text>
                    </div>
                    <table style="width: 100%; padding: 0; padding-right: 50px">
                        <thead>
                            <tr>
                                <th class="b">@Html.Raw(home_index.resx888)</th>
                                <th class="c">@Html.Raw(assetInfo.frmInfo_input_text19)</th>
                                <th class="btn-action otherContactRemove"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: otherContactList">
                            <tr>
                                <td data-bind="text: $data.CLIENTCONTACTTYPEVALUE"></td>
                                <td data-bind="text: $data.CLIENTCONTACT"></td>
                                <td class="otherContactRemove">
                                    <i class="fa fa-trash button-extbottom" data-bind="click: $parent.removeOtherContact" title="Remove Contact"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex-item-1 flex-field-container">
                    <input type="hidden" name="COMPANY_LOGO" id="COMPANY_LOGO">
                    <input type="hidden" name="COMPANY_PATH_LOGO" id="COMPANY_PATH_LOGO">

                    <label for="COMPANY_LOGO">@Html.Raw(home_index.resx889)</label>
                    <img src="" id="COMPANY_IMAGE" name="COMPANY_IMAGE" style="height:150px; width:150px;" /><br />
                    <input style="height:50px;" type="file" accept="image/jpeg, image/png, image/gif" id="companyimageInfo" name="companyimageInfo" /><br /><br />


                    <label for="HEADING3">@Html.Raw(home_index.resx890)</label>
                    <textarea name="HEADING3" id="HEADING3" placeholder="" required="required"></textarea> <br />

                    <label for="HEADING_OTH3">@Html.Raw(home_index.resx891)</label>
                    <textarea name="HEADING_OTH3" id="HEADING_OTH3" placeholder="" required="required"></textarea> <br />

                </div>

            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
        <div id="openCreateStoreModal" class="modalwidth5">
            <div>
                <a href="#" title="Close" class="close">X</a><br />
                <div>
                    <p><span id="lookUpTitle" class="fc-slate-blue fs-large-strong">@Html.Raw(staffPositions.toolbox_left_ul_li_linkBtnCreateStore_text)</span></p>
                </div>
                <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage">
                    <form>
                        <div class="flex-container flex-wrap">
                            <div class="flex-item-1 flex-field-container">
                                <label for="STORE_NO">@Html.Raw(home_index.resx411)</label>
                                <input type="text" name="STORE_NO" id="STORE_NO" placeholder="" data-bind="value: unsaveStore.STORE_NO" disabled="disabled" style="width: 94%;"><br />

                                <label for="DESCRIPTION">@Html.Raw(home_index.resx38)</label>
                                <input type="text" name="DESCRIPTION" id="DESCRIPTION" placeholder="" required="required" data-bind="value: unsaveStore.DESCRIPTION" style="width: 94%;"><br />

                                <label for="LOCATION">@Html.Raw(home_index.resx87):</label>
                                <input type="text" name="LOCATION" id="LOCATION" placeholder="" data-bind="value: unsaveStore.LOCATION" style="width: 94%;"><br />

                                <label for="CONTACT_NO">@Html.Raw(home_index.resx15):</label>
                                <input type="text" name="CONTACT_NO" id="CONTACT_NO" placeholder="" data-bind="value: unsaveStore.CONTACT_NO" style="width: 94%;"><br />

                                <label for="CLIENT_NAME">@Html.Raw(home_index.resx9):</label>
                                <input type="text" name="CLIENT_NAME" id="CLIENT_NAME" data-bind="value: unsaveStore.CLIENT_NAME" placeholder="" style="width: 94%;"><br />
                            </div>
                        </div><br />
                        <div class="align-right" style="padding-right: 30px;">
                            <button type="button" id="saveStore" class="fc-slate-blue" data-bind="click: saveStore" style="padding: 5px 10px;">Add Store</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="openOtherContactModal" class="modalwidth7">
            <div style="padding: 15px; width: 240px; height: 290px">
                <a href="#" title="Close" class="close">X</a><br />
                <div>
                    <p><span class="fc-slate-blue fs-large-strong">@Html.Raw(home_index.resx892)</span></p>
                </div>
                <form data-bind="submit: addOtherContact">
                    <label for="CLIENTCONTACTTYPE">Contact Type</label>
                    <select name="CLIENTCONTACTTYPE" id="CLIENTCONTACTTYPE" data-bind="value: modalOtherContact.CLIENTCONTACTTYPE" required>
                        <option value="">@Html.Raw(home_index.resx893)</option>
                        <option value="E">@Html.Raw(home_index.resx894)</option>
                        <option value="FN">@Html.Raw(supplier.frmInfo_input_text14)</option>
                        <option value="MN">@Html.Raw(home_index.resx895)</option>
                        <option value="TN">@Html.Raw(home_index.resx896)</option>
                        <option value="P">@Html.Raw(workOrder.input_label_text15)</option>
                        <option value="PN">@Html.Raw(home_index.resx897)</option>
                    </select><br /><br />

                    <label for="CLIENTCONTACT">@Html.Raw(assetInfo.frmInfo_input_text19)</label>
                    <input type="text" name="CLIENTCONTACT" id="CLIENTCONTACT" data-bind="value: modalOtherContact.CLIENTCONTACT" required autocomplete="off"><br />

                    <div id="addButton">
                        <button type="submit" class="button-extbottom">@Html.Raw(home_index.resx253)</button>
                        <a href="#" class="button-extbottom"><span>@Html.Raw(amDispatchedPartsReturn.btnLabel_text5)</span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="openModalLookup" class="modalwidth5">

        <div>
            <a href="#" title="Close" class="close">X</a>
            <br />
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="lookUpTitle" class="fc-slate-blue fs-large-strong">@Html.Raw(home_index.resx898)</span></p>
            </div>

            <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchResultLookUp">

                <ul>
                    <li><i></i>&nbsp;</li>

                </ul>
                <h2 id="lookUpnoresult" style="color:red;">@Html.Raw(home_index.resx145)</h2>
                <br />

            </div>

        </div>

    </div>

    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1></h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;</li>
                <li><i class="fa fa-check"></i>&nbsp;</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary"></h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal"></a>
                        <span class="searchRowLabel1 searchRowLabel"><span class="searchRowData"></span></span>
                        <span class="searchRowLabel2 searchRowLabel"><span class="searchRowData"></span></span>
                        <span class="searchRowLabel3 searchRowLabel"><span class="searchRowData"></span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(home_index.resx17)',
                    errorTwo: '@Html.Raw(home_index.resx19)',
                    addModeHeader: '@Html.Raw(home_index.resx19)',
                    addModeSubHeader: '',
                    updateModeHeader: '@Html.Raw(home_index.resx21)',
                    updateModeSubHeader: '@Html.Raw(home_index.resx20)',
                    saveModeStatusText: '@Html.Raw(home_index.resx23)',
                    saveSuccessMessage: '@Html.Raw(home_index.resx24)',
                    readModeStatusText: '@Html.Raw(home_index.resx25)',
                    displayModeHeader: '@Html.Raw(home_index.resx26)',
                    displayModeSubHeader: '@Html.Raw(home_index.resx27)',
                    searchModeStatusText: '@Html.Raw(home_index.resx28)',
                    searchModeHeader: '',
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx30)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',
                        otherDeth: '@Html.Raw(home_index.resx32)',
                        address: 'Address:',
                        contactno: 'Contact Number:'
                    }
                };

                var myViewModel = new clientInfoViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

