﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx52)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/aims_amContractServices.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <link href="/Content/modalAlert.css" rel="stylesheet" />
    <script src="~/scripts/authentication.js"></script>

    <style>
        #frmInfo .view-mode {
            background-color: #fff;
        }
    </style>
</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">@Html.Raw(contractServices.page_title_text)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">User</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
           
            <div class="toolbox-left flex-item-4">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: assetInfo" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Back to Asset Information"><i class="fa fa-hand-o-right"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(workOrder.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
                    <li class="liAddNew fc-slate-blue"id="addButtonId"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create New Contract Service"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(contractServices.btnLabel1)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"id="modifyButtonId"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Contract Service Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(assetInfo.btnLabel_text3)</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Contract Services"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(assetInfo.btnLabel_text9)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(assetInfo.btnLabel_text10)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(assetInfo.btnLabel_text11) ...</span></li>

                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="divInfo">@Html.Raw(pmSchedule.pLabel_text1): &nbsp;<span class="fs-medium-normal" id="infoID"></span></div>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        <div id="openModalAlert" class="modalAlert">

            <div>
                <div class="modalAlert-content">
                    <div class="modalAlert-header">
                        @* <span class="close">&times;</span>*@
                        <h2>@Html.Raw(assetInfo.pLabel_text1)</h2>
                    </div>
                    <div class="modalAlert-body">
                        <br />
                        <p id="modalAlertMsg">@Html.Raw(assetInfo.pLabel_text2)</p>
                        <br />
                    </div>
                    <div class="modalAlert-footer">

                        <a href="#" data-bind="click: closeModalalert" class="button-extx" id="addButtonx"><span>@Html.Raw(assetInfo.btnLabel_text12)</span></a>
                    </div>
                </div>


            </div>

        </div>
        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">
                    <input type="hidden" name="ASSET_CONTRACTSERVICE_ID" id="ASSET_CONTRACTSERVICE_ID">
                    <input type="hidden" name="ASSET_NO" id="ASSET_NO">

                    <label for="CONTRACT_ID">@Html.Raw(contractServices.frmInfo_input_text1):</label>
                    <input type="text" name="CONTRACT_ID" id="CONTRACT_ID" placeholder="" required="required" maxlength="10"><br />

                    <label for="PROVIDER">@Html.Raw(contractServices.frmInfo_input_text2):</label>
                    <input type="text" name="PROVIDER" id="PROVIDER" placeholder="" required="required"><br />

                    <label for="TYPE_COVERAGE">@Html.Raw(contractServices.frmInfo_input_text3):</label>
                    <input type="text" name="TYPE_COVERAGE" id="TYPE_COVERAGE" placeholder="" required="required"><br />

                    <label for="PURCHASE_ORDER">@Html.Raw(contractServices.frmInfo_input_text4):</label>
                    <input type="text" name="PURCHASE_ORDER" id="PURCHASE_ORDER" placeholder="" requied="required"><br />

                    <label for="COVERAGE_LABOR">@Html.Raw(contractServices.frmInfo_input_text5):</label>
                    <select class="border-search" id="COVERAGE_LABOR" name="COVERAGE_LABOR">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />

                    <label for="COVERAGE_PARTSMATERIALS">@Html.Raw(contractServices.frmInfo_input_text6):</label>
                    <select class="border-search" id="COVERAGE_PARTSMATERIALS" name="COVERAGE_PARTSMATERIALS">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />

                </div>

                <div class="flex-item-1 flex-field-container">
                    <label for="REMARKS">@Html.Raw(contractServices.frmInfo_input_text7):</label>
                    <textarea name="REMARKS" id="REMARKS" placeholder=""></textarea> <br />

                    <label for="LABOR_RATEPERHOUR">@Html.Raw(contractServices.frmInfo_input_text8):</label>
                    <input type='number' step='0.01' value='0.00' placeholder='0.00' class="view-mode" name="LABOR_RATEPERHOUR" id="LABOR_RATEPERHOUR"><br />

                    <label for="LABOR_HOURS">@Html.Raw(contractServices.frmInfo_input_text9):</label>
                    <input type='number' step='0.01' value='0.00' placeholder='0.00' class="view-mode" name="LABOR_HOURS" id="LABOR_HOURS"><br />

                    <label for="COST_TOTAL">@Html.Raw(contractServices.frmInfo_input_text10):</label>
                    <input type='number' step='0.01' value='0.00' placeholder='0.00' class="view-mode" name="COST_TOTAL" id="COST_TOTAL"><br />
                </div>

                <div class="flex-item-1 flex-field-container">
                    <label for="COST_PERPIECE">@Html.Raw(contractServices.frmInfo_input_text11):</label>
                    <input type='number' step='0.01' value='0.00' placeholder='0.00' class="view-mode" name="COST_PERPIECE" id="COST_PERPIECE" ><br />

                    <label for="COST_LASTPERIOD">@Html.Raw(contractServices.frmInfo_input_text12):</label>
                    <input type='number' step='0.01' value='0.00' placeholder='0.00' class="view-mode" name="COST_LASTPERIOD" id="COST_LASTPERIOD" ><br />

                    <label for="TERM_EFFECTIVE">@Html.Raw(contractServices.frmInfo_input_text13):</label>
                    <input class="datefield tcal" data-isdate="true" data-val="true" type="text" name="TERM_EFFECTIVE" id="TERM_EFFECTIVE" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"><br />

                    <label for="TERM_TERMINATION">@Html.Raw(contractServices.frmInfo_input_text14):</label>
                    <input class="datefield tcal" data-isdate="true" data-val="true" type="text" name="TERM_TERMINATION" id="TERM_TERMINATION" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"><br />


                    <label for="TERM_REVIEW">@Html.Raw(contractServices.frmInfo_input_text15):</label>
                    <input class="datefield tcal" data-isdate="true" data-val="true" type="text" name="TERM_REVIEW" id="TERM_REVIEW" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"><br />
                </div>


            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(contractServices.homeMessage_text1)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(contractServices.homeMessage_text2)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(contractServices.homeMessage_text3)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx34).</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36): <span class="searchRowData">CPED</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(assetInfo.frmInfo_input_text19): <span class="searchRowData">Pediatric</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40): <span class="searchRowData">OTH</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(contractServices.textInfo_errorOne)',
                    errorTwo: '@Html.Raw(contractServices.textInfo_errorTwo)',
                    addModeHeader: '@Html.Raw(contractServices.textInfo_addModeHeader)',
                    addModeSubHeader: '@Html.Raw(contractServices.textInfo_addModeSubHeader)',
                    updateModeHeader: '@Html.Raw(contractServices.textInfo_updateModeHeader)',
                    updateModeSubHeader: '@Html.Raw(contractServices.textInfo_updateModeSubHeader)',
                    saveModeStatusText: '@Html.Raw(contractServices.textInfo_saveModeStatusText)',
                    saveSuccessMessage: '@Html.Raw(contractServices.textInfo_saveSuccessMessage)',
                    readModeStatusText: '@Html.Raw(contractServices.textInfo_readModeStatusText)',
                    displayModeHeader: '@Html.Raw(contractServices.textInfo_displayModeHeader)',
                    displayModeSubHeader: '@Html.Raw(contractServices.textInfo_displayModeSubHeader)',
                    searchModeStatusText: '@Html.Raw(contractServices.textInfo_searchModeStatusText)',
                    searchModeHeader: "@Html.Raw(contractServices.textInfo_searchModeHeader)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx42)',
                        frequency: '@Html.Raw(home_index.resx43)',
                        nextDue: '@Html.Raw(home_index.resx44)',
                        parts: '@Html.Raw(home_index.resx45)',
                        labour: '@Html.Raw(home_index.resx46)',
                        provider: '@Html.Raw(home_index.resx47)',
                        typeCoverage: '@Html.Raw(home_index.resx48)',
                        contractId: '@Html.Raw(home_index.resx49)',
                        effective: '@Html.Raw(home_index.resx50)',
                        termination: '@Html.Raw(home_index.resx51)'
                    }
                };

                var myViewModel = new amContractServiceViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

