﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx92)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="/Content/modalAlert.css" rel="stylesheet" />
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/aims_amDispatchPartsWOV10.js"></script>
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="~/scripts/authentication.js"></script>
</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">@Html.Raw(home_index.resx93)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-2">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">

            <div class="toolbox-left flex-item-1">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Worksheet"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partsRequest.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: statusDispatch" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click for collection"><i class="fa fa-thumbs-up"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx94)</span>&nbsp;&nbsp;</a></li>
                    <li class="liDispatch fc-slate-blue"><a data-bind="click: statusDispatch" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to Dispatch"><i class="fa fa-thumbs-up"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx54)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue">&nbsp;<span class="btn-text fs-medium-normal">From Store&nbsp;<select class="border-search" id="STOREFROM" name="STOREFROM" title="Receiving Store"><option value="" selected="selected">@Html.Raw(home_index.resx58)</option></select></span>&nbsp;&nbsp;</li>
                    <li class="liSaveAll fc-slate-blue">&nbsp;<span class="btn-text fs-medium-normal">To Store&nbsp;<select class="border-search" id="STORETO" name="STORETO" title="Receiving Store"><option value="" selected="selected">@Html.Raw(home_index.resx58)</option></select></span>&nbsp;&nbsp;</li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Worksheet"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(partsRequest.btnLabel_text5)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: stockSearchNow" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to Add Item to Request"><i class="fa fa-search"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx59)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(partsRequest.btnLabel_text6)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(partsRequest.btnLabel_text7)</span></li>

                    <li class="fc-grey"><input data-bind="event: { change: searchNow }, searchKeyword " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue filter-icon"><span data-bind="click: showModalFilter" class="toolbarbutton"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i>&nbsp;</span></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="divInfo"><span class="fs-medium-normal" style="color:red;" id="workOrderStatus">@Html.Raw(home_index.resx899)</span>&nbsp;&nbsp;&nbsp;@Html.Raw(othresource.resx_workordernum): &nbsp;<span class="fs-medium-normal" id="infoID"></span></div>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        <div id="openModal" class="modalwidth3">
            <div>
                @*<a href="#" title="Close" class="close">X</a>*@
                <br />

                <div class="flex-item-2">
                    <input type="hidden" name="actionButton" id="actionButton">
                    <input type="hidden" name="pageNum" id="pageNum">
                    <input type="hidden" name="pageCount" id="pageCount">
                    <ul class="align-left">
                        <li class="fc-grey">
                            &nbsp;&nbsp;&nbsp;<input data-bind="event: { change: pageLoader } " type="search" placeholder="search anything" id="txtGlobalSearchOth" />
                            &nbsp;&nbsp;&nbsp;
                            <a data-bind="click: pageLoader" href="#" class="button" id="priorPage"><i class="fa fa-chevron-circle-left"></i></a>
                            <a data-bind="click: pageLoader" href="#" class="page" id="page1"><span id="loadNumber">1</span></a>&nbsp;&nbsp;
                            <a data-bind="click: pageLoader" href="#" class="page" id="page2"><span id="totNumber">2</span></a>
                            <a data-bind="click: pageLoader" href="#" class="button" id="nextPage"><i class="fa fa-chevron-circle-right"></i></a>
                        </li>

                    </ul>
                </div>

                <div class="flex-item-1 flex-field-container field-list align-left" id="searchResult1">

                    <ul>
                        <li><i></i>&nbsp;</li>

                    </ul>
                    <div class="modal-footer">

                        <a href="#" data-bind="click: cancelChangesModal" class="button-extbottom"><span>@Html.Raw(partsRequest.btnLabel_text8)</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="openModalAlert" class="modalAlert">

            <div>
                <div class="modalAlert-content">
                    <div class="modalAlert-header">
                        @* <span class="close">&times;</span>*@
                        <h2>@Html.Raw(assetInfo.pLabel_text1)</h2>
                    </div>
                    <div class="modalAlert-body">
                        <br />
                        <p id="alertmessage"></p>
                        <br />
                    </div>
                    <div class="modalAlert-footer">

                        <a href="#" data-bind="click: closeModalalert" class="button-extx" id="addButtonx"><span>@Html.Raw(assetInfo.btnLabel_text12)</span></a>
                    </div>
                </div>
            </div>

        </div>

        <div id="openModalLookup" class="modalwidth5">
           
            <div>
                <a href="#" title="Close" class="close">X</a>
                <br />
                <div>
                    <span id="ITEMNAME" class="fc-slate-blue fs-medium-strong"></span>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="lookUpTitle" class="fc-slate-blue fs-medium-strong">@Html.Raw(home_index.resx900).</span></p>
                    <p><span id="lookUpTitle" class="fc-slate-blue fs-medium-normal">@Html.Raw(home_index.resx901).</span></p>
                </div>
                <br />
                <div class="flex-item-1 flex-field-container field-list align-left" id="searchResultLookUp">

                    <ul>
                        <li><i></i>&nbsp;</li>

                    </ul>
                </div>
                <br />
                <div>
                    <span id="ADQTY" class="fc-red fs-medium-strong"></span>
                   
                </div>
            </div>

        </div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
       @* <form id="frmInfo" data-bind="submit: saveInfo">*@
            <div class="flex-container flex-wrap" style="margin-right:15px; margin-left:15px">

                <div class="flex-item-1 flex-field-container wsAsset">
                    <input type="hidden" name="TRANS_ID" id="TRANS_ID">
                    <input type="hidden" name="AM_STOCKTRANSACTIONID" id="AM_STOCKTRANSACTIONID">
                    <input type="hidden" name="TRANS_STATUS" id="TRANS_STATUS">
                    <input type="hidden" name="REQUEST_DATE" id="REQUEST_DATE">
                    <input type="hidden" name="TRANSFER_ACTION" id="TRANSFER_ACTION">
                    <input type="hidden" name="POSTID" id="POSTID">
                    <input type="hidden" name="delRow" id="delRow">
                    <p class="itemRequest">@Html.Raw(home_index.resx60) <span data-bind='text: reqList().length'>&nbsp;</span> </p>

                    <table data-bind='visible: reqList().length > 0' id="itemsReceiveBatch">
                        <thead>
                            <tr>
                                <th class='a'>@Html.Raw(home_index.resx139)</th>
                                <th class=''>@Html.Raw(home_index.resx902)</th>
                                <th class='h'>@Html.Raw(home_index.resx62)</th>
                                
                                <th class='h'>@Html.Raw(home_index.resx63)</th>
                                <th class='h'>@Html.Raw(home_index.resx89)</th>
                                <th class='a'>@Html.Raw(home_index.resx64)</th>
                                
                                <th class='a'>@Html.Raw(othresource.resx_requestedqty)</th>
                                <th class='a'>@Html.Raw(home_index.resx841)</th>
                                <th class='a'>@Html.Raw(home_index.resx842)</th>

                            </tr>
                        </thead>
                        <tbody data-bind='foreach: reqList'>
                            <tr data-bind="click: $parent.select">
                                <td class="a"><span data-bind='text: ID_PARTS, uniqueName: true' ></span></td>
                                <td class="a"><span data-bind='text: PART_NUMBERS, uniqueName: true'></span></td>
                                <td class="h"><span data-bind='text: PART_DESC, uniqueName: true' ></span></td>
                                
                                <td class="h"><span data-bind='text: STORE_DESC, uniqueName: true'></span></td>
                                <td class="h"><span data-bind='text: STATUS, uniqueName: true'></span></td>
                                <td class="a"><span data-bind='text: STOCK_ONHAND, uniqueName: true'></span></td>
                                <td class="a"><span data-bind='text: QTY, uniqueName: true'></span></td>
                                <td class="a"><span data-bind='text: TRANSFER_QTY, uniqueName: true'></span></td>
                             
                                <td class="a"><input type="number" min="0" class='a' data-bind='value: FOR_COLLECTION_QTY, uniqueName: true , enable: QTY > TRANSFER_QTY && ACTION_COLLECTION > 0' /></td>
                                <td class="forcollect" data-bind="visible: ACTION_COLLECTION > 0"><a href='#' class="button-ext" data-bind="click: $root.forCollection"><i class="fa fa-share-square-o" title="click for collection"></i>@Html.Raw(home_index.resx94)</a></td>
                                <td class="dispatch" data-bind="visible: ACTION_DISPATCH > 0"><a href='#' class="button-ext" data-bind="click: $root.forDispatch"><i class="fa fa-thumbs-up" title="click Dispatch"></i>@Html.Raw(home_index.resx54)</a></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
       @* </form>*@
        <br />
        <br />
        <br />
    </div>
    <div id="openModalFilter" class="modal-filter">
        <div>
            <a href="#" title="Close" class="close">X</a>
            <div class="modal-filter-header">
                <h2>@Html.Raw(home_index.resx69)</h2>
            </div>
            <div class="flex-item-2">
                <div class="filter-row">
                    <label>@Html.Raw(home_index.resx70) </label>
                    <div>
                        <div class="filter-row">@Html.Raw(home_index.resx71) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestFromDate" id="requestFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                        <div class="filter-row">@Html.Raw(home_index.resx72) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestStartDate" id="requestStartDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                    </div>
                </div>
                <div class="filter-row">
                    <span class="from-text">@Html.Raw(workOrder.input_label_text10) </span>
                    <select class="border-search" data-bind="value:searchFilter.status" id="filterStatus" name="filterStatus" title="Select a Store">
                        <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                        <option value="PENDING">@Html.Raw(workOrder.statusLabel_pending)</option>
                        <option value="CLOSED">@Html.Raw(home_index.resx207)</option>
                    </select>
                </div>
                <div class="filter-row">
                    <span class="from-text">@Html.Raw(home_index.resx903)</span><br/>
                    <span class="from-text">@Html.Raw(home_index.resx904)</span>
                    
                </div>

                <div id="addButton">
                    <span data-bind="event: {click: searchFilterNow}" class="button-extbottom">@Html.Raw(home_index.resx95)</span>
                    <a data-bind="event: {click: clearFilter}" href="#" class="button-extbottom"><span>@Html.Raw(home_index.resx96)</span></a>
                    <span data-bind="event: {click: clearFilter}" class="button-extbottom">@Html.Raw(home_index.resx97)</span>
                </div>
            </div>
        </div>
    </div>

    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(amDispatchPartsWO.homeMessage_text1)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(amDispatchPartsWO.homeMessage_text2)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(amDispatchPartsWO.homeMessage_text3)</li>
                @*<li><i class="fa fa-check"></i>&nbsp;@Html.Raw(amDispatchPartsWO.homeMessage_text4)</li>*@
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx98)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(amDispatchPartsWO.txtInfo_text1)',
                    errorTwo: '@Html.Raw(amDispatchPartsWO.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(amDispatchPartsWO.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(amDispatchPartsWO.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(amDispatchPartsWO.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(amDispatchPartsWO.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(amDispatchPartsWO.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(amDispatchPartsWO.txtInfo_text8)',

                    readModeStatusText: '@Html.Raw(amDispatchPartsWO.txtInfo_text10)',
                    displayModeHeader: '@Html.Raw(amDispatchPartsWO.txtInfo_text11)',
                    displayModeSubHeader: '@Html.Raw(amDispatchPartsWO.txtInfo_text12)',
                    searchModeStatusText: '@Html.Raw(amDispatchPartsWO.txtInfo_text13)',
                    searchModeHeader: "@Html.Raw(amDispatchPartsWO.txtInfo_text14)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx139)',
                        inspectionprocess: '@Html.Raw(home_index.resx81)',
                        otherDeth: '@Html.Raw(home_index.resx82)',
                        problem: '@Html.Raw(home_index.resx83)',
                        woOrder: '@Html.Raw(home_index.resx84)',
                        requestor: '@Html.Raw(home_index.resx85)',
                        buildingName: '@Html.Raw(home_index.resx86)',
                        locationName: '@Html.Raw(home_index.resx87)',
                        conditionName: '@Html.Raw(home_index.resx88)',
                        statusName: '@Html.Raw(home_index.resx89)',
                        reqDate: '@Html.Raw(home_index.resx70)',
                        contractId: '@Html.Raw(home_index.resx49)',
                        typeCoverage: '@Html.Raw(home_index.resx90)',
                        provider: '@Html.Raw(home_index.resx47)',
                        labour: '@Html.Raw(home_index.resx46)',
                        parts: '@Html.Raw(home_index.resx45)',
                        problem: '@Html.Raw(home_index.resx83)',
                        assetInfo: '@Html.Raw(home_index.resx91)'
                        
                    }
                };

                var myViewModel = new amDispatchPartsWOViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

