﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx99)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="~/Content/imageLoader.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <script src="/Scripts/resize.js"></script>
    <link href="/Content/modalAlert.css" rel="stylesheet" />
    <script src="/Scripts/ckeditor.js"></script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/aims_amImages.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>
                    <li class="fc-white"><a href="">@Html.Raw(images.page_title_text)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            
            <div class="toolbox-right flex-item-1">
                <ul class="align-right"> 
                    <li><div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div></li>
                    <li class="liNew fc-slate-blue" id="addButtonId"><a class="liRecord toolbarbutton fs-large-normal" href="/Upload/UploadFile" title="Upload new Images"><i class="fa fa-file-image-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx905)</span>&nbsp;&nbsp;</a></li>
                    <li class="liNew fc-slate-blue" id="assetInfobtn"><a data-bind="click: assetInfo" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Back to Asset Information"><i class="fa fa-hand-o-right"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(pmSchedule.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>                   
                    <li class="liNew fc-slate-blue"id="addButtonId"><a data-bind="click: uploadNewImages" class="liRecord toolbarbutton fs-large-normal" href="#" title="Upload new Images"><i class="fa fa-file-image-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(images.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAssetImages" class="liRecord toolbarbutton fs-large-normal" href="#" title="Save the Images"><i class="fa fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(assetInfo.btnLabel_text10)</span>&nbsp;&nbsp;</a></li>
                    <li class="liDelete fc-slate-blue"id="modifyButtonId"><a data-bind="click: alertMessage" class="liRecord toolbarbutton fs-large-normal" href="#" title="Click to Remove Image"><i class="fa fa-eraser"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(images.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>

                </ul>
            </div>

        </div>
    </header>
    
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        
        <div class="divInfo">@Html.Raw(pmSchedule.pLabel_text1): &nbsp;<span class="fs-medium-normal" id="infoID"></span></div>
        
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>

        <div id="openModalAlert" class="modalAlert">

            <div>
                <div class="modalAlert-content">
                    <div class="modalAlert-header">
                       @* <span class="close">&times;</span>*@
                        <h2>@Html.Raw(assetInfo.pLabel_text1)</h2>
                    </div>
                    <div class="modalAlert-body">
                        <br />
                        <p>@Html.Raw(assetInfo.pLabel_text2)</p>
                        <br />
                    </div>
                    <div class="modalAlert-footer">
                        <a href="#" data-bind="click: deleteImage" class="button-ext" id="addButton"><span>@Html.Raw(pmSchedule.input_label_text8)</span></a>
                        <a href="#" data-bind="click: cancelChangesModal" class="button-ext" id="addButton"><span>@Html.Raw(pmSchedule.input_label_text9)</span></a>
                    </div>
                </div>

               
            </div>

        </div>
        <div class="flex-container flex-wrap">

            <div class="flex-item-1 flex-field-container">
                <label for="CATEGORY"></label>

            </div>

            <div class="flex-item-1 flex-field-container field-visitlist align-left">

                
                <br />

                <div id="summaryCategoryList">
                   
                    <ul>
                        <li>
                            <p class="fs-medium-normal fc-slate-blue"><i class="fa fa-calendar "></i>&nbsp;&nbsp;@Html.Raw(images.pLabel_text1)</p>
                            <div class="summary-row-divider transaction-list ">

                                <ul>
                                    <li>
                                        <span class="summary-row-label"> <span class="summary-row-data" id="HEIGHT"></span></span>
                                    </li>
                                </ul>
                            </div>


                        </li>


                    </ul>
                </div>

            </div>

            <br />


            <div class="flex-item-3 flex-field-container align-left" >

                <form id="frmCategory" >
                    <div class="flex-container flex-wrap">
                        <div class="flex-item-1 flex-field-container">
                            <label for="CATEGORY"></label>

                        </div>
                        <div class="flex-item-1 flex-field-container">
                        </div>
                        <div class="flex-item-1 flex-field-container">
                            <input style="height:50px;"type="file" accept="image/jpeg, image/png, application/pdf" multiple id="imageInfo" />
                           
                        </div>

                    </div>
                    <button type="submit" id="saveAssetImages" class="hidden"></button>
                </form>


                <div class="flex-item-1 flex-field-container align-left" id="imageToLoad">
                    <br />
                    <p class="fs-medium-normal fc-slate-blue tabHeader"><i class=""></i>&nbsp;&nbsp;</p>
                    <div class="summary-row-divider imageInfo align-left " data-bind="click: imageDisplay">
                        <ul>
                            <li>

                            </li>
                        </ul>
                    </div>
                    
                </div>
                <br /><br />

            </div>
  
        </div>
        <br />
        <br />
        <br />
    </div>


    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">

        $(document).ready(


            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(images.txtInfo_text1)',
                    errorTwo: '@Html.Raw(images.txtInfo_text2)',
                    updateModeHeaderTimeStamps: '@Html.Raw(images.txtInfo_text3)',
                    updateModeSubHeaderTimeStamps: '@Html.Raw(images.txtInfo_text4)',
                    updateModeHeaderVitals: '@Html.Raw(images.txtInfo_text5)',
                    updateModeSubHeaderVitals: '@Html.Raw(images.txtInfo_text6)',
                    updateModeHeaderAssessment: '@Html.Raw(images.txtInfo_text7)',
                    updateModeSubHeaderAssessment: '@Html.Raw(images.txtInfo_text8)',
                    updateModeHeaderAlerts: '@Html.Raw(images.txtInfo_text9)',
                    updateModeSubHeaderAlerts: '@Html.Raw(images.txtInfo_text10)',
                    saveModeStatusText: '@Html.Raw(images.txtInfo_text11)',
                    saveSuccessMessage: '@Html.Raw(images.txtInfo_text12)',
                    deleteSuccessMessage: '@Html.Raw(images.txtInfo_text13)',
                    readModeStatusText: '@Html.Raw(images.txtInfo_text14)',
                    displayModeHeader: '@Html.Raw(images.txtInfo_text15)',
                    displayModeSubHeader: '@Html.Raw(images.txtInfo_text16)',
                    searchModeStatusText: '@Html.Raw(images.txtInfo_text17)',
                    searchModeHeader: "@Html.Raw(images.txtInfo_text18)",
                    searchModeLabels: {

                        clinicName: '@Html.Raw(home_index.resx100)',
                        doctorName: '@Html.Raw(home_index.resx101)',
                        apptDate: '@Html.Raw(home_index.resx102)',
                        arrivalTime: '@Html.Raw(home_index.resx103)',
                        triageTime: '@Html.Raw(home_index.resx104)',
                        outcome: '@Html.Raw(home_index.resx105)'
                    },
                    alertListLabels: {
                        ICDCode: '@Html.Raw(home_index.resx106)',
                        ICDRevision: '@Html.Raw(home_index.resx107)',
                        Description: '@Html.Raw(home_index.resx140)',
                    },
                    vaitalsListLabels: {
                        weight: '@Html.Raw(home_index.resx108)',
                        height: '@Html.Raw(home_index.resx109)',
                        temperature: '@Html.Raw(home_index.resx110)',
                        pulseRate: '@Html.Raw(home_index.resx111)',
                        bloodPressure: '@Html.Raw(home_index.resx112)',
                    }
                };

                var myViewModel = new imageLoaderViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>
</body>
</html>


