﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx113)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/aims_amInformationServiceDevice.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <link href="/Content/modalAlert.css" rel="stylesheet" />
    <script src="~/scripts/authentication.js"></script>

    <style>
        #frmInfo .view-mode {
            background-color: #fff;
        }
    </style>
</head>
<body>
	<header role="heading">
		<nav class="nav-main flex-container" role="navigation">
			<div class="nav-site-map flex-item-2">
				<ul class="align-left">
					<li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

					<li class="fc-white"><a href="">@Html.Raw(amInformationServiceDevice.page_title_text)&nbsp;</a></li>
				</ul>
			</div>
			<div class="nav-user-info flex-item-3">
				<ul>
					<li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

				</ul>
			</div>
			<div class="nav-user-info flex-item-1">
				<ul class="align-right">
					<li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
					<li class="fc-white">&nbsp;-&nbsp;</li>
					<li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
				</ul>
			</div>
		</nav>
		<div class="toolbox flex-container">

			<div class="toolbox-left flex-item-4">
				<ul class="align-right">
					<li class="liAddNew fc-slate-blue"><a data-bind="click: assetInfoService" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Back to Asset Information Service"><i class="fa fa-hand-o-right"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx114)</span>&nbsp;&nbsp;</a></li>
					<li class="liAddNew fc-slate-blue"id="addButtonId"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create New Contract Service"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(amInformationServiceDevice.btnLabel1)</span>&nbsp;&nbsp;</a></li>
					<li class="liModify fc-slate-blue"id="modifyButtonId"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Contract Service Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(assetInfo.btnLabel_text3)</span>&nbsp;&nbsp;</a></li>

					<li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Contract Services"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(assetInfo.btnLabel_text9)</span></a></li>
					<li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(assetInfo.btnLabel_text10)</span>&nbsp;&nbsp;</a></li>
					<li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(assetInfo.btnLabel_text11) ...</span></li>

					<li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
					<li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
				</ul>
			</div>
		</div>
	</header>
	<div class="divInfo">@Html.Raw(pmSchedule.pLabel_text1): &nbsp;<span class="fs-medium-normal" id="infoID"></span></div>
	<div class="field-content-detail">
		<div class="divProgressScreen"></div>
		<div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
		<div id="openModalAlert" class="modalAlert">

			<div>
				<div class="modalAlert-content">
					<div class="modalAlert-header">
						@* <span class="close">&times;</span>*@
						<h2>@Html.Raw(assetInfo.pLabel_text1)</h2>
					</div>
					<div class="modalAlert-body">
						<br />
						<p id="modalAlertMsg">@Html.Raw(assetInfo.pLabel_text2)</p>
						<br />
					</div>
					<div class="modalAlert-footer">

						<a href="#" data-bind="click: closeModalalert" class="button-extx" id="addButtonx"><span>@Html.Raw(assetInfo.btnLabel_text12)</span></a>
					</div>
				</div>


			</div>

		</div>
		<br />
		<h1 id="contentHeader"></h1>
		<p id="contentSubHeader"></p>
		<form id="frmInfo" data-bind="submit: saveInfo">
			<div class="flex-container flex-wrap">

				<div class="flex-item-1 flex-field-container">
					
					<input type="hidden" name="ASSET_NO" id="ASSET_NO">
					<label for="DEVICE_ID">@Html.Raw(amInformationServiceDevice.frmInfo_input_text1):</label>
					<input type="text" name="DEVICE_ID" id="DEVICE_ID" placeholder="" required="required" maxlength="10"><br />

					<label for="COMPUTER_BASE">@Html.Raw(amInformationServiceDevice.frmInfo_input_text2):</label>
					<select class="border-search" id="COMPUTER_BASE" name="COMPUTER_BASE">
						<option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
						<option value="Y">@Html.Raw(pmSchedule.input_label_text8)</option>
						<option value="N">@Html.Raw(pmSchedule.input_label_text9)</option>
					</select><br />

					<label for="COMPUTER_TYPE">@Html.Raw(amInformationServiceDevice.frmInfo_input_text3):</label>
					<select class="border-search" id="COMPUTER_TYPE" name="COMPUTER_TYPE">
						<option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
						<option value="PC">PC</option>
						<option value="UNIX">Unix</option>
					</select><br />

					<label for="MODEL">@Html.Raw(amInformationServiceDevice.frmInfo_input_text4):</label>
					<input type="text" name="MODEL" id="MODEL" placeholder=""><br />
					<label for="SERIAL_NO">@Html.Raw(amInformationServiceDevice.frmInfo_input_text3B):</label>
					<input type="text" name="SERIAL_NO" id="SERIAL_NO" placeholder=""><br />
					<label for="OPERATING_SYSTEM">@Html.Raw(amInformationServiceDevice.frmInfo_input_text5):</label>
					<input type="text" name="OPERATING_SYSTEM" id="OPERATING_SYSTEM" placeholder=""><br />
					<label for="FRIMWARE_VERSION">@Html.Raw(amInformationServiceDevice.frmInfo_input_text6):</label>
					<input type="text" name="FRIMWARE_VERSION" id="FRIMWARE_VERSION" placeholder=""><br />
					<label for="PROCESSOR">@Html.Raw(amInformationServiceDevice.frmInfo_input_text7):</label>
					<input type="text" name="PROCESSOR" id="PROCESSOR" placeholder=""><br />
					<label for="MEMORY">@Html.Raw(amInformationServiceDevice.frmInfo_input_text8):</label>
					<input type="text" name="MEMORY" id="MEMORY" placeholder=""><br />

				</div>

				<div class="flex-item-1 flex-field-container">
					
					<label for="HARD_DRIVE">@Html.Raw(amInformationServiceDevice.frmInfo_input_text9):</label>
					<input type="text" name="HARD_DRIVE" id="HARD_DRIVE" placeholder=""><br />

					<label for="ADDITIONAL_DRIVE">@Html.Raw(amInformationServiceDevice.frmInfo_input_text10):</label>
					<input type="text" name="ADDITIONAL_DRIVE" id="ADDITIONAL_DRIVE" placeholder=""><br />

					<label for="WIRELESS_FREQ">@Html.Raw(amInformationServiceDevice.frmInfo_input_text11):</label>
					<textarea name="WIRELESS_FREQ" id="WIRELESS_FREQ" placeholder=""></textarea> <br />
					<label for="SOFTWARE_PACKAGE">@Html.Raw(amInformationServiceDevice.frmInfo_input_text12):</label>
					<textarea name="SOFTWARE_PACKAGE" id="SOFTWARE_PACKAGE" placeholder=""></textarea> <br />

					<label for="BIOS_VERSION">@Html.Raw(amInformationServiceDevice.frmInfo_input_text13):</label>
					<input type="text" name="BIOS_VERSION" id="BIOS_VERSION" placeholder=""><br />




				</div>

				<div class="flex-item-1 flex-field-container">

					<label for="NET_DROP_LOCATION">@Html.Raw(amInformationServiceDevice.frmInfo_input_text14):</label>
					<input type="text" name="NET_DROP_LOCATION" id="NET_DROP_LOCATION" placeholder=""><br />

					<label for="NET_IP_ADDRESS">@Html.Raw(amInformationServiceDevice.frmInfo_input_text15):</label>
					<input type="text" name="NET_IP_ADDRESS" id="NET_IP_ADDRESS" placeholder=""><br />
					<label for="NET_SUB_NET">@Html.Raw(amInformationServiceDevice.frmInfo_input_text15B):</label>
					<input type="text" name="NET_SUB_NET" id="NET_SUB_NET" placeholder=""><br />
					<label for="NET_SUB_MASK">@Html.Raw(amInformationServiceDevice.frmInfo_input_text16):</label>
					<input type="text" name="NET_SUB_MASK" id="NET_SUB_MASK" placeholder=""><br />
					<label for="NET_ROUTER_TYPE">@Html.Raw(amInformationServiceDevice.frmInfo_input_text17):</label>
					<input type="text" name="NET_ROUTER_TYPE" id="NET_ROUTER_TYPE" placeholder=""><br />
					<label for="NET_MAC">@Html.Raw(amInformationServiceDevice.frmInfo_input_text18):</label>
					<input type="text" name="NET_MAC" id="NET_MAC" placeholder=""><br />
					<label for="NET_AE_TITLE">@Html.Raw(amInformationServiceDevice.frmInfo_input_text19):</label>
					<input type="text" name="NET_AE_TITLE" id="NET_AE_TITLE" placeholder=""><br />
					<label for="NET_MODEM_PHONE">@Html.Raw(amInformationServiceDevice.frmInfo_input_text20):</label>
					<input type="text" name="NET_MODEM_PHONE" id="NET_MODEM_PHONE" placeholder=""><br />
					
				</div>
				<div class="flex-item-1 flex-field-container">
					

					<label for="NET_VIRTUAL_LAN">@Html.Raw(amInformationServiceDevice.frmInfo_input_text21):</label>
					<input type="text" name="NET_VIRTUAL_LAN" id="NET_VIRTUAL_LAN" placeholder=""><br />

					<label for="NET_ROUTER_LOC1">@Html.Raw(amInformationServiceDevice.frmInfo_input_text22):</label>
					<input type="text" name="NET_ROUTER_LOC1" id="NET_ROUTER_LOC1" placeholder=""><br />
					<label for="NET_ROUTER_LOC2">@Html.Raw(amInformationServiceDevice.frmInfo_input_text23):</label>
					<input type="text" name="NET_ROUTER_LOC2" id="NET_ROUTER_LOC2" placeholder=""><br />
					<label for="NET_ROUTER_LOC3">@Html.Raw(amInformationServiceDevice.frmInfo_input_text24):</label>
					<input type="text" name="NET_ROUTER_LOC3" id="NET_ROUTER_LOC3" placeholder=""><br />
					<label for="NET_ROUTER_LOC4">@Html.Raw(amInformationServiceDevice.frmInfo_input_text25):</label>
					<input type="text" name="NET_ROUTER_LOC4" id="NET_ROUTER_LOC4" placeholder=""><br />
					<label for="NET_ROUTER_LOC5">@Html.Raw(amInformationServiceDevice.frmInfo_input_text26):</label>
					<input type="text" name="NET_ROUTER_LOC5" id="NET_ROUTER_LOC5" placeholder=""><br />
					<label for="NET_SPEED">@Html.Raw(amInformationServiceDevice.frmInfo_input_text27):</label>
					<input type="text" name="NET_SPEED" id="NET_SPEED" placeholder=""><br />
					<label for="STATUS">@Html.Raw(amInformationServiceDevice.frmInfo_input_text28):</label>
					<select class="border-search" id="STATUS" name="STATUS">
						<option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
						<option value="Y">@Html.Raw(pmSchedule.input_label_text8)</option>
						<option value="N">@Html.Raw(pmSchedule.input_label_text9)</option>
					</select><br />
				</div>

			</div>
			<button type="submit" id="saveInfo" class="hidden"></button>
		</form>
		<br />
		<br />
		<br />
	</div>
	<div class="home-content-detail">
		<div id="homeMessage">
			<br />
			<h1>@Html.Raw(contractServices.homeMessage_text1)</h1>
			<ul>
				<li><i class="fa fa-check"></i>&nbsp;@Html.Raw(contractServices.homeMessage_text2)</li>
				<li><i class="fa fa-check"></i>&nbsp;@Html.Raw(contractServices.homeMessage_text3)</li>
			</ul>
		</div>
	</div>
	<div class="search-content-detail">
		<div>
			<br />
			<h1 id="searchResultSummary">@Html.Raw(home_index.resx34)</h1>
			<div id="searchResultList">
				<ul>
					<li>
						<a href="#" class="fs-medium-normal">xyn</a>
						<span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
						<span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
						<span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
					</li>
				</ul>
			</div>
		</div>
		<br />
		<br />
		<br />
	</div>
	<footer>
		<div class="footer-main">
			<p>@Html.Raw(home_index.footer_main_ptext)</p>
		</div>
	</footer>
	<script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(amInformationServiceDevice.textInfo_errorOne)',
                    errorTwo: '@Html.Raw(amInformationServiceDevice.textInfo_errorTwo)',
                    addModeHeader: '@Html.Raw(amInformationServiceDevice.textInfo_addModeHeader)',
                    addModeSubHeader: '@Html.Raw(amInformationServiceDevice.textInfo_addModeSubHeader)',
                    updateModeHeader: '@Html.Raw(amInformationServiceDevice.textInfo_updateModeHeader)',
                    updateModeSubHeader: '@Html.Raw(amInformationServiceDevice.textInfo_updateModeSubHeader)',
                    saveModeStatusText: '@Html.Raw(amInformationServiceDevice.textInfo_saveModeStatusText)',
                    saveSuccessMessage: '@Html.Raw(amInformationServiceDevice.textInfo_saveSuccessMessage)',
                    readModeStatusText: '@Html.Raw(amInformationServiceDevice.textInfo_readModeStatusText)',
                    displayModeHeader: '@Html.Raw(amInformationServiceDevice.textInfo_displayModeHeader)',
                    displayModeSubHeader: '@Html.Raw(amInformationServiceDevice.textInfo_displayModeSubHeader)',
                    searchModeStatusText: '@Html.Raw(amInformationServiceDevice.textInfo_searchModeStatusText)',
                    searchModeHeader: "@Html.Raw(amInformationServiceDevice.textInfo_searchModeHeader)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx42)',
                        frequency: '@Html.Raw(home_index.resx43)',
                        nextDue: '@Html.Raw(home_index.resx44)',
                        parts: '@Html.Raw(home_index.resx45)',
                        labour: '@Html.Raw(home_index.resx46)',
                        provider: '@Html.Raw(home_index.resx47)',
                        typeCoverage: '@Html.Raw(home_index.resx48)',
                        contractId: '@Html.Raw(home_index.resx49)',
                        effective: '@Html.Raw(home_index.resx50)',
                        termination: '@Html.Raw(home_index.resx51)'
                    }
                };

				var myViewModel = new amInfoSRVDviceViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

	</script>

</body>
</html>

