﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx117)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/aims_amInformationServices.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <link href="#" rel="stylesheet" />
    <script src="~/scripts/authentication.js"></script>

    <style>
        #frmInfo .view-mode {
            background-color: #fff;
        }
    </style>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">@Html.Raw(informationServices.page_title_text) &nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">


            <div class="toolbox-left flex-item-4">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: assetInfo" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Back to Asset Information"><i class="fa fa-hand-o-right"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(pmSchedule.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
					<li class="liModify fc-slate-blue"><a data-bind="click: infoSrvDviceNetwork" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Information Service"><i class="fa fa-sitemap"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx118)</span>&nbsp;&nbsp;</a></li>
                     <li class="liModify fc-slate-blue"id="modifyButtonId"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Information Service"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(pmSchedule.btnLabel_text3)</span>&nbsp;&nbsp;</a></li>
                    
                    <li class="liCancelAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Information Services"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(pmSchedule.btnLabel_text6)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(assetInfo.btnLabel_text13)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(assetInfo.btnLabel_text11) ...</span></li>
                    @*<li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>*@
                </ul>
            </div>
        </div>
    </header>
    <div class="divInfo">@Html.Raw(pmSchedule.pLabel_text1): &nbsp;<span class="fs-medium-normal" id="infoID"></span></div>

    <div id="openModalLookup" class="modalwidth5">

        <div>
            <a href="#close" title="Close" class="close">X</a>
            <br />
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitle" class="fc-darkcolor fs-large-strong">@Html.Raw(informationServices.pLabel_text1).</span></p>
            </div>

            <div class="flex-item-1 flex-field-container field-list align-left" id="searchResultLookUp">

                <ul>
                    <li><i></i>&nbsp;</li>

                </ul>
            </div>

        </div>

    </div>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">
                    <input type="hidden" name="ASSET_INFOSERVICES_NO" id="ASSET_INFOSERVICES_NO">
                    <input type="hidden" name="ASSET_NO" id="ASSET_NO">
                    <label for="PURPOSE">@Html.Raw(informationServices.input_text1):</label>
                    <textarea name="PURPOSE" id="PURPOSE" placeholder="" required="required"></textarea> <br />

                    <label for="SOFTWARE_VERSION">@Html.Raw(informationServices.input_text2):</label>
                    <input type="text" name="SOFTWARE_VERSION" id="SOFTWARE_VERSION" placeholder=""><br />

                    <label for="REVISION_LEVEL">@Html.Raw(informationServices.input_text3):</label>
                    <input type="text" name="REVISION_LEVEL" id="REVISION_LEVEL" placeholder=""><br />
                    <label for="AVAILABLE_MODULE">@Html.Raw(informationServices.input_text4):</label>
                    <textarea name="AVAILABLE_MODULE" id="AVAILABLE_MODULE" placeholder=""></textarea> <br />

                    
                    <label for="CONNECTED_NETWORK">@Html.Raw(informationServices.input_text5):</label>
                    <select class="border-search" id="CONNECTED_NETWORK" name="CONNECTED_NETWORK">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Y">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="N">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />

                    
                </div>

                <div class="flex-item-1 flex-field-container">


                    
                    <label for="SUPPORT_LASTUPDATED">@Html.Raw(informationServices.input_text6):</label>
                    <input class="datefield tcal" data-isdate="true" data-val="true" type="text" name="SUPPORT_LASTUPDATED" id="SUPPORT_LASTUPDATED" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">
                   

                    <label for="SUPPORT_HIPAA">@Html.Raw(informationServices.input_text7):</label>
                    <select class="border-search" id="SUPPORT_HIPAA" name="SUPPORT_HIPAA">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Y">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="N">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />

                    <label for="SUPPORT_DIAGCONNECTION">@Html.Raw(informationServices.input_text8):</label>
                    <select class="border-search" id="SUPPORT_DIAGCONNECTION" name="SUPPORT_DIAGCONNECTION">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Y">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="N">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />

                    <label for="SUPPORT_CHARGE">@Html.Raw(informationServices.input_text9):</label>
                    <select class="border-search" id="SUPPORT_CHARGE" name="SUPPORT_CHARGE">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="FREE">@Html.Raw(informationServices.input_text10)</option>
                        <option value="FEE">@Html.Raw(informationServices.input_text11)</option>
                    </select><br />

                    <label for="SUPPORT_COST">@Html.Raw(informationServices.input_text12):</label>
                    <input type="number" name="SUPPORT_COST" class="view-mode" min="0" id="SUPPORT_COST" placeholder=""><br />
                </div>

                <div class="flex-item-1 flex-field-container">

                    <label for="SUPPORT_CRITICALUPDATE">@Html.Raw(informationServices.input_text13):</label>
                    <textarea name="SUPPORT_CRITICALUPDATE" id="SUPPORT_CRITICALUPDATE" placeholder="" ></textarea> <br />

                    <label for="SUPPORT_SERVSOFTWARE">@Html.Raw(informationServices.input_text14):</label>
                    <input type="text" name="SUPPORT_SERVSOFTWARE" id="SUPPORT_SERVSOFTWARE" placeholder="" ><br />

                    <label for="SUPPORT_VERSION">@Html.Raw(informationServices.input_text15):</label>
                    <input type="text" name="SUPPORT_VERSION" id="SUPPORT_VERSION" placeholder=""><br />


                   
                </div>
				<div class="flex-item-1 flex-field-container">

                    <label for="BACKUP_METHOD">@Html.Raw(home_index.resx119):</label>
					<input type="text" name="BACKUP_METHOD" id="BACKUP_METHOD" placeholder=""><br />

					<label for="BACKUP_SCHEDULE">@Html.Raw(home_index.resx120):</label>
					<input type="text" name="BACKUP_SCHEDULE" id="BACKUP_SCHEDULE" placeholder=""><br />
					<label for="RECOVERY_POINT">@Html.Raw(home_index.resx121):</label>
					<input type="text" name="RECOVERY_POINT" id="RECOVERY_POINT" placeholder=""><br />
					<label for="RECOVERY_TIME">@Html.Raw(home_index.resx122):</label>
					<input type="text" name="RECOVERY_TIME" id="RECOVERY_TIME" placeholder=""><br />
					<label for="RECOVERY_PRIORITY">@Html.Raw(home_index.resx123):</label>
					<input type="number" name="RECOVERY_PRIORITY" id="RECOVERY_PRIORITY" min="0" placeholder=""><br />
					
					<label for="RECOVERY_OFFSITE">@Html.Raw(home_index.resx124):</label>
					<select class="border-search" id="RECOVERY_OFFSITE" name="RECOVERY_OFFSITE">
						<option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
						<option value="Y"></option>
						<option value="N"></option>
					</select><br />
				</div>

            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(informationServices.homeMessage_text1)</h1>
            <ul>
                
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(informationServices.homeMessage_text2)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx125).</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36): <span class="searchRowData">CPED</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(assetInfo.frmInfo_input_text19): <span class="searchRowData">Pediatric</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40): <span class="searchRowData">OTH</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(informationServices.txtInfo_errorOne)',
                    errorTwo: '@Html.Raw(informationServices.txtInfo_errorTwo)',
                    addModeHeader: '@Html.Raw(informationServices.txtInfo_addModeHeader)',
                    addModeSubHeader: '@Html.Raw(informationServices.txtInfo_addModeSubHeader)',
                    updateModeHeader: '@Html.Raw(informationServices.txtInfo_updateModeHeader)',
                    updateModeSubHeader: '@Html.Raw(informationServices.txtInfo_updateModeSubHeader)',
                    saveModeStatusText: '@Html.Raw(informationServices.txtInfo_saveModeStatusText)',
                    saveSuccessMessage: '@Html.Raw(informationServices.txtInfo_saveSuccessMessage)',
                    readModeStatusText: '@Html.Raw(informationServices.txtInfo_readModeStatusText)',
                    displayModeHeader: '@Html.Raw(informationServices.txtInfo_displayModeHeader)',
                    displayModeSubHeader: '@Html.Raw(informationServices.txtInfo_displayModeSubHeader)',
                    searchModeStatusText: '@Html.Raw(informationServices.txtInfo_searchModeStatusText)',
                    searchModeHeader: "@Html.Raw(informationServices.txtInfo_searchModeHeader)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx42)',
                        frequency: '@Html.Raw(home_index.resx43)',
                        nextDue: '@Html.Raw(home_index.resx44)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',
                        otherDeth: '@Html.Raw(home_index.resx82)',
                        grace: '@Html.Raw(home_index.resx126)',
                        servdept: '@Html.Raw(home_index.resx127)',
                        assignto: '@Html.Raw(home_index.resx128)',
                        sessionstart: '@Html.Raw(home_index.resx129)',
                        sessionend: '@Html.Raw(home_index.resx130)'
                    }
                };

                var myViewModel = new amInformationServicesViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

