﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(othresource.resx_maintainmanufacturermodel_title)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <script src="/Scripts/calendar_picker.js"></script>
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/aims_amManufacturerModelV3.js"></script>
    <script src="~/scripts/authentication.js"></script>


</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="#">@Html.Raw(othresource.resx_maintainmanumodel)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx2)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-2">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Manufacturer"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(manufacturer.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Manufacturer Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(manufacturer.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to home page"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(manufacturer.btnLabel_text3)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(manufacturer.btnLabel_text4)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(home_index.resx8)</span></li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>


        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        <div id="openModalLookup" class="modalwidth5">

            <div>
                <a href="#" title="Close" class="close">X</a>
                <br />
                <div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="lookUpTitle" class="fc-darkcolor fs-large-strong">@Html.Raw(othresource.resx_searchlist)</span></p>
                </div>
                <div class="flex-item-2">
                       <ul class="align-left">
                        <li class="fc-grey">
                            &nbsp;&nbsp;&nbsp;<input data-bind="event: { change: lookUpSearch } " type="search" placeholder="search anything" id="lookUptxtGlobalSearchOth" />&nbsp;<i  data-bind="click: lookUpSearch" class="fc-slate-blue fa fa-search fa-lg searhButton"></i>
                            &nbsp;&nbsp;&nbsp;
    
                        </li>

                    </ul>
                </div>
                <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchResultLookUp">

                    <ul>
                        <li><i></i>&nbsp;</li>

                    </ul>
                </div>

            </div>

        </div>
        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">
                    <input type="hidden" name="MODEL_ID" id="MODEL_ID">
                    <input type="hidden" name="VENDOR" id="VENDOR">
                    <input type="hidden" name="TYPE" id="TYPE">
                    <input type="hidden" name="LOOKUPACTION" id="LOOKUPACTION">

                    <label for="Model">@Html.Raw(othresource.resx_model)</label>
                    <input type="text" name="MODEL" id="MODEL" placeholder=""required="required"><br />

                    <label for="MODEL_NAME">@Html.Raw(othresource.resx_modelname)</label>
                    <input type="text" name="MODEL_NAME" id="MODEL_NAME" placeholder=""required="required"><br />
                    <label for="DESCRIPTION">@Html.Raw(home_index.resx38)</label>
                    <input type="text" name="DESCRIPTION" id="DESCRIPTION" placeholder="" required="required"><br />
                    <label for="TYPEDESC">@Html.Raw(othresource.resx_type)</label>
                    <input type="text" name="TYPEDESC" id="TYPEDESC" placeholder="" required="required">&nbsp;<i id="btntype"  data-bind="click: searchType"  class="fc-slate-blue fa fa-search fa-lg searhButton"></i><br />
                    <label for="VENDORDESC">@Html.Raw(othresource.resx_manufacturer)</label>
                    <input type="text" name="VENDORDESC" id="VENDORDESC" placeholder="" required="required">&nbsp;<i id="btnVendor" data-bind="click: searchVendor"  class="fc-slate-blue fa fa-search fa-lg searhButton"></i><br />
                   
                    <label for="CRITICAL">@Html.Raw(othresource.resx_critical)</label>
                    <select class="border-search" id="CRITICAL" name="CRITICAL" >
                        <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                        <option value="Y" selected="selected">@Html.Raw(home_index.resx399)</option>
                        <option value="N" selected="selected">@Html.Raw(home_index.resx400)</option>

                    </select><br />
                    <label for="NOTE">@Html.Raw(othresource.resx_notes)</label>
                    <textarea name="NOTE" id="NOTE" placeholder=""></textarea> <br />
                   

                </div>

                <div class="flex-item-1 flex-field-container">        
                    <label for="REPLACEMENT_COST">@Html.Raw(othresource.resx_replacementcost)</label>
                    <input class="" type="number" step="1" min="0" name="REPLACEMENT_COST" id="REPLACEMENT_COST">
   
                    <label for="SALVAGE_VALUE">@Html.Raw(othresource.resx_salvagecost)</label>
                    <input class="" type="number" step="1" min="0" name="SALVAGE_VALUE" id="SALVAGE_VALUE">
                    <label for="COVERAGE_ID">@Html.Raw(home_index.resx90)</label>
                    <select class="border-search" id="COVERAGE_ID" name="COVERAGE_ID">
                        <option value="0" selected="selected">@Html.Raw(home_index.resx58)</option>
                        <option value="1" >@Html.Raw(home_index.resx46)</option>
                        <option value="2" >@Html.Raw(othresource.resx_parts)</option>
                        <option value="5">@Html.Raw(othresource.resx_laborparts)</option>
                    </select><br />

                    <label for="FREQUENCY">@Html.Raw(othresource.resx_frequency)</label>
                    <input type="number" step="1" min="0" name="FREQUENCY" id="FREQUENCY" class="view-mode" placeholder=""><br />
                    <label for="FREQ_UNIT">@Html.Raw(othresource.resx_frequencyunit)</label>
                    <select class="border-search" id="FREQ_UNIT" name="FREQ_UNIT">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="D" selected="selected">@Html.Raw(home_index.resx275)</option>
                        <option value="M" selected="selected">@Html.Raw(home_index.resx276)</option>
                        <option value="Y" selected="selected">@Html.Raw(home_index.resx277)</option>
                    </select><br />
                    <label for="EXPIRE_DATETIME">@Html.Raw(othresource.resx_expiry)</label>
                    <input class="datefield tcal" data-isdate="true" data-val="true" type="text" name="EXPIRE_DATETIME" id="EXPIRE_DATETIME" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">
                </div>

             
            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(othresource.resx_hello)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(othresource.resx_createnewmodel)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(othresource.resx_modifymodel)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(othresource.resx_manufacturermodelsumm)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(manufacturer.txtInfo_text1)',
                    errorTwo: '@Html.Raw(manufacturer.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(manufacturer.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(manufacturer.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(manufacturer.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(manufacturer.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(manufacturer.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(manufacturer.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(manufacturer.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(manufacturer.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(manufacturer.txtInfo_text11)',
                    searchModeStatusText: '@Html.Raw(manufacturer.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(manufacturer.txtInfo_text13)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx42)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',
                        otherDeth: '@Html.Raw(home_index.resx82)',
                        manufacturername: 'Manufacturer',
                        modelname: 'Model Name'
                    }
                };

                var myViewModel = new amManufacturerModelViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

