﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx131)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/aims_ammanufacturer3.js"></script>
    <script src="~/scripts/authentication.js"></script>

    <style>
        table .btn-action {
            width: 25px;
            min-width: 25px;
            max-width: 25px;
        }
    </style>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="#">@Html.Raw(manufacturer.page_title_text)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-2">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Manufacturer"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(manufacturer.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Manufacturer Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(manufacturer.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: deleteSetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Delete Manufacturer Information"><i class="fa fa-trash"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx906)</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to home page"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(manufacturer.btnLabel_text3)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(manufacturer.btnLabel_text4)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(home_index.resx8)</span></li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i>&nbsp;|</a></li>
                    <li class="fc-slate-blue "><span data-bind="click: openModalFilter" class="toolbarbutton"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></span></li>
                </ul>
            </div>


        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">
                    @*<input type="hidden" name="MANUFACTURER_ID" id="MANUFACTURER_ID">*@
                    <label for="MANUFACTURER_NO">@Html.Raw(manufacturer.frmInfo_input_text1):</label>
                    @* <input type="text" name="MANUFACTURER_ID" id="MANUFACTURER_ID" placeholder="Autogenerate"><br />*@
                    <input type="text" name="MANUFACTURER_ID" id="MANUFACTURER_ID" placeholder="" data-bind="event: { blur: checkDuplicateCode }"><br />

                    <label for="DESCRIPTION">@Html.Raw(manufacturer.frmInfo_input_text2):</label>
                    <textarea name="DESCRIPTION" id="DESCRIPTION" placeholder="" required="required"></textarea> <br />
                    <label for="TYPE">@Html.Raw(partsRequest.input_text6):</label>
                    <select id="TYPE" name="TYPE" required="required">
                        <option value="">@Html.Raw(home_index.resx893)</option>
                        <option value="M">@Html.Raw(assetInfo.frmInfo_input_text22)</option>
                        <option value="SV">@Html.Raw(home_index.resx907)</option>
                        <option value="B">@Html.Raw(home_index.resx908)</option>
                    </select> <br />
                    <label for="ADDRESS1">@Html.Raw(manufacturer.frmInfo_input_text3):</label>
                    <textarea name="ADDRESS1" id="ADDRESS1" placeholder=""></textarea> <br />
                    <label for="ADDRESS2">@Html.Raw(manufacturer.frmInfo_input_text4):</label>
                    <textarea name="ADDRESS2" id="ADDRESS2" placeholder=""></textarea> <br />

                </div>

                <div class="flex-item-1 flex-field-container">
                    <label for="ADDRESS3">@Html.Raw(manufacturer.frmInfo_input_text5):</label>
                    <textarea name="ADDRESS3" id="ADDRESS3" placeholder=""></textarea> <br />
                    <label for="CITY">@Html.Raw(manufacturer.frmInfo_input_text6):</label>
                    <input type="text" name="CITY" id="CITY" placeholder=""><br />

                    <label for="STATE">@Html.Raw(home_index.resx833):</label>
                    <select id="STATE" name="STATE"
                            data-bind="
                            options: countries,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'COUNTRY_ID'
                            "></select> <br />

                    <label for="ZIP">@Html.Raw(manufacturer.frmInfo_input_text8):</label>
                    <input type="text" name="ZIP" id="ZIP" placeholder=""><br />

                    @*<label for="SUPPLIER_NO">@Html.Raw(manufacturer.frmInfo_input_text9):</label>
                        <input type="text" name="SUPPLIER_NO" id="SUPPLIER_NO" placeholder=""><br />*@

                    <label for="TERM">@Html.Raw(manufacturer.frmInfo_input_text10):</label>
                    <input type="text" name="TERM" id="TERM" placeholder=""><br />
                    <label for="TERM">@Html.Raw(home_index.resx909):</label>
                    <input type="text" name="PROVIDER_TYPE" id="PROVIDER_TYPE" placeholder=""><br />


                </div>

                <div class="flex-item-1 flex-field-container">

                    <label for="CONTACT">@Html.Raw(manufacturer.frmInfo_input_text11):</label>
                    <input type="text" name="CONTACT" id="CONTACT" placeholder=""><br />

                    <label for="CONTACT_NO1">@Html.Raw(manufacturer.frmInfo_input_text12):</label>
                    <input type="text" name="CONTACT_NO1" id="CONTACT_NO1" placeholder=""><br />

                    <label for="CONTACT_NO2">@Html.Raw(manufacturer.frmInfo_input_text13):</label>
                    <input type="text" name="CONTACT_NO2" id="CONTACT_NO2" placeholder=""><br />

                    <label for="EMAIL_ADDRESS">@Html.Raw(manufacturer.frmInfo_input_text14):</label>
                    <input type="text" name="EMAIL_ADDRESS" id="EMAIL_ADDRESS" placeholder=""><br />
                                                                                              <label for="CONTACT_NO3">@Html.Raw(home_index.resx16)</label>
                    <input type="text" name="CONTACT_NO3" id="CONTACT_NO3" placeholder=""><br />
                    <label for="ADDITIONAL_INFO">@Html.Raw(supplier.frmInfo_input_text16):</label>
                    <textarea name="ADDITIONAL_INFO" id="ADDITIONAL_INFO" placeholder=""></textarea> <br />

                    <label for="STATUS">@Html.Raw(manufacturer.frmInfo_input_text15):</label>
                    <select class="border-search" id="STATUS" name="STATUS" required>
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Y">@Html.Raw(manufacturer.frmInfo_input_text16)</option>
                        <option value="N">@Html.Raw(manufacturer.frmInfo_input_text17)</option>
                    </select><br />

                </div>
                <div class="flex-item-1 flex-field-container">
                    <div class="flex-container" style="justify-content: space-between;">
                        <label for="otherContact">@Html.Raw(home_index.resx887)</label>
                        <text class="fc-slate-blue" style="cursor: pointer" title="Add New Other Contact" id="otherContactNew" data-bind="click: openOtherContactModal"><i class="fa fa-plus"></i> @Html.Raw(home_index.resx210)</text>
                    </div>
                    <table style="width: 100%; padding: 0">
                        <thead>
                            <tr>
                                <th class="b">@Html.Raw(home_index.resx888)</th>
                                <th class="c">@Html.Raw(home_index.resx140)</th>
                                <th class="btn-action otherContactRemove"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: otherContactList">
                            <tr>
                                <td data-bind="text: $data.CLIENTCONTACTTYPEVALUE"></td>
                                <td data-bind="text: $data.CLIENTCONTACT"></td>
                                <td class="otherContactRemove">
                                    <i class="fa fa-trash button-extbottom" data-bind="click: $parent.removeOtherContact" title="Remove Contact"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(manufacturer.homeMessage_text1)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(manufacturer.homeMessage_text2)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(manufacturer.homeMessage_text3)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx133)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <div id="openModalFilter" class="modal-filter">
        <div style="height: 250px;">
            <a href="#" title="Close" class="close">X</a>
            <div class="modal-filter-header">
                <h2>@Html.Raw(home_index.resx69)</h2>
            </div>
            <div class="flex-item-2">
                <div class="filter-row">
                    <span class="from-text">@Html.Raw(home_index.resx236) </span>
                    <select class="border-search" data-bind="value: filter.ItemType" title="Select a Type">
                        <option value="M">@Html.Raw(home_index.lblManufacturer)</option>
                        <option value="SV">@Html.Raw(home_index.resx907)</option>
                        <option value="B">@Html.Raw(home_index.resx908)</option>
                    </select>
                </div>
                <div class="filter-row">
                    <span class="from-text">@Html.Raw(othresource.resx_status) </span>
                    <select class="border-search" data-bind="value: filter.Status" title="Select a Status">
                        <option value="Y">@Html.Raw(home_index.resx199)</option>
                        <option value="N">@Html.Raw(pmSchedule.input_label_text15)</option>
                        <option value="ALL">@Html.Raw(home_index.resx392)</option>
                    </select>
                </div>
                <div id="addButton">
                    <span data-bind="click: searchNow" class="button-extbottom">@Html.Raw(home_index.resx95)</span>
                    <a href="#" class="button-extbottom"><span>@Html.Raw(home_index.resx96)</span></a>
                    <span data-bind="click: clearModalFilter" class="button-extbottom">@Html.Raw(home_index.resx97)</span>
                </div>
            </div>
        </div>
    </div>

    <div id="openOtherContactModal" class="modalwidth7">
        <div style="padding: 15px; width: 240px; height: 290px">
            <a href="#" title="Close" class="close">X</a><br />
            <div>
                <p><span class="fc-slate-blue fs-large-strong">@Html.Raw(home_index.resx892)</span></p>
            </div>
            <form data-bind="submit: addOtherContact">
                <label for="CLIENTCONTACTTYPE">@Html.Raw(home_index.resx888)</label>
                <select name="CLIENTCONTACTTYPE" id="CLIENTCONTACTTYPE" data-bind="value: modalOtherContact.CLIENTCONTACTTYPE" required>
                    <option value="">@Html.Raw(home_index.resx893)</option>
                    <option value="E">@Html.Raw(home_index.resx894)</option>
                    <option value="FN">@Html.Raw(supplier.frmInfo_input_text14)</option>
                    <option value="MN">@Html.Raw(home_index.resx895)</option>
                    <option value="TN">@Html.Raw(home_index.resx896)</option>
                    <option value="P">@Html.Raw(workOrder.input_label_text15)</option>
                    <option value="PN">@Html.Raw(home_index.resx897)</option>
                </select><br /><br />

                <label for="CLIENTCONTACT">@Html.Raw(home_index.resx140)</label>
                <input type="text" name="CLIENTCONTACT" id="CLIENTCONTACT" data-bind="value: modalOtherContact.CLIENTCONTACT" required autocomplete="off"><br />

                <div id="addButton">
                    <button type="submit" class="button-extbottom">@Html.Raw(home_index.resx253)</button>
                    <a href="#" class="button-extbottom"><span>@Html.Raw(home_index.resx6)</span></a>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(manufacturer.txtInfo_text1)',
                    errorTwo: '@Html.Raw(manufacturer.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(manufacturer.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(manufacturer.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(manufacturer.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(manufacturer.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(manufacturer.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(manufacturer.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(manufacturer.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(manufacturer.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(manufacturer.txtInfo_text11)',
                    searchModeStatusText: '@Html.Raw(manufacturer.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(manufacturer.txtInfo_text13)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx42)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',
                        otherDeth: '@Html.Raw(home_index.resx82)'
                    }
                };

                var myViewModel = new ammanufacturerViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

