﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx143)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/aims_amPartSupplierDetailsV2.js"></script>
    <script src="~/scripts/authentication.js"></script>


    <style>
        #frmInfo .view-mode {
            background-color: #fff;
        }

            #frmInfo .view-mode[required=required] {
                background-color: #ffffde;
            }
    </style>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">@Html.Raw(partSupplierDetails.page_title_text)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">

            <div class="toolbox-left flex-item-1">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: returnPartSetup" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Return to Maintain Asset Parts"><i class="fa fa-hand-o-right"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partSupplierDetails.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Part Supplier"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partSupplierDetails.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or Modify Part Supplier"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partSupplierDetails.btnLabel_text3)</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Part Supplier Information"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(partSupplierDetails.btnLabel_text4)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(partSupplierDetails.btnLabel_text5)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(partSupplierDetails.btnLabel_text6)</span></li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        
        <div id="openModal" class="modalwidth3">
            <div>
                <a data-bind="click: closeModal" href="#" title="Close" class="close">X</a>
                <br />
                <div class="flex-item-2">
                    <input type="hidden" name="actionButton" id="actionButton">
                    <input type="hidden" name="pageNum" id="pageNum">
                    <input type="hidden" name="pageCount" id="pageCount">
                    <ul class="align-left">
                        <li class="fc-grey">
                            &nbsp;&nbsp;&nbsp;<input data-bind="event: { change: pageLoader } " type="search" placeholder="search anything" id="txtGlobalSearchOth" />
                            &nbsp;&nbsp;&nbsp;
                            <a data-bind="click: pageLoader" href="#" class="button" id="priorPage"><i class="fa fa-chevron-circle-left"></i></a>
                            <a data-bind="click: pageLoader" href="#" class="page" id="page1"><span id="loadNumber">1</span></a>
                            &nbsp; <strong id="pageSeparator">@Html.Raw(home_index.resx144)</strong>&nbsp;
                            <a data-bind="click: pageLoader" href="#" class="page" id="page2"><span id="totNumber">2</span></a>
                            <a data-bind="click: pageLoader" href="#" class="button" id="nextPage"><i class="fa fa-chevron-circle-right"></i></a>
                        </li>

                    </ul>
                </div>

                <div class="flex-item-1 flex-field-container field-list align-left" id="searchResult1">
                    <h2 id="noresult" style='margin-top:10px;color:red;'>@Html.Raw(home_index.resx145)</h2>
                    <ul>
                        <li><i></i>&nbsp;</li>

                    </ul>
                </div>
                <br />

            </div>
        </div>

        <div id="openModalLookup" class="modalwidth5">
            <input type="hidden" name="LOVBYACION" id="LOVBYACION">
            <div>
                <a href="#" title="Close" class="close">X</a>
                <br />
                <div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="lookUpTitle" class="fc-slate-blue fs-large-strong">@Html.Raw(assetInfo.pLabel_text3)</span></p>
                </div>
                <div class="flex-item-2">

                    <ul class="align-left">
                        <li class="fc-grey">
                            &nbsp;&nbsp;&nbsp;<input type="search" placeholder="search anything" id="lookUptxtGlobalSearchOth" data-bind="event: { change: infoLovLoader }" />
                            &nbsp;<a class="fc-slate-blue fa fa-search fa-lg searhButton searchAsset" title="Search"></a>
                                  <span class="fc-slate-blue fs-medium-strong" style="float:right; margin-right:20px;" id="searchAllLOVList" data-bind="click: supplierSearch"><i class="fc-slate-blue fa fa-bars"></i>&nbsp;@Html.Raw(home_index.resx855)</span>

                        </li>

                    </ul>
                </div>
                <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchResultLookUp">

                    <ul>
                        <li><i></i>&nbsp;</li>

                    </ul>
                    <h2 id="lookUpnoresult" style="color:red;">@Html.Raw(home_index.resx145)</h2>
                    <br />

                    <span class="fc-slate-blue fs-large-strong" style="vertical-align:middle" id="searchingLOVList"><i class="fc-slate-blue fs-large-strong fa fa-cog fa-spin"> </i> @Html.Raw(home_index.resx856)...</span>


                </div>

            </div>

        </div>
        <br />
       
        <p id="SUPPLIERDESC"></p>
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">
                    <input type="hidden" name="ID_PARTS" id="ID_PARTS">
                    <input type="hidden" name="PARTSP_ID" id="PARTSP_ID">
                    
                    
                    <input type="hidden" name="SUPPLIER_ID" id="SUPPLIER_ID"><br />
                    <label for="SUPPLIER_DESC">@Html.Raw(partSupplierDetails.frmInfo_input_text1):</label>
                   
                    <input type="text" name="SUPPLIER_DESC" id="SUPPLIER_DESC"  required ="required" placeholder="" ><a id ="searchSupplierId" data-bind="click: infoLovLoader" class="fc-slate-blue fa fa-search fa-lg searhButton searchAsset" href="" title="Supplier Search"></a>

                    <label for="PREFERENCE">@Html.Raw(partSupplierDetails.frmInfo_input_text2):</label>
                    <input type="number" step="1"min="0"name="PREFERENCE" id="PREFERENCE" placeholder="" required="required"><br />
                    <label for="CUSTOMER_NO">@Html.Raw(partSupplierDetails.frmInfo_input_text3):</label>
                    <input type="text" name="CUSTOMER_NO" id="CUSTOMER_NO" placeholder=""><br />
                    <label for="PART_NUMBER">@Html.Raw(partSupplierDetails.frmInfo_input_text4):</label>
                    <input type="text" name="PART_NUMBER" id="PART_NUMBER" placeholder=""><br />
                    <label for="PART_DESCRIPTION">@Html.Raw(partSupplierDetails.frmInfo_input_text5):</label>
                    <textarea name="PART_DESCRIPTION" id="PART_DESCRIPTION" placeholder=""></textarea> <br />
                    <label for="EXCHANGEABLE">@Html.Raw(partSupplierDetails.frmInfo_input_text6):</label>
                    <select class="border-search" id="EXCHANGEABLE" name="EXCHANGEABLE">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />


                </div>

                <div class="flex-item-1 flex-field-container">
                    <br />
                    <label for="RETURN_ADDRESS">@Html.Raw(partSupplierDetails.frmInfo_input_text7):</label>
                    <textarea name="RETURN_ADDRESS" id="RETURN_ADDRESS" placeholder=""></textarea> <br />
                    <label for="REMARKS">@Html.Raw(partSupplierDetails.frmInfo_input_text8):</label>
                    <textarea name="REMARKS" id="REMARKS" placeholder=""></textarea> <br />
                    <label for="RETURN_PARTDESC">@Html.Raw(partSupplierDetails.frmInfo_input_text9):</label>
                    <textarea name="RETURN_PARTDESC" id="RETURN_PARTDESC" placeholder=""></textarea> <br />
                    
                   

                   


                </div>
                <div class="flex-item-1 flex-field-container">
                    <br />
                    <label for="RETURN_NODAYS">@Html.Raw(partSupplierDetails.frmInfo_input_text10):</label>
                    <input type="number" step="1" min="0" class="view-mode" name="RETURN_NODAYS" id="RETURN_NODAYS" placeholder=""><br />
                    <label for="CREDIT">@Html.Raw(partSupplierDetails.frmInfo_input_text11):</label>
                    <input type="number" step="1" min="0" class="view-mode" name="CREDIT" id="CREDIT" placeholder=""><br />
                    <label for="UNIT_QTY">@Html.Raw(partSupplierDetails.frmInfo_input_text12):</label>
                    <input type="number" step="1" min="0" name="UNIT_QTY" id="UNIT_QTY" class="view-mode" placeholder=""><br />
                    <label for="QTY_PERUNIT">@Html.Raw(partSupplierDetails.frmInfo_input_text13):</label>
                    <input type="number" step="1" min="0" name="QTY_PERUNIT" id="QTY_PERUNIT" class="view-mode" placeholder=""><br />

                    <label for="MIN_ORDERQTY">@Html.Raw(partSupplierDetails.frmInfo_input_text14):</label>
                    <input type="number" step="1" min="0" name="MIN_ORDERQTY" id="MIN_ORDERQTY" class="view-mode" placeholder=""><br />
                    <label for="DELIVERY_LOADTIME">@Html.Raw(partSupplierDetails.frmInfo_input_text15):</label>
                    <input type="number" step="1" min="0" name="DELIVERY_LOADTIME" id="DELIVERY_LOADTIME" class="view-mode" placeholder=""><br />



                </div>


            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(partSupplierDetails.homeMessage_text1)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(partSupplierDetails.homeMessage_text2)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(partSupplierDetails.homeMessage_text3)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx146)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
    s        <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">

        $('#SUPPLIER_DESC').bind('input propertychange',
        function () {
            document.getElementById("SUPPLIER_DESC").readOnly = true;
            $("#SUPPLIER_DESC").val("");
        });

        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(partSupplierDetails.txtInfo_text1)',
                    errorTwo: '@Html.Raw(partSupplierDetails.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(partSupplierDetails.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(partSupplierDetails.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(partSupplierDetails.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(partSupplierDetails.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(partSupplierDetails.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(partSupplierDetails.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(partSupplierDetails.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(partSupplierDetails.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(partSupplierDetails.txtInfo_text11)',
                    searchModeStatusText: '@Html.Raw(partSupplierDetails.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(partSupplierDetails.txtInfo_text13)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx139)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',
                        category: '@Html.Raw(home_index.resx147)',
                        ancillary: '@Html.Raw(home_index.resx148)'
                    }
                };

                var myViewModel = new amPartSupplierDetailsViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

