﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx134)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/aims_amPartsRequest.js"></script>
    <script src="~/scripts/authentication.js"></script>


</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">@Html.Raw(partsRequest.page_title_text)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">

            <div class="toolbox-left flex-item-1">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Worksheet"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partsRequest.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
                    <li class="liassetTag fc-slate-blue"><a data-bind="click: assetSearchNow" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to search/add Assets"><i class="fa fa-search"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partsRequest.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: searchInspectionLog" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to record Inspection Log"><i class="fa fa-book"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partsRequest.btnLabel_text3)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Worksheet"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partsRequest.btnLabel_text4)</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Worksheet"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(partsRequest.btnLabel_text5)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(partsRequest.btnLabel_text6)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(partsRequest.btnLabel_text7)</span></li>

                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        <div id="openModal" class="modalwidth3">
            <div>
                @*<a href="#" title="Close" class="close">X</a>*@
                <br />
                <form id="frmwsAsset">
                    <input type="hidden" name="REF_INSPECTION_ID" id="REF_INSPECTION_ID">
                    <input type="hidden" name="AM_INSPECTIONASSETID" id="AM_INSPECTIONASSETID">
                    <input type="hidden" name="ASSET_NO" id="ASSET_NO">
                </form>
                <div class="flex-item-2">
                    <input type="hidden" name="actionButton" id="actionButton">
                    <input type="hidden" name="pageNum" id="pageNum">
                    <input type="hidden" name="pageCount" id="pageCount">
                    <ul class="align-left">
                        <li class="fc-grey">
                            &nbsp;&nbsp;&nbsp;<input data-bind="event: { change: pageLoader } " type="search" placeholder="search anything" id="txtGlobalSearchOth" />
                            &nbsp;&nbsp;&nbsp;
                            <a data-bind="click: pageLoader" href="#" class="button" id="priorPage"><i class="fa fa-chevron-circle-left"></i></a>
                            <a data-bind="click: pageLoader" href="#" class="page" id="page1"><span id="loadNumber">1</span></a>&nbsp;&nbsp;
                            <a data-bind="click: pageLoader" href="#" class="page" id="page2"><span id="totNumber">2</span></a>
                            <a data-bind="click: pageLoader" href="#" class="button" id="nextPage"><i class="fa fa-chevron-circle-right"></i></a>
                        </li>

                    </ul>
                </div>

                <div class="flex-item-1 flex-field-container field-list align-left" id="searchResult1">

                    <ul>
                        <li><i></i>&nbsp;</li>

                    </ul>
                    <div class="modal-footer">

                        <a href="#" data-bind="click: cancelChangesModal" class="button-extbottom"><span>@Html.Raw(partsRequest.btnLabel_text8)</span></a>
                    </div>
                </div>



            </div>
        </div>
        <div id="openModalLookup" class="modalwidth6">

            <div>
                <br />
                <div>
                    <p><span id="winTitle" class="fc-darkcolor fs-large-strong">@Html.Raw(partsRequest.pLabel_text1)</span></p>
                </div>
                <div>
                    <form id="frmInfoInspection" data-bind="submit: saveInspectionLog">
                        <div class="flex-container flex-wrap">

                            <div class="flex-item-1 flex-field-container-ext">
                                  <label for="EMPLOYEE">@Html.Raw(partsRequest.input_text1):</label>
                                <input type="text" name="EMPLOYEE" id="EMPLOYEE" required="required" placeholder=""><br />
                                <label for="INSPECTION_RESULT">@Html.Raw(partsRequest.input_text2):</label>
                                <textarea name="INSPECTION_RESULT" id="INSPECTION_RESULT" placeholder="" required="required"></textarea> <br />
                                <label for="TOTAL_HOURWS">@Html.Raw(partsRequest.input_text3):</label>
                                <input type="number" name="TOTAL_HOURWS" step="1" min="0" value="0" id="TOTAL_HOURWS" placeholder=""><br />

                            </div>
                            <div class="flex-item-1 flex-field-container-ext">
                                <label for="RATE">@Html.Raw(partsRequest.input_text4):</label>
                                <input type="number" name="RATE" step="1" min="0" id="RATE" value="0" placeholder=""><br />
                                <label for="COST_CENTER">@Html.Raw(partsRequest.input_text5):</label>
                                <input type="text" name="COST_CENTER" id="COST_CENTER" placeholder=""><br />
                                <label for="INSP_TYPE">@Html.Raw(partsRequest.input_text6):</label>
                                <input type="text" name="INSP_TYPE" id="INSP_TYPE" placeholder=""><br />
                                <label for="FAILURE">@Html.Raw(partsRequest.input_text7):</label>
                                <input type="text" name="FAILURE" id="FAILURE" required="required" placeholder=""><br />
                                <label for="PROCEDURE">@Html.Raw(partsRequest.input_text8):</label>
                                <input type="text" name="PROCEDURE" step="1" min="0" id="PROCEDURE" placeholder=""><br />
                            </div>
                        </div>
                        <button type="submit" id="saveInfoLog" class="hidden"></button>
                    </form>
                </div>


                <div class="modal-footer">
                    <a href="#" data-bind="click: addInspectionLog" class="button-extbottom" id="newRecord"><span>@Html.Raw(partsRequest.input_text9)</span></a>
                    <a href="#" data-bind="click: saveLog" class="button-extbottom" id="saveLog"><span>@Html.Raw(partsRequest.input_text10)</span></a>
                    <a href="#" data-bind="click: cancelChangesModal" class="button-extbottom"><span>@Html.Raw(partsRequest.input_text11)</span></a>
                </div>



            </div>

        </div>

        <div id="openModalReading" class="modalwidth5">

            <div>
                <br />
                <div>
                    <p><span id="winTitle" class="fc-darkcolor fs-large-strong">@Html.Raw(partsRequest.pLabel_text2)</span></p>

                    <span id="assetInfo" class="fc-darkcolor fs-medium-strong">@Html.Raw(partsRequest.pLabel_text3)</span>
                    <br />
                    <br />
                    <span id="readingTag" class="fc-darkcolor fs-medium-strong">@Html.Raw(partsRequest.pLabel_text4)</span>
                </div>
                <div>
                    <form id="frmInfoReading" data-bind="submit: saveReadingLog">
                        <div class="flex-container flex-wrap">

                            <div class="flex-item-1 flex-field-container-ext">
                                <input type="hidden" name="ASSETID" id="ASSETID">
                                <input type="hidden" name="AM_METERREADINGID" id="AM_METERREADINGID">
                                <label for="READING_DATE">@Html.Raw(partsRequest.input_text12):</label>
                                <input type="text" name="READING_DATE" data-isdatetime="true" id="READING_DATE" placeholder="" pattern="^(((0[1-9]|[12]\d|3[01])[\/\.-](0[13578]|1[02])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|[12]\d|30)[\/\.-](0[13456789]|1[012])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|1\d|2[0-8])[\/\.-](02)[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((29)[\/\.-](02)[\/\.-]((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])))$"><br />
                                <label for="NEXT_PMDUE">@Html.Raw(partsRequest.input_text13):</label>
                                <input type="number" name="NEXT_PMDUE" step="1" min="0" value="0" id="NEXT_PMDUE" placeholder=""><br />

                                <label for="CURRENT_READING">@Html.Raw(partsRequest.input_text14)</label>
                                <input type="number" name="CURRENT_READING" step="0.1" min="0" value="0" id="CURRENT_READING" placeholder=""><br />

                            </div>
                            <div class="flex-item-1 flex-field-container field-list align-left" id="searchResult2">
                                <p>@Html.Raw(partsRequest.pLabel_text5) <span>&nbsp;</span> </p>
                                <table data-bind='visible: readingList().length > 0'>
                                    <thead>
                                        <tr>
                                            <th class='h'>@Html.Raw(partsRequest.pLabel_text6)</th>
                                            <th class='a'>@Html.Raw(partsRequest.pLabel_text7)</th>


                                        </tr>
                                    </thead>
                                    <tbody data-bind='foreach: readingList'>
                                        <tr data-bind="click: $parent.select">
                                            <td class="h"><span data-bind='text: DATEINFO, uniqueName: true'></span></td>
                                            <td class="a"><span data-bind='text: READINGINFO, uniqueName: true'></span></td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <button type="submit" id="saveInfoReading" class="hidden"></button>
                    </form>
                </div>


                <div class="modal-footer">
                    <a href="#" data-bind="click: addReading" class="button-extbottom" id="newReading"><span>@Html.Raw(partsRequest.btnLabel_text9)</span></a>
                    <a href="#" data-bind="click: saveReading" class="button-extbottom" id="saveReading"><span>@Html.Raw(partsRequest.btnLabel_text6)</span></a>
                    <a href="#" data-bind="click: cancelChangesModal" class="button-extbottom"><span>@Html.Raw(partsRequest.btnLabel_text8)</span></a>
                </div>



            </div>

        </div>
        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">
                    <input type="hidden" name="REQUEST_ID" id="REQUEST_ID">
                    <label for="REQUEST_ID">@Html.Raw(partsRequest.frmInfo_input_text1):</label>
                    <input type="text" name="REQUEST_NO" id="REQUEST_NO"  disabled="disabled" placeholder=""><br />
                    <label for="REQ_DATE">@Html.Raw(partsRequest.frmInfo_input_text2):</label>
                    <input type="text" name="REQ_DATE" data-isdatetime="true" id="REQ_DATE" placeholder="" pattern="^(((0[1-9]|[12]\d|3[01])[\/\.-](0[13578]|1[02])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|[12]\d|30)[\/\.-](0[13456789]|1[012])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|1\d|2[0-8])[\/\.-](02)[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((29)[\/\.-](02)[\/\.-]((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])))$"><br />
                    <label for="REF_WO">@Html.Raw(partsRequest.frmInfo_input_text3):</label>
                    <input type="text" name="REF_WO" id="REF_WO" required="required" placeholder="" data-bind="event: { change: searchWONow } "><br />
                    
                    @*<label for="REF_ASSETNO">Worksheet Type:</label>
                    <input type="text" name="REF_ASSETNO" id="REF_ASSETNO" disabled="disabled"  placeholder=""><br />*@
                    
                    
                    @*<label for="INSPECTION_TYPE">Worksheet Type:</label>
                    <select class="border-search" id="INSPECTION_TYPE" name="INSPECTION_TYPE" required="required">
                        <option value="" selected="selected">- select -</option>
                        <option value="Reading">Reading</option>
                        <option value="List">List</option>
                        <option value="Plain">Plain</option>
                    </select><br />

                    <label for="DESCRIPTION">Title:</label>
                    <input type="text" name="DESCRIPTION" id="DESCRIPTION" requied="required"><br />
                    <label for="PROCESS">Inspection Process:</label>
                    <textarea name="PROCESS" id="PROCESS" placeholder="" requied="required" class="textareaExtd"></textarea> <br />*@



                </div>
                <div class="flex-item-1 flex-field-container wsAsset">

                    <input type="hidden" name="delRow" id="delRow">
                    <p>@Html.Raw(partsRequest.frmInfo_input_text4) <span data-bind='text: wsAssetList().length'>&nbsp;</span> </p>

                    <table data-bind='visible: wsAssetList().length > 0' id="itemsReceiveBatch">
                        <thead>
                            <tr>
                                <th class='a'>@Html.Raw(partsRequest.frmInfo_input_text5)</th>
                                <th class='h'>@Html.Raw(partsRequest.frmInfo_input_text6)</th>


                            </tr>
                        </thead>
                        <tbody data-bind='foreach: wsAssetList'>
                            <tr data-bind="click: $parent.select">
                                <td class="a"><span data-bind='text: ASSET_NO, uniqueName: true' input type="hidden" name="AM_INSPECTIONASSETID" id="AM_INSPECTIONASSETID"></span></td>
                                <td class="h"><span data-bind='text: DESCRIPTION, uniqueName: true' input type="hidden" name="REF_INSPECTION_ID" id="REF_INSPECTION_ID"></span></td>


                                <td><a data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-eraser"></i></a></td>
                                <td><a data-bind='click: $root.mReading' class="button-ext"><i class="fa fa-tachometer"></i></a></td>
                            </tr>
                        </tbody>
                    </table>


                </div>


            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(partsRequest.homeMessage_text1)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(partsRequest.homeMessage_text2)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(partsRequest.homeMessage_text3)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx135)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(partsRequest.txtInfo_text1)',
                    errorTwo: '@Html.Raw(partsRequest.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(partsRequest.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(partsRequest.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(partsRequest.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(partsRequest.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(partsRequest.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(partsRequest.txtInfo_text8)',
                    deletedSuccessMessage: '@Html.Raw(partsRequest.txtInfo_text9)',
                    readModeStatusText: '@Html.Raw(partsRequest.txtInfo_text10)',
                    displayModeHeader: '@Html.Raw(partsRequest.txtInfo_text11)',
                    displayModeSubHeader: '@Html.Raw(partsRequest.txtInfo_text12)',
                    searchModeStatusText: '@Html.Raw(partsRequest.txtInfo_text13)',
                    searchModeHeader: "@Html.Raw(partsRequest.txtInfo_text14)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx31)',
                        inspectionprocess: '@Html.Raw(home_index.resx81)',
                        otherDeth: '@Html.Raw(home_index.resx82)',
                        problem: '@Html.Raw(home_index.resx83)',
                        woOrder: '@Html.Raw(home_index.resx136)',
                        requestor: '@Html.Raw(home_index.resx85)',
                        buildingName: '@Html.Raw(home_index.resx86)',
                        locationName: '@Html.Raw(home_index.resx87)',
                        conditionName: '@Html.Raw(home_index.resx88)',
                        statusName: '@Html.Raw(home_index.resx89)',
                        reqDate: '@Html.Raw(home_index.resx70)',
                        contractId: '@Html.Raw(home_index.resx49)',
                        typeCoverage: '@Html.Raw(home_index.resx90)',
                        provider: '@Html.Raw(home_index.resx47)',
                        labour: '@Html.Raw(home_index.resx46)',
                        parts: '@Html.Raw(home_index.resx45)'
                    }
                };

                var myViewModel = new amPartsRequestViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

