﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx137)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalAlert.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/aims_amPartsSetup.js"></script>
    <script src="~/scripts/authentication.js"></script>

    <style>
        #frmInfo .view-mode {
            background-color: #fff;
        }

            #frmInfo .view-mode[required=required] {
                background-color: #ffffde;
            }
    </style>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">@Html.Raw(partsSetup.page_title_text) &nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-2">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
           
            <div class="toolbox-left flex-item-1">
                <ul class="align-right">
                    <li class="liModify fc-slate-blue"><a data-bind="click: aimsPartSupplier" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Click to modify or create Part Supplier"><i class="fa fa-wrench"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partsSetup.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Asset Parts"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partsSetup.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Asset Parts"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partsSetup.btnLabel_text3)</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Asset Parts Information"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(partsSetup.btnLabel_text4)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(partsSetup.btnLabel_text5)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(partsSetup.btnLabel_text6)</span></li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">

                    <label for="ID_PARTS">@Html.Raw(partsSetup.frmInfo_input_text1):</label>
                    <input type="text" name="ID_PARTS" id="ID_PARTS" placeholder="" required="required" maxlength="10"><br />

                    
                    <label for="DESCRIPTION">@Html.Raw(partsSetup.frmInfo_input_text2):</label>
                    <textarea name="DESCRIPTION" id="DESCRIPTION" placeholder="" required="required"></textarea> <br />
                    <label for="ANCILLARY">@Html.Raw(partsSetup.frmInfo_input_text3):</label>
                    <input type="text" name="ANCILLARY" id="ANCILLARY" placeholder=""><br />
                    <label for="CATEGORY">@Html.Raw(partsSetup.frmInfo_input_text4):</label>
                    <select class="border-search" id="CATEGORY" name="CATEGORY" >
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        
                    </select><br />
                    <label for="PART_COST">@Html.Raw(othresource.resx_currentcost)</label>
                    <input type="number" name="PART_COST" id="PART_COST" min="0" step="0.01" placeholder=""><br />
                    <label for="STATUS">@Html.Raw(othresource.resx_status)</label>
                    <select id="STATUS" name="STATUS" required="required">
                        <option value="Active">@Html.Raw(home_index.resx199)</option>
                        <option value="INACTIVE">@Html.Raw(home_index.resx200)</option>
                    </select>
                    <label for="LAST_POCOST">@Html.Raw(othresource.resx_lastpo)</label>
                    <input type="number" name="LAST_POCOST" id="LAST_POCOST" min="0" placeholder="" disabled="disabled"><br />
                    <label for="LAST_PODATE">@Html.Raw(othresource.resx_lastporecvdate)</label>
                    <input type="number" name="LAST_PODATE" id="LAST_PODATE" min="0" placeholder="" disabled="disabled"><br />
                    <label for="LAST_POSUPPLIER">@Html.Raw(othresource.amPartsSetup_lastposupplier)</label>
                    <input type="number" name="LAST_POSUPPLIER" id="LAST_POSUPPLIER" min="0" placeholder="" disabled="disabled"><br />

                    <label for="PART_NUMBERS">@Html.Raw(home_index.resx910):</label>
                    <input type="text" name="PART_NUMBERS" id="PART_NUMBERS" placeholder=""  maxlength="10" readonly><br />

                </div>

                <div class="flex-item-1 flex-field-container">
                    <label for="REMARKS">@Html.Raw(partsSetup.frmInfo_input_text5):</label>
                    <textarea name="REMARKS" id="REMARKS" placeholder=""></textarea> <br />
                    <label for="COMMITTABLE">@Html.Raw(partsSetup.frmInfo_input_text6):</label>
                    <select class="border-search" id="COMMITTABLE" name="COMMITTABLE">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />
                    <label for="EXPENSE_RECEIVED">@Html.Raw(partsSetup.frmInfo_input_text7):</label>
                    <select class="border-search" id="EXPENSE_RECEIVED" name="EXPENSE_RECEIVED">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />
                    <label for="ACCOUNT">@Html.Raw(partsSetup.frmInfo_input_text8):</label>
                    <input type="text" name="ACCOUNT" id="ACCOUNT" placeholder=""><br />

                    <label for="FACILITY">@Html.Raw(partsSetup.frmInfo_input_text9):</label>
                    <input type="text" name="FACILITY" id="FACILITY" placeholder=""><br />

                    <label for="ALTERNATIVE_ITEM">@Html.Raw(partsSetup.frmInfo_input_text10):</label>
                    <input type="text" name="ALTERNATIVE_ITEM" id="ALTERNATIVE_ITEM" placeholder=""><br />
                    <label for="MODEL_ID">@Html.Raw(assetInfo.frmInfo_input_text23):</label>
                    <select class="border-search" id="MODEL_ID" name="MODEL_ID">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                    </select><br /><br />

                    <input type="checkbox" name="STOCK_ITEM_FLAG" id="STOCK_ITEM_FLAG" title="Check if applicable" checked="checked">@Html.Raw(home_index.resx805)<br />
                </div>

                <div class="flex-item-1 flex-field-container" >
                    
                    <div id="modelsResultList">
                        <span style="cursor:pointer;" class="fc-slate-blue fs-medium-normal" data-bind="click: addModels" id="partAddModels"><i class="fa fa-search"></i>&nbsp;@Html.Raw(home_index.resx911)</span><br />
                        <table>
                            <thead>
                                <tr>
                                    <th class="d">
                                        @Html.Raw(assetInfo.frmInfo_input_text23)
                                    </th>
                                    <th class="h">
                                        @Html.Raw(home_index.resx238)
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind='foreach: modelsList'>
                                <tr data-bind="click: $parent.select">
                                    <td class="d"><span data-bind='text: MODEL, uniqueName: true' input type="hidden" name="ID_PARTS" id="ID_PARTS"></span></td>
                                    <td class=""><span data-bind='text: MODEL_NAME, uniqueName: true'></span></td>
                                    <td id="btnRemove"><a href='#' data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-trash-o"></i></a></td>

                                    @*<td id="btnRemove"><a data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-eraser"></i></a></td>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>

            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(partsSetup.homeMessage_text1)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(partsSetup.homeMessage_text2)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(partsSetup.homeMessage_text3)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx138)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <div id="openModalLookup" class="modalwidth5">
        <input type="hidden" name="lookUppriorPage" id="lookUppriorPage">
        <input type="hidden" name="lookUploadNumber" id="lookUploadNumber">
        <input type="hidden" name="lookUppage2" id="lookUppage2">
        <input type="hidden" name="lookUptotNumber" id="lookUptotNumber">
        <input type="hidden" name="lookUpnextPage" id="lookUpnextPage">
        <div>
            <a href="#" title="Close" class="close">X</a>
            <br />
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="lookUpTitle" class="fc-slate-blue fs-large-strong">@Html.Raw(assetInfo.pLabel_text3)</span></p>
            </div>
            <div class="flex-item-2">
                <input type="hidden" name="lookUpactionButton" id="lookUpactionButton">
                <input type="hidden" name="lookUppageNum" id="lookUppageNum">
                <input type="hidden" name="lookUppageCount" id="lookUppageCount">
                <input type="hidden" name="lookUpFilter" id="lookUpFilter">
                <input type="hidden" name="LASTLOADPAGE" id="LASTLOADPAGE">

                <ul class="align-left">
                    <li class="fc-grey">
                        &nbsp;&nbsp;&nbsp;<input data-bind="event: { change: lookUppageLoader } " type="search" placeholder="search anything" id="lookUptxtGlobalSearchOth" />
                        &nbsp;<a data-bind="click: lookUppageLoader" class="fc-slate-blue fa fa-search fa-lg searhButton searchAsset" title="Search Models"></a>
                              <span class="fc-slate-blue fs-medium-strong" style="float:right; margin-right:20px;" id="searchAllLOVList" data-bind="click: lookUppageLoader"><i class="fc-slate-blue fa fa-bars"></i>&nbsp;@Html.Raw(home_index.resx855)</span>

                    </li>

                </ul>
            </div>
            <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchResultLookUp">

                <ul>
                    <li><i></i>&nbsp;</li>

                </ul>
                <h2 id="lookUpnoresult" style="color:red;">@Html.Raw(home_index.resx145)</h2>
                <br />

                <span class="fc-slate-blue fs-large-strong" style="vertical-align:middle" id="searchingLOV"><i class="fc-slate-blue fs-large-strong fa fa-cog fa-spin"> </i> @Html.Raw(home_index.resx856)...</span>


            </div>

        </div>

    </div>

    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(partsSetup.txtInfo_text1)',
                    errorTwo: '@Html.Raw(partsSetup.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(partsSetup.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(partsSetup.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(partsSetup.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(partsSetup.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(partsSetup.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(partsSetup.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(partsSetup.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(partsSetup.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(partsSetup.txtInfo_text11)',
                    searchModeStatusText: '@Html.Raw(partsSetup.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(partsSetup.txtInfo_text13)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx139)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',
                        category: '@Html.Raw(home_index.resx141)',
                        ancillary: '@Html.Raw(home_index.resx142)',
                        supplierpartNo: '@Html.Raw(home_index.resx831)',
                        manufacurerDesc: '@Html.Raw(home_index.lblManufacturer)'
                    }
                };

                var myViewModel = new ampartsSetupViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

