﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx149)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/aims_amPMScheduleV2.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="#">@Html.Raw(pmSchedule.pm_title_text)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-4">
                <ul class="align-right">
                    <li class="liAddNewc fc-slate-blue" ><a data-bind="click: assetInfo" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Back to Asset Information"><i class="fa fa-hand-o-right"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(pmSchedule.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
                    <li class="liAddNew fc-slate-blue" id="newId"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new PM"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(pmSchedule.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue" id="modifyId"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify PM Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(pmSchedule.btnLabel_text3)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: addProcess" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Add Process to PM Schedule"><i class="fa fa-tasks"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(pmSchedule.btnLabel_text4)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: partsSearchNow" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Add Materials to PM Schedule"><i class="fa fa-sitemap"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(pmSchedule.btnLabel_text5)</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to PM Schedule"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(pmSchedule.btnLabel_text6)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(assetInfo.btnLabel_text10)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(assetInfo.btnLabel_text11) ...</span></li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="divInfo">@Html.Raw(pmSchedule.pLabel_text1): &nbsp;<span class="fs-medium-normal" id="infoID"></span></div>

    <div id="openModal" class="flex-container flex-wrap modalwidth3">
        <div class="flex-item-1 flex-field-container ">
            <br />
			<div class="scroll style-2  paddingPage marginRight">
				<form id="frmInfoParts" data-bind="submit: savePartsInfo">
					<input type="hidden" name="delRow" id="delRow">
					<p>@Html.Raw(pmSchedule.pLabel_text2) <span data-bind='text: pmpartsList().length'>&nbsp;</span> </p>

					<table data-bind='visible: pmpartsList().length > 0' id="itemsReceiveBatch">
						<thead>
							<tr>
								<th class='a'>@Html.Raw(pmSchedule.pLabel_text3)</th>
								<th class='h'>@Html.Raw(pmSchedule.pLabel_text4)</th>

								<th class='a'>@Html.Raw(pmSchedule.pLabel_text5)</th>
							</tr>
						</thead>
						<tbody data-bind='foreach: pmpartsList'>
							<tr data-bind="click: $parent.select">
								<td class="a"><span data-bind='text: ID_PARTS, uniqueName: true'></span></td>
								<td class="h"><span data-bind='text: DESCRIPTION, uniqueName: true'></span></td>
								<td class="a"><span><input id="QTY" name="QTY" type="number" min="0" class="required number input-oth a" data-bind='value: QTY'></span></td>

								<td><a data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-eraser"></i></a></td>

							</tr>
						</tbody>
					</table>

					<button type="submit" id="partsaveInfoParts" class="hidden"></button>
				</form>
			</div>
			<div id="addButton" class="modal-footer">
				<span id="addButtonId" data-bind="click: partsSaveAllChanges" class="button-extbottom">@Html.Raw(assetInfo.btnLabel_text13)</span>
				<a href="#" data-bind="click: cancelChangesModal" class="button-extbottom"><span>@Html.Raw(assetInfo.btnLabel_text12)</span></a>
			</div>
            
        </div>
		
        <div class="flex-item-1 flex-field-container ">
            <a href="#close" title="Close" class="close"></a>
            <br />
			
				<div class="flex-item-2  ">
					<input type="hidden" name="actionButton" id="actionButton">
					<input type="hidden" name="pageNum" id="pageNum">
					<input type="hidden" name="pageCount" id="pageCount">
					
					<ul class="align-left">
                        <li class="fc-grey">
                            &nbsp;&nbsp;&nbsp;@Html.Raw(home_index.resx912)&nbsp;<input data-bind="event: { change: pageLoader } " type="search" placeholder="search anything" id="txtGlobalSearchOth" />
                            &nbsp;&nbsp;&nbsp;
                            @*<a data-bind="click: pageLoader" href="#" class="button" id="priorPage"><i class="fa fa-chevron-circle-left"></i></a>
        <a data-bind="click: pageLoader" href="#" class="page" id="page1"><span id="loadNumber">1</span></a>&nbsp;&nbsp;
        &nbsp;<strong id="pageSeparator">of</strong> &nbsp;
        <a data-bind="click: pageLoader" href="#" class="page" id="page2"><span id="totNumber">2</span></a>
        <a data-bind="click: pageLoader" href="#" class="button" id="nextPage"><i class="fa fa-chevron-circle-right"></i></a>*@
                        </li>

					</ul>
				</div>
			<div class="scroll style-2">
				<div class="flex-item-1 flex-field-container field-list align-left" id="searchResult1">

					<h2 style="color:red" id="noresult">@Html.Raw(home_index.resx145)</h2>
					<ul>
						<li><i></i>&nbsp;</li>

					</ul>
				</div>
			</div>
            <br />

        </div>
    </div>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        
        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <p id="contentSubHeader">@Html.Raw(home_index.resx913).</p>
        <form id="frmInfo" data-bind="submit: saveInfo">

            <div id="openModalLookup" class="modalwidth5">

                <div>
                    @*<a href="#" title="Close" class="close"></a>*@
                    <br />
                    <div>
                        <p><span id="winTitle" class="fc-darkcolor fs-large-strong">@Html.Raw(pmSchedule.pLabel_text6)</span></p>
                    </div>

                    <div class="flex-item-1 flex-field-container field-list align-left" id="searchResultLookUp">

                        <ul>
                            <li>
                            <label for="PM_PROCESS"></label>
                            <textarea name="PM_PROCESS" id="PM_PROCESS" placeholder="" class="textareaExtd" ></textarea> <br /></li>

                        </ul>
                        <div>
                            <h2>@Html.Raw(othresource.resx_uploadpdffile)</h2>                            
                            <input type="file" id="pdffile" accept="application/pdf" name="pdffile" /><br />                        

                        </div>
                        <br />
                        <div class="scroll style-2 paddingPage">
                            <div class="flex-item-1 flex-field-container field-list align-left " id="searchResultPMDoc">
                                <ul>
                                    <li><i></i>&nbsp;</li>

                                </ul>
                            </div>
                        </div>
                        <div id="addButton"class="modal-footer">
                            <a id="addButtonId" href="#" data-bind="click: applyProcess" class="button-extbottom"><span>@Html.Raw(assetInfo.btnLabel_text13)</span></a>
                            <a href="#" data-bind="click: cancelChangesModal" class="button-extbottom"><span>@Html.Raw(assetInfo.btnLabel_text12)</span></a>
                        </div>
                        
                    </div>

                </div>

            </div>
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">
                    <input type="hidden" name="AM_ASSET_PMSCHEDULE_ID" id="AM_ASSET_PMSCHEDULE_ID">
                    <input type="hidden" name="ASSET_NO" id="ASSET_NO">
                    <label for="PM_PROCEDURE">@Html.Raw(pmSchedule.pLabel_text7):</label>
                  
					<select class="border-search" id="PM_PROCEDURE" name="PM_PROCEDURE" required="required">
						<option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>

					</select><br />

                    <label for="SERVICE_DEPARTMENT">@Html.Raw(pmSchedule.pLabel_text8):</label>
					<select class="border-search" id="SERVICE_DEPARTMENT" name="SERVICE_DEPARTMENT">
						<option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
						
					</select><br />

                    <label for="EMPLOYEE_TYPE">@Html.Raw(pmSchedule.pLabel_text9):</label>
                    
                    <select class="border-search" id="EMPLOYEE_TYPE" name="EMPLOYEE_TYPE" required="required">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Employee">@Html.Raw(pmSchedule.input_label_text1)</option>
                        <option value="Company">@Html.Raw(pmSchedule.input_label_text2)</option>
                    </select><br />
                    
                    <label for="EMPLOYEE_INFO">@Html.Raw(pmSchedule.input_label_text3):</label>
                    <input type="text" name="EMPLOYEE_INFO" id="EMPLOYEE_INFO" placeholder="" ><br />
                    <label for="FREQUENCY_PERIOD">@Html.Raw(pmSchedule.input_label_text4):</label>
                    <select class="border-search" id="FREQUENCY_PERIOD" name="FREQUENCY_PERIOD" required="required" data-bind='event: { blur: calculateDueDate}'>
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="1">@Html.Raw(home_index.resx280)</option>
                        <option value="2">@Html.Raw(home_index.resx281)</option>
                        <option value="3">@Html.Raw(home_index.resx282)</option>
                        <option value="4">@Html.Raw(home_index.resx283)</option>
                        <option value="5">@Html.Raw(home_index.resx284)</option>
                        <option value="6">@Html.Raw(home_index.resx285)</option>
                        <option value="7">@Html.Raw(home_index.resx286)</option>
                        <option value="8">@Html.Raw(home_index.resx287)</option>
                        <option value="9">@Html.Raw(home_index.resx288)</option>
                        <option value="10">@Html.Raw(home_index.resx289)</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select><br />

                    <label for="INTERVAL">@Html.Raw(pmSchedule.input_label_text5):</label>
                    <select class="border-search" id="INTERVAL" name="INTERVAL" required="required" data-bind='event: { blur: calculateDueDate}'>
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="D">@Html.Raw(pmSchedule.dayLabel)</option>
                        <option value="W">@Html.Raw(pmSchedule.weekLabel)</option>
                        <option value="M">@Html.Raw(pmSchedule.monthLabel)</option>
                        <option value="Y">@Html.Raw(pmSchedule.yearLabel)</option>
                    </select><br />

                </div>

                <div class="flex-item-1 flex-field-container">
                    <label for="NEXT_PM_DUE">@Html.Raw(pmSchedule.input_label_text6):</label>                   
                    <input class="datefield tcal" data-isdate="true" data-val="true" type="text" name="NEXT_PM_DUE" id="NEXT_PM_DUE" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">

                    <label for="RANDOM_PMSCHEDULE">@Html.Raw(pmSchedule.input_label_text7):</label>
                    <select class="border-search" id="RANDOM_PMSCHEDULE" name="RANDOM_PMSCHEDULE">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Y">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="N">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />

                    <label for="FLOATING_PMSCHEDULE">@Html.Raw(pmSchedule.input_label_text10):</label>
                    <select class="border-search" id="FLOATING_PMSCHEDULE" name="FLOATING_PMSCHEDULE">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Y">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="N">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />

                    <label for="GRACE_PERIOD_TYPE">@Html.Raw(pmSchedule.input_label_text11):</label>
                    <select class="border-search view-mode" id="GRACE_PERIOD_TYPE" name="GRACE_PERIOD_TYPE">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="D">@Html.Raw(pmSchedule.dayLabel)</option>                       
                        <option value="M">@Html.Raw(pmSchedule.monthLabel)</option>
                       
                    </select><br />
                   
                    <label for="GRACE_PERIOD">@Html.Raw(pmSchedule.input_label_text12):</label>
                    <input type="number" step='1' name="GRACE_PERIOD" class="view-mode" id="GRACE_PERIOD" placeholder=""><br />

                    @*<label for="STATUS">Status:</label>
                    <select class="border-search" id="STATUS" name="STATUS">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="A">Active</option>
                        <option value="I">Inactive</option>

                    </select><br />*@

                    @*<label for="PM_STATUS">@Html.Raw(pmSchedule.input_label_text13):</label>
                    <select class="border-search" id="PM_STATUS" name="PM_STATUS" required="required">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Y">@Html.Raw(pmSchedule.input_label_text14)</option>
                        <option value="N">@Html.Raw(pmSchedule.input_label_text15)</option>
                    </select><br />*@
                </div>

                <div class="flex-item-1 flex-field-container">

                    <label for="TIME_PERFORM">@Html.Raw(pmSchedule.input_label_text16):</label>
                    <input  type='number' step='0.01' value='0.00' placeholder='0.00' class="view-mode" name="TIME_PERFORM" id="TIME_PERFORM">
                   

                    <label for="PM_PRIORITY">@Html.Raw(pmSchedule.input_label_text17):</label>
                    
                    <select class="border-search" id="PM_PRIORITY" name="PM_PRIORITY">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="1">@Html.Raw(home_index.resx280)</option>
                        <option value="2">@Html.Raw(home_index.resx281)</option>
                        <option value="3">@Html.Raw(home_index.resx282)</option>
                        <option value="4">@Html.Raw(home_index.resx283)</option>
                        <option value="5">@Html.Raw(home_index.resx284)</option>
                        <option value="6">@Html.Raw(home_index.resx285)</option>
                        <option value="7">@Html.Raw(home_index.resx286)</option>
                        <option value="8">@Html.Raw(home_index.resx287)</option>
                        <option value="9">@Html.Raw(home_index.resx288)</option>
                        <option value="10">@Html.Raw(home_index.resx289)</option>
                    </select><br />

                    <label for="SESSION_START">@Html.Raw(pmSchedule.input_label_text18):</label>
                    <input  data-istime= "true" data-val="true" type="text" name="SESSION_START" id="SESSION_START" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" placeholder="00:00">
                    
                    

                    <label for="SESSION_END">@Html.Raw(pmSchedule.input_label_text19):</label>
                    <input  data-istime ="true" data-val="true" type="text" name="SESSION_END" id="SESSION_END" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" placeholder="00:00">
                    
                    <label for="REMARKS">@Html.Raw(pmSchedule.input_label_text20):</label>
                    <textarea name="REMARKS" class="view-mode" id="REMARKS" placeholder="" ></textarea> <br />

                </div>


            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(pmSchedule.homeMessage_text1)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(pmSchedule.homeMessage_text2)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(pmSchedule.homeMessage_text3)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx150)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(pmSchedule.txtInfo_errorOne)',
                    errorTwo: '@Html.Raw(pmSchedule.txtInfo_errorTwo)',
                    addModeHeader: '@Html.Raw(pmSchedule.txtInfo_addModeHeader)',
                    addModeSubHeader: '@Html.Raw(pmSchedule.txtInfo_addModeSubHeader)',
                    updateModeHeader: '@Html.Raw(pmSchedule.txtInfo_updateModeHeader)',
                    updateModeSubHeader: '@Html.Raw(pmSchedule.txtInfo_updateModeSubHeader)',
                    saveModeStatusText: '@Html.Raw(pmSchedule.txtInfo_saveModeStatusText)',
                    saveSuccessMessage: '@Html.Raw(pmSchedule.txtInfo_saveSuccessMessage)',
                    readModeStatusText: '@Html.Raw(pmSchedule.txtInfo_readModeStatusText)',
                    displayModeHeader: '@Html.Raw(pmSchedule.txtInfo_displayModeHeader)',
                    displayModeSubHeader: '@Html.Raw(pmSchedule.txtInfo_displayModeSubHeader)',
                    searchModeStatusText: '@Html.Raw(pmSchedule.txtInfo_searchModeStatusText)',
                    searchModeHeader: "@Html.Raw(pmSchedule.txtInfo_searchModeHeader)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx42)',
                        frequency: '@Html.Raw(home_index.resx43)',
                        nextDue: 'Next Due Date',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',
                        otherDeth: '@Html.Raw(home_index.resx82)',
                        grace: '@Html.Raw(home_index.resx126)',
                        servdept: '@Html.Raw(home_index.resx127)',
                        assignto: '@Html.Raw(home_index.resx128)',
                        sessionstart: '@Html.Raw(home_index.resx129)',
                        sessionend: '@Html.Raw(home_index.resx130)',
                        pmStatus: '@Html.Raw(home_index.resx89)',
                        status: 'Status'
                    }
                };

                var myViewModel = new ampmscheduleViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

