﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />

    <title>@Html.Raw(home_index.resx151)</title>


    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/content/print.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/core.js"></script>
    <script src="/Scripts/aims_amPurchaseOrder_V4.js"></script>
    <script src="~/scripts/authentication.js"></script>


</head>
<body>
	<div class="no-print">
		<header role="heading">
			<nav class="nav-main flex-container" role="navigation">
				<div class="nav-site-map flex-item-2">
					<ul class="align-left">
						<li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

						<li class="fc-white"><a href="">@Html.Raw(home_index.resx152)&nbsp;</a></li>
					</ul>
				</div>
				<div class="nav-user-info flex-item-3">
					<ul>
						<li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

					</ul>
				</div>
				<div class="nav-user-info flex-item-1">
					<ul class="align-right">
						<li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
						<li class="fc-white">&nbsp;-&nbsp;</li>
						<li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
					</ul>
				</div>
			</nav>
			<div class="toolbox flex-container">

				<div class="toolbox-left flex-item-1">
					<ul class="align-right">
						<li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Purchase Order"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partsRequest.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
						<li class="liModify fc-slate-blue"><a data-bind="click: statusCancel" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to Cancel Purchase Order"><i class="fa fa-times"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(supplier.btnLabel_text3)</span>&nbsp;&nbsp;</a></li>
						<li class="liApprove fc-slate-blue"><a data-bind="click: statusApprove" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to Approve Purchase Order"><i class="fa fa-check-circle"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx153)</span>&nbsp;&nbsp;</a></li>
						<li class="liModify fc-slate-blue"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Purchase Order"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partsRequest.btnLabel_text4)</span>&nbsp;&nbsp;</a></li>
						<li class="liModify fc-slate-blue"><a data-bind="click: printPO" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Print Purchase Order"><i class="fa fa-print"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx154)</span>&nbsp;&nbsp;</a></li>
						<li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(partsRequest.btnLabel_text5)</span>&nbsp;&nbsp;</a></li>
						<li class="liSaveAll fc-slate-blue"><a data-bind="click: searchApprovedPR" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to Add Item to Order"><i class="fa fa-search"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx59)</span>&nbsp;&nbsp;</a></li>
						<li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(partsRequest.btnLabel_text6)</span>&nbsp;&nbsp;</a></li>
						<li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(partsRequest.btnLabel_text7)</span></li>

						<li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
						<li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
					</ul>
				</div>
			</div>
		</header>
		<div class="field-content-detail">
			<div class="divProgressScreen"></div>
			<div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

			<div id="openModalLookupSupBill" class="modalwidth5">

				<div>
					<a href="#" title="Close" class="close">X</a>
					<br />
					<div>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="lookUpTitle2" class="fc-darkcolor fs-large-strong">@Html.Raw(assetInfo.pLabel_text3)</span></p>
					</div>
					<div class="flex-item-2">
						<input type="hidden" name="lookUpactionButton" id="lookUpactionButton">
						<input type="hidden" name="lookUppageNum" id="lookUppageNum">
						<input type="hidden" name="lookUppageCount" id="lookUppageCount">
						<input type="hidden" name="lookUpFilter" id="lookUpFilter">
						<ul class="align-left">
							<li class="fc-grey">
								&nbsp;&nbsp;&nbsp;<input data-bind="event: { change: lookUppageLoader } " type="search" placeholder="search anything" id="lookUptxtGlobalSearchOth" />
								&nbsp;&nbsp;&nbsp;
								<a data-bind="click: lookUppageLoader" href="#" class="button" id="lookUppriorPage"><i class="fa fa-chevron-circle-left"></i></a>
								<a data-bind="click: lookUppageLoader" href="#" class="page" id="lookUppage1"><span id="lookUploadNumber">1</span></a>
								&nbsp;<strong id="lookUppageSeparator">@Html.Raw(home_index.resx144)</strong>&nbsp;
								<a data-bind="click: lookUppageLoader" href="#" class="page" id="lookUppage2"><span id="lookUptotNumber">2</span></a>
								<a data-bind="click: lookUppageLoader" href="#" class="button" id="lookUpnextPage"><i class="fa fa-chevron-circle-right"></i></a>
							</li>

						</ul>
					</div>
					<div class="flex-item-1 flex-field-container field-list align-left " id="searchResultLookUp">

						<ul>
							<li><i></i>&nbsp;</li>

						</ul>
					</div>

				</div>

			</div>

			<div id="openModalLookup" class="modalwidth5">

				<div>
					<a href="#" title="Close" class="close">X</a>
					<br />
					<div>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="lookUpTitle" class="fc-darkcolor fs-large-strong">@Html.Raw(home_index.resx155)</span></p>
					</div>

					<div class="flex-item-1 flex-field-container field-list align-left" id="searchResultLookUp">

						<ul>
							<li><i></i>&nbsp;</li>

						</ul>
					</div>

				</div>

			</div>
			<div id="openModal" class="modalwidth3">
				<div>
					<a href="#" title="Close" class="close">X</a>
					<br />

					<div class="flex-item-2">
						<h2 class="fc-greendark fs-medium-strong">@Html.Raw(home_index.resx156)</h2>
						<input type="hidden" name="actionButton" id="actionButton">
						<input type="hidden" name="pageNum" id="pageNum">
						<input type="hidden" name="pageCount" id="pageCount">
						<ul class="align-left">
							<li class="fc-grey">
								&nbsp;&nbsp;&nbsp;<input data-bind="event: { change: pageLoader } " type="search" placeholder="search anything" id="txtGlobalSearchOth" />
								&nbsp;&nbsp;&nbsp;
								@*<a data-bind="click: pageLoader" href="#" class="button" id="priorPage"><i class="fa fa-chevron-circle-left"></i></a>
								<a data-bind="click: pageLoader" href="#" class="page" id="page1"><span id="loadNumber">@Html.Raw(home_index.resx80)</span></a>
								&nbsp;<strong id="pageSeparator">@Html.Raw(home_index.resx144)</strong>&nbsp;
								<a data-bind="click: pageLoader" href="#" class="page" id="page2"><span id="totNumber">@Html.Raw(home_index.resx81)</span></a>
								<a data-bind="click: pageLoader" href="#" class="button" id="nextPage"><i class="fa fa-chevron-circle-right"></i></a>*@
							</li>

						</ul>
					</div>

					<div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchResult1">
						@*<h2 id="noresult" style="color:red;">@Html.Raw(home_index.resx145)!</h2>*@
						<ul>
							<li><i></i>&nbsp;</li>

						</ul>
						<div class="modal-footer">

							@*<a href="#"  class="button-extbottom"><span>@Html.Raw(partsRequest.btnLabel_text8)</span></a>*@
						</div>
					</div>



				</div>
			</div>

			<br />
			<h1 id="contentHeader"></h1>
			<p id="contentSubHeader"></p>
			<form id="frmInfo" data-bind="submit: saveInfo">
				<div class="flex-container flex-wrap">

                    <div class="flex-item-1 flex-field-container">
                        <input type="hidden" name="SAVEACTION" id="SAVEACTION">
                        <input type="hidden" name="LOVACTION" id="LOVACTION">
                        <input type="hidden" name="PURCHASE_NO" id="PURCHASE_NO">
                        <input type="hidden" name="PURCHASEID" id="PURCHASEID">
                        <input type="hidden" name="STATUS" id="STATUS">
                        <input type="hidden" name="ID_PARTSDESC" id="ID_PARTSDESC">
                        <input type="hidden" name="SUPPLIER_ID" id="SUPPLIER_ID">
                        <input type="hidden" name="PO_BILLCODE_ADDRESS" id="PO_BILLCODE_ADDRESS">
                        <input type="hidden" name="TOTAL_NOITEMS" id="TOTAL_NOITEMS">
                        <input type="hidden" name="TOTAL_AMOUNT" id="TOTAL_AMOUNT">
                        <input type="hidden" name="CREATED_BY" id="CREATED_BY">
                        <input type="hidden" name="APPROVED_BY" id="APPROVED_BY">
                        <input type="hidden" name="APPROVED_DATE" id="APPROVED_DATE">
                        <input type="hidden" name="REF_WO" id="REF_WO">

                        <p class="fs-medium-strong">@Html.Raw(manufacturer.txtInfo_text10) </p>
                        <label for="SUPPLIERDESC">@Html.Raw(home_index.resx874):&nbsp;<i id="btnSupplier" data-bind="click: infoLovLoader" class="fc-slate-blue fa fa-search fa-lg searhButton"></i></label>
                        <input type="text" name="SUPPLIERDESC" id="SUPPLIERDESC" placeholder="" required="required" disabled>
                        &nbsp;&nbsp;<br />

                        <label for="SUPPLIER_ADDRESS1">@Html.Raw(home_index.resx160)</label>
                        <textarea name="SUPPLIER_ADDRESS1" id="SUPPLIER_ADDRESS1" placeholder="" required="required"></textarea> <br />
                        <label for="SUPPLIER_CITY">@Html.Raw(home_index.resx12)</label>
                        <input type="text" name="SUPPLIER_CITY" id="SUPPLIER_CITY" placeholder="" required="required"><br />
                        <label for="SUPPLIER_ZIPCODE">@Html.Raw(home_index.resx13)</label>
                        <input type="text" name="SUPPLIER_ZIPCODE" id="SUPPLIER_ZIPCODE" placeholder="" ><br />
                        <label for="SUPPLIER_STATE">Country:</label>
                        <input type="text" name="SUPPLIER_STATE" id="SUPPLIER_STATE" placeholder="" ><br />
                        <label for="SUPPLIER_CONTACT_NO1">@Html.Raw(home_index.resx15)</label>
                        <input type="text" name="SUPPLIER_CONTACT_NO1" id="SUPPLIER_CONTACT_NO1" placeholder="" required="required"><br />
                        <label for="SUPPLIER_CONTACT_NO2">@Html.Raw(home_index.resx16)</label>
                        <input type="text" name="SUPPLIER_CONTACT_NO2" id="SUPPLIER_CONTACT_NO2" placeholder=""><br />
                        <label for="SUPPLIER_EMAIL_ADDRESS">@Html.Raw(supplier.frmInfo_input_text15):</label>
                        <input type="email" name="SUPPLIER_EMAIL_ADDRESS" id="SUPPLIER_EMAIL_ADDRESS" placeholder=""><br /><br />



                    </div>
                    <div class="flex-item-1 flex-field-container">
                        <p class="fs-medium-strong">@Html.Raw(home_index.resx161) </p>

                        <input type="hidden" name="BILLADDRESSLOV" id="BILLADDRESSLOV" placeholder="">
                       
                        <label for="BILL_SHIPTO">Search &nbsp;<i id="btnBillAddress" data-bind="click: infoLovLoader" class="fc-slate-blue fa fa-search fa-lg searhButton"></i>&nbsp;&nbsp;<br /></label>
                        <input type="text" name="BILL_SHIPTO" id="BILL_SHIPTO" placeholder="" required="required"><br />
                        <label for="BILL_ADDRESS">@Html.Raw(home_index.resx160)</label>
                        <textarea name="BILL_ADDRESS" id="BILL_ADDRESS" placeholder="" required="required"></textarea> <br />
                        <label for="BILL_CITY">@Html.Raw(home_index.resx12)</label>
                        <input type="text" name="BILL_CITY" id="BILL_CITY" placeholder="" required="required"><br />
                        <label for="BILL_ZIPCODE">@Html.Raw(home_index.resx13)</label>
                        <input type="text" name="BILL_ZIPCODE" id="BILL_ZIPCODE" placeholder=""><br />
						<label for="BILL_STATE">Country:</label>
                        <input type="text" name="BILL_STATE" id="BILL_STATE" placeholder=""><br />
                        <label for="BILL_CONTACT_NO1">@Html.Raw(home_index.resx15)</label>
                        <input type="text" name="BILL_CONTACT_NO1" id="BILL_CONTACT_NO1" placeholder="" required="required"><br />
                        <label for="BILL_CONTACT_NO2">@Html.Raw(home_index.resx16)</label>
                        <input type="text" name="BILL_CONTACT_NO2" id="BILL_CONTACT_NO2" placeholder=""><br />
                        <label for="BILL_EMAIL_ADDRESS">@Html.Raw(supplier.frmInfo_input_text15):</label>
                        <input type="email" name="BILL_EMAIL_ADDRESS" id="BILL_EMAIL_ADDRESS" placeholder=""><br />
                    </div>
					<div class="flex-item-1 flex-field-container">
                        <br/>
                        <label for="REQUEST_NO">@Html.Raw(home_index.resx163)</label>
                        <input type="text" name="REQUEST_NO" id="REQUEST_NO" disabled="disabled" placeholder=""><br />
                        <label for="REF_WOID">Reference Work Order No:</label>
                        <input type="text" name="REF_WOID" id="REF_WOID" disabled="disabled" placeholder=""><br />
						
						<label for="STATUSDESC">@Html.Raw(othresource.resx_status)</label>
						<input type="text" name="STATUSDESC" id="STATUSDESC" disabled="disabled" placeholder=""><br />
						<label for="PURCHASE_DATE">@Html.Raw(assetInfo.frmInfo_input_text4)</label>
						<input type="text" name="PURCHASE_DATE" data-isdatetime="true" id="PURCHASE_DATE" placeholder="" pattern="^(((0[1-9]|[12]\d|3[01])[\/\.-](0[13578]|1[02])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|[12]\d|30)[\/\.-](0[13456789]|1[012])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|1\d|2[0-8])[\/\.-](02)[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((29)[\/\.-](02)[\/\.-]((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])))$"><br />
						<label for="SHIP_VIA">@Html.Raw(home_index.resx165)</label>
						<input type="text" name="SHIP_VIA" id="SHIP_VIA" placeholder=""><br />
						<label for="SHIP_DATE">@Html.Raw(home_index.resx166)</label>
						<input type="text" name="SHIP_DATE" data-isdatetime="true" id="SHIP_DATE" placeholder="" pattern="^(((0[1-9]|[12]\d|3[01])[\/\.-](0[13578]|1[02])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|[12]\d|30)[\/\.-](0[13456789]|1[012])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|1\d|2[0-8])[\/\.-](02)[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((29)[\/\.-](02)[\/\.-]((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])))$"><br />
						<label for="EST_SHIP_DATE">@Html.Raw(home_index.resx167)</label>
						<input type="text" name="EST_SHIP_DATE" data-isdatetime="true" id="EST_SHIP_DATE" placeholder="" pattern="^(((0[1-9]|[12]\d|3[01])[\/\.-](0[13578]|1[02])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|[12]\d|30)[\/\.-](0[13456789]|1[012])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|1\d|2[0-8])[\/\.-](02)[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((29)[\/\.-](02)[\/\.-]((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])))$"><br />
						<label for="HANDLING_FEE">@Html.Raw(home_index.resx168)</label>
						<input type="number" step="0.1" min="0" name="HANDLING_FEE" id="HANDLING_FEE" placeholder="0.00"><br />
						<label for="INSURANCE_VALUE">@Html.Raw(othresource.resx_insurancevalue)</label>
						<input type="number" step="0.1" min="0" name="INSURANCE_VALUE" id="INSURANCE_VALUE" placeholder="0.00"><br />
						<label for="TRACKING_NO">@Html.Raw(home_index.resx436)</label>
						<input type="text" name="TRACKING_NO" id="TRACKING_NO" placeholder=""><br />
						<label for="EST_FREIGHT">@Html.Raw(home_index.resx170)</label>
						<input type="number" step="0.1" min="0" name="EST_FREIGHT" id="EST_FREIGHT" placeholder="0.00"><br />
						


					</div>
                    <div class="flex-item-1 flex-field-container">
                        <br/>
                        <label for="FREIGHT">@Html.Raw(home_index.resx171)</label>
                        <input type="number" step="0.1" min="0" name="FREIGHT" id="FREIGHT" placeholder="0.00"><br />
                        <label for="FREIGHT_PAIDBY">@Html.Raw(home_index.resx172)</label>
                        <input type="text" name="FREIGHT_PAIDBY" id="FREIGHT_PAIDBY" placeholder=""><br />
                        <label for="FREIGHT_CHARGETO">@Html.Raw(home_index.resx173)</label>
                        <input type="text" name="FREIGHT_CHARGETO" id="FREIGHT_CHARGETO" placeholder=""><br />
                        <label for="FREIGHT_POLINE">@Html.Raw(home_index.resx174)</label>
                        <select class="border-search" id="FREIGHT_POLINE" name="FREIGHT_POLINE">
                            <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                            <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                        </select><br />
                        <label for="FREIGHT_SEPARATE_INV">@Html.Raw(home_index.resx175)</label>
                        <select class="border-search" id="FREIGHT_SEPARATE_INV" name="FREIGHT_SEPARATE_INV">
                            <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                            <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                        </select><br />
                        <label for="TAXABLE">@Html.Raw(home_index.resx176)</label>
                        <select class="border-search" id="TAXABLE" name="TAXABLE">
                            <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                            <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                        </select><br />
                        <label for="TAX_CODE">@Html.Raw(home_index.resx177)</label>
                        <input type="text" name="TAX_CODE" id="TAX_CODE" placeholder=""><br />
                        <label for="TAX_AMOUNT">@Html.Raw(home_index.resx178)</label>
                        <input type="number" step="0.1" min="0" name="TAX_AMOUNT" id="TAX_AMOUNT" placeholder="0.00"><br />
                        <label for="REMARKS">@Html.Raw(home_index.resx179)</label>
                        <textarea name="REMARKS" id="REMARKS" placeholder=""></textarea> <br />
                    </div>
                    <div class="flex-item-3 flex-field-container wsAsset">
                        <br />
                        <input type="hidden" name="delRow" id="delRow">
                        <p class="itemRequest">@Html.Raw(home_index.resx180) &nbsp; <span data-bind='text: reqList().length'>&nbsp;</span> </p>

                        <table data-bind='visible: reqList().length > 0' id="itemsReceiveBatch">
                            <thead>
                                <tr>
                                    <th class='a'>@Html.Raw(home_index.resx31)</th>
                                    <th class='h'>@Html.Raw(home_index.resx62)</th>
                                    <th class='a'>@Html.Raw(home_index.resx181) </th>
                                    <th class='a'>@Html.Raw(home_index.resx182)</th>
                                    <th class='a'>@Html.Raw(home_index.resx183)</th>
                                    <th class='a'>@Html.Raw(home_index.resx184)</th>
                                </tr>
                            </thead>
                            <tbody data-bind='foreach: reqList'>
                                <tr data-bind="click: $parent.select">
                                    <td class="a"><span data-bind='text: ID_PARTS, uniqueName: true' input type="hidden" name="PR_REQUEST_ID" id="PR_REQUEST_ID"></span></td>
                                    <td class="h"><span data-bind='text: DESCRIPTION, uniqueName: true'></span></td>
                                    <td class="a"><span data-bind='text: QTY, uniqueName: true'></span></td>
                                    <td class="a"><input type="number" min="0" class='a' data-bind='event: { blur: $root.calculatePrice($data , $index()) },value: QTY_PO_REQUEST, uniqueName: true' /></td>
                                    <td class="a"><input type="number" min="0" step="0.01" class='a' data-bind='event: { blur: $root.calculatePrice($data , $index()) }, value: PO_UNITPRICE, uniqueName: true' /></td>
                                    <td class="a"><input type="number" min="0" class='a' name="PO_TOTALUNITPRICEITEM" id="PO_TOTALUNITPRICEITEM" /></td>
                                    @*<td class="a"><input type="number" min="0" class='a' data-bind='value: computedExample, uniqueName: true' /></td>*@

                                    <td id="btnRemove"><a href='#' title="click to display recommended supplier"data-bind='click: $root.getSupplierByProd' class="button-ext"><i class="fa fa-book"></i></a></td>
                                    <td id="btnRemove"><a href='#' title="click to display Purchase Request info" data-bind='click: $root.getPurchaseReqByProd' class="button-ext"><i class="fa fa-suitcase"></i></a></td>
                                    <td id="btnRemove"><a href='#' title="click to remove from list"data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-trash-o"></i></a></td>

                                    @*<td id="btnRemove"><a data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-eraser"></i></a></td>*@
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class='a'></th>
                                    <th class='h'></th>
                                    <th class='a'></th>
                                    <th class='a'></th>
                                    <th class='a'>@Html.Raw(home_index.resx185)</th>
                                    <th class='a'><span name="TOTAL_AMT" id="TOTAL_AMT">@Html.Raw(home_index.resx290)</span></th>
                                </tr>
                            </tfoot>
                        </table>



                    </div>


				</div>
				<button type="submit" id="saveInfo" class="hidden"></button>
			</form>
            
			<br />
			<br />
			<br />
		</div>
		<div class="home-content-detail">
			<div id="homeMessage">
				<br />
				<h1>@Html.Raw(purchaseOrder.homeMessage_text1)</h1>
				<ul>
					<li><i class="fa fa-check"></i>&nbsp;@Html.Raw(purchaseOrder.homeMessage_text2)</li>
					@*<li><i class="fa fa-check"></i>&nbsp;@Html.Raw(purchaseRequest.homeMessage_text3)</li>
						<li><i class="fa fa-check"></i>&nbsp;@Html.Raw(purchaseRequest.homeMessage_text4)</li>*@
				</ul>
			</div>
		</div>
		<div class="search-content-detail">
			<div>
				<br />
				<h1 id="searchResultSummary">@Html.Raw(home_index.resx135)</h1>
				<div id="searchResultList">
					<ul>
						<li>
							<a href="#" class="fs-medium-normal">xyn</a>
							<span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
							<span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
							<span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
						</li>
					</ul>
				</div>
			</div>
			<br />
			<br />
			<br />
		</div>
		<footer>
			<div class="footer-main">
				<p>@Html.Raw(home_index.footer_main_ptext)</p>
			</div>
		</footer>
	</div>
	<div class="print container" id="printPO">
        <img class="client_logo" src="" id="CLIENT_IMAGE" name="CLIENT_IMAGE" style="height:80px; width:100px;" />
		<p data-bind="text: poDetails.CLIENTNAME" class="fs-large-strong"></p>
		<p data-bind="text: poDetails.CLIENTADDRESS" class="fs-small-normal">
		<p data-bind="text: poDetails.CLIENTCONTACT" class="fs-small-normal"></p>
		<p class="righttextalign" data-bind="text: poDetails.POPURCHASEDATE"></p>
		<p class="righttextalign" data-bind="text: poDetails.POPURCHASENO"></p>
		<hr>
		<br />
		<p class="fs-medium-normal" data-bind="text: poDetails.POVENDOR"></p>
		<p class="fs-small-normal" data-bind="text: poDetails.POVENDORADDRESS"></p>
		<p class="fs-small-normal" data-bind="text: poDetails.POVENDORCONTACT"></p>
		<br />
		
		
		<p class="fs-medium-normal" data-bind="text: poDetails.POBILLSHIPTO"></p>
		<p class="fs-small-normal" data-bind="text: poDetails.POBILLADDRESS"></p>
		<p class="fs-small-normal" data-bind="text: poDetails.POBILLCONTACT"></p>
		<br />
		<br />
		<div class="row">
			<table class="table table-responsive" data-bind='visible: poList().length > 0'>
				<thead>
					<tr>
						<th class='h'>@Html.Raw(home_index.resx140)</th>						
						<th class='a'>@Html.Raw(home_index.resx186)</th>
						<th class='a'>@Html.Raw(home_index.resx183)</th>
						<th class='a'>@Html.Raw(home_index.resx188)</th>
						
					</tr>
				</thead>
				<tbody data-bind='foreach: poList'>
					<tr data-bind="click: $parent.select">
						<td class="h"><span data-bind='text: PODESCRIPTION, uniqueName: true'></span></td>
						<td class="a"><span data-bind='text: POQTY, uniqueName: true'></span></td>
						<td class="a"><span data-bind='text: POUNITPRICE, uniqueName: true'></span></td>
						<td class="a"><span data-bind='text: POSUBTOTAL, uniqueName: true'></span></td>

						
					</tr>

				</tbody>
			</table>
			<br />
			<p class="righttextalign fs-medium-strong" data-bind="text: poDetails.POTOTALAMOUNT"> </p>
			<br />
			<p class="righttextalign fs-medium-strong" data-bind="text: poDetails.POTAXABLEAMOUNT" id="taxAmt"> </p>
			<br />
			<p class="righttextalign fs-medium-strong" data-bind="text: poDetails.POAMOUNTTAXTOTAL" id="totalAmt"> </p>
		
		</div>
	
	</div>
	<script type="text/javascript">



        $(document).ready(

            function () {
				
                /*Text that needs to be localized later*/
                var textInfo = {
					
                    errorOne: '@Html.Raw(purchaseOrder.txtInfo_text1)',
                    errorTwo: '@Html.Raw(purchaseOrder.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(purchaseOrder.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(purchaseOrder.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(purchaseOrder.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(purchaseOrder.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(purchaseOrder.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(purchaseOrder.txtInfo_text8)',

                    readModeStatusText: '@Html.Raw(purchaseOrder.txtInfo_text10)',
                    displayModeHeader: '@Html.Raw(purchaseOrder.txtInfo_text11)',
                    displayModeSubHeader: '@Html.Raw(purchaseOrder.txtInfo_text12)',
                    searchModeStatusText: '@Html.Raw(purchaseOrder.txtInfo_text13)',
                    searchModeHeader: "@Html.Raw(purchaseOrder.txtInfo_text14)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx31)',
                        inspectionprocess: '@Html.Raw(home_index.resx81)',
                        otherDeth: '@Html.Raw(home_index.resx82)',
                        problem: '@Html.Raw(home_index.resx83)',
                        woOrder: '@Html.Raw(home_index.resx136)',
                        requestor: '@Html.Raw(home_index.resx85)',
                        buildingName: '@Html.Raw(home_index.resx86)',
                        locationName: '@Html.Raw(home_index.resx87)',
                        conditionName: '@Html.Raw(home_index.resx88)',
                        statusName: '@Html.Raw(home_index.resx89)',
                        reqDate: '@Html.Raw(othresource.resx_requestdate)',
                        contractId: '@Html.Raw(home_index.resx49)',
                        typeCoverage: '@Html.Raw(home_index.resx90)',
                        provider: '@Html.Raw(home_index.resx47)',
                        labour: '@Html.Raw(home_index.resx46)',
                        parts: '@Html.Raw(home_index.resx45)',
                        prReqDate: 'Request Date',
                        workorderno: 'Reference Work Order No',
                        workorderasset: 'Reference Asset',
                        prReqno: 'Purchase Request No'

					}

					
                };

				var myViewModel = new amPurchaseOrderViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

	</script>

</body>
</html>

