﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx189)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/aims_amPurchaseRequestV7.js"></script>
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="~/scripts/authentication.js"></script>


</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">@Html.Raw(home_index.resx190)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-2">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">

            <div class="toolbox-left flex-item-3">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Purchase Request"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partsRequest.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
                    <li class="liRequest fc-slate-blue"><a data-bind="click: openReasonReturnStatus" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to Update Cancelled to Request"><i class="fa fa-random"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx914)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: openReasonCancelStatus" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to Cancel Purchase Request"><i class="fa fa-times"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx6)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"id="btnApprove"><a data-bind="click: statusApprove" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to Approve Purchase Request"><i class="fa fa-check-circle"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx153)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Purchase Request"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(partsRequest.btnLabel_text4)</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(partsRequest.btnLabel_text5)</span></a></li>
                    <li class="liAddItems fc-slate-blue"><a data-bind="click: stockSearchNow" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to Add Item to Request"><i class="fa fa-search"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx915)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(partsRequest.btnLabel_text6)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(partsRequest.btnLabel_text7)</span></li>

                    <li class="fc-grey"><input data-bind="event: { keyup: searchKeyUp }, value: searchKeyword" type="search" placeholder="Search Anything ..." id="txtGlobalSearch" />&nbsp;</li>
                    <li class="fc-slate-blue "><a data-bind="click: searchNow" class="toolbarbutton" href="#">&nbsp;<i class="fa fa-search fa-lg "></i>&nbsp;|</a></li>

                    <li class="fc-slate-blue "><span data-bind="click: showModalFilter" class="toolbarbutton"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></span></li>
                    
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        <div id="openModalReason" class="modalwidthPassword">
            <div>

                <p id="costHeader">&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitle" class="fc-darkcolor fs-medium-strong">@Html.Raw(home_index.resx916).</span></p>
                <div class="flex-container flex-wrap iconDet ">
                    <ul>
                       
                        <li>
                            <form id="frmInfoReason">
                                <div class="flex-container flex-wrap">
                                    <div class="flex-item-1 flex-field-container">
                                        <label for="REMARKS">@Html.Raw(home_index.resx917)</label>
                                        <textarea name="STATUSREASON" id="STATUSREASON" placeholder=""></textarea> <br />

                                    </div>

                                </div>
                            </form>
                        </li>
                    </ul>
                </div>


                <br />
                <div class="modal-footer">
                    <a id="addButtonIcon" href="#" data-bind="click: statusCancel" class="button-extbottom"><span>@Html.Raw(assetInfo.btnLabel_text13)</span></a>
                    <a href="#"  class="button-extbottom"><span id="closeButtonIcon">@Html.Raw(assetInfo.btnLabel_text12)</span></a>

                </div>

            </div>
        </div>
        <div id="openModal" class="modalwidth3">
            <div>
                <a href="#" title="Close" class="close">X</a>
                <br />
                <p>@Html.Raw(home_index.resx918)...</p>
                <div class="flex-item-2">
                    @*<input type="hidden" name="actionButton" id="actionButton">
                    <input type="hidden" name="pageNum" id="pageNum">
                    <input type="hidden" name="pageCount" id="pageCount">
                    <ul class="align-left">
                        <li class="fc-grey">
                            &nbsp;&nbsp;&nbsp;<input data-bind="event: { change: pageLoader } " type="search" placeholder="search anything" id="txtGlobalSearchOth" />
                            &nbsp;&nbsp;&nbsp;
                            <a data-bind="click: pageLoader" href="#" class="button" id="priorPage"><i class="fa fa-chevron-circle-left"></i></a>
                            <a data-bind="click: pageLoader" href="#" class="page" id="page1"><span id="loadNumber">@Html.Raw(home_index.resx280)</span></a>
                            &nbsp;<strong id="pageSeparator">@Html.Raw(home_index.resx144)</strong>&nbsp;
                            <a data-bind="click: pageLoader" href="#" class="page" id="page2"><span id="totNumber">@Html.Raw(home_index.resx281)</span></a>
                            <a data-bind="click: pageLoader" href="#" class="button" id="nextPage"><i class="fa fa-chevron-circle-right"></i></a>
                        </li>

                    </ul>*@
                </div>

                <div class="flex-item-1 flex-field-container field-list align-left" id="searchResult1">
                    @*<h2 id="noresult" style="color:red;">@Html.Raw(home_index.resx145)</h2>*@
                    <ul>
                        <li><i></i>&nbsp;</li>

                    </ul>
                    <div class="modal-footer">

                        @*<a href="#"  class="button-extbottom"><span>@Html.Raw(partsRequest.btnLabel_text8)</span></a>*@
                    </div>
                </div>



            </div>
        </div>
        <div id="openModalRequestParts" class="modalwidth5">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <br />
                <p>@Html.Raw(home_index.resx919)...</p>
                <br />
                <h1 id="noresultHDR" style="color:red;">@Html.Raw(home_index.resx920)</h1>
                <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchRequestParts">

                    <ul>
                        <li><i></i>&nbsp;</li>

                    </ul>
                </div>
                <br />

            </div>
        </div>
        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">
                    <input type="hidden" name="REQUEST_ID" id="REQUEST_ID">
                    <input type="hidden" name="AM_PRREQITEMID" id="AM_PRREQITEMID">
                    <input type="hidden" name="STATUS" id="STATUS">
                    <input type="hidden" name="REQ_DETFLAG" id="REQ_DETFLAG">
                    <input type="hidden" name="STATUSID" id="STATUSID">
                    <input type="hidden" name="APPROVED_BY" id="APPROVED_BY">
                    <input type="hidden" name="APPROVED_DATE" id="APPROVED_DATE">
                    <input type="hidden" name="CANCELLED_BY" id="CANCELLED_BY">
                    <input type="hidden" name="CANCELLED_DATE" id="CANCELLED_DATE">
                    <input type="hidden" name="RESMODIFY" id="RESMODIFY">

                    <input type="hidden" name="CANCELLED_REASON" id="CANCELLED_REASON">
                    <input type="hidden" name="RETURNSTATUS_REASON" id="RETURNSTATUS_REASON">
                    <input type="hidden" name="RETURNSTATUS_BY" id="RETURNSTATUS_BY">
                    <input type="hidden" name="RETURNSTATUS_DATE" id="RETURNSTATUS_DATE">
                    
                    <input type="hidden" name="POSTID" id="POSTID">
                    <label for="REQUEST_NO">@Html.Raw(othresource.resx_requestno)</label>
                    <input type="text" name="REQUEST_NO" id="REQUEST_NO" disabled="disabled" placeholder=""><br />
                    <label for="REQ_DATE">@Html.Raw(home_index.resx164)</label>
                    <input type="text" name="REQ_DATE" data-isdatetime="true" id="REQ_DATE"  placeholder="" pattern="^(((0[1-9]|[12]\d|3[01])[\/\.-](0[13578]|1[02])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|[12]\d|30)[\/\.-](0[13456789]|1[012])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|1\d|2[0-8])[\/\.-](02)[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((29)[\/\.-](02)[\/\.-]((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])))$"><br />
                    <label for="REF_WO">@Html.Raw(home_index.resx191)</label>
                    <input type="text" name="REF_WO" id="REF_WO" placeholder=""  data-bind="event: { change: readWOId }" required="required" readonly>&nbsp;<a data-bind="click: SearchNowWorkOrder" class="fc-slate-blue fa fa-search fa-lg searhButton " title="Select from Work Order" id="searchWorkOrder"></a><br />
                    <label for="REF_ASSETNO">@Html.Raw(home_index.resx192)</label>
                    <input type="text" name="REF_ASSETNO" id="REF_ASSETNO" placeholder="" data-bind="event: { change: readAssetID }" readonly><br />
                    <label for="REQ_DEPT">@Html.Raw(home_index.resx193)</label>
                   
                    <input type="text" name="REQ_DEPT" id="REQ_DEPT" placeholder="" ><br />
                    <label for="STORE_ID">@Html.Raw(home_index.resx194)</label>
                    <select class="border-search input-Modal" id="STORE_ID" name="STORE_ID" required="required">
                        <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                    </select><br />
                    @*<label for="STATUSID">Status:</label>
                    <select class="border-search" id="STATUSID" name="STATUSID" disabled="disabled">
                        <option value="" selected="selected"></option>
                        <option value="REQUEST">Request</option>
                        <option value="APPROVED">Approve</option>
                        <option value="CANCELLED">Cancelled</option>
                        <option value="RECEIVED">Received</option>
                    </select><br />*@
                    <label for="REMARKS">@Html.Raw(home_index.resx195)</label>
                    <textarea name="REMARKS" id="REMARKS" placeholder=""></textarea> <br />
          

                </div>
                <div class="flex-item-1 flex-field-container wsAsset">

                    <input type="hidden" name="delRow" id="delRow">
                    <p class="itemRequest">@Html.Raw(home_index.resx196) &nbsp; <span data-bind='text: reqList().length'>&nbsp;</span> </p>

                    <table data-bind='visible: reqList().length > 0' id="itemsReceiveBatch">
                        <thead>
                            <tr>
                                <th class='a'>@Html.Raw(home_index.resx31)</th>
                                <th class=''>@Html.Raw(home_index.resx902)</th>
                                <th class='h'>@Html.Raw(home_index.resx62)</th>
                                <th class='a'>@Html.Raw(home_index.resx186)</th>


                            </tr>
                        </thead>
                        <tbody data-bind='foreach: reqList'>
                            <tr data-bind="click: $parent.select">
                                <td class="a"><span data-bind='text: ID_PARTS, uniqueName: true' input type="hidden" name="AM_INSPECTIONASSETID" id="AM_INSPECTIONASSETID"></span></td>
                                <td class=""><span data-bind='text: PART_NUMBERS, uniqueName: true'></span></td>
                                <td class="h"><span data-bind='text: DESCRIPTION, uniqueName: true' input type="hidden" name="REF_INSPECTION_ID" id="REF_INSPECTION_ID"></span></td>
                                <td class="a"><input type="number" min="0" class='a' data-bind='value: PR_REQUEST_QTY, uniqueName: true, enable: CURRSTATUS =="REQUEST"' /></td>
                                <td id="btnRemove"><a href='#' data-bind='click: $root.removeItem, visible: CURRSTATUS =="REQUEST"' class="button-ext"><i class="fa fa-trash-o"></i></a></td>

                                @*<td id="btnRemove"><a data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-eraser"></i></a></td>*@
                            </tr>
                        </tbody>
                    </table>


                </div>


            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div id="openModalFilter" class="modal-filter">
        <div>
            <a href="#" title="Close" class="close">X</a>
            <div class="modal-filter-header">
                <h2>@Html.Raw(home_index.resx69)</h2>
            </div>
            <div class="flex-item-2">
                <div class="filter-row">
                    <label>@Html.Raw(home_index.resx70) </label>
                    <div>
                        <div class="filter-row">@Html.Raw(home_index.resx71) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestFromDate" id="requestFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                        <div class="filter-row">@Html.Raw(home_index.resx72) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestStartDate" id="requestStartDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                    </div>
                </div>
                <div class="filter-row">
                    <span class="from-text">@Html.Raw(othresource.resx_status) </span>
                    <select class="border-search" data-bind="value:searchFilter.status" id="filterStatus" name="filterStatus" title="Select a Status">
                        <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                        <option value="REQUEST">@Html.Raw(home_index.resx921)</option>
                        <option value="APPROVED">@Html.Raw(home_index.resx922)</option>
                        <option value="RECEIVED">@Html.Raw(home_index.resx923)</option>
                        <option value="CANCELLED">@Html.Raw(home_index.resx75)</option>
                    </select>
                </div>
                <div id="addButton">
                    <span  data-bind="event: {click: searchFilterNow}" class="button-extbottom">@Html.Raw(home_index.resx95)</span>
                    <a data-bind="event: {click: clearFilter}"  href="#" class="button-extbottom"><span>@Html.Raw(home_index.resx96)</span></a>
                    <span data-bind="event: {click: clearFilter}" class="button-extbottom">@Html.Raw(home_index.resx97)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(purchaseRequest.homeMessage_text1)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(purchaseRequest.homeMessage_text2)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(purchaseRequest.homeMessage_text3)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(purchaseRequest.homeMessage_text4)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx135)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(purchaseRequest.txtInfo_text1)',
                    errorTwo: '@Html.Raw(purchaseRequest.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(purchaseRequest.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(purchaseRequest.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(purchaseRequest.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(purchaseRequest.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(purchaseRequest.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(purchaseRequest.txtInfo_text8)',

                    readModeStatusText: '@Html.Raw(purchaseRequest.txtInfo_text10)',
                    displayModeHeader: '@Html.Raw(purchaseRequest.txtInfo_text11)',
                    displayModeSubHeader: '@Html.Raw(purchaseRequest.txtInfo_text12)',
                    searchModeStatusText: '@Html.Raw(purchaseRequest.txtInfo_text13)',
                    searchModeHeader: "@Html.Raw(purchaseRequest.txtInfo_text14)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx31)',
                        inspectionprocess: '@Html.Raw(home_index.resx81)',
                        otherDeth: '@Html.Raw(home_index.resx82)',
                        problem: '@Html.Raw(home_index.resx83)',
                        woOrder: '@Html.Raw(home_index.resx136)',
                        requestor: '@Html.Raw(home_index.resx85)',
                        buildingName: '@Html.Raw(home_index.resx86)',
                        locationName: '@Html.Raw(home_index.resx87)',
                        conditionName: '@Html.Raw(home_index.resx88)',
                        statusName: '@Html.Raw(home_index.resx89)',
                        reqDate: '@Html.Raw(othresource.resx_requestdate)',
                        contractId: '@Html.Raw(home_index.resx49)',
                        typeCoverage: '@Html.Raw(home_index.resx90)',
                        provider: '@Html.Raw(home_index.resx47)',
                        labour: '@Html.Raw(home_index.resx46)',
                        parts: '@Html.Raw(home_index.resx45)',
                         partsRequest: 'Spareparts Requested'
                    }
                };

                var myViewModel = new amPurchaseRequestViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

