﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx198)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/aims_amsupplier.js"></script>
    <script src="~/scripts/authentication.js"></script>

    <style>
        #frmInfo .view-mode {
            background-color: #fff;
        }

            #frmInfo .view-mode[required=required] {
                background-color: #ffffde;
            }
    </style>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">@Html.Raw(supplier.page_title_text)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">

            <div class="toolbox-left flex-item-1">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Supplier"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(supplier.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Supplier Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(supplier.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Supplier Information"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(supplier.btnLabel_text3)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(supplier.btnLabel_text4)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(supplier.btnLabel_text5)</span></li>

                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">

                    <label for="SUPPLIER_ID">@Html.Raw(supplier.frmInfo_input_text1):</label>
                    <input type="text" name="SUPPLIER_ID" id="SUPPLIER_ID" placeholder="" required="required" maxlength="10"><br />

                    <label for="DESCRIPTION">@Html.Raw(supplier.frmInfo_input_text2):</label>
                    <textarea name="DESCRIPTION" id="DESCRIPTION" placeholder="" required="required"></textarea> <br />
                    <label for="ADDRESS1">@Html.Raw(supplier.frmInfo_input_text3):</label>
                    <textarea name="ADDRESS1" id="ADDRESS1" placeholder="" requied="required"></textarea> <br />
                    <label for="ADDRESS2">@Html.Raw(supplier.frmInfo_input_text4):</label>
                    <textarea name="ADDRESS2" id="ADDRESS2" placeholder="" requied="required"></textarea> <br />
                    

                </div>

                <div class="flex-item-1 flex-field-container">
                    <label for="ADDRESS3">@Html.Raw(supplier.frmInfo_input_text5):</label>
                    <textarea name="ADDRESS3" id="ADDRESS3" placeholder="" requied="required"></textarea> <br />
                    <label for="CITY">@Html.Raw(supplier.frmInfo_input_text6):</label>
                    <input type="text" name="CITY" id="CITY" placeholder=""><br />

                    <label for="STATE">@Html.Raw(supplier.frmInfo_input_text7):</label>
                    <input type="text" name="STATE" id="STATE" placeholder=""><br />

                    <label for="ZIP">@Html.Raw(supplier.frmInfo_input_text8):</label>
                    <input type="text" name="ZIP" id="ZIP" placeholder=""><br />

                    <label for="SUPPLIER_NO">@Html.Raw(supplier.frmInfo_input_text9):</label>
                    <input type="text" name="SUPPLIER_NO" id="SUPPLIER_NO" placeholder=""><br />

                    <label for="TERM">@Html.Raw(supplier.frmInfo_input_text10):</label>
                    <input type="text" name="TERM" id="TERM" placeholder=""><br />

                    <label for="MIN_ORDERAMOUNT">@Html.Raw(supplier.frmInfo_input_text11):</label>
                    <input type="number" name="MIN_ORDERAMOUNT" step="1" min="0" id="MIN_ORDERAMOUNT" placeholder=""><br />
                </div>

                <div class="flex-item-1 flex-field-container">

                    <label for="CONTACT">@Html.Raw(supplier.frmInfo_input_text12):</label>
                    <input type="text" name="CONTACT" id="CONTACT" placeholder="" required="required"><br />

                    <label for="CONTACT_NO1">@Html.Raw(supplier.frmInfo_input_text13):</label>
                    <input type="text" name="CONTACT_NO1" id="CONTACT_NO1" placeholder="" required="required"><br />

                    <label for="CONTACT_NO2">@Html.Raw(supplier.frmInfo_input_text14):</label>
                    <input type="text" name="CONTACT_NO2" id="CONTACT_NO2" placeholder=""><br />

                    <label for="EMAIL_ADDRESS">@Html.Raw(supplier.frmInfo_input_text15):</label>
                    <input type="email" name="EMAIL_ADDRESS" id="EMAIL_ADDRESS" placeholder=""><br />

                    <label for="ADDITIONAL_INFO">@Html.Raw(supplier.frmInfo_input_text16):</label>
                    <textarea name="ADDITIONAL_INFO" id="ADDITIONAL_INFO" placeholder="" requied="required"></textarea> <br />
                   
                </div>

                <div class="flex-item-1 flex-field-container">

                    <label for="EQUIPMENT_SUPPLIER">@Html.Raw(supplier.frmInfo_input_text17):</label>
                    <select class="border-search" id="EQUIPMENT_SUPPLIER" name="EQUIPMENT_SUPPLIER">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />

                    <label for="PART_SUPPLIER">@Html.Raw(supplier.frmInfo_input_text18):</label>
                    <select class="border-search" id="PART_SUPPLIER" name="PART_SUPPLIER">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />

                    <label for="SERVICE_PROVIDER">@Html.Raw(supplier.frmInfo_input_text19):</label>
                    <select class="border-search" id="SERVICE_PROVIDER" name="SERVICE_PROVIDER">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />

                    <label for="PROVIDER_TYPE">@Html.Raw(supplier.frmInfo_input_text20):</label>
                    <input type="text" name="PROVIDER_TYPE" id="PROVIDER_TYPE" placeholder=""><br />


                    <label for="STATUS">@Html.Raw(supplier.frmInfo_input_text21):</label>
                    <select class="border-search" id="STATUS" name="STATUS">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Y">@Html.Raw(home_index.resx199)</option>
                        <option value="N">@Html.Raw(home_index.resx200)</option>
                    </select><br />

                </div>

            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(supplier.homeMessage_text1)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(supplier.homeMessage_text2)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(supplier.homeMessage_text3)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx201)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(supplier.txtInfo_text1)',
                    errorTwo: '@Html.Raw(supplier.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(supplier.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(supplier.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(supplier.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(supplier.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(supplier.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(supplier.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(supplier.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(supplier.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(supplier.txtInfo_text11)',
                    searchStatusText: '@Html.Raw(supplier.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(supplier.txtInfo_text13)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx42)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',
                        contactPerson: '@Html.Raw(home_index.resx202)',
                        mobile: 'Fax',
                        officeContact: '@Html.Raw(home_index.resx204)',
                        otherDeth: '@Html.Raw(home_index.resx82)',
                        status: '@Html.Raw(home_index.resx89)'
                    }
                };

                var myViewModel = new amsupplierViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

