﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx205)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <link href="~/content/print.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/moment.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="~/Scripts/aims_amWorkOrderForCloseV5.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>

    <div>
        <div class="no-print">
            <header role="heading">
                <nav class="nav-main flex-container no-print" role="navigation">
                    <div class="nav-site-map flex-item-2">
                        <ul class="align-left">
                            <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href="#"><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                            <li class="fc-white"><a href="">@Html.Raw(home_index.resx984)&nbsp;</a></li>
                        </ul>
                    </div>
                    <div class="nav-user-info flex-item-3">
                        <ul>
                            <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                        </ul>
                    </div>
                    <div class="nav-user-info flex-item-1">
                        <ul class="align-right">
                            <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                            <li class="fc-white">&nbsp;-&nbsp;</li>
                            <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="toolbox flex-container">
                    <div class="toolbox-left flex-item-1 pagingDiv">
                        <input type="hidden" name="PaginGactionButton" id="PaginGactionButton">
                        <input type="hidden" name="PaginGpageNum" id="PaginGpageNum">
                        <input type="hidden" name="PaginGpageCount" id="PaginGpageCount">
                        <input type="hidden" name="PaginGFilter" id="PaginGFilter">
                        <input type="hidden" name="BULKPRINT" id="BULKPRINT">
                        <ul class=" align-left">
                            <li class="fc-slate-blue"><a data-bind="click: pagingLoader" class="toolbarbutton" href="#" id="PaginGpriorPage" title="Display Prior 500 Records"><i class="fa fa-step-backward fs-medium-normal"></i></a></li>
                            <li class="fc-slate-blue"><a href="#" class="page" id="pagq1"><span id="PaginGloadNumber">1</span></a></li>&nbsp;@Html.Raw(home_index.resx144)&nbsp;
                            <li class="fc-slate-blue"><a href="#" class="page" id="pagq1"><span id="PaginGtotNumber">2</span></a></li>
                            <li class="fc-slate-blue "><a data-bind="click: pagingLoader" class="toolbarbutton" href="#" id="PaginGnextPage" title="Display Next 500 Records"><i class="fa fa-step-forward"></i></a></li>

                        </ul>
                    </div>

                    <div class="toolbox-left flex-item-1 no-print">
                        <ul class="align-right">
                            <li class="fc-slate-blue liassetInfo" id="assetInfobtn"><a data-bind="click: assetInfo" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Back to Asset Information"><i class="fa fa-hand-o-right"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(workOrder.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
                            <li class="fc-slate-blue" id="assetInfoDet"><a data-bind="click: assetInfoDet" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Click to view or modify asset information"><i class="fa fa-hand-o-right"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(workOrder.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>
                            <li class="liPrint fc-slate-blue"><a data-bind="click: printSummary" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Click to Print Summary"><i class="fa fa-print"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(workOrder.btnPrintSummary)</span>&nbsp;&nbsp;</a></li>
                            <li class="liPrint fc-slate-blue"><a data-bind="click: printBulk" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Click to Print each Work Order Details"><i class="fa fa-print"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(workOrder.btnPrintBulkDetails)</span>&nbsp;&nbsp;</a></li>
                            @*<li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Work Order"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(assetInfo.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>*@
                            @*<li class="liModify fc-slate-blue" id="modifyButton"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Work Order Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(assetInfo.btnLabel_text3)</span>&nbsp;&nbsp;</a></li>*@
                            
                            @*<li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Work Order"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(assetInfo.btnLabel_text9)</span></a></li>*@
                            <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(assetInfo.btnLabel_text10)</span>&nbsp;&nbsp;</a></li>
                            <li class="liModify fc-slate-blue"><a data-bind="click: printWorkOrder" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Print Work Order Information"><i class="fa fa-print"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(workOrder.btnPrint)</span>&nbsp;&nbsp;</a></li>
                            <li class="liModify fc-slate-blue"><a data-bind="click: workOrderLabour" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Apply Labor to Work Order"><i class="fa fa-cogs"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx951)</span>&nbsp;&nbsp;</a></li>
                            <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class="fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(assetInfo.btnLabel_text11) ...</span></li>

                            <li class="fc-grey liSearch"><input data-bind="event: { change: searchNow }, value: searchKeyword " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                            @*<li class="fc-slate-blue filter-icon"><span data-bind="click: showModalFilter" class="toolbarbutton"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i>&nbsp;</span></li>*@

                            <li class="fc-slate-blue searchIcon liSearch"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                            <li class="fc-slate-blue liSearch"> <a class="toolbarbutton" href="#"><span class="fs-large-normal">&nbsp;|&nbsp;  </span><span class="fs-medium-normal "><i data-bind="click: showModalFilter" class="fa fa-caret-square-o-down"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="field-content-detail ">
                <div class="divProgressScreen "></div>
                <div class="notify-success fs-small-normal "><p><span id="successMessage"></span></p></div>




                <div id="openModalInfo" class="modalBoxW">
                    <div>

                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitleInfo" class="fc-slate-blue fs-large-strong"></span></p>

                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.Raw(assetInfo.frmInfo_assetName):&nbsp;<span id="itemDescription" class="fc-slate-blue"></span></p>


                        <br />


                        <div class="flex-container flex-wrap iconDet no-print">
                            <div class="otherButton">
                                <ul>
                                    <li>
                                        <a id="btnANotes" data-bind="click: othInfoLoader" class="toolbarbutton fs-large-normal" href="#" title="Asset Notes"><i class="fc-slate-blue fa fa-file-text fa-lg buttonIcons"></i>&nbsp;&nbsp;</a>

                                    </li>
                                    <li>
                                        <a id="btnpdf" data-bind="click: othInfoLoader" class="toolbarbutton fs-large-normal" href="#" title="Click to Upload/View Document related"><i class="fc-slate-blue fa fa-file-image-o fa-lg buttonIcons"></i>&nbsp;&nbsp;</a>

                                    </li>
                                    <li>
                                        <a id="btnHOperation" data-bind="click: othInfoLoader" class="toolbarbutton fs-large-normal" href="#" title="Hours of Operation"><i class="fc-slate-blue fa fa-clock-o fa-lg buttonIcons"></i>&nbsp;&nbsp;</a>

                                    </li>
                                    <li>
                                        <a id="btnContract" data-bind="click: othInfoLoader" class="toolbarbutton fs-large-normal" href="#" title="Contract"><i class="fc-slate-blue fa fa-copyright fa-lg buttonIcons"></i>&nbsp;&nbsp;</a>
                                    </li>
                                    <li>
                                        <a id="btnLCycle" data-bind="click: othInfoLoader" class="toolbarbutton fs-large-normal" href="#" title="Warranty"><i class="fc-slate-blue fa fa-gavel fa-lg buttonIcons"></i>&nbsp;&nbsp;</a>

                                    </li>
                                    <li>
                                        <a id="btnLogHistory" data-bind="click: othInfoLoader" class="toolbarbutton fs-large-normal" href="#" title="Display Status Log"><i class="fc-slate-blue fa fa-history fa-lg buttonIcons"></i>&nbsp;&nbsp;</a>

                                    </li>
                                </ul>
                            </div>
                            <div class="flex-item-1 flex-field-container-ext info1" id="searchResult2">

                                <ul>
                                    <li><i></i>&nbsp;</li>

                                </ul>
                            </div>
                            <div class="flex-item-1 flex-field-container-ext info2">

                                <ul>


                                    <li>
                                        <label for="WARRANTY_EXPIRYDATE">@Html.Raw(workOrder.input_label_text1):</label>
                                        <input data-isdate="true" data-val="true" type="text" name="WARRANTY_EXPIRYDATE" id="WARRANTY_EXPIRYDATE" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="TERM_PERIOD">@Html.Raw(assetInfo.frmInfo_input_text40):</label>
                                        <input type="text" name="TERM_PERIOD" id="TERM_PERIOD" placeholder="" disabled="disabled"><br />
                                    </li>
                                    <li>
                                        <label for="WARRANTY_INCLUDE">@Html.Raw(assetInfo.frmInfo_input_text41):</label>
                                        <input type="text" name="WARRANTY_INCLUDE" id="WARRANTY_INCLUDE" placeholder="" disabled="disabled"><br />
                                    </li>
                                    <li>
                                        <label for="WARRANTY_NOTES">@Html.Raw(assetInfo.frmInfo_input_text45):</label>
                                        <textarea class="input-Modal-extwh" name="WARRANTY_NOTES" id="WARRANTY_NOTES" placeholder="" disabled="disabled"></textarea> <br />
                                    </li>
                                </ul>
                            </div>

                            <div class="flex-item-1 flex-field-container-ext info3">

                                <ul>


                                    <li>
                                        <label for="SUN_AM">@Html.Raw(assetInfo.frmInfo_day1):</label>
                                        <input data-istime="true" class="" type="text" name="SUN_AM" id="SUN_AM" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="MON_AM">@Html.Raw(assetInfo.frmInfo_day2):</label>
                                        <input data-istime="true" class="" type="text" name="MON_AM" id="MON_AM" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="TUE_AM">@Html.Raw(assetInfo.frmInfo_day3):</label>
                                        <input data-istime="true" class="" type="text" name="TUE_AM" id="TUE_AM" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="WED_AM">@Html.Raw(assetInfo.frmInfo_day4):</label>
                                        <input data-istime="true" class="" type="text" name="WED_AM" id="WED_AM" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="THUR_AM">@Html.Raw(assetInfo.frmInfo_day5):</label>
                                        <input data-istime="true" class="" type="text" name="THUR_AM" id="THUR_AM" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="FRI_AM">@Html.Raw(assetInfo.frmInfo_day6):</label>
                                        <input data-istime="true" class="" type="text" name="FRI_AM" id="FRI_AM" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="SAT_AM">@Html.Raw(assetInfo.frmInfo_day7):</label>
                                        <input data-istime="true" class="" type="text" name="SAT_AM" id="SAT_AM" disabled="disabled">
                                    </li>
                                </ul>
                            </div>
                            <div class="flex-item-1 flex-field-container-ext info3">

                                <ul>


                                    <li>
                                        <label for="SUN_PM">@Html.Raw(assetInfo.frmInfo_day1):</label>
                                        <input data-istime="true" class="" type="text" name="SUN_PM" id="SUN_PM" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="MON_PM">@Html.Raw(assetInfo.frmInfo_day2):</label>
                                        <input data-istime="true" class="" type="text" name="MON_PM" id="MON_PM" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="TUE_PM">@Html.Raw(assetInfo.frmInfo_day3):</label>
                                        <input data-istime="true" class="" type="text" name="TUE_PM" id="TUE_PM" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="WED_PM">@Html.Raw(assetInfo.frmInfo_day4):</label>
                                        <input data-istime="true" class="" type="text" name="WED_PM" id="WED_PM" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="THUR_PM">@Html.Raw(assetInfo.frmInfo_day5):</label>
                                        <input data-istime="true" class="" type="text" name="THUR_PM" id="THUR_PM" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="FRI_PM">@Html.Raw(assetInfo.frmInfo_day6):</label>
                                        <input data-istime="true" class="" type="text" name="FRI_PM" id="FRI_PM" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="SAT_PM">@Html.Raw(assetInfo.frmInfo_day7):</label>
                                        <input data-istime="true" class="" type="text" name="SAT_PM" id="SAT_PM" disabled="disabled">
                                    </li>
                                </ul>
                            </div>
                            <div class="flex-item-1 flex-field-container-ext info4 ">
                                <div class="flex-container flex-wrap ">

                                    <div class="flex-item-1 flex-field-container" id="noteEntry">

                                        <ul>


                                            <li>

                                                <label for="WO_REFERENCE_NOTESREF"><a>@Html.Raw(othresource.resx_lastworkorderref) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fc-slate-blue fa fa-history" data-bind="click: getWoNotes"><span class="btn-text fc-slate-blue" data-bind="click: getWoNotes"> &nbsp;@Html.Raw(othresource.resx_history)&nbsp;</span>&nbsp;&nbsp;</i></label>
                                                <label id="woNotesEntered">@Html.Raw(othresource.resx_lastenteredby)</label>
                                                <textarea class="input-Modal-extwh" name="WO_REFERENCE_NOTESREF" id="WO_REFERENCE_NOTESREF" placeholder=""></textarea> <br />
                                            </li>
                                            <li>
                                                <label for="ERECORD_GENERAL_NOTES"> <a>@Html.Raw(othresource.resx_lastassetrecordgen)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fc-slate-blue fa fa-history" data-bind="click: getAssetNotes"><span class="btn-text fc-slate-blue" data-bind="click: getAssetNotes"> &nbsp;@Html.Raw(othresource.resx_history)&nbsp;</span>&nbsp;&nbsp;</i></a></label>
                                                <textarea class="input-Modal-extwh" name="ERECORD_GENERAL_NOTES" id="ERECORD_GENERAL_NOTES" placeholder=""></textarea> <br />
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="flex-item-1 flex-field-container " id="noteHistory">
                                        <span class="btn-text" id="notesHeader">@Html.Raw(othresource.resx_assetrecordgennoteshistory)</span><span class="btn-text fc-slate-blue" data-bind="click: returnToAssetNotes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.Raw(home_index.resx385)&nbsp;</span><i class="fc-slate-blue fa fa-share" data-bind="click: returnToAssetNotes"></i>
                                        <ul class=" scroll style-2 paddingPage marginbottom">


                                            <li>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="flex-item-1 flex-field-container-ext info5">

                                <ul>


                                    <li>
                                        <label for="SERV_DEPT">@Html.Raw(assetInfo.frmInfo_input_text11):</label>
                                        <select class="border-search" id="SERV_DEPTINFO" name="SERV_DEPTINFO" disabled="disabled">
                                            <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                        </select><br />
                                    </li>
                                    <li>
                                        <label for="SPECIALTY">@Html.Raw(assetInfo.frmInfo_input_text12):</label>
                                        <select class="border-search" id="SPECIALTYINFO" name="SPECIALTYINFO" disabled="disabled">
                                            <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                        </select><br />
                                    </li>
                                    <li>
                                        <label for="INHOUSE_OUTSOURCE">@Html.Raw(assetInfo.frmInfo_input_text13):</label>
                                        <select class="border-search" id="INHOUSE_OUTSOURCE" name="INHOUSE_OUTSOURCE" disabled="disabled">
                                            <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                            <option value="IN HOUSE">@Html.Raw(assetInfo.frmInfo_input_text14)</option>
                                            <option value="OUTSOURCE">@Html.Raw(assetInfo.frmInfo_input_text15)</option>
                                        </select><br />
                                    </li>
                                    <li>
                                        <label for="PRIMARY_EMPLOYEE">@Html.Raw(assetInfo.frmInfo_input_text16):</label>
                                        <input class="" type="text" name="PRIMARY_EMPLOYEE" id="PRIMARY_EMPLOYEE" disabled="disabled">
                                    </li>
                                    <li>
                                        <label for="SECONDARY_EMPLOYEE">@Html.Raw(assetInfo.frmInfo_input_text17):</label>
                                        <input class="" type="text" name="SECONDARY_EMPLOYEE" id="SECONDARY_EMPLOYEE" disabled="disabled">
                                    </li>

                                </ul>
                            </div>
                            <div class="flex-item-1 flex-field-container-ext info6 ">
                                <div class="flex-container flex-wrap ">

                                    @*<div>
                                        <h2>@Html.Raw(othresource.resx_uploadpdffile)</h2>
                                        <input type="file" id="pdffile" accept="application/pdf" name="pdffile" /><br />

                                    </div>*@
                                    <div class="flex-item-1 flex-field-container " id="supportingDocs">
                                        <span class="btn-text" id="notesHeader">@Html.Raw(othresource.reswx_supportingdocuments)</span>
                                        <ul class=" scroll style-2 paddingPage marginbottom">


                                            <li>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="flex-item-1 flex-field-container-ext info7 ">
                                <div class="flex-container flex-wrap ">


                                    <div class="flex-item-1 flex-field-container " id="statusLogList">
                                        <span class="btn-text" id="notesHeader">@Html.Raw(othresource.resx_statuslog)</span>
                                        <ul class=" scroll style-2 paddingPage marginbottom">


                                            <li>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />

                        <div class="modal-footer">
                            @*<a id="addButtonIcon" data-bind="click: applyWONotes" href="#" class="button-extbottom"><span>@Html.Raw(assetInfo.btnLabel_text13)</span></a>*@
                            <a href="#" data-bind="click: cancelChangesModal" class="button-extbottom"><span id="closeButtonIcon">@Html.Raw(home_index.resx96)</span></a>
                        </div>
                    </div>
                </div>
                <div id="openModal" class="modalwidth3">
                    <div>
                        <a href="#close" title="Close" class="close">X</a>
                        <br />
                        <div>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="fc-darkcolor fs-large-strong">@Html.Raw(othresource.resx_pleaseselectfrassetlist)</span></p>
                        </div>

                        <div class="flex-item-2">
                            <input type="hidden" name="actionButton" id="actionButton">
                            <input type="hidden" name="pageNum" id="pageNum">
                            <input type="hidden" name="pageCount" id="pageCount">
                            <ul class="align-left">
                                <li class="fc-grey">
                                    &nbsp;&nbsp;&nbsp;<input data-bind="event: { change: pageLoader } " type="search" placeholder="search anything" id="txtGlobalSearchOth" />
                                    &nbsp;&nbsp;&nbsp;
                                    <a data-bind="click: pageLoader" href="#" class="button" id="priorPage"><i class="fa fa-chevron-circle-left"></i></a>
                                    <a data-bind="click: pageLoader" href="#" class="page" id="page1"><span id="loadNumber">1</span></a>
                                    &nbsp;<strong id="pageSeparator">@Html.Raw(home_index.resx144)</strong>&nbsp;
                                    <a data-bind="click: pageLoader" href="#" class="page" id="page2"><span id="totNumber">2</span></a>
                                    <a data-bind="click: pageLoader" href="#" class="button" id="nextPage"><i class="fa fa-chevron-circle-right"></i></a>
                                </li>

                            </ul>
                        </div>

                        <div class="flex-item-1 flex-field-container field-list align-left" id="searchResult1">
                            <h2 id="noresult" style="color:red;">@Html.Raw(home_index.resx145)</h2>
                            <ul>
                                <li><i></i>&nbsp;</li>

                            </ul>
                        </div>
                        <br />

                    </div>
                </div>
                <div id="openModalHelpDesk" class="modalwidth5">
                    <div>
                        <a href="#close" title="Close" class="close">X</a>
                        <br />

                        <h1 id="noresultHDR" style="color:red;">@Html.Raw(othresource.resx_nohelpdeskissue)</h1>
                        <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchHelpDeskResult">

                            <ul>
                                <li><i></i>&nbsp;</li>

                            </ul>
                        </div>
                        <br />

                    </div>
                </div>


                <br />
                <h1 id="contentHeader"></h1>
                <p id="contentSubHeader"></p>
                <form id="frmInfo" data-bind="submit: saveInfo">
                    <div class="flex-container flex-wrap">
                        <div class="otherButton">
                            <ul>
                                <li>
                                    <a id="btnANotes" data-bind="click: othInfoLoader" class="toolbarbutton fs-large-normal" href="#" title="Asset Notes"><i class="fc-slate-blue fa fa-file-text fa-lg buttonIcons"></i>&nbsp;&nbsp;</a>

                                </li>
                                <li>
                                    <a id="btnpdf" data-bind="click: othInfoLoader" class="toolbarbutton fs-large-normal" href="#" title="Click to Upload/View Document related"><i class="fc-slate-blue fa fa-file-image-o fa-lg buttonIcons"></i>&nbsp;&nbsp;</a>

                                </li>
                                <li>
                                    <a id="btnHOperation" data-bind="click: othInfoLoader" class="toolbarbutton fs-large-normal" href="#" title="Hours of Operation"><i class="fc-slate-blue fa fa-clock-o fa-lg buttonIcons"></i>&nbsp;&nbsp;</a>

                                </li>
                                <li>
                                    <a id="btnContract" data-bind="click: othInfoLoader" class="toolbarbutton fs-large-normal" href="#" title="Contract"><i class="fc-slate-blue fa fa-copyright fa-lg buttonIcons"></i>&nbsp;&nbsp;</a>
                                </li>
                                <li>
                                    <a id="btnLCycle" data-bind="click: othInfoLoader" class="toolbarbutton fs-large-normal" href="#" title="Warranty"><i class="fc-slate-blue fa fa-gavel fa-lg buttonIcons"></i>&nbsp;&nbsp;</a>

                                </li>
                                <li>
                                    <a id="btnLogHistory" data-bind="click: othInfoLoader" class="toolbarbutton fs-large-normal" href="#" title="Display Status Log"><i class="fc-slate-blue fa fa-history fa-lg buttonIcons"></i>&nbsp;&nbsp;</a>

                                </li>
                            </ul>
                        </div>
                        <div class="flex-item-1 flex-field-container">
                            <input type="hidden" name="REQ_NO" id="REQ_NO">


                            <input type="hidden" name="SAVEACTION" id="SAVEACTION">
                            <input type="hidden" name="WONOTE_RECORDED_BY" id="WONOTE_RECORDED_BY">
                            <input type="hidden" name="WONOTE_RECORDED_DATE" id="WONOTE_RECORDED_DATE">
                            <input type="hidden" name="WO_REFERENCE_NOTES" id="WO_REFERENCE_NOTES">
                            <input type="hidden" name="OTHSAVE" id="OTHSAVE">
                            <input type="hidden" name="CURRSTATUS" id="CURRSTATUS">
                            <input type="hidden" name="LASTREQ" id="LASTREQ">
                            <input type="hidden" name="PARTS_CONFIRMED" id="PARTS_CONFIRMED">

                            <label for="REQ_ID">@Html.Raw(othresource.resx_workorderno)</label>
                            <input type="text" name="REQ_ID" id="REQ_ID" placeholder="" class="disable-mode" disabled="disabled"><br />
                            <label for="TICKET_ID">@Html.Raw(othresource.resx_requestno)</label>
                            <input type="text" name="TICKET_ID" id="TICKET_ID" placeholder="" readonly><br />
                            <label for="REQ_BY">@Html.Raw(workOrder.input_label_text5):</label>
                            <input type="text" name="REQ_BY" id="REQ_BY" required="required" placeholder=""><br />
                            <label for="REQUESTER_CONTACT_NO">@Html.Raw(workOrder.input_label_text6):</label>
                            <input type="text" name="REQUESTER_CONTACT_NO" id="REQUESTER_CONTACT_NO" placeholder="" required="required"><br />
                            <label for="REQ_DATE">@Html.Raw(workOrder.input_label_text7):</label>
                            <input type="text" name="REQ_DATE" id="REQ_DATE" placeholder="" pattern="^(((0[1-9]|[12]\d|3[01])[\/\.-](0[13578]|1[02])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|[12]\d|30)[\/\.-](0[13456789]|1[012])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|1\d|2[0-8])[\/\.-](02)[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((29)[\/\.-](02)[\/\.-]((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])))$"><br />
                            <label for="REQ_TYPE">@Html.Raw(workOrder.input_label_text8):</label>
                            <select class="border-search" id="REQ_TYPE" name="REQ_TYPE" required="required">
                                <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            </select><br />
                            <label for="AM_INSPECTION_ID">@Html.Raw(home_index.resx206)</label>
                            <input type="text" name="AM_INSPECTION_ID" id="AM_INSPECTION_ID" placeholder="" data-bind="event: { change: readWSId }"><br />
                            <label for="PROBLEM">@Html.Raw(workOrder.input_label_text9):</label>
                            <textarea name="PROBLEM" id="PROBLEM" placeholder="" required="required"></textarea> <br />



                            <label for="WO_STATUS">@Html.Raw(workOrder.input_label_text10):</label>
                            <select class="border-search" id="WO_STATUS" name="WO_STATUS" data-bind="event: { change: statusUpdate }">
                                <option value="FC">@Html.Raw(home_index.resx936)</option>
                                <option value="CL">@Html.Raw(home_index.resx96)</option>
                               
                            </select><br />
                            <label for="CLOSED_DATE" id="lblClosedDate">@Html.Raw(workOrder.textCloseDate):</label>
                            <input type="text" name="CLOSED_DATE" id="CLOSED_DATE" placeholder="" pattern="^(((0[1-9]|[12]\d|3[01])[\/\.-](0[13578]|1[02])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|[12]\d|30)[\/\.-](0[13456789]|1[012])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|1\d|2[0-8])[\/\.-](02)[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((29)[\/\.-](02)[\/\.-]((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])))$"><br />


                        </div>

                        <div class="flex-item-1 flex-field-container">

                            <label for="ASSET_NO">@Html.Raw(workOrder.input_label_text11):</label>
                            <input type="text" name="ASSET_NO" id="ASSET_NO" required="required" placeholder="">

                            <label for="DESCRIPTION">@Html.Raw(assetInfo.frmInfo_input_text19):</label>
                            <textarea name="DESCRIPTION" id="DESCRIPTION" placeholder="" class="disable-mode" disabled="disabled"></textarea> <br />
                            <label for="CATEGORY">@Html.Raw(assetInfo.frmInfo_input_text20):</label>
                            <input type="text" name="CATEGORY" id="CATEGORY" class="disable-mode" placeholder="" disabled="disabled"><br />
                            <label for="SERIAL_NO">@Html.Raw(assetInfo.frmInfo_input_text21):</label>
                            <input type="text" name="SERIAL_NO" id="SERIAL_NO" class="disable-mode" placeholder="" disabled="disabled"><br />
                            <label for="MODEL_NO">@Html.Raw(assetInfo.frmInfo_input_text23):</label>
                            <input type="text" name="MODEL_NO" id="MODEL_NO" class="disable-mode" placeholder="" disabled="disabled"><br />
                            <label for="BUILDING">@Html.Raw(assetInfo.frmInfo_input_text25):</label>
                            <input type="text" name="BUILDING" id="BUILDING" class="disable-mode" placeholder="" disabled="disabled"><br />
                            <label for="COST_CENTER">@Html.Raw(assetInfo.frmInfo_input_text26):</label>
                            <input type="text" name="COST_CENTER" id="COST_CENTER" class="disable-mode" placeholder="" disabled="disabled"><br />
                            <label for="LOCATION">@Html.Raw(assetInfo.frmInfo_input_text29):</label>
                            <input type="text" name="LOCATION" id="LOCATION" class="disable-mode" placeholder="" disabled="disabled"><br />
                            <label for="CONDITION">@Html.Raw(assetInfo.frmInfo_input_text37):</label>
                            <input type="text" name="CONDITION" id="CONDITION" class="disable-mode" placeholder="" disabled="disabled"><br />
                            <label for="ASSETSTATUS">@Html.Raw(assetInfo.frmInfo_input_text32):</label>
                            <select class="border-search disable-mode" id="ASSETSTATUS" name="ASSETSTATUS" placeholder="" disabled="disabled">
                                <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                <option value="A">@Html.Raw(home_index.resx199)</option>
                                <option value="I">@Html.Raw(home_index.resx213)</option>
                                <option value="M">@Html.Raw(home_index.resx214)</option>
                                <option value="N">@Html.Raw(home_index.resx200)</option>
                                <option value="O">@Html.Raw(home_index.resx215)</option>
                                <option value="R">@Html.Raw(home_index.resx216)</option>
                                <option value="T">@Html.Raw(home_index.resx217)</option>
                                <option value="U">@Html.Raw(home_index.resx218)</option>
                            </select><br />

                        </div>

                        <div class="flex-item-1 flex-field-container">

                            <label for="JOB_TYPE">@Html.Raw(workOrder.input_label_text12):</label>

                            <select class="border-search" id="JOB_TYPE" name="JOB_TYPE">
                                <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            </select><br />
                            <label for="SERV_DEPT">@Html.Raw(othresource.resx_dispatchedto)</label>
                            <select class="border-search" id="SERV_DEPT" name="SERV_DEPT">
                                <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            </select><br />

                            <label for="SPECIALTY">@Html.Raw(assetInfo.frmInfo_input_text12):</label>
                            <select class="border-search" id="SPECIALTY" name="SPECIALTY">
                                <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            </select><br />


                            <label for="ASSIGN_TYPE">@Html.Raw(workOrder.input_label_text14):</label>
                            <select class="border-search" id="ASSIGN_TYPE" name="ASSIGN_TYPE" data-bind="event: { change: getAssetEmp }" required="required">
                                <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                <option value="COMPANY">@Html.Raw(othresource.resx_outsourced)</option>
                                <option value="PERSON">@Html.Raw(home_index.resx259)</option>
                            </select><br />
                            <label for="ASSIGN_TO">@Html.Raw(workOrder.input_label_text17):</label>
                            <select class="border-search" id="ASSIGN_TO" name="ASSIGN_TO" disabled="disabled">
                                <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            </select><br />
                            <label for="JOB_URGENCY">@Html.Raw(workOrder.input_label_text18):</label>
                            <select class="border-search" id="JOB_URGENCY" name="JOB_URGENCY">
                                <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            </select><br />
                            <label for="JOB_DURATION">@Html.Raw(workOrder.input_label_text19):</label>
                            <input type="number" name="JOB_DURATION" step="0.1" min="0" id="JOB_DURATION" class="view-mode" placeholder=""><br />
                            <label for="JOB_DUE_DATE">@Html.Raw(workOrder.input_label_text20):</label>
                            <input class="datefield tcal" data-isdate="true" data-val="true" type="text" name="JOB_DUE_DATE" id="JOB_DUE_DATE" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">


                            <div>

                                <br />

                                <div id="searchResultListParts">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class='d'>@Html.Raw(workOrder.textPartNo)</th>
                                                <th class='h'><a href="#" title="Sort by Description" id="tcDescription">@Html.Raw(home_index.resx140)</a></th>
                                                <th class='a'><a href="#" title="Sort by Active" id="tcActive">@Html.Raw(othresource.resx_quantity)</a></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr></tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                    <button type="submit" id="saveInfo" class="hidden"></button>
                </form>
                <br />
                <br />
                <br />
            </div>
            <div id="openModalFilter" class="modalwidth5">

                <div>
                    <a href="#" title="Close" class="close">X</a>
                    <div class="modal-filter-header">
                        <h2>@Html.Raw(home_index.resx69)</h2>
                    </div>

                    <div class="flex-container flex-wrap">
                        <div class="flex-item-1 flex-field-container">
                            <div class="flex-item-2">
                                <div class="filter-row">
                                    <label>@Html.Raw(home_index.resx70)</label>
                                    <div>
                                        <div class="filter-row">@Html.Raw(home_index.resx71)<input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestFromDate" id="requestFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                                        <div class="filter-row">@Html.Raw(home_index.resx72)<input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestStartDate" id="requestStartDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"> </div>
                                    </div>
                                </div>
                                <div class="filter-row">
                                    <span class="from-text">@Html.Raw(home_index.resx219)</span>
                                    <select class="border-search" data-bind="value:searchFilter.problemType" id="filterProblemType" name="filterProblemType" title="Select a Problem Type">
                                        <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                                    </select>
                                </div>
                                <div class="filter-row">
                                    <span class="from-text">@Html.Raw(home_index.resx89)</span>
                                    <select class="border-search" data-bind="value:searchFilter.status" id="filterStatus" name="filterStatus">
                                        <option value="FC" selected="selected">@Html.Raw(home_index.resx936)</option>
                                        <option value="CL">@Html.Raw(home_index.resx207)</option>
                                    </select>
                                </div>

                                <div class="filter-row">
                                    <span class="from-text">@Html.Raw(home_index.resx221)</span>
                                    <select class="border-search" data-bind="value:searchFilter.priority" id="filterPriority" name="filterPriority" title="Select a Priority">
                                        <option value="" selected="selected" @Html.Raw(home_index.resx220)></option>
                                    </select>
                                </div>
                                <div class="filter-row">
                                    <span class="from-text">@Html.Raw(home_index.resx222)</span>
                                    <select class="border-search" data-bind="value:searchFilter.jobType" id="filterJobType" name="filterJobType" title="Select a Job Type">
                                        <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                                    </select>

                                </div>

                                <div class="filter-row">
                                    <span class="from-text">@Html.Raw(home_index.resx128)</span>
                                    <select class="border-search" data-bind="value:searchFilter.assignTo" id="filterAssignTo" name="filterAssignTo" title="Select Assign To">
                                        <option value="" selected="selected" @Html.Raw(home_index.resx58)></option>
                                    </select>

                                </div>
                                <div class="filter-row">
                                    <span class="from-text">@Html.Raw(home_index.resx981)</span>

                                    <select class="border-search" data-bind="value:searchFilter.assignType" id="filterAssignType" name="filterAssignType">
                                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                        <option value="COMPANY">@Html.Raw(othresource.resx_outsourced)</option>
                                        <option value="PERSON">@Html.Raw(home_index.resx259)</option>
                                    </select>
                                </div>
                                <div id="addButton">
                                    <span class="button-extbottom" data-bind="event: {click: searchFilterNow}">@Html.Raw(home_index.resx95)</span>

                                    <span class="button-extbottom" data-bind="event: {click: clearFilter}">@Html.Raw(home_index.resx97)</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex-item-1 flex-field-container">

                        </div>
                    </div>

                </div>


            </div>
            <div class="home-content-detail no-print">
                <div id="homeMessage">
                    <br />
                    <h1>@Html.Raw(home_index.resx985)</h1>
                    <ul>                       
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx986)</li>
                    </ul>
                </div>
            </div>
            <div class="search-content-detail">
                <div>
                    <br class="no-print" />
                    <h1 id="searchResultSummary">@Html.Raw(othresource.resx_workordersearchresult)</h1>
                    <div id="searchResultList">
                        <ul>
                            <li>
                                <a href="#" class="fs-medium-normal">xyn</a>
                                <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36)<span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                                <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38)<span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                                <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40)<span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <br class="no-print" />
                <br class="no-print" />
                <br class="no-print" />
            </div>
        </div>


        <footer class="no-print">
            <div class="footer-main">
                <p>@Html.Raw(home_index.footer_main_ptext)</p>
            </div>
        </footer>
    </div>
    <div id="openModalPrintPage" class="modalwidthPassword">
        <div>
            <br />
            <br />

            @*<p id="costHeader">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitle" class="fc-slate-blue fs-large-normal">Printing First 500</span></p>*@
            <p id="costHeader"><span id="winTitlesub" class="fc-red  fs-medium-normal" style="align-content:center; padding-left:10px;padding-right:10px;  ">@Html.Raw(home_index.resx955).</span></p>


        </div>
    </div>
    <div class="print" id="printSummary">
        <div>
            <img class="client_logo" src="" id="CLIENT_LOGO_SUM" name="CLIENT_LOGO_SUM" style="height:80px; width:100px;" />
            <p data-bind="text: woDetails.CLIENTNAME" class="fs-large-strong"></p>

            <p data-bind="text: woDetails.CLIENTADDRESS" class="fs-small-normal ">
            <p data-bind="text: woDetails.CLIENTCONTACT" class="fs-small-normal "></p>
            <hr />
            <br />

        </div>
        <ul>
            <li>

            </li>
        </ul>
    </div>
    <div id="openModalInHouse" class="modalwidth3">

        <div class="flex-item-2 flex-field-container">
            <a href="#" title="Close" class="close">X</a>
            <br />

            <p>@Html.Raw(pmSchedule.pLabel_text2) <span data-bind='text: partsWOList().length'>&nbsp;</span> </p>

            <table data-bind='visible: partsWOList().length > 0' id="itemsReceiveBatch">
                <thead>
                    <tr>
                        <th class='a'>@Html.Raw(pmSchedule.pLabel_text3)</th>
                        <th class='h'>@Html.Raw(pmSchedule.pLabel_text4)</th>
                        <th class='h'>@Html.Raw(home_index.resx63)</th>
                        <th class='h'>@Html.Raw(home_index.resx89)</th>
                        <th class='a'>@Html.Raw(othresource.resx_dispatchqty)</th>
                        <th class='a'>@Html.Raw(home_index.resx65)</th>
                        <th class='a'>@Html.Raw(home_index.resx251)</th>
                        <th class='a'>@Html.Raw(home_index.resx252)</th>
                        <th class='a'>@Html.Raw(home_index.resx254)</th>



                    </tr>
                </thead>
                <tbody data-bind='foreach:partsWOList'>
                    <tr data-bind="click: $parent.select">
                        <td class="a"><span data-bind='text: ID_PARTS, uniqueName: true'></span></td>
                        <td class="h"><span data-bind='text: PRODUCT_DESC, uniqueName: true'></span></td>
                        <td class="h"><span data-bind='text: STORE_DESC, uniqueName: true'> <input type="hidden" name="STORE_ID" id="STORE_ID"></span></td>
                        <td class="h"><span data-bind='text: STATUSREQ, uniqueName: true'> </span></td>
                        <td class="a"><span data-bind='text: TRANSFER_QTY, uniqueName: true'></span></td>
                        <td class="a"><span data-bind='text: QTY, uniqueName: true'></span></td>
                        <td class="a"><span data-bind='text: PRICE, uniqueName: true'></span></td>

                        <td class="a"><span data-bind='text: EXTENDED, uniqueName: true'></span></td>
                        <td class="a"><span data-bind='text: BILLABLE, uniqueName: true'></span></td>


                    </tr>
                </tbody>
            </table>
            <button type="submit" id="saveMaterialInfo" class="hidden"></button>



        </div>


    </div>
    @*class="print container"*@
    <div class="print container" id="printDetails">
        <table>
            <tr style="width: 850px; border-color:transparent;" class="page-break">
                <td style="width: 850px; border-color:transparent;">
                    <div>
                        <img class="client_logo" src="" id="CLIENT_LOGO" name="CLIENT_LOGO" style="height:80px; width:100px;" />
                        <p data-bind="text: woDetails.CLIENTNAME" class="fs-large-strong"></p>

                        <p data-bind="text: woDetails.CLIENTADDRESS" class="fs-small-normal ">
                        <p data-bind="text: woDetails.CLIENTCONTACT" class="fs-small-normal "></p>



                    </div>

                    <div id="docbody">
                        <div class="row">
                            <hr />
                            <table class="pull-right">

                                <thead>

                                    <tr>
                                        <th>@Html.Raw(othresource.resx_workordernum)</th>
                                        <th>@Html.Raw(home_index.resx136)</th>
                                        <th>@Html.Raw(home_index.resx224)</th>
                                        <th>@Html.Raw(othresource.resx_priority)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><p style="text-align:center;" data-bind="text: woDetails.REQ_NO"></p></td>
                                        <td><p style="text-align:center;" data-bind="text: woDetails.REQTICKETNO"></p></td>
                                        <td><p style="text-align:center;" data-bind="text: woDetails.REQ_DATE"></p></td>
                                        <td><p style="text-align:center;" data-bind="text: woDetails.JOB_URGENCY"></p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            @*<div class="col-xs-offset-3 col-xs-9">*@
                            <table class="table table-responsive">
                                <thead>
                                    <tr class="colored">
                                        <th>@Html.Raw(home_index.resx226)</th>
                                        <th>@Html.Raw(home_index.resx227)</th>
                                        @*<th>Risk Factor</th>*@
                                        @*<th>Asset</th>*@
                                        <th>@Html.Raw(othresource.resx_jobtype)</th>
                                        <th>@Html.Raw(home_index.resx230)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-bind="text: woDetails.WO_STATUS" style="border-bottom:none;"></td>
                                        <td data-bind="text: woDetails.ASSET_NO" style="border-bottom:none;"></td>
                                        @*<td data-bind="text: woDetails.RISK_INCLUSIONFACTOR" style="border-bottom:none;"></td>*@
                                        @*<td data-bind="text: woDetails.DESCRIPTION" style="border-bottom:none;"></td>*@
                                        <td data-bind="text: woDetails.JOB_TYPE" style="border-bottom:none;"></td>
                                        <td data-bind="text: woDetails.JOB_DUE_DATE" style="border-bottom:none;"></td>
                                    </tr>
                                </tbody>
                            </table>
                            @*</div>*@
                        </div>
                        <div class="row">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th align="left" style="border-bottom:none;">@Html.Raw(home_index.resx231)</th>
                                        <th align="left" style="border-bottom:none;">@Html.Raw(home_index.resx87)</th>
                                        <th align="left" style="border-bottom:none;">@Html.Raw(home_index.resx232)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="border-top:none;border-bottom:none;" data-bind="text:woDetails.COST_CENTER"></td>
                                        <td style="border-top:none;border-bottom:none;" data-bind="text:woDetails.LOCATION"></td>
                                        <td style="border-top:none;border-bottom:none;" data-bind="text:woDetails.REQ_BY"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th align="left">@Html.Raw(othresource.resx_responsibledept)</th>
                                        <th align="left">@Html.Raw(home_index.resx234)</th>
                                        <th align="left">@Html.Raw(othresource.resx_assignedto)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="border-top:none;border-bottom:none;" data-bind="text:woDetails.RESPONSIBLE_CENTER"></td>
                                        <td style="border-top:none;border-bottom:none;" data-bind="text:woDetails.SERV_DEPT"></td>
                                        <td style="border-top:none;border-bottom:none;" data-bind="text:woDetails.ASSIGN_TO"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-responsive">
                                <thead>
                                    <tr class="colored">
                                        <th align="left" style="border-bottom:none;">@Html.Raw(othresource.resx_devicedesc)</th>
                                        <th align="left" style="border-bottom:none;">@Html.Raw(othresource.resx_devicetype)</th>
                                        <th align="left" style="border-bottom:none;">@Html.Raw(home_index.resx89)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="colored">
                                        <td style="border-top:none; border-bottom:none;" data-bind="text:woDetails.DESCRIPTION"></td>
                                        <td style="border-top:none; border-bottom:none;" data-bind="text:woDetails.DEVICE_TYPE">PM</td>
                                        <td style="border-top:none; border-bottom:none;">@Html.Raw(home_index.resx213)</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-responsive">
                                <thead>
                                    <tr class="colored">
                                        @*<th align="left" style="border-bottom:none;">Model Name</th>*@
                                        <th align="left" style="border-bottom:none;">@Html.Raw(home_index.resx239)</th>
                                        <th align="left" style="border-bottom:none;">@Html.Raw(home_index.resx240)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="colored">
                                        @*<td style="border-top:none;" data-bind="text: woDetails.MODEL_NAME"></td>*@
                                        <td style="border-top:none;" data-bind="text: woDetails.MODEL_NO"></td>
                                        <td style="border-top:none;" data-bind="text: woDetails.SERIAL_NO">11/02/06</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row colored" style="border:1px solid black;margin-top:10px;border-bottom:none;">
                            @Html.Raw(othresource.resx_warranty)
                        </div>
                        <div class="row" style="border:1px solid black;">
                            <p style="display:inline">@Html.Raw(home_index.resx241)</p><p data-bind="text:woDetails.WARRANTY_NOTES" style="display:inline"></p><br />
                            <p style="display:inline">@Html.Raw(home_index.resx242)</p><p data-bind="text:woDetails.WARRANTY_INCLUDE" style="display:inline"></p><br />
                            <p style="display:inline">@Html.Raw(home_index.resx243)</p><p data-bind="text:woDetails.WARRANTY_EXPIRYDATE" style="display:inline"></p><br />
                            <p style="display:inline">@Html.Raw(home_index.resx244)</p><p data-bind="text:woDetails.TERM_PERIOD" style="display:inline"></p>
                        </div>
                        <div class="row colored" style="border:1px solid black;margin-top:10px;border-bottom:none;">
                            Problem
                        </div>
                        <div class="row" style="border:1px solid black;">
                            <p style="display:inline">@Html.Raw(home_index.resx38)</p><p data-bind="text:woDetails.PROBLEM" style="display:inline"></p><br />
                            <p style="display:inline">@Html.Raw(home_index.resx246)</p><p data-bind="text:woDetails.REQ_TYPE" style="display:inline"></p><br />
                            <p style="display:inline">@Html.Raw(home_index.resx241)</p><p data-bind="text:woDetails.REQ_REMARKS" style="display:inline"></p><br /><br />
                        </div>
                        <div id="woLabourInfo">
                            <div class="row colored" style="border:1px solid black;margin-top:10px;border-bottom:none;">
                                @Html.Raw(othresource.resx_workorderactivity)
                            </div>
                            <div class="row">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th align="left">@Html.Raw(othresource.resx_employeevendor)</th>
                                            <th align="left">@Html.Raw(othresource.resx_hours)</th>
                                            <th align="left">@Html.Raw(home_index.resx254)</th>
                                            <th align="left">@Html.Raw(othresource.resx_donedate)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border-top:none;border-bottom:none;" data-bind="text:woDetails.WOL_EMPLOYEE"></td>
                                            <td style="border-top:none;border-bottom:none;" data-bind="text:woDetails.WOL_HOURS"></td>
                                            <td style="border-top:none;border-bottom:none;" data-bind="text:woDetails.WOL_BILLABLE"></td>
                                            <td style="border-top:none;border-bottom:none;" data-bind="text:woDetails.WOL_LABOUR_DATE"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th align="left">@Html.Raw(home_index.resx299)</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border-top:none;border-bottom:none;" data-bind="text:woDetails.WOL_ACTION"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <br />
                        <div id="woMaterialInfo">
                            <p class="fs-medium-strong">@Html.Raw(othresource.resx_sparepartsdet)</p>
                            <table data-bind='visible: partsWLList().length > 0' id="itemsReceiveBatch">
                                <thead>
                                    <tr>
                                        <th class='a'>@Html.Raw(pmSchedule.pLabel_text3)</th>
                                        <th class='h'>@Html.Raw(pmSchedule.pLabel_text4)</th>
                                        <th class='a'>@Html.Raw(home_index.resx186)</th>
                                        <th class='h'>@Html.Raw(home_index.resx672)</th>
                                    </tr>
                                </thead>
                                <tbody data-bind='foreach:partsWLList'>
                                    <tr data-bind="click: $parent.select">
                                        <td class="a"><span data-bind='text: ID_PARTS, uniqueName: true'></span></td>
                                        <td class="h"><span data-bind='text: PRODUCT_DESC, uniqueName: true'></span></td>
                                        <td class="a"><span data-bind='text: QTY, uniqueName: true'></span></td>
                                        <td class="h"><span></span></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>

                            <br />
                            <br />
                            <br />

                            <p class="col-xs-pull-2">_____________________________________________ </p>
                            <p class="col-xs-pull-2">Department (End User) Name/ Signature</p>
                            <p class="pull-right">_____________________________________________ </p><br />
                            <p class="pull-right">Senior Specialist Engr. </p><br />
                            <br />

                            <p class="pull-right">_____________________________________________ </p><br />
                            <p class="pull-right">Approve by Director of Biomedical Engineering </p><br />

                        </div>
                        <div id="docfooter">
                            <p class="fs-small-normal pull-right">© 2024 Schema Healthcare Solutions All Rights Reserved. </p>
                        </div>
                    </div>
                </td>

            </tr>
        </table>


    </div>
    <div class="print" id="printBulk">
        <table class="pagetable-break">
            <tbody>
                <tr style="width:600px; border-color:transparent">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(workOrder.txtInfo_errorOne)',
                    errorTwo: '@Html.Raw(workOrder.txtInfo_errorTwo)',
                    addModeHeader: '@Html.Raw(workOrder.txtInfo_addModeHeader)',
                    addModeSubHeader: '@Html.Raw(workOrder.txtInfo_addModeSubHeader)',
                    updateModeHeader: '@Html.Raw(workOrder.txtInfo_updateModeHeader)',
                    updateModeSubHeader: '@Html.Raw(workOrder.txtInfo_updateModeSubHeader)',
                    saveModeStatusText: '@Html.Raw(workOrder.txtInfo_saveModeStatusText)',
                    saveSuccessMessage: '@Html.Raw(workOrder.txtInfo_saveSuccessMessage)',
                    readModeStatusText: '@Html.Raw(workOrder.txtInfo_readModeStatusText)',
                    displayModeHeader: '@Html.Raw(workOrder.txtInfo_displayModeHeader)',
                    displayModeSubHeader: '@Html.Raw(workOrder.txtInfo_displayModeSubHeader)',
                    searchModeStatusText: '@Html.Raw(workOrder.txtInfo_searchModeStatusText)',
                    searchModeHeader: "@Html.Raw(workOrder.txtInfo_searchModeHeader)",
                    searchModeLabels: {
                        problem: '@Html.Raw(home_index.resx83)',
                        woOrder: '@Html.Raw(home_index.textWorkOrderNo)',
                        requestor: '@Html.Raw(home_index.resx85)',
                        buildingName: '@Html.Raw(home_index.resx86)',
                        locationName: '@Html.Raw(home_index.resx87)',
                        conditionName: '@Html.Raw(home_index.resx88)',
                        statusName: '@Html.Raw(home_index.resx89)',
                        reqDate: '@Html.Raw(home_index.resx70)',
                        contractId: '@Html.Raw(home_index.resx49)',
                        typeCoverage: '@Html.Raw(home_index.resx90)',
                        provider: '@Html.Raw(home_index.resx47)',
                        labour: '@Html.Raw(home_index.resx46)',
                        parts: '@Html.Raw(home_index.resx45)',
						workSheet: '@Html.Raw(home_index.resx248)',
                        priority: '@Html.Raw(othresource.resx_priority)',
                        notes: '@Html.Raw(othresource.resx_note)',
                        spareParts: '@Html.Raw(othresource.resx_spareparts)'
                    }
                };

                var myViewModel = new woInfoViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

