﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx249)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/moment.js"></script>
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/aims_amWorkOrderLabourV8.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="~/scripts/authentication.js"></script>


</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">@Html.Raw(workOrderLabour.page_title_text)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
 
            <div class="toolbox-left flex-item-1">
                <ul class="align-right">
                    <li class="fc-slate-blue" id="RETURNWO"><a data-bind="click: returnWO" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to return to Work Order"><i class="fa fa-hand-o-left"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(workOrderLabour.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
                    <li class="liAddItems fc-slate-blue"><a data-bind="click: partsSearchNow" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to add material to Work Order Labour"><i class="fa fa-cubes"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(pmSchedule.btnLabel_text5)</span>&nbsp;&nbsp;</a></li>
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Work Order Labour"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(workOrderLabour.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue" id="modifyButton"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Work Order Labour Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(workOrderLabour.btnLabel_text3)</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Work Order Labour"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(workOrderLabour.btnLabel_text4)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(workOrderLabour.btnLabel_text5)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(workOrderLabour.btnLabel_text6)</span></li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="divInfo">@Html.Raw(pmSchedule.pLabel_text1): &nbsp;<span class="fs-medium-normal" id="infoID"></span></div>
        @*<div class="divInfo">WORK ORDER INFO: &nbsp;<span class="fs-medium-normal" id="woInfoID"></span></div>*@

        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        <div id="openModal" class="modalwidth3">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <br />
                <div class="flex-item-2">
                    <input type="hidden" name="actionButton" id="actionButton">
                    <input type="hidden" name="pageNum" id="pageNum">
                    <input type="hidden" name="pageCount" id="pageCount">
                    <ul class="align-left">
                        <li class="fc-grey">
                            &nbsp;&nbsp;&nbsp;<input data-bind="event: { change: pageLoader } " type="search" placeholder="search anything" id="txtGlobalSearchOth" />
                            &nbsp;&nbsp;&nbsp;
                            <a data-bind="click: pageLoader" href="#" class="button" id="priorPage"><i class="fa fa-chevron-circle-left"></i></a>
                            <a data-bind="click: pageLoader" href="#" class="page" id="page1"><span id="loadNumber">1</span></a>&nbsp;<span id="pageSeparator">@Html.Raw(home_index.resx144)</span> &nbsp;
                            <a data-bind="click: pageLoader" href="#" class="page" id="page2"><span id="totNumber">2</span></a>
                            <a data-bind="click: pageLoader" href="#" class="button" id="nextPage"><i class="fa fa-chevron-circle-right"></i></a>
                        </li>

                    </ul>
                </div>

                <div class="flex-item-1 flex-field-container field-list align-left" id="searchResult1">
                    <h2 id="noresult" style="color:red;">@Html.Raw(home_index.resx145)</h2>
                    <ul>
                        <li><i></i>&nbsp;</li>

                    </ul>
                </div>
                <br />

            </div>
        </div>
        <div id="openModalNotInHouse" class="flex-container flex-wrap modalwidth3">
          
        </div>
        <div id="openModalInHouse" data-bind="css:{'flex-container flex-wrap':optEmployee}" class="modalwidth3">
            <!-- ko ifnot: optEmployee -->
            <div class="flex-item flex-field-container">
                <br />
                <form id="frmInfoParts" data-bind="submit: saveWOLMInfo">
                    <input type="hidden" name="delRow" id="delRow">
                    <input type="hidden" name="REQUEST_ID" id="REQUEST_ID">
                    <input type="hidden" name="STATUSACTION" id="STATUSACTION">
                    <input type="hidden" name="STATUS" id="STATUS">
                    <p>@Html.Raw(pmSchedule.pLabel_text2) <span data-bind='text: partsWLList().length'>&nbsp;</span> </p>

                    <table data-bind='visible: partsWLList().length > 0' id="itemsReceiveBatch">
                        <thead>
                            <tr>
                                <th class='h'>@Html.Raw(home_index.resx140)</th>
                                <th class='a'>@Html.Raw(pmSchedule.pLabel_text5)</th>
                                <th class='a'>@Html.Raw(home_index.resx251)</th>
                                <th class='a'>@Html.Raw(home_index.resx252)</th>
                            </tr>
                        </thead>
                        <tbody data-bind='foreach:partsWLList'>
                            <tr data-bind="click: $parent.select">
                                <td class="a"><span style="width:100%;"><input id="DESCRIPTION" style="width:100%;" name="DESCRIPTION" type="text" class="required" data-bind='value: DESCRIPTION'></span></td>
                                <td class="a"><span><input id="QTY" name="QTY" type="number" min="0" class="required number input-oth a" data-bind='value: QTY'></span></td>
                                <td class="a"><span><input id="PRICE" name="PRICE" type="number" min="0" step="0.1" class="required number input-oth a" data-bind='value: PRICE'></span></td>
                                <td class="a"><span><input id="EXTENDED" name="EXTENDED" type="number" min="0" step="0.1" class="required number input-oth a" data-bind='value: EXTENDED'></span></td>
                                <td><a data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-eraser"></i></a></td>

                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" id="saveMaterialInfo" class="hidden"></button>


                </form>
                <div id="addButton">
                    <span data-bind="click: addWOPart" class="button-extbottom">@Html.Raw(home_index.resx253)</span>
                    <span data-bind="click: materialSaveAllChanges" class="button-extbottom">@Html.Raw(assetInfo.btnLabel_text13)</span>
                    <a href="#" class="button-extbottom"><span>@Html.Raw(assetInfo.btnLabel_text12)</span></a>
                </div>

            </div>
            <!-- /ko -->
                <!-- ko if: optEmployee -->
                <div class="flex-item-2 flex-field-container">
                    <br />
                    <form id="frmInfoParts" data-bind="submit: saveWOLMInfo">
                        <input type="hidden" name="delRow" id="delRow">
                        <input type="hidden" name="REQUEST_ID" id="REQUEST_ID">
                        <input type="hidden" name="STATUS" id="STATUS">
                        <p>@Html.Raw(pmSchedule.pLabel_text2) <span data-bind='text: partsWLList().length'>&nbsp;</span> </p>

                        <table data-bind='visible: partsWLList().length > 0' id="itemsReceiveBatch">
                            <thead>
                                <tr>
                                    <th class='a'>@Html.Raw(pmSchedule.pLabel_text3)</th>
                                    <th class='h'>@Html.Raw(pmSchedule.pLabel_text4)</th>
                                    <th class='h'>@Html.Raw(home_index.resx63)</th>
                                    <th class='h'>@Html.Raw(home_index.resx89)</th>
                                    <th class='a'>@Html.Raw(othresource.resx_dispatchqty)</th>
                                    <th class='a'>@Html.Raw(home_index.resx65)</th>
                                    <th class='a'>@Html.Raw(home_index.resx251)</th>
                                    <th class='a'>@Html.Raw(home_index.resx252)</th>
                                    <th class='a'>@Html.Raw(home_index.resx254)</th>
                                </tr>
                            </thead>
                            <tbody data-bind='foreach:partsWLList'>
                                <tr data-bind="click: $parent.select">
                                    <td class="a"><span data-bind='text: ID_PARTS, uniqueName: true'></span></td>
                                    <td class="h"><span data-bind='text: PRODUCT_DESC, uniqueName: true'></span></td>
                                    <td class="h"><span data-bind='text: STORE_DESC, uniqueName: true'> <input type="hidden" name="STORE_ID" id="STORE_ID"></span></td>
                                    <td class="h"><span data-bind='text: STATUSREQ, uniqueName: true'> </span></td>
                                    <td class="a"><span data-bind='text: TRANSFER_QTY, uniqueName: true'></span></td>
                                    <td class="a"><span><input id="QTY" name="QTY" type="number" min="0" class="required number input-oth a" data-bind='value: QTY'></span></td>
                                    <td class="a"><span data-bind='text: PRICE, uniqueName: true'></span></td>
                                    @*<td class="a"><span><input id="PRICE" name="PRICE" type="number" min="0" step="0.1" class="required number input-oth a" data-bind='value: PRICE'></span></td>*@
                                    <td class="a"><span><input id="EXTENDED" name="EXTENDED" type="number" min="0" step="0.1" class="required number input-oth a" data-bind='value: EXTENDED'></span></td>
                                    <td class="a"><span><input id="BILLABLE" name="BILLABLE" type="checkbox" data-bind="checked:BILLABLE"></span></td>
                                    <td ><a data-bind='click: $root.removeItem, visible: STATUSREQ =="Request" '  class="button-ext"><i class="fa fa-eraser"></i></a></td>

                                </tr>
                            </tbody>
                        </table>
                        <button type="submit" id="saveMaterialInfo" class="hidden"></button>


                    </form>
                    <div id="addButton">
                        <span id="addButtonModal" data-bind="click: materialSaveAllChanges" class="button-extbottom">@Html.Raw(assetInfo.btnLabel_text13)</span>
                        <a href="#" class="button-extbottom"><span>@Html.Raw(assetInfo.btnLabel_text12)</span></a>
                    </div>

                </div>
            <div class="flex-item-1 flex-field-container">
                <a href="#close" title="Close" class="close"></a>
                <br />
                <div class="flex-item-2">
                    <input type="hidden" name="actionButton" id="actionButton">
                     <input type="hidden" name="pageNum" id="pageNum1">
                    <input type="hidden" name="pageCount" id="pageCount1">
                    <ul class="align-left">
                        <li class="fc-grey">
                            &nbsp;&nbsp;&nbsp;<input data-bind="event: { change: pageLoader1 } " type="search" placeholder="search anything" id="txtGlobalSearchOth1" />
                            &nbsp;&nbsp;&nbsp;
                            <a data-bind="click: pageLoader1" href="#" class="button" id="priorPage1"><i class="fa fa-chevron-circle-left"></i></a>
                            <a data-bind="click: pageLoader1" href="#" class="page" id="page11"><span id="loadNumber1">@Html.Raw(home_index.resx280)</span></a>
                            &nbsp;<strong id="pageSeparator1">@Html.Raw(home_index.resx144)</strong>&nbsp;
                            <a data-bind="click: pageLoader1" href="#" class="page" id="page21"><span id="totNumber1">@Html.Raw(home_index.resx281)</span></a>
                            <a data-bind="click: pageLoader1" href="#" class="button" id="nextPage1"><i class="fa fa-chevron-circle-right"></i></a>
                        </li>

                    </ul>
                </div>

                <div class="flex-item-1 flex-field-container field-list align-left" id="searchResultPartsOnhand">
                    <h2 id="noresult1" style="color:red;">@Html.Raw(home_index.resx145)</h2>
                    <ul>
                        <li><i></i>&nbsp;</li>
                    </ul>
                </div>
                <br />

            </div>
            <!-- /ko -->

        </div>
        <div id="openModalLookup" class="modalwidth5">
            <input type="hidden" name="LOVBYACION" id="LOVBYACION">
            <div>
                <a href="#" title="Close" class="close">X</a>
                <br />
                <div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="lookUpTitle" class="fc-slate-blue fs-large-strong">@Html.Raw(assetInfo.pLabel_text3)</span></p>
                </div>
                <div class="flex-item-2">

                    <ul class="align-left">
                        <li class="fc-grey">
                            &nbsp;&nbsp;&nbsp;<input type="search" placeholder="search anything" id="lookUptxtGlobalSearchOth" data-bind="event: { change: infoLovLoader }" />
                            &nbsp;<a class="fc-slate-blue fa fa-search fa-lg searhButton searchAsset" title="Search"></a>
                                  <span class="fc-slate-blue fs-medium-strong" style="float:right; margin-right:20px;" id="searchAllLOVList" data-bind="click: supplierSearch"><i class="fc-slate-blue fa fa-bars"></i>&nbsp;@Html.Raw(home_index.resx855)</span>

                        </li>

                    </ul>
                </div>
                <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchResultLookUp">

                    <ul>
                        <li><i></i>&nbsp;</li>

                    </ul>
                    <h2 id="lookUpnoresult" style="color:red;">@Html.Raw(home_index.resx145)</h2>
                    <br />

                    <span class="fc-slate-blue fs-large-strong" style="vertical-align:middle" id="searchingLOVList"><i class="fc-slate-blue fs-large-strong fa fa-cog fa-spin"> </i> @Html.Raw(home_index.resx856)...</span>


                </div>

            </div>

        </div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">
                    <input type="hidden" name="AM_WORKORDER_LABOUR_ID" id="AM_WORKORDER_LABOUR_ID">
                    <input type="hidden" name="REQ_NO" id="REQ_NO">
                    <input type="hidden" name="LOVACTION" id="LOVACTION">
                    <input type="hidden" name="ASSET_NO" id="ASSET_NO">
                    <input type="hidden" name="EMPLOYEE" id="EMPLOYEE">
                    <input type="hidden" name="CONTRACT_NO" id="CONTRACT_NO">
                    <input type="hidden" name="SUPPLIER_ID" id="SUPPLIER_ID">
                    <label for="LABOUR_TYPE">@Html.Raw(workOrderLabour.input_text1):</label>
                    <select class="border-search" id="LABOUR_TYPE" name="LABOUR_TYPE" required="required" data-bind="event: { change: woLabourAction }">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="In House">@Html.Raw(workOrderLabour.input_text2)</option>
                        <option value="Contract Service">@Html.Raw(workOrderLabour.input_text3)</option>
                        <option value="Non-Contract Service">@Html.Raw(workOrderLabour.input_text4)</option>
                    </select>

                    <label data-bind="visible:optEmployee" for="EMPLOYEE_NAME">@Html.Raw(workOrderLabour.input_text5):</label>
                   
                    <input  data-bind="visible:optEmployee"type="text" name="EMPLOYEE_NAME" id="EMPLOYEE_NAME" placeholder="" disabled="disabled" style="pointer-events: none;">&nbsp;<a id="searchStaffId" data-bind="click: infoLovLoader" class="fc-slate-blue fa fa-search fa-lg" href="#openModal" title="Search Staff List"></a>
                    <label data-bind="visible:optContract" for="CONTRACT_NAME">@Html.Raw(home_index.resx255)</label>
                    <input data-bind="visible:optContract" type="text" name="CONTRACT_NAME" id="CONTRACT_NAME" placeholder="" disabled="disabled" style="pointer-events: none;">&nbsp;<a id="searchContract" data-bind="click: searchrefTypeList" class="fc-slate-blue fa fa-search fa-lg" href="#openModal" title="Search Contract List"></a>
                    <label data-bind="visible:optSupplier" for="SUPPLIER_NAME">@Html.Raw(home_index.resx159)</label>
                    <input data-bind="visible:optSupplier" type="text" name="SUPPLIER_NAME" id="SUPPLIER_NAME" placeholder="" disabled="disabled" style="pointer-events: none;">&nbsp;<a id="searchSupplierId" data-bind="click: infoLovLoader" class="fc-slate-blue fa fa-search fa-lg" href="#openModal" title="Search Supplier List"></a>
                    <label for="RESPONSE">@Html.Raw(workOrderLabour.input_text6):</label>
                    <select class="border-search" id="RESPONSE" name="RESPONSE">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                      
                    </select><br />
                  @*  <textarea name="RESPONSE" id="RESPONSE" placeholder="" required="required"></textarea> <br />*@
                    <label for="LABOUR_ACTION">@Html.Raw(workOrderLabour.input_text7):</label>
                    <textarea name="LABOUR_ACTION" id="LABOUR_ACTION" placeholder="" required="required"></textarea> <br />


                </div>

                <div class="flex-item-1 flex-field-container">
                    <label for="LABOUR_DATE">@Html.Raw(workOrderLabour.input_text9) (dd/mm/yyyy hh:mm):</label>
                    <input type="text" name="LABOUR_DATE" id="LABOUR_DATE" placeholder="" required="required" pattern="^(((0[1-9]|[12]\d|3[01])[\/\.-](0[13578]|1[02])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|[12]\d|30)[\/\.-](0[13456789]|1[012])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|1\d|2[0-8])[\/\.-](02)[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((29)[\/\.-](02)[\/\.-]((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])))$"><br />
                    @*<input class="datefield tcal" data-isdate="true" data-val="true" type="text" name="LABOUR_DATE" id="LABOUR_DATE" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"><br />*@
                    <label for="FLAT_FEE">@Html.Raw(workOrderLabour.input_text16):</label>
                    <select class="border-search" id="FLAT_FEE" name="FLAT_FEE" data-bind="event: { change: flagFeeOnChange }">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />
                    <label for="HOURS">@Html.Raw(workOrderLabour.input_text8):</label>
                    <input type="number" step="0.1" min ="0"name="HOURS" id="HOURS" placeholder="" required="required"><br />
                    
                    
                    <label for="LABOUR_RATE">@Html.Raw(workOrderLabour.input_text10):</label>
                                        <input type="number" step="0.1" min ="0" class="view-mode" name="LABOUR_RATE" id="LABOUR_RATE" placeholder="" required="required"><br />

                    <label for="BILLABLE">@Html.Raw(workOrderLabour.input_text11):</label>
                    <select class="border-search" id="BILLABLE" name="BILLABLE">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)
                        </option>
                        <option value="Y">@Html.Raw(pmSchedule.input_label_text8)</option>
                        <option value="N">@Html.Raw(pmSchedule.input_label_text9)</option>
                    </select><br />
                    
                    
                    @*<label for="LABOUR_COST">@Html.Raw(workOrderLabour.input_text12):</label>
                    <input type="number" step="0.1" min ="0" class="view-mode" name="LABOUR_COST" id="LABOUR_COST" placeholder=""><br />*@

                    <label for="TRAVEL">@Html.Raw(workOrderLabour.input_text13):</label>
                    <select class="border-search" id="TRAVEL" name="TRAVEL">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="LABOUR">@Html.Raw(workOrderLabour.input_text14)</option>
                        <option value="TRAVEL">@Html.Raw(workOrderLabour.input_text15)</option>
                    </select><br />

                    
                    <label for="LABOUR_CHARGE">Charge:</label>
                    <input type="number" step="0.1" min="0" class="view-mode" name="LABOUR_CHARGE" id="LABOUR_CHARGE" placeholder=""><br />
                    <label for="TOTAL_COST">Total Charge</label>
                    <input type="number" step="0.1" min="0" class="view-mode" name="TOTAL_COST" id="TOTAL_COST" placeholder="" readonly><br />
                </div>
                <div class="flex-item-1 flex-field-container">

                    <label for="REQ_ID">@Html.Raw(workOrderLabour.input_text17):</label>
					<input type="text" name="REQ_ID" id="REQ_ID" placeholder="" class="disable-mode" disabled="disabled"><br />

                    <label for="REQ_BY">@Html.Raw(workOrderLabour.input_text18):</label>
                    <input type="text" name="REQ_BY" id="REQ_BY" class="disable-mode" placeholder="" disabled="disabled"><br />

                    <label for="REQUESTER_CONTACT_NO">@Html.Raw(workOrderLabour.input_text19):</label>
                    <input type="text" name="REQUESTER_CONTACT_NO" class="disable-mode" id="REQUESTER_CONTACT_NO" placeholder="" disabled="disabled"><br />

                    <label for="REQ_DATE">@Html.Raw(workOrderLabour.input_text20):</label>
                    <input type="text" name="REQ_DATE" id="REQ_DATE" class="disable-mode" placeholder="" pattern="^(((0[1-9]|[12]\d|3[01])[\/\.-](0[13578]|1[02])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|[12]\d|30)[\/\.-](0[13456789]|1[012])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|1\d|2[0-8])[\/\.-](02)[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((29)[\/\.-](02)[\/\.-]((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])))$" disabled="disabled"><br />

                    <label for="REQ_TYPE">@Html.Raw(workOrderLabour.input_text21):</label>
                    <input type="text" name="REQ_TYPE" id="REQ_TYPE" class="disable-mode" placeholder="" disabled="disabled"><br />

                    <label for="PROBLEM">@Html.Raw(workOrderLabour.input_text22):</label>
                    <textarea name="PROBLEM" id="PROBLEM" class="disable-mode" placeholder="" disabled="disabled"></textarea> <br />

                    <label for="WO_STATUS">@Html.Raw(workOrderLabour.input_text23):</label>
                    <input type="text" name="WO_STATUS" id="WO_STATUS" class="disable-mode" placeholder="" disabled="disabled"><br />
                </div>
            </div>
            
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(workOrderLabour.homeMessage_text1)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(workOrderLabour.homeMessage_text2)/li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(workOrderLabour.homeMessage_text3)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx258)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36)<span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38)<span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40)<span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(workOrderLabour.txtInfo_text1)',
                    errorTwo: '@Html.Raw(workOrderLabour.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(workOrderLabour.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(workOrderLabour.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(workOrderLabour.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(workOrderLabour.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(workOrderLabour.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(workOrderLabour.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(workOrderLabour.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(workOrderLabour.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(workOrderLabour.txtInfo_text11)',
                    searchModeStatusText: '@Html.Raw(workOrderLabour.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(workOrderLabour.txtInfo_text13)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx42)',
                        employee: '@Html.Raw(home_index.resx259)',
                        response: '@Html.Raw(home_index.resx260)',
                        availableStock: '@Html.Raw(home_index.resx261)',
                        storeDesc: '@Html.Raw(home_index.resx63)',
                        contactNo: '@Html.Raw(othresource.resx_contactno)',
                        emailAdd: '@Html.Raw(home_index.resx262)',
                        actionInfo: '@Html.Raw(home_index.resx263)',
                        partCost: '@Html.Raw(home_index.resx438)',
                        responsible: 'Responsible'
                    }
                };

                var myViewModel = new amWorkOrderLabourViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );
        $("input[type='number']").keypress(function (e) {
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 100) && e.keyCode != 46) {
                e.preventDefault();
            }
        });
    </script>

</body>
</html>

