﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>Patient Image Loader</title>
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="~/Content/imageLoader.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />

    <script src="/Scripts/resize.js"></script>
    <script src="/Scripts/ckeditor.js"></script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/scandoc_imageLoader.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a href="/menuApps"><i class="fa fa-list"></i>Menu&nbsp;</a></li>
                    <li class="fc-white"><a href="/order/orderEntry">Image Loader&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">Gaspar</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-5">
                <ul class="align-left">
                    <li class="liSaveAll fc-slate-blue"><a class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="/patient/index" title="Cancel changes, return to home page"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">Search A Patient&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: uploadNewImages" class="liRecord toolbarbutton fs-large-normal" href="#" title="Upload new Images"><i class="fa fa-file-image-o"></i>&nbsp;<span class="btn-text fs-medium-normal">Upload New Images</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: savePatientImages" class="liRecord toolbarbutton fs-large-normal" href="#"  title="Save the Images"><i class="fa fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">Save</span>&nbsp;&nbsp;</a></li>

                </ul>
            </div>

        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <div class="flex-container flex-wrap">

            <div class="flex-item-1 flex-field-container">


                <br />
                <div id="summaryList">
                    <ul>
                        <li>
                            <p class="fs-medium-normal"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Patient Information</p>
                            <span class="summary-row-label">Patient ID: <span class="summary-row-data PATIENT_ID" id="PATIENT_ID">-</span></span>
                            <span class="summary-row-label">Patient Name: <span class="summary-row-data" id="FIRST_NAME">-</span>&nbsp;<span class="summary-row-data" id="LAST_NAME">-</span></span>
                            <span class="summary-row-label">DOB: <span class="summary-row-data">-</span> <span class="summary-row-data PATDOB">-</span></span>

                            <span class="summary-row-label">Gender: <span class="summary-row-data" id="GENDER">-</span></span>
                            <span class="summary-row-label">Marital: <span class="summary-row-data" id="MARITAL_STATUS">-</span></span>
                            <span class="summary-row-label">Contact: <span class="summary-row-data" id="CONTACT_PRIMARY">-</span></span>


                        </li>


                    </ul>
                </div>

            </div>
            <div class="flex-item-1 flex-field-container field-visitlist">


                <br />
                <div id="summaryCategoryList">
                    <ul>
                        <li>
                            <p class="fs-medium-normal fc-slate-blue"><i class="fa fa-calendar "></i>&nbsp;&nbsp;Loaded Images List</p>
                            <div class="summary-row-divider transaction-list align-left ">

                                <ul>
                                    <li>
                                        <span class="summary-row-label"> <span class="summary-row-data" id="HEIGHT">-</span></span>
                                    </li>
                                </ul>
                            </div>


                        </li>


                    </ul>
                </div>

            </div>

            <br />

            
            <div class="flex-item-3 flex-field-container field-list align-left" id="orderform">               
                                   
                    <form id="frmCategory">
                        <div class="flex-container flex-wrap">
                            <div class="flex-item-1 flex-field-container">
                                <label for="CATEGORY"></label>
                                
                            </div>
                            <div class="flex-item-1 flex-field-container" >
                            </div>
                            <div class="flex-item-1 flex-field-container">
                                <input type="file" accept="image/jpeg, image/png" multiple id="imageInfo" />
                                <select class="border-search" id="CATEGORY" name="CATEGORY" required="required" title="Image Category">
                                    <option value="" selected="selected">- select category -</option>
                                    <option value="Consultation">Consultation</option>
                                    <option value="Laboratory">Laboratory</option>
                                    <option value="Medical Report">Medical Report</option>
                                    <option value="Radiology">Radiology</option>
                                    <option value="Medication">Medication</option>
                                    <option value="Patient Registration">Patient Registration</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            
                        </div>
                        <button type="submit" id="savePatientImages" class="hidden"></button>
                    </form>
                     
               
                <div class="flex-item-1 flex-field-container field-list align-left" id="imageToLoad">
                    <p class="fs-medium-normal fc-slate-blue tabHeader"><i class=""></i>&nbsp;&nbsp;</p>
                    <div class="summary-row-divider imageInfo align-left " data-bind="click: imageDisplay">
                        <ul>
                            <li>

                            </li>
                        </ul>
                    </div>
                </div>
                <br /><br />

            </div>



        </div>
        <br />
        <br />
        <br />
    </div>


    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">
        
        $(document).ready(


            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: 'There seems to ba a problem in the system. We will now redirect you to the logon page to avoid further issues.\n\r" {0} "\n\rSorry for the inconvenience.',
                    errorTwo: 'Server not available, please try again later',
                    updateModeHeaderTimeStamps: 'Update Patient Timings Information',
                    updateModeSubHeaderTimeStamps: 'Please provide all required timestamp information before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    updateModeHeaderVitals: 'Update Patient Vital Signs Information',
                    updateModeSubHeaderVitals: 'Please provide all required vital-signs information before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    updateModeHeaderAssessment: 'Update Patient Assessment Information',
                    updateModeSubHeaderAssessment: 'Please provide all required assessment information before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    updateModeHeaderAlerts: 'Update Patient Alerts Information',
                    updateModeSubHeaderAlerts: 'Please provide all important alerts before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    saveModeStatusText: 'Please wait while saving . . .',
                    saveSuccessMessage: 'Record Successfully Saved!',
                    readModeStatusText: 'Please wait while getting patient triage information . . .',
                    displayModeHeader: 'Patient Triage Information',
                    displayModeSubHeader: 'Click the <i class=" fa fa-edit"></i>edit button to modify Patient Assessment details',
                    searchModeStatusText: 'Please wait while searching . . .',
                    searchModeHeader: "Patient booking search results for '{0}'. {1} Items found.",
                    searchModeLabels: {

                        clinicName: 'Clinic',
                        doctorName: 'Doctor',
                        apptDate: 'Appointment',
                        arrivalTime: 'Arrival Time',
                        triageTime: 'Triage Time',
                        outcome: 'Outcome'
                    },
                    alertListLabels: {
                        ICDCode: 'ICD Code',
                        ICDRevision: 'ICD Revision',
                        Description: 'Description',
                    },
                    vaitalsListLabels: {
                        weight: 'Weight',
                        height: 'Height',
                        temperature: 'Temperature',
                        pulseRate: 'Pulse Rate',
                        bloodPressure: 'Blood Pressure',
                    }
                };

                var myViewModel = new imageLoaderViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>
</body>
</html>


