﻿@using Resources;
@{Layout = null;}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    @*<script src="/Scripts/jquery-3.0.0.min.js"></script>*@
    <script src='/Scripts/sketch.js'></script>
    <script src='/Scripts/scandoc_imageSketch.js'></script>
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="/Content/doctor.css" rel="stylesheet" />
    <link href="/Content/imageSketch.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="/Scripts/resize.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>

    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a href="/menuApps"><i class="fa fa-list"></i>Menu&nbsp;</a></li>
                    <li class="fc-white"><a href="/order/orderEntry">Image Sketch&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">Developer</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-1">
                <ul class="align-left">
                    <li class="liSaveAll fc-slate-blue"><a class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="/patient/patientConsultation" title="Cancel changes, return to home page"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">Patient Consultation&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a></li>
                    
                </ul>
            </div>
            <div class="toolbox-right flex-item-1">
                <ul class="align-right">
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: newSkecthImage" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">Sketch New Image</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">Save</span>&nbsp;&nbsp;</a></li>
                </ul>
            </div>

        </div>
    </header>
    <div class="field-content-detail">
      
     
        <div class="flex-container flex-wrap">

            <div class="flex-item-1 flex-field-container">


                <br />
                <div id="summaryList">
                    <ul>
                        <li>
                            <p class="fs-medium-normal"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Appointment Summary</p>
                            <span class="summary-row-label">Patient ID: <span class="summary-row-data" id="PATIENT_ID">-</span></span>
                            <span class="summary-row-label">Patient Name: <span class="summary-row-data" id="PATIENT_FIRST_NAME">-</span>&nbsp;<span class="summary-row-data" id="PATIENT_LAST_NAME">-</span></span>
                            <span class="summary-row-label">Clinic: <span class="summary-row-data" id="CLINIC_DESCRIPTION">-</span></span>
                            <span class="summary-row-label">Physician: <span class="summary-row-data" id="STAFF_FIRST_NAME">-</span>&nbsp;<span class="summary-row-data" id="STAFF_LAST_NAME">-</span></span>
                            <span class="summary-row-label">Appointment Schedule: <span class="summary-row-data" data-isdatetime="true" id="APPOINTMENT_DATETIME">-</span></span>
                           
                        </li>


                    </ul>
                </div>
               

            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="flex-item-1 flex-field-container align-left">
                                 

                 
                 <br />
                 <p class="fs-medium-normal"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Loaded Images</p>
                 <div class="summary-row-divider imagestemplate-list align-left ">

                     <ul>
                         <li>
                             <a data-bind="click: readImage" href="#" id="imageTemplate1"><img src="~/images/image1.png" alt="" height="80" width="80"></a>
                         </li>
                     </ul>
                 </div>
                 
             </div>
            <div class="flex-item-4 flex-field-container newSketch">

                <div>

                    
                    <div class='demo' id='colors_demo'>
                        <div class='tools'>
                            <a href='#colors_sketch' data-tool='marker'>Marker</a>
                            <a href='#colors_sketch' data-tool='eraser'>Eraser</a>
                        </div>
                        <input type="file" accept="image/jpeg, image/png" multiple id="imageInfo" data-bind="event: { change: loadImages }" />
                    </div>
                    <div class='demo' id='colors_demo'>   
                        <ul>
                            <li>
                                <canvas id="colors_sketch" width="600" height="500" style="background: url(); background-repeat: no-repeat; background-size: 80px 80px; background-repeat: no-repeat;"></canvas>
                            </li>
                        </ul>
                    </div>
                    <br />
                    <br />
                </div>
                <br />
            </div>
            
            <div class="flex-item-4 flex-field-container displayImages">
                <br />
                <br />
                <img id="imgCapture" alt="" style="display:none;border:1px solid #ccc;" />
            </div>
            <br />
            



        </div>
        <br />
        <br />
        <br />
    </div>
    


    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">


        $(function () {
            $.each(['#f00', '#ff0', '#0f0', '#0ff', '#00f', '#f0f', '#000', '#fff'], function () {
                $('#colors_demo .tools').append("<a href='#colors_sketch' data-color='" + this + "' style='width: 10px; background: " + this + ";'></a> ");
            });
            $.each([3, 5, 10, 15], function () {
                $('#colors_demo .tools').append("<a href='#colors_sketch' data-size='" + this + "' style='background: #ccc'>" + this + "</a> ");
            });
           // $('#colors_sketch').sketch();
           
   
        });

        $(document).ready(


            function () {
                
                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: 'There seems to ba a problem in the system. We will now redirect you to the logon page to avoid further issues.\n\r" {0} "\n\rSorry for the inconvenience.',
                    errorTwo: 'Server not available, please try again later',
                    updateModeHeaderTimeStamps: 'Update Patient Timings Information',
                    updateModeSubHeaderTimeStamps: 'Please provide all required timestamp information before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    updateModeHeaderVitals: 'Update Patient Vital Signs Information',
                    updateModeSubHeaderVitals: 'Please provide all required vital-signs information before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    updateModeHeaderAssessment: 'Update Patient Assessment Information',
                    updateModeSubHeaderAssessment: 'Please provide all required assessment information before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    updateModeHeaderAlerts: 'Update Patient Alerts Information',
                    updateModeSubHeaderAlerts: 'Please provide all important alerts before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    saveModeStatusText: 'Please wait while saving . . .',
                    saveSuccessMessage: 'Record Successfully Saved!',
                    readModeStatusText: 'Please wait while getting patient triage information . . .',
                    displayModeHeader: 'Patient Triage Information',
                    displayModeSubHeader: 'Click the <i class=" fa fa-edit"></i>edit button to modify Patient Assessment details',
                    searchModeStatusText: 'Please wait while searching . . .',
                    searchModeHeader: "Patient booking search results for '{0}'. {1} Items found.",
                    searchModeLabels: {

                        clinicName: 'Clinic',
                        doctorName: 'Doctor',
                        apptDate: 'Appointment',
                        arrivalTime: 'Arrival Time',
                        triageTime: 'Triage Time',
                        outcome: 'Outcome'
                    },
                    alertListLabels: {
                        ICDCode: 'ICD Code',
                        ICDRevision: 'ICD Revision',
                        Description: 'Description',
                    },
                    vaitalsListLabels: {
                        weight: 'Weight',
                        height: 'Height',
                        temperature: 'Temperature',
                        pulseRate: 'Pulse Rate',
                        bloodPressure: 'Blood Pressure',
                    }
                };

                var myViewModel = new imageSketchViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );


    </script>
  
</body>


</html>
