﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>BSAIMS - Document Explore</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="~/Content/imageLoader.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="/Scripts/resize.js"></script>
    <link href="/Content/modalAlert.css" rel="stylesheet" />
    <script src="/Scripts/ckeditor.js"></script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/uploaddocumentexploreV3.js"></script>
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="~/Scripts/tiff.min.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>Menu&nbsp;</a></li>
                    <li class="fc-white"><a href="">Document Explore&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">Gaspar</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">

            <div class="toolbox-right flex-item-1">
                <ul class="align-right">
                    <li><div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div></li>
                    <li class="liNew fc-slate-blue" id="addButtonId"><a data-bind="click: newUpload" class="liRecord toolbarbutton fs-large-normal" href="#" title="Upload new Document"><i class="fa fa-file-image-o"></i>&nbsp;<span class="btn-text fs-medium-normal">Upload new Document</span>&nbsp;&nbsp;</a></li>
                    <li class="liDelete fc-slate-blue" id="modifyButtonId"><a data-bind="click: alertMessage" class="liRecord toolbarbutton fs-large-normal" href="#" title="Click to Remove Image"><i class="fa fa-eraser"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(images.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(staffGroups.toolbox_left_ul_li_status_text_text)</span></li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="@Html.Raw(staffGroups.toolbox_rightul_li_txtGlobalSearch_text)" id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>

        </div>
    </header>

    <div class="field-content-detail">
        <div class="divProgressScreen"></div>

        @*<div class="divInfo">@Html.Raw(pmSchedule.pLabel_text1): &nbsp;<span class="fs-medium-normal" id="infoID"></span></div>*@

        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <div id="openModalAlert" class="modalAlert">

            <div>
                <div class="modalAlert-content">
                    <div class="modalAlert-header">
                        @* <span class="close">&times;</span>*@
                        <h2>@Html.Raw(assetInfo.pLabel_text1)</h2>
                    </div>
                    <div class="modalAlert-body">
                        <br />
                        <p id="alertmessage">@Html.Raw(assetInfo.pLabel_text2)</p>
                        <br />
                    </div>
                    <div class="modalAlert-footer">
                        <a href="#" data-bind="click: deleteFileNow" class="button-ext" id="addxButton"><span>Yes</span></a>
                        <a href="#" data-bind="click: closeAlertModal" class="button-ext" id="addxButton"><span>No</span></a>
                    </div>
                </div>


            </div>

        </div>


        <div id="openModalUpload" class="modalwidth3">

            <div>
                <div class="">
                    <div class="flex-item-2">
                        <br />

                        <form id="frmCategory" data-bind="submit: saveAllFiles" style="margin-top: 0; margin-left:10px; text-align:left;">
                            <div class="flex-container flex-wrap">
                                <div class="flex-item-1" style="flex:none;margin-left:10px; text-align:left;">
                                    <div class="flex-container flex-wrap">
                                        <div class="flex-item-1 flex-field-container">
                                            <label for="SEARCHKEY">Document Category:</label>

                                            <select class="border-search" id="DOCCATEGORY" name="DOCCATEGORY" data-bind=" event:{ change: searchCriteria}" required="required">
                                                <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                            </select><br />
                                        </div>
                                        <div class="flex-item-1 flex-field-container">
                                            <label for="SEARCHKEY">Search Keyword:</label>
                                            <input type="text" name="SEARCHKEY" id="SEARCHKEY" placeholder="" required="required"><br />
                                        </div>
                                        <div class="flex-item-1 flex-field-container">

                                        </div>
                                    </div>


                                    <div class="flex-container flex-wrap">

                                        <div class="flex-item-1 flex-field-container">
                                            <label for="DEVICETYPECODE">Device:</label>
                                            <select class="border-search" id="DEVICETYPECODE" name="DEVICETYPECODE" data-bind=" event:{ change: DeviceChanged}" required="required">
                                                <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                            </select><br />

                                        </div>
                                        <div class="flex-item-1 flex-field-container">
                                            <label for="MANUFACTURERCODE">Manufacturer:</label>
                                            <select class="border-search" id="MANUFACTURERCODE" name="MANUFACTURERCODE" data-bind=" event:{ change: ManufacturerChanged}" required="required">
                                                <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                            </select><br />

                                        </div>
                                        <div class="flex-item-1 flex-field-container">
                                            <label for="MODELCODE">Model:</label>

                                            <select class="border-search" id="MODELCODE" name="MODELCODE" data-bind=" event:{ change: searchCriteria}" required="required">
                                                <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                            </select><br />

                                        </div>
                                    </div>

                                </div>

                                <div class="flex-item-1 flex-field-container align-left">
                                    <br />
                                    <p class="fs-medium-strong fc-green  tabHeader" data-bind="visible: FilesExist().length > 0"><i class=""></i>&nbsp;&nbsp;File's with Record No: <span ><strong data-bind="text: FileDetail.RecordNo"></strong> is already available in the Library. </span></p>
                                    <p class="fs-medium-strong fc-red tabHeader" data-bind="visible: FilesExist().length > 0">&nbsp;&nbsp;New upload file's will automatically add to this record no.</p>
                                    <ul data-bind="foreach: FilesExist">
                                        <li>
                                            <p class="fs-medium-normal fc-slate-blue">  &nbsp;&nbsp;<span data-bind="text: FILENAME"></span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;size:  <span data-bind="text: FILESIZE"></span>  KB </p>
                                        </li>
                                    </ul>


                                </div>

                                <div class="flex-item-1 flex-field-container">
                                    <br />
                                    <h2 id="uploadTitle">Upload PDF File</h2>
                                    <input type="hidden" name="SAVEACTION" id="SAVEACTION">
                                    <input style="height:50px;" type="file" id="uploadedInfo" name="uploadedInfo"
                                           accept=".doc, .docx, .dot, .pdf, .txt, .cvs, .xls, .xlsx, .xlw, .bmp, .gif, .pps, .ppsx, .ppt, .pptx, .tif, .dwg, image/*" />
                                </div>

                            </div>
                            <button type="submit" id="saveAllFiles" class="hidden"></button>
                        </form>


                        <div class="flex-item-1 flex-field-container align-left">
                            <br />
                            <p class="fs-medium-normal fc-slate-blue tabHeader"><i class=""></i>&nbsp;&nbsp;</p>
                            <ul data-bind="foreach: ToUploadFilesArray">
                                <li>
                                    <p class="fs-medium-normal fc-slate-blue"> <i class="fa fa-trash" style="color:red;" data-bind="click: $parent.deleteUploadFile"></i> &nbsp;&nbsp;<span data-bind="text: FILENAME"></span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;size:  <span data-bind="text: FILESIZE"></span>  KB </p>
                                </li>
                            </ul>
                         

                        </div>

                    </div>

                    <div id="addButton">
                        <a data-bind="click: triggerSaveFiles" class="button-extbottom liSaveAll" href="#" title="Save the Images"><i class="fa fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(assetInfo.btnLabel_text10)</span>&nbsp;&nbsp;</a>
                        <a href="#" data-bind="click: cancelChangesModal" class="button-extbottom"><span>Cancel</span></a>
                    </div>

                </div>


            </div>

        </div>

        <div class="flex-container flex-wrap" style="padding: 40px 20px; background-color:white;">
            <div class="flex-item-4 flex-field-container defaultPicture" style="background-image: url('/images/document.jpeg'); background-repeat: no-repeat; margin-right:20px;">

            </div>
            <div class="flex-item-4 flex-field-container iFrame">
                <div style="padding: 0 10px" id="middle-panel">
                    <label style="float: left;" id="iFrameName">No file.</label>
                    <label class="liDeleteFile" style="float: right;" data-bind="click: closeIframe">&nbsp;&nbsp;|&nbsp;&nbsp;<span style="float: right; "><i class="fa fa-times"></i> &nbsp;Close&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
                    <label class="liDeleteFile" style="float: right;" data-bind="click: deleteFile">&nbsp;&nbsp;|&nbsp;&nbsp;<span style="float: right; color:red"><i class="fa fa-trash"></i> &nbsp;Delete&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
                    <a style="float: right" class="search-row-data fc-slate-blue" href="javascript:;" target="_blank" id="iFrameNewTab">Full View &nbsp;&nbsp;</a>
                    <iframe id="iFrame" src="~/images/counter2.gif" width='100%' allowfullscreen webkitallowfullscreen style="background-color:white;"></iframe>
                </div>
            </div>

           
            <div class="flex-item-1 flex-field-container documentList">
                <br />
                <br />
                <div id="searchDocumentList" class="scroll style-2 " style="height:650px; background-color:white;">
                    <h1 class="fs-medium-strong fc-slate-blue">File Name</h1>
                    <ul>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
            <div  class="flex-item-2 flex-field-container " >
                <h1 id="searchResultSummary" class="fs-large-normal fc-slate-blue">Document Explorer Result</h1>
                <br />
                <div id="searchResultList" class="scroll style-2 " style="height:650px; background-color:white;">
                    <ul class=" ">
                        <li>
                            <a href="#" class="fs-medium-normal"></a>
                            <span class="searchRowLabel1 searchRowLabel">Short Description: <span class="searchRowData"></span></span>
                            <span class="searchRowLabel2 searchRowLabel">Description: <span class="searchRowData"></span></span>
                            <span class="searchRowLabel3 searchRowLabel">Other Description: <span class="searchRowData"></span></span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <br />
        <br />
        <br />
    </div>


    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">

        $(document).ready(


            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(images.txtInfo_text1)',
                    errorTwo: '@Html.Raw(images.txtInfo_text2)',
                    updateModeHeaderTimeStamps: '@Html.Raw(images.txtInfo_text3)',
                    updateModeSubHeaderTimeStamps: '@Html.Raw(images.txtInfo_text4)',
                    updateModeHeaderVitals: '@Html.Raw(images.txtInfo_text5)',
                    updateModeSubHeaderVitals: '@Html.Raw(images.txtInfo_text6)',
                    updateModeHeaderAssessment: '@Html.Raw(images.txtInfo_text7)',
                    updateModeSubHeaderAssessment: '@Html.Raw(images.txtInfo_text8)',
                    updateModeHeaderAlerts: '@Html.Raw(images.txtInfo_text9)',
                    updateModeSubHeaderAlerts: '@Html.Raw(images.txtInfo_text10)',
                    saveModeStatusText: '@Html.Raw(images.txtInfo_text11)',
                    saveSuccessMessage: '@Html.Raw(images.txtInfo_text12)',
                    deleteSuccessMessage: '@Html.Raw(images.txtInfo_text13)',
                    readModeStatusText: '@Html.Raw(images.txtInfo_text14)',
                    displayModeHeader: '@Html.Raw(images.txtInfo_text15)',
                    displayModeSubHeader: '@Html.Raw(images.txtInfo_text16)',
                    searchModeStatusText: '@Html.Raw(images.txtInfo_text17)',
                    searchModeHeader: "@Html.Raw(images.txtInfo_text18)",
                    searchModeLabels: {

                        docCategory: 'Category',
                        numberFile: 'No of File',
                        docNumber: 'Record No',
                        manufacturerDesc: 'Manufacturer',
                        searchKey: 'Search Key',
                        fileSize: 'File Size'
                    },
                 
                };

                var myViewModel = new imageDocumentExploreViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>
</body>
</html>


