﻿

/*custom properties*/

.helpCat {
	padding: 20px;
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 100px;
    height: 24px;
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
    padding: 20px;
}
.messageEntry {
	height: 36px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: none;
    color: #efefef;
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
    padding: 20px;
	width:600px;
	min-width:50px;
    height:90%;


}
form textarea {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 150px;
    color: #3c3c3c;
    width: 600px !important;
    min-width: 50px;
   
    
}

form textarea.textarea-extended {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 95px;
    color: #3c3c3c;    
    min-width: 50px;
    
}

textarea {
    resize:none;
}
