﻿
.ko-grid {
    margin-bottom: 1em;
    width: 25em;
    border: 1px solid silver;
    background-color: White;
}

    .ko-grid th {
        text-align: left;
        background-color: #246ca1;
        color: White;
    }

    .ko-grid td, th {
        padding: 0.4em;
    }

    .ko-grid tr:nth-child(odd) {
        background-color: #DDD;
    }

.ko-grid-pageLinks {
    margin-bottom: 1em;
    display: inline-flex;
}

    .ko-grid-pageLinks a {
        padding: 0.5em;
        text-decoration: underline;
    }
    .ko-grid-pageLinks span {
        margin-top: 6px;
        font-weight: bold;
        margin-right: 6px;
    }
    .ko-grid-pageLinks a.selected {
        background-color: #246ca1;
        color: White;
    }

/* Mobile Safari reflows pages slowly, so fix the height to avoid the need for reflows */

li {
    list-style-type: disc;
    margin-left: 20px;
}
