﻿
@media only screen and (min-width: 768px) {
    body {
        font-size: 12px;
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        background: white;
     
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}
@media only screen and (max-width:769px) {
    body {
        font-size: 12px;
        padding: 0px;
        margin: 0px;
        background: white;
        background-size: cover;
        height: 100%;
        min-height:100%;
        
        
    }
}

/*navigation bars*/
.nav-main {
    z-index: 2;
    top: 0px;
    height: 50px;
    background-color: #37aa4b;
    /*border-bottom: 1px solid #0c2130;*/
    width: 100%;
    margin:0px;

    position: fixed;
}

.nav-main > .nav-site-map {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 48px;
    min-width: 300px;
}

.nav-main ul{
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-main ul > li { 
    display: inline-block; 
}

.nav-main > .nav-user-info {
    padding-left: 20px;
    padding-right: 20px; 
    line-height: 48px;
    min-width: 350px;
}

.footer-main{
    z-index: 2;
    bottom: 0px;
    height: 40px;
    background-color: #37aa4b;
    color: #ffffff;
    /*border-top: 1px solid #808080;*/
    width: 100%;
    margin:0px;
    position: fixed;
    text-align: center;
    font-size: 11px;
}

.footer-main > p{
    line-height: 40px;
}
/*#region Button-Generic*/
.button {
    height: 36px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #05831b;
    border-radius: 5px;
    border: none;
    color: #efefef;
}

.button.button-block {
    width: 100%;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: #407ca8;
}
/*#endregion Button-Generic*/

.logon-div {
    margin: auto 50px;
    position: relative;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    border-radius: 20px;
    background-color: rgba(221, 247, 192, 0.22);
    /*#d5f7ce*/
    width: 330px;
    height: 98%;
    max-height: 530px;
    box-shadow: 0 5px 15px 1px #d5f7ce, 0 0 1px rgba(221, 247, 192, 0.22);
    /*#37aa4b; The Part which complete down part*/
}

.logon-main {
    margin-top: 20px;
    position: relative;
    top: 230px;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    background-color: #fff;
    width: 330px;
    height: 90%;
    border: 1px solid #126cae;
}
.fc-white {
    color: #ffffff;
    /*#ffffff;*/
}
.fc-darkcolor {
    color: #038018;
    /*#0b5202;*/
}
.fc-apps {
    color: #038018;
    font-weight: bold;
}
img{
    width:auto;
    position: relative;
}
.logon-main > form {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
}

#divSuccess > .notify-success {
    width: 250px;
}

#divLocalize {
    position: absolute;
    text-align: center;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 60px;
    margin: auto;
    font-size: 14px;
}

    #divLocalize > a {
        color: #05831b;
        /*#808080;*/
    }

#USER_ID, #PASSWORD {
    border-bottom: 2px solid #d5f7ce;
        /*#e4e4e4;*/
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    /*#efefef;*/
    font-size: 16px;
    height: 30px;
    width: 100%;
    text-align: center;
}

