﻿
@media only screen and (min-width: 768px) {
    body {
        font-size: 12px;
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        background: white;
       
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}


@media only screen and (max-width:769px) {
    body {
        font-size: 12px;
        padding: 0px;
        margin: 0px;
        background: white;
        background-size: cover;
        height: 100%;
        min-height:100%;
        
        
    }
}

/*navigation bars*/
.nav-main {
    z-index: 2;
    top: 0px;
    height: 50px;
    background-color: #d9a72e;
        /*#d49602;*/
    /*border-bottom: 1px solid #0c2130;*/
    width: 100%;
    margin: 0px;
    position: fixed;
}

.nav-main > .nav-site-map {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 48px;
    min-width: 300px;
}

.nav-main ul{
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-main ul > li { 
    display: inline-block; 
}

.nav-main > .nav-user-info {
    padding-left: 20px;
    padding-right: 20px; 
    line-height: 48px;
    min-width: 350px;
}

.footer-main {
    z-index: 2;
    bottom: 0px;
    height: 40px;
    background-color: #d49602;
    color: #ffffff;
    border-top: 1px solid #d49602;
    width: 100%;
    margin: 0px;
    position: fixed;
    text-align: center;
    font-size: 11px;
}

.footer-main > p{
    line-height: 40px;
}
/*#region Button-Generic*/
.button {
    height: 36px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #d49602;
    border-radius: 5px;
    border: none;
    color: #efefef;
}

.button.button-block {
    width: 100%;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: #407ca8;
}
/*#endregion Button-Generic*/

.logon-div {
    margin: auto;
    position: relative;
    top: 60px;   
    left: 0;
    bottom: 0;
    right: 0;
    padding-right:20px;
    border-radius: 20px;
    background-color: #f2f0f0;   
    width: 330px;
    height: 98%;
    max-height:530px;
    box-shadow: 
		0 5px 15px 1px #dcdcdc, 
		0 0 1px #dcdcdc;
   
}

.logon-main {
    margin-top: 60px;
    position: relative;
    top: 230px;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    background-color: #fff;
    width: 330px;
    height: 90%;
    border: 1px solid #126cae;
}
.fc-white {
    color: #ffffff;
}
.fc-darkcolor {
    color: #aa7a05;
        /*#0c2130*/    
}

.fc-apps {
    color: #aa7a05;
    /*#0c2130;*/
    font-weight: bold;
}
img{
    width:auto;
    position: relative;
}
.logon-main > form {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
}

#divSuccess > .notify-success {
    width: 250px;
}

#divLocalize {
    position: absolute;
    text-align: center;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 60px;
    margin: auto;
    font-size: 14px;
}
/*Arabic Note*/
    #divLocalize > a {
        color: #d49602;
    }

#USER_ID, #PASSWORD {
    border-bottom: 2px solid #e4e4e4;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    font-size: 16px;
    height: 30px;
    width: 100%;
    text-align: center;
}

