﻿


/*custom properties*/
#txtGlobalSearch {
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 200px;
    height: 24px;
}

#txtDateFrom {
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 100px;
    height: 24px;
}



#spanUser {
    text-transform: capitalize;
}

.hidden {
    display: none;
}

/*hyperlink properties*/
a{
    text-decoration: none;
    color: inherit;
}

a.toolbarbutton:visited{
    color: inherit;
}

a.toolbarbutton:active{
    color: #dcdcdc;
}

a.linkbutton:active{
    color: inherit;
}

/*#endregion Generic-Properties*/
/*border*/
.border-search {
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 200px;
    height: 24px;
}




/*#region Notification-divs*/
.notify-error {
    padding: 8px;
    border: 1px solid #ce8e8e;
    color: #ff0000;
    border-radius: 10px;
    background-color: #ffcece;
}

.notify-success {
    padding: 8px;
    border: 1px solid #46bd4c;
    color: #2e853a;
    border-radius: 10px;
    background-color: #b2ffbf;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 400px;
    text-align: center;
}
/*#endregion Notification-divs*/

/*#region Button-Generic*/
.button {
    height: 36px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #246ca1;
    border-radius: 5px;
    border: none;
    color: #efefef;
}

.button.button-block {
    width: 100%;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: #407ca8;
}
/*#endregion Button-Generic*/

/*#region Flexible-Box*/
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: stretch;
}

.flex-field-container {
    min-width: 50px;
}

.flex-field-container-1 {
    min-width: 50px;
    margin-left: 20px;
}

.flex-field-container-extended {
    min-width: 350px;
}

.flex-nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  
}  

.flex-item-0 {
    -webkit-box-flex: 0;
    -moz-box-flex:  0;
    -webkit-flex:  0;
    -ms-flex:  0;
    flex:  0;
}
.flex-item-1 {
    -webkit-box-flex: 1;
    -moz-box-flex:  1;
    -webkit-flex:  1;
    -ms-flex:  1;
    flex:  1;
}

.flex-item-2 {
    -webkit-box-flex: 2;
    -moz-box-flex:  2;
    -webkit-flex:  2;
    -ms-flex:  2;
    flex:  2;
}

.flex-item-3 {
    -webkit-box-flex: 3;
    -moz-box-flex:  3;
    -webkit-flex:  3;
    -ms-flex:  3;
    flex:  3;
}

.flex-item-4 {
    -webkit-box-flex: 4;
    -moz-box-flex:  4;
    -webkit-flex:  4;
    -ms-flex:  4;
    flex:  4;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    border-color: silver;
    padding-left: 10px;
    padding-right: 10px;
}
.extra-padding-1 {
    padding-left: 20px;
    padding-right: 20px;
}

.extra-padding-2 {
    padding-left: 40px;
    padding-right: 40px;
}
/*#endregion Flexible-Box*/

/*#region Header-Main-Footer*/


/*Main content*/
.field-content-detail {
    /*z-index: 0;
    width: 100%;*/   
    position: relative;
    margin-top: 90px;
}

.field-content-detail > form {
    padding-left: 60px;
    padding-right: 60px;
    color: #535353;
}

.field-content-detail > h1,  .field-content-detail > p{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
}

.field-content-detail > .divProgressScreen {
    
    position: fixed;
    top: 90px;
    left: 0px; 
    margin: 0px;
    height: 100%;
    width: 100%;

    z-index: 1;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
}

/*home content*/
.home-content-detail {
    position: relative;
    margin-top: 90px;
}

.home-content-detail > div {
    padding-left: 40px;
    padding-right: 40px;
}

.home-content-detail > div >  h1,  .home-content-detail > div > ul{
    margin-bottom: 5px;
}

/*search content*/
.search-content-detail {
    position: relative;
    margin-top: 90px;
}

.search-content-detail > div {
    padding-left: 40px;
    padding-right: 40px;
}

.search-content-detail > div >  h1,  .search-content-detail > div > ul{
    margin-bottom: 5px;
}

#searchDateResultList > ul > li  .search-row-label{
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}


/*Date*/
#searchDateResultList {
    padding: 20px;
}

#searchDateResultList > ul > li{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d2d9de;
}

#searchDateResultList > ul > li > a{
    color: #246ca1;
    text-transform: capitalize;
}

#searchResultClinicDate1 > ul > li  .search-row-label{
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}


/*Search*/
#searchResultList {
    padding: 20px;
}

#searchResultList > ul > li{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d2d9de;
}

#searchResultList > ul > li > a{
    color: #246ca1;
    text-transform: capitalize;
}

#searchResultList > ul > li  .search-row-label{
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

#searchResultList > ul > li  .search-row-data{
    color: #000000;
}

#searchResultList > ul > li .search-row-divider{
    width: 50%; 
    position: relative; 
    min-width:250px;
}

#searchResultList > ul > li  .search-row-urlwalkin{
    color: #246ca1;
    background-color: #fcb304;  
   float: left;


   
}

#searchResultList > ul > li  .search-row-urlwalkin a:hover {
        color: #000000;
        text-shadow:initial;
        border-bottom-left-radius: initial;
   
}
#searchResultList > ul > li  .search-row-urlbill{
    color: rgb(201,230,242);
    background-color: #ff5003;
    float: left;
    
}
#searchResultList > ul > li  .search-row-urlemr{
    color: rgb(201,230,242);
    background-color: #f50404;
    float: left;
}

#searchResultList > ul > li  .search-row-urlprofile{
    color: rgb(201,230,242);
    background-color: #970a0a;
    float: left;
}

/*field summary*/

#summaryList {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 300px;
}
#summaryVisitList {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 300px;
}

#summaryList > ul > li{
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d2d9de;
}

#summaryList > ul > li > p{
    color: #246ca1;
    margin-bottom: 5px;
}

#summaryList > ul > li .summary-row-label{
    color: #adabab;
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

#summaryList > ul > li .summary-row-data{
    color: #000000;
}

#summaryList > ul > li .summary-row-divider{
    width: 100%; 
    position: relative; 
    min-width:200px;
    display: table-cell;
    vertical-align: text-top;
}

#summaryList > ul > li .summary-row-divider > a{
    position: relative; 
    display: inline-block;
}

.listButton {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    background-color: #ddefe6;
}

#summaryList > ul > li  ul{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

#summaryList > ul > li  ul > li .summary-row-label{
    margin-left: 0px;
    margin-right: 0px;
    margin-left: 8px;
    margin-right: 8px;
}

/*#endregion RHeader-Main-Footer*/

/*#region Forms-Inputs*/


form input.input-extended {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 24px;
    color: #3c3c3c;
    width: 90%;
    min-width: 220px;
}

form input[type=checkbox]{
    border: none;
    height: 15px;
    min-width: 30px;
}

form label {
    color: #3c3c3c;
    min-width: 150px;
    margin-bottom: 3px;
}

form textarea {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 95px;
    color: #3c3c3c;
    min-width: 220px;
}

form textarea.textarea-extended {
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    padding:3px;
}

form textarea.textarea-hpi {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 60px;
    color: #3c3c3c;
    width: 90%;
    min-width: 350px;
}
form textarea.textarea-plan {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 250px;
    color: #3c3c3c;
    width: 90%;
    min-width: 350px;
}

form select {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 24px;
    color: #3c3c3c;
    min-width: 220px;
}

form select.datePicker {
    width: 73px;
    min-width: 73px;
}

form input[required=required], form select[required=required] {
    background-color: #ffffde;
}

input:focus , textarea:focus , select:focus{
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(84, 192, 138, 1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(84, 192, 138, 1);
}

input[type=checkbox]:focus{
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.view-mode {
    background-color: none;
    border: none;
    color: #246ca1;
}

.view-mode[required=required] {
    background-color: #ffffff;
    border: none;
}

#formDetail, #formPainDetail, #formPatientConsultationDetail, #orderform{
    margin-left: 40px;
    margin-right: 40px;
    
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=0 );

    border-radius: 10px;
    min-width: 280px;
}



#orderform  > #fieldList, .field-list {
    padding-left: 10px;
    padding-left: 10px;
    
}



#formPatientConsultationDetail  > #fieldList {
    padding-left: 30px;
    padding-left: 30px;
    
}

#formPatientConsultationDetail   .summary-row-divider {
    position: relative; 
    min-width:200px;
    display: inline-block;
}



#formComplaintDetail  > #fieldList {
    padding-left: 30px;
    padding-left: 30px;
    
}



#formComplaintDetail   .summary-row-divider {
    position: relative; 
    min-width:200px;
    display: inline-block;
}

#formPainDetail  > #fieldList {
    padding-left: 30px;
    padding-left: 30px;
    
}



#formPainDetail  .summary-row-divider {
    position: relative; 
    min-width:200px;
    display: inline-block;
}

#formHPIDetail> #fieldList {
    padding-left: 30px;
    padding-left: 30px;
    
}

#formHPIDetail  .summary-row-divider {
    position: relative; 
    min-width:200px;
    display: inline-block;
}

#formDetail > #fieldList {
    padding-left: 30px;
    padding-left: 30px;
    
}

#formDetail  .summary-row-divider {
    position: relative; 
    min-width:200px;
    display: inline-block;
}

/*#endregion Forms-Inputs*/



/*Staff Index Specific*/
.divStaffID {
    background-color: #d8ffe0;
    position: absolute;
    right: 0px;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-bottom-left-radius: 15px;
}

.divStaffID > span {
    color: #267a20;
}

/*Patient Index Specific*/
.divPatientID {
    background-color: #d8ffe0;
    position: absolute;
    right: 0px;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-bottom-left-radius: 15px;
}

.divPatientID > span {
    color: #267a20;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, input, textarea {
	font: 100%/1.5em Helvetica, Arial, sans-serif;
}

form {
	margin: 5% auto 0;
	text-align: center;
	width: 50%;
}
	form input {
		background: rgb(236, 240, 241);
		border-radius: 3px;
		padding: 1em;
	}

table {
	background: rgb(245, 245, 245);
	border-collapse: collapse;
	margin: 5% auto;
	text-align: center;
	width: 90%;
}
	table thead {
		background: rgb(235, 235, 235);
	}
		table tbody tr:nth-child(even) {
			background: rgb(250, 250, 250);
		}
		table thead th, table tbody tr td {
			padding: 0.5em 1em;
		}
