﻿


/*custom properties*/
#txtGlobalSearch {
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 200px;
    height: 24px;
}

#txtDateFrom {
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 100px;
    height: 24px;
}

.fixHeight {
	height: 90%;
}
#menuappsPadding{
    padding-left:20px;
    padding-right:20px;
}
#spanUser {
    text-transform: capitalize;
}

.hidden {
    display: none;
}

/*hyperlink properties*/
a{
    text-decoration: none;
    color: inherit;
}

a.toolbarbutton:visited{
    color: inherit;
}

a.toolbarbutton:active{
    color: #dcdcdc;
}

a.linkbutton:active{
    color: inherit;
}

/*#endregion Generic-Properties*/
/*border*/
.border-search {
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 200px;
    height: 24px;
}



/*#region Notification-divs*/
.notify-error {
    padding: 8px;
    border: 1px solid #ce8e8e;
    color: #ff0000;
    border-radius: 10px;
    background-color: #ffcece;
}

.notify-success {
    padding: 8px;
    border: 1px solid #46bd4c;
    color: #2e853a;
    border-radius: 10px;
    background-color: #b2ffbf;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 400px;
    text-align: center;
}
/*#endregion Notification-divs*/

/*#region Button-Generic*/
.button {
    height: 36px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #246ca1;
    border-radius: 5px;
    border: none;
    color: #efefef;
}

.button.button-block {
    width: 100%;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: #407ca8;
}
/*#endregion Button-Generic*/

/*#region Flexible-Box*/
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: stretch;
}

.flex-field-container {
    min-width: 400px;
}

.flex-field-container-oth {
    min-width: 150px;
}

.flex-field-container-extended {
    min-width: 350px;
}

.flex-nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.flex-item-0 {
    -webkit-box-flex: 0;
    -moz-box-flex:  0;
    -webkit-flex:  0;
    -ms-flex:  0;
    flex:  0;
}
.flex-item-1 {
    -webkit-box-flex: 1;
    -moz-box-flex:  1;
    -webkit-flex:  1;
    -ms-flex:  1;
    flex:  1;
}

.flex-item-2 {
    -webkit-box-flex: 2;
    -moz-box-flex:  2;
    -webkit-flex:  2;
    -ms-flex:  2;
    flex:  2;
}

.flex-item-3 {
    -webkit-box-flex: 3;
    -moz-box-flex:  3;
    -webkit-flex:  3;
    -ms-flex:  3;
    flex:  3;
}

.EngMenu {
    font-weight: bold;
    /*font-display: fallback;*/
    color: #2e7bb4;
    display: flex;
    padding-bottom:20px;
}

.flex-item-4 {
    -webkit-box-flex: 4;
    -moz-box-flex:  4;
    -webkit-flex:  4;
    -ms-flex:  4;
    flex:  4;
}

.extra-padding-1 {
    padding-left: 20px;
    padding-right: 20px;
}

.extra-padding-2 {
    padding-left: 40px;
    padding-right: 40px;
}
.menuicons-a1 {
    margin:auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #d85151;
    /*#faf644;*/
    border-radius: 90px;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;
    max-width: 90px;
}
.menuicons-a2 {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #efaeae;
    /*#fbb24c;  #f28b8b; #f2bbbb */
    border-radius: 90px;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;
    max-width: 90px;
}

.menuicons-a3 {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f2cdd1;
    /*#fa9408;*/
    border-radius: 90px;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;
    max-width: 90px;
}
.menuicons-a4 {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f6e0de;
        /*#f8a99a;*/
    border-radius: 90px;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;
    max-width: 90px;
}
.menuicons {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #5b8db2;
    /*#246ca1;*/
    /*#487da4;*/
    border-radius: 90px;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;
    max-width: 90px;
}
.menuicons2 {
    background-color: #9fc1d8;
    /*#7b9fba  82b3d7*/
    background-size: cover;
    border-radius: 90px;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;
    max-width: 90px;
}
.menuicons3 {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #c8dbea;
    /*#71a4cb;  rgb(172, 222, 242);*/
    /*#82aac8;;*/
    border-radius: 90px;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;
    max-width: 90px;
}
.menuicons4 {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #dcecf5;
    /*9cbfdb;   rgb(218, 241, 270);*/
    border-radius: 90px;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;
    max-width: 90px;
}
/*#endregion Flexible-Box*/

/*#region Header-Main-Footer*/


/*Main content*/
.field-content-detail {
    /*z-index: 0;
    width: 100%;*/   
    position: relative;
    margin-top: 90px;
}

    .field-content-detail > form {
        padding-left: 60px;
        padding-right: 60px;
        color: #535353;
    }

.field-content-detail > h1,  .field-content-detail > p{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
}

.field-content-detail > .divProgressScreen {
    
    position: fixed;
    top: 90px;
    left: 0px; 
    margin: 0px;
    height: 100%;
    width: 100%;

    z-index: 1;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
}

/*home content*/
.home-content-detail {
    position: relative;
    margin-top: 90px;
}

.home-content-detail > div {
    padding-left: 40px;
    padding-right: 40px;
}

.home-content-detail > div >  h1,  .home-content-detail > div > ul{
    margin-bottom: 5px;
}
.flex-fixsize {
	width:320px;
}
/*search content*/
.search-content-detail {
	position: relative;
	margin-top: 90px;
}

.search-content-detail > div {
    padding-left: 40px;
    padding-right: 10px;
}

.search-content-detail > div >  h1,  .search-content-detail > div > ul{
    margin-bottom: 5px;
}

#searchDateResultList > ul > li  .search-row-label{
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}


/*Date*/
#searchDateResultList {
    padding: 20px;
}

#searchDateResultList > ul > li{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d2d9de;
}

#searchDateResultList > ul > li > a{
    color: #246ca1;
    text-transform: capitalize;
}

#searchResultClinicDate1 > ul > li  .search-row-label{
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}


/*Search*/
#searchResultList {
    padding: 15px;
    min-width:80px;
}

#searchResultList > ul > li{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d2d9de;
}

#searchResultList > ul > li > a{
    color: #246ca1;
    text-transform: capitalize;
}

#searchResultList > ul > li  .search-row-label{
    min-width: 80px;
    margin-left: 8px;
    margin-right: 8px;
}

#searchResultList > ul > li  .search-row-data{
    color: #000000;
}

#searchResultList > ul > li  .search-row-urlwalkin{
    color: #246ca1;
    background-color: #fcb304;  
   float: left;


   
}

#searchResultList > ul > li  .search-row-urlwalkin a:hover {
        color: #000000;
        text-shadow:initial;
        border-bottom-left-radius: initial;
   
}
#searchResultList > ul > li  .search-row-urlbill{
    color: rgb(201,230,242);
    background-color: #ff5003;
    float: left;
    
}
#searchResultList > ul > li  .search-row-urlemr{
    color: rgb(201,230,242);
    background-color: #f50404;
    float: left;
}


#searchResultList > ul > li .search-row-divider{
    width: 70%; 
    position: relative; 
    min-width:150px;
}

#searchResultList > ul > li .search-row-divider-extend{
    width: 30%; 
    position: relative; 
    min-width:150px;
}

/*field summary*/

#summaryList {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 300px;
}

#summaryList > ul > li{
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d2d9de;
}

#summaryList > ul > li > p{
    color: #246ca1;
    margin-bottom: 5px;
}

#summaryList > ul > li .summary-row-label{
    color: #adabab;
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

#summaryList > ul > li .summary-row-data{
    color: #000000;
}

#summaryList > ul > li .summary-row-divider{
    width: 100%; 
    position: relative; 
    min-width:100px;
    display: table-cell;
    vertical-align: text-top;
}

#summaryList > ul > li .summary-row-divider > a{
    position: relative; 
    display: inline-block;
}

.listButton {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    background-color: #ddefe6;
}

#summaryList > ul > li  ul{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

#summaryList > ul > li  ul > li .summary-row-label{
    margin-left: 0px;
    margin-right: 0px;
    margin-left: 8px;
    margin-right: 8px;
}




/*#endregion RHeader-Main-Footer*/

/*#region Forms-Inputs*/
form input {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 24px;
    color: #3c3c3c;
    min-width: 220px;
}

form input.input-extended {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 24px;
    color: #3c3c3c;
    width: 80%;
    min-width: 220px;
}

form input[type=checkbox]{
    border: none;
    height: 15px;
    min-width: 30px;
}

form label {
    color: #3c3c3c;
    min-width: 220px;
    margin-bottom: 3px;
}

form textarea {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 95px;
    color: #3c3c3c;
    min-width: 220px;
}

form textarea.textarea-extended {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 95px;
    color: #3c3c3c;
    min-width: 320px;
}


form select {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 24px;
    color: #3c3c3c;
    min-width: 220px;
}

form select.datePicker {
    width: 73px;
    min-width: 73px;
}

form input[required=required], form select[required=required] {
    background-color: #ffffde;
}

input:focus , textarea:focus , select:focus{
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input[type=checkbox]:focus{
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.view-mode {
    background-color: none;
    border: none;
    color: #246ca1;
}

.view-mode[required=required] {
    background-color: #ffffff;
    border: none;
}

#formDetail {
    margin-left: 40px;
    margin-right: 40px;
    
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=0 );

    border-radius: 10px;
    min-width: 280px;
}

#formDetail > #fieldList {
    padding-left: 30px;
    padding-left: 30px;
    
}

#formDetail  .summary-row-divider {
    position: relative; 
    min-width:200px;
    display: inline-block;
}

/*#endregion Forms-Inputs*/


/*Staff Index Specific*/
.divStaffID {
    background-color: #d8ffe0;
    position: absolute;
    right: 0px;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-bottom-left-radius: 15px;
}

.divStaffID > span {
    color: #267a20;
}

.divScheme {
    background-color: #000000;
    position: absolute;
    float:right;
    right: 0px;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-bottom-left-radius: 15px;
}


/*Patient Index Specific*/
.divPatientID {
    background-color: #d8ffe0;
    position: absolute;
    right: 0px;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-bottom-left-radius: 15px;
}

.divPatientID > span {
    color: #267a20;
}
/*Search #2*/
#searchResultHDRList {
	box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
	padding: 20px;
	
}

	#searchResultHDRList > ul > li {
		margin-bottom: 15px;
		padding-bottom: 5px;
		border-bottom: 1px solid #d2d9de;
	}

		#searchResultHDRList > ul > li > a {
			color: #246ca1;
			text-transform: capitalize;
		}

		#searchResultHDRList > ul > li .search-row-label {
			min-width: 100px;
			margin-left: 8px;
			margin-right: 8px;
		}

		#searchResultHDRList > ul > li .search-row-data {
			color: #000000;
		}

		#searchResultHDRList > ul > li .search-row-urlwalkin {
			color: #246ca1;
			background-color: #fcb304;
			float: left;
		}

			#searchResultHDRList > ul > li .search-row-urlwalkin a:hover {
				color: #000000;
				text-shadow: initial;
				border-bottom-left-radius: initial;
			}

		#searchResultHDRList > ul > li .search-row-urlbill {
			color: rgb(201,230,242);
			background-color: #ff5003;
			float: left;
		}

		#searchResultHDRList > ul > li .search-row-urlemr {
			color: rgb(201,230,242);
			background-color: #f50404;
			float: left;
		}


		#searchResultHDRList > ul > li .search-row-divider {
			width: 70%;
			position: relative;
			min-width: 250px;
		}

		#searchResultHDRList > ul > li .search-row-divider-extend {
			width: 30%;
			position: relative;
			min-width: 250px;
		}

.buttonmenu {
	/*background-color: #ffffff; /* Green */*/
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.button1 {
	/*background-color: white;*/
	background-color: Transparent;
	color: black;
	border: 2px solid #4CAF50;
}

	.button1:hover {
		background-color: #4CAF50;
		color: white;
	}

.modifyWO {
    color: #22e40b;
    background-color: #ff5003;
    float: right;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.closeWO {
    color: #15e206;
    background-color: #15e206;
    float: right;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}


.button2 {
	background-color: Transparent;
	color: black;
	border: 2px solid #008CBA;
}

	.button2:hover {
		background-color: #008CBA;
		color: white;
	}

.button3 {
	background-color: Transparent;
	color: black;
	border: 2px solid #f44336;
}

	.button3:hover {
		background-color: #f44336;
		color: white;
	}

.button4 {
	background-color: Transparent;
	color: black;
	border: 2px solid #e7e7e7;
}

	.button4:hover {
		background-color: #e7e7e7;
	}

.button5 {
	background-color: Transparent;
	color: black;
	border: 2px solid #555555;
}

	.button5:hover {
		background-color: #555555;
		color: white;
	}
.button6 {
	background-color: Transparent;
	color: black;
	border: 2px solid #fcac05;
}

.button6:hover {
		background-color: #fcac05;
		color: white;
	}