.scrollStyle {
    width: 100%;
    height: 90%;
    overflow: scroll;
    overflow-y: scroll;
    margin-bottom: 25px;
    overflow-x: hidden;
}
.style-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.style-scroll::-webkit-scrollbar {
    width: 9px;
    background-color: #F5F5F5;
}

.style-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(0, 0, 0, 0.8);
}

#searchTransResultList > ul > li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d2d9de;
}

#searchTransResultList > ul > li > a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#searchTransResultList > ul > li .search-row-label {
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

#searchTransResultList > ul > li .search-row-data {
    color: #000000;
}
