﻿/*#region Generic-Properties*/
@font-face {
    font-family: 's_regular';
    src: url('../fonts/DroidKufi-Regular.eot');
    src: url('../fonts/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidKufi-Regular.woff2') format('woff2'), url('../fonts/DroidKufi-Regular.woff') format('woff'), url('../fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 's_thin';
    src: url('../fonts/DroidKufi-Regular.eot');
    src: url('../fonts/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidKufi-Regular.woff2') format('woff2'), url('../fonts/DroidKufi-Regular.woff') format('woff'), url('../fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ss_regular';
    src: url('../fonts/segoeui-webfont.eot');
    src: url('../fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/segoeui-webfont.woff2') format('woff2'), url('../fonts/segoeui-webfont.woff') format('woff'), url('../fonts/segoeui-webfont.ttf') format('truetype'), url('../fonts/segoeui-webfont.svg#segoe_uiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    direction: rtl;
}

div,
p,
a,
main,
nav,
article,
aside,
header,
form,
ul,
li,
footer,
label,
h1, h2, h3, h4 {
    display: block;
}

h1, h2, h3, h4 {
    font-family: 's_thin';
    font-weight: normal;
}

h1 {
    line-height: 30px;
}

div,
p,
a,
main,
nav,
article,
aside,
header,
form,
ul,
li,
footer,
label,
input,
button,
span {
    font-family: 's_regular', 'ss_regular';
    font-size: 13px;
}

span {
    display: inline-block;
}

input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    /*background: rgb(201,230,242);
    background: -moz-linear-gradient(-45deg, rgba(201,230,242,1) 5%, rgba(255,255,255,1) 25%, rgba(230,240,244,1) 50%, rgba(255,255,255,1) 75%, rgba(201,230,242,1) 95%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(5%,rgba(201,230,242,1)), color-stop(25%,rgba(255,255,255,1)), color-stop(50%,rgba(230,240,244,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(95%,rgba(201,230,242,1)));
    background: -webkit-linear-gradient(-45deg, rgba(201,230,242,1) 5%,rgba(255,255,255,1) 25%,rgba(230,240,244,1) 50%,rgba(255,255,255,1) 75%,rgba(201,230,242,1) 95%);
    background: -o-linear-gradient(-45deg, rgba(201,230,242,1) 5%,rgba(255,255,255,1) 25%,rgba(230,240,244,1) 50%,rgba(255,255,255,1) 75%,rgba(201,230,242,1) 95%);
    background: -ms-linear-gradient(-45deg, rgba(201,230,242,1) 5%,rgba(255,255,255,1) 25%,rgba(230,240,244,1) 50%,rgba(255,255,255,1) 75%,rgba(201,230,242,1) 95%);
    background: linear-gradient(135deg, rgba(201,230,242,1) 5%,rgba(255,255,255,1) 25%,rgba(230,240,244,1) 50%,rgba(255,255,255,1) 75%,rgba(201,230,242,1) 95%);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9e6f2', endColorstr='#c9e6f2',GradientType=1 );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

option {
    text-transform: capitalize;
}

/*custom properties*/
#txtGlobalSearch {
    border: 1px solid #808080;
    border-radius: 5px;
    width: 200px;
    height: 24px;
}

#spanUser {
    text-transform: capitalize;
}

.hidden {
    display: none;
}
.flex-fixsize {
    width: 320px;
}
.flex-field-container-oth {
    min-width: 150px;
}
#menuappsPadding {
    padding-left: 20px;
    padding-right: 20px;
}
/*hyperlink properties*/
a {
    text-decoration: none;
    color: inherit;
}

    a.toolbarbutton:visited {
        color: inherit;
    }

    a.toolbarbutton:active {
        color: #dcdcdc;
    }

    a.linkbutton:active {
        color: inherit;
    }

/*#endregion Generic-Properties*/

/*#region Formating-Fonts-Alignment*/

/*alignments*/
.align-right {
    text-align: left;
}

.hide {
    display: none;
}

.align-left {
    text-align: right;
}

/*font-sizes*/
.fs-large-strong {
    font-size: 23px;
    font-weight: bold;
}

.fs-large-normal {
    font-size: 23px;
}

.fs-large-normal {
    font-size: 23px;
}

.fs-medium-normal {
    font-size: 16px;
}

.fs-medium-strong {
    font-size: 16px;
    font-weight: bold;
}

.fs-small-normal {
    font-size: 12px;
}
/*font-color*/
/*.fc-grey {
    color: #808080;
}

.fc-slate-grey {
    color: #005d76;
}

.fc-light-grey {
    color: #dcdcdc;
}

.fc-white {
    color: #ffffff;
}

.fc-slate-blue {
    color: #246ca1;
}*/

/*#endregion Formating-Fonts-Alignment*/

/*#region Notification-divs*/
.notify-error {
    padding: 8px;
    border: 1px solid #ce8e8e;
    color: #ff0000;
    border-radius: 10px;
    background-color: #ffcece;
}

.notify-success {
    padding: 8px;
    border: 1px solid #46bd4c;
    color: #2e853a;
    border-radius: 10px;
    background-color: #b2ffbf;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
}
/*#endregion Notification-divs*/

/*#region Button-Generic*/
.button {
    height: 36px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #246ca1;
    border-radius: 5px;
    border: none;
    color: #efefef;
}

    .button.button-block {
        width: 100%;
    }

    .button:hover {
        cursor: pointer;
    }

    .button:active {
        background-color: #407ca8;
    }
/*#endregion Button-Generic*/
.buttonmenu {
    /*background-color: #ffffff; /* Green */ */ border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    /*background-color: white;*/
    background-color: Transparent;
    color: black;
    border: 2px solid #4CAF50;
}

    .button1:hover {
        background-color: #4CAF50;
        color: white;
    }

.button2 {
    background-color: Transparent;
    color: black;
    border: 2px solid #008CBA;
}

    .button2:hover {
        background-color: #008CBA;
        color: white;
    }

.button3 {
    background-color: Transparent;
    color: black;
    border: 2px solid #f44336;
}

    .button3:hover {
        background-color: #f44336;
        color: white;
    }

.button4 {
    background-color: Transparent;
    color: black;
    border: 2px solid #e7e7e7;
}

    .button4:hover {
        background-color: #e7e7e7;
    }

.button5 {
    background-color: Transparent;
    color: black;
    border: 2px solid #555555;
}

    .button5:hover {
        background-color: #555555;
        color: white;
    }

.button6 {
    background-color: Transparent;
    color: black;
    border: 2px solid #fcac05;
}

    .button6:hover {
        background-color: #fcac05;
        color: white;
    }
/*#region Flexible-Box*/
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
}

.flex-field-container {
    min-width: 250px;
}

.flex-nowrap {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-item-1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-item-2 {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.flex-item-3 {
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.flex-item-4 {
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
}
/*#endregion Flexible-Box*/

/*#region Header-Main-Footer*/

/*navigation bars*/
.nav-main {
    z-index: 2;
    top: 0px;
    height: 50px;
    /*background-color: #246ca1;*/
    /*border-bottom: 1px solid #0c2130;*/
    width: 100%;
    margin: 0px;
    position: fixed;
}

    .nav-main > .nav-site-map {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 48px;
        min-width: 300px;
    }

    .nav-main ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .nav-main ul > li {
            display: inline-block;
        }

    .nav-main > .nav-user-info {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 48px;
        min-width: 350px;
    }

/*Toolbox (Transactional button container)*/
.toolbox {
    z-index: 2;
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: #f5f5f5;
    margin: 0px;
    border-bottom: 1px solid #d7d7d7;
    top: 50px;
}

    .toolbox > .toolbox-left {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 38px;
        min-width: 200px;
    }

    .toolbox > .toolbox-right {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 38px;
        min-width: 400px;
    }

    .toolbox ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .toolbox ul > li {
            display: inline-block;
        }

            .toolbox ul > li > .status-icon {
                vertical-align: 1px;
            }

            .toolbox ul > li > .status-text {
                vertical-align: 4px;
            }


/*Main content*/
.field-content-detail {
    z-index: 0;
    width: 100%;
    position: relative;
    margin-top: 90px;
}

    .field-content-detail > form {
        padding-left: 60px;
        padding-right: 60px;
        color: #535353;
    }

    .field-content-detail > h1, .field-content-detail > p {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 5px;
    }

    .field-content-detail > .divProgressScreen {
        position: fixed;
        top: 90px;
        left: 0px;
        margin: 0px;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
    }

/*home content*/
.home-content-detail {
    position: relative;
    margin-top: 90px;
}

    .home-content-detail > div {
        padding-left: 40px;
        padding-right: 40px;
    }

        .home-content-detail > div > h1, .home-content-detail > div > ul {
            margin-bottom: 5px;
        }

/*search content*/
.search-content-detail {
    position: relative;
    margin-top: 90px;
}

    .search-content-detail > div {
        padding-left: 40px;
        padding-right: 40px;
    }

        .search-content-detail > div > h1, .search-content-detail > div > ul {
            margin-bottom: 5px;
        }

#searchResultList {
    padding: 20px;
}

    #searchResultList > ul > li .search-row-label {
        min-width: 100px;
        margin-left: 8px;
        margin-right: 8px;
    }

    #searchResultList > ul > li .search-row-data {
        color: #000000;
    }

    #searchResultList > ul > li {
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid #d2d9de;
    }

        #searchResultList > ul > li > a {
            color: #246ca1;
            text-transform: capitalize;
        }

        #searchResultList > ul > li .searchRowLabel {
            color: #adabab;
            min-width: 100px;
            margin-left: 8px;
            margin-right: 8px;
        }

        #searchResultList > ul > li .searchRowData {
            color: #000000;
        }

/*.footer-main {
    z-index: 2;
    bottom: 0px;
    height: 40px;
    background-color: #578498;
    color: #ffffff;
    border-top: 1px solid #808080;
    width: 100%;
    margin: 0px;
    position: fixed;
    text-align: center;
    font-size: 11px;
}

    .footer-main > p {
        line-height: 40px;
    }*/

/*#endregion RHeader-Main-Footer*/

/*#region Forms-Inputs*/
form input {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 24px;
    color: #3c3c3c;
    min-width: 220px;
}

form label {
    color: #3c3c3c;
    min-width: 220px;
    margin-bottom: 3px;
}

form textarea {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 95px;
    color: #3c3c3c;
    min-width: 220px;
}

form select {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 24px;
    color: #3c3c3c;
    min-width: 220px;
}

    form select.datePicker {
        width: 73px;
        min-width: 73px;
    }

    form input[required=required], form select[required=required] {
        background-color: #ffffde;
    }

input:focus, textarea:focus, select:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(84, 192, 138, 1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(84, 192, 138, 1);
}

.view-mode {
    background-color: none;
    border: none;
    color: #246ca1;
}

    .view-mode[required=required] {
        background-color: #ffffff;
        border: none;
    }

/*#endregion Forms-Inputs*/

.main-menu {
    position: absolute;
    width: 600px;
    height: 150px;
    background-color: #dde7eb;
    bottom: 40px;
    left: 0px;
    border-top-right-radius: 25px;
    display: none;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
}


/*Staff Index Specific*/
.divStaffID {
    background-color: #d8ffe0;
    position: absolute;
    right: 0px;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-bottom-left-radius: 15px;
}

    .divStaffID > span {
        color: #267a20;
    }

/*Patient Index Specific*/
.divPatientID {
    background-color: #d8ffe0;
    position: absolute;
    right: 0px;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-bottom-left-radius: 15px;
}

    .divPatientID > span {
        color: #267a20;
    }
#searchResultHDRList {
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
    padding: 20px;
}

    #searchResultHDRList > ul > li {
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid #d2d9de;
    }

        #searchResultHDRList > ul > li > a {
            color: #246ca1;
            text-transform: capitalize;
        }

        #searchResultHDRList > ul > li .search-row-label {
            min-width: 100px;
            margin-left: 8px;
            margin-right: 8px;
        }

        #searchResultHDRList > ul > li .search-row-data {
            color: #000000;
        }

        #searchResultHDRList > ul > li .search-row-urlwalkin {
            color: #246ca1;
            background-color: #fcb304;
            float: left;
        }

            #searchResultHDRList > ul > li .search-row-urlwalkin a:hover {
                color: #000000;
                text-shadow: initial;
                border-bottom-left-radius: initial;
            }

        #searchResultHDRList > ul > li .search-row-urlbill {
            color: rgb(201,230,242);
            background-color: #ff5003;
            float: left;
        }

        #searchResultHDRList > ul > li .search-row-urlemr {
            color: rgb(201,230,242);
            background-color: #f50404;
            float: left;
        }


        #searchResultHDRList > ul > li .search-row-divider {
            width: 70%;
            position: relative;
            min-width: 250px;
        }

        #searchResultHDRList > ul > li .search-row-divider-extend {
            width: 30%;
            position: relative;
            min-width: 250px;
        }
