﻿.modalBox {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
} 
.modalBox:target {
    opacity:1;
    pointer-events: auto;
}
.marginRight {
	margin-right: 20px;
}
.modalBox > div {
    width: 410px;
    height: 500px;
    position: relative;
    margin: 10% auto;   
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.modalBoxW {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalBoxW:target {
    opacity:1;
    pointer-events: auto;
}
.modalBoxW > div {
    width: 610px;
    height: 500px;
    position: relative;
    margin: 10% auto;   
    border-radius: 10px;
    background: #fff;
}

.modalwidthPassword {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

	.modalwidthPassword:target {
		opacity: 1;
		pointer-events: auto;
	}

	.modalwidthPassword > div {
		width: 270px;
		height: 210px;
		position: relative;
		margin: 10% auto;
		border-radius: 10px;
		background: #fff;
	}
.modalwidth4:target {
    opacity:1;
    pointer-events: auto;
}

.modalwidth4 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalwidth4 > div {
    width: 410px;
    height: 85%;
    position: relative;
    margin: 4% auto;   
    border-radius: 10px;
    background: #fff;
   
}

.modalwidth7:target {
    opacity:1;
    pointer-events: auto;
}

.modalwidth7 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalwidth7 > div {
    width: 410px;
    height: 400px;
    position: relative;
    margin: 4% auto;   
    border-radius: 10px;
    background: #fff;
   
}


.modalwidth8:target {
    opacity:1;
    pointer-events: auto;
}

.modalwidth8 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalwidth8 > div {
    width: 410px;
    height: 530px;
    position: relative;
    margin: 4% auto;   
    border-radius: 10px;
    background: #fff;
   
}

    .modalwidth9:target {
        opacity: 1;
        pointer-events: auto;
    }

.modalwidth9 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

    .modalwidth9 > div {
        width: 410px;
        height: 730px;
        position: relative;
        margin: 4% auto;
        border-radius: 10px;
        background: #fff;
    }

    .modalwidth10:target {
        opacity: 1;
        pointer-events: auto;
    }

.modalwidth10 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

    .modalwidth10 > div {
        width: 410px;
        height: 230px;
        position: relative;
        margin: 4% auto;
        border-radius: 10px;
        background: #fff;
    }

    .modalwidth11:target {
        opacity: 1;
        pointer-events: auto;
    }

.modalwidth11 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

    .modalwidth11 > div {
        width: 90%;
        height: 630px;
        position: relative;
        margin: 4% auto;
        border-radius: 10px;
        background: #fff;
    }

.modalwidth5:target {
    opacity:1;
    pointer-events: auto;
}

.modalwidth5 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

    .modalwidth5 > div {
        width: 540px;
        padding-left: 30px;
        height: 85%;
        position: relative;
        border-radius: 10px;
        margin: 4% auto;
        background: #fff;
    }

.modalwidth6:target {
    opacity:1;
    pointer-events: auto;
}

.modalwidth6 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalwidth6 > div {
    width: 710px;
    
    padding-left:30px;
    height: 65%;
    position: relative;
    margin: 4% auto; 
    background: #efefef;
}

.textareaExtd {
    
    width: 450px;
    height:300px;
}
.textareanotify {
    width: 450px;
    height: 100px;
}
.modalwidth2:target {
    opacity:1;
    pointer-events: auto;
}

.modalwidth2 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalwidth2 > div {
    width: 710px;
    height: 550px;
    position: relative;
    margin: 4% auto;   
    border-radius: 10px;
    background: #fff;
    padding-left:20px;
}

.modal-filter {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
    .modal-filter > div {
        width: 300px;
        height: 550px;
        position: relative;
        margin: 4% auto;
        border-radius: 10px;
        background: #fff;
        padding-left: 20px;
    }
    .modal-filter:target {
        opacity: 1;
        pointer-events: auto;
    }



.modalwidth3:target {
    opacity:1;
    pointer-events: auto;
}

.modalwidth3 {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.scroll {
	width: 100%;
	height: 85%;
	overflow: scroll;
	overflow-y: scroll;
	margin-bottom: 25px;
	overflow-x: hidden;
}


.style-2::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.style-2::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.style-2::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0, 0, 0, 0.8);
}
.modalBoxW .marginbottom {
    height:370px;
}
.modalwidth3 > div {
    width: 900px;
    height: 85%;
    position: relative;
    margin: 4% auto;   
    border-radius: 10px;
    background: #fff;
    padding-left:20px;
}

.modalmessage:target {
    opacity:1;
    pointer-events: auto;
}

.modalmessage {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalmessage > div {
    width: 710px;
    height: 550px;
    position: relative;
    margin: 4% auto;   
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #c3fba1);
    background: -webkit-linear-gradient(#fff, #c3fba1);
    background: -o-linear-gradient(#fff, #c3fba1);
}



.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

/*#region Button-Generic*/
.buttonL {
	height: 36px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #407ca8;
	border-radius: 5px;
	border: none;
	color: #efefef;
}

.buttonL.button-block {
    width: 100%;
}

.buttonL:hover {
    cursor: pointer;
}

textarea {
    resize:none;
}

#addButton{
    position: absolute;
    bottom:5%;
    float:right;
}
.modalBoxW .modal-footer {
    text-align:right;
    padding: 2px 16px;
    position: absolute;

    color: white;
    bottom:1%;
}

.modalwidth5 .modal-footer {
    text-align:right;
    padding: 2px 16px;
    position: absolute;
    float: right;
    color: white;
    bottom:1%;
}
.modalwidth3.modal-footer {
    text-align:right;
    padding: 2px 16px;
    position: absolute;
    float: right;
    color: white;
    bottom:1%;
}
.modalwidth6 .modal-footer {
    text-align:right;
    padding: 2px 16px;
    position: absolute;
    float: right;
    color: white;
    bottom:1%;
}
.buttonL:active {
	background-color: #407ca8;
}

.button {
	background-color: #407ca8;
	border: none;
	color: white;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.button-ext {
	background-color: #407ca8;
	border: none;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}
.button-extbottom {
    background-color: #085D3A;
    border: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.page {
    background-color: rgb(102, 102, 102);
    border: none;
    color: white;
    width:50px;
    padding-top:3px;
    text-align: center; 
    vertical-align:central;  
    text-decoration: none;
    display: inline-block;
   
    cursor: pointer;
}
.iconbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.containerImage{
    padding-top:15px;
    padding-left:5px;
}

.cropped {
    padding-top:10px;
    padding-right:25px;   
    float:right;
    width:140px;
    height:100px;
   
   
}
.cropped>img
{
    margin-right: 20px;
}

.imageBox
{
    padding-left: 5px;
    position: relative;
    height: 400px;
    width: 400px;
    border:1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor:move;
}

.imageBox .thumbBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}
#searchResult1 {
    padding-left:10px;
}
#itemInfo {
    padding-left:10px;
    padding-right:10px;
}
.input-Modal {
    width:160px;
    min-width:50px;
}
.input-Modal-ext {
    width:260px;
    min-width:50px;
}

.input-Modal-ext2 {
    width:390px;
    min-width:50px;
}
.input-Modal-extwh {
    width:390px;
    min-width:50px;
    height:130px;
}
.input-ModalExt {
    width:120px;
    min-width:50px;
    max-width:120px;
    border:solid;
    border-width: thin;
    padding-bottom: 7px;
}

.lable-ModalExt {     
    padding-bottom: 7px;
    vertical-align:middle;
}
.iconDet {
    padding-left: 20px;
}

.nav-site-map .fs-medium-normal img,
.nav-user-info .hospital-name img,
.nav-user-info .fs-medium-normal img {
    vertical-align: middle;
}

.hideRow {
    display: none;
}

.showRow {
    display: block;
}
.cchideRow {
    display: none;
}

.ccshowRow {
    display: block;
}
