﻿/* Modal Header */
.modalAlert-header {
    color: #000000;
    font-weight:700;
    padding: 2px 16px;
    background-color: #ffd800;
    
}

/* Modal Body */
.modalAlert-body {padding: 2px 16px;}

/* Modal Footer */
.modalAlert-footer {
    text-align:right;
    padding: 2px 16px;
    background-color: #ffd800;
    color: white;
}

/* Modal Content */
.modalAlert-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.button-ext {
    
    background-color: #888;
    border: none;
    color: white;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;   
    text-decoration: none;
    display: inline-block;
   
    cursor: pointer;
}

.button-extx {
    
    background-color: #888;
    border: none;
    color: white;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;   
    text-decoration: none;
    display: inline-block;
   
    cursor: pointer;
}