﻿.hospital-name {
    text-align: center;
    text-shadow: 2px 2px 8px  #070453;
    /*width: 600px;*/
    color: white;
    /*font-weight: 700;*/
    font-size:large;
}    


.wrapper {
  color: #666;
  position: relative;
}
#menu {
  left: -99999px;
  position: absolute;
  top: -99999px;
}
.buttonIcons {
    float:left;
    padding-left: 0px;
    padding-right:15px;
    vertical-align:middle;
    padding-bottom:20px;
    padding-top:20px;
}
.nav-trigger {
  display: block;
  position: absolute;
  left: -0.5em;
  width: 2em;
  height: 1em;
  padding: .35em;
  font-size: 1.1em;
  color: #666;
  transition: color .3s ease-in-out;
  cursor: pointer;
  user-select: none;
  margin: 0;
  top: 0.5em;
  
  &:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
}
.navigation {
  left: -320px;
  position: absolute;
  overflow: hidden;
  transition: all 0.5s ease;
  top: 3em;
  width: 320px;
  
  a {
    border-bottom: 1px solid #ccc;
    color: #666;
    display: block;
    font-size: 1.25em;
    padding: 0.5em 1em;
    position: relative;
    text-decoration: none;
    
    &:last-of-type {
      border-bottom: none;
    }
    
    &:after {
      content: '>';
      position: absolute;
      right: 0.5em;
    }
  }
}
#menu:checked ~ .navigation {
  left: 0;
}