﻿
    /*!
 * Bootstrap v3.0.2
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

@media print {
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    nav,
    section {
        display: none;
    }

    audio,
    canvas,
    video {
        display: inline-block;
    }

        audio:not([controls]) {
            display: none;
            height: 0;
        }

    [hidden],
    template {
        display: none;
    }

    html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    body {
        /*margin: 0;*/
        margin-left: 12px;
        margin-right: 10px;
    }

    a {
        background: transparent;
    }

        a:focus {
            outline: thin dotted;
        }

        a:active,
        a:hover {
            outline: 0;
        }

    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }

    abbr[title] {
        border-bottom: 1px dotted;
    }

    b,
    strong {
        font-weight: bold;
    }

    dfn {
        font-style: italic;
    }

    hr {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 0;
    }

    mark {
        background: #ff0;
        color: #000;
    }

    code,
    kbd,
    pre,
    samp {
        font-family: monospace, serif;
        font-size: 1em;
    }

    pre {
        white-space: pre-wrap;
    }

    q {
        quotes: "\201C" "\201D" "\2018" "\2019";
    }

    small {
        font-size: 80%;
    }

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {
        top: -0.5em;
    }

    sub {
        bottom: -0.25em;
    }

    img {
        border: 0;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    figure {
        margin: 0;
    }

    fieldset {
        border: 1px solid #c0c0c0;
        margin: 0 2px;
        padding: 0.35em 0.625em 0.75em;
    }

    legend {
        border: 0;
        padding: 0;
    }

    button,
    input,
    select,
    textarea {
        font-family: inherit;
        font-size: 100%;
        margin: 0;
    }

    button,
    input {
        line-height: normal;
    }

    button,
    select {
        text-transform: none;
    }

    button,
    html input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }

        button[disabled],
        html input[disabled] {
            cursor: default;
        }

    input[type="checkbox"],
    input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    textarea {
        overflow: auto;
        vertical-align: top;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        font-size: 62.5%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.428571429;
        color: #333333;
        background-color: #ffffff;
    }

    input,
    button,
    select,
    textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    a {
        color: #428bca;
        text-decoration: none;
    }

        a:hover,
        a:focus {
            color: #2a6496;
            text-decoration: underline;
        }

        a:focus {
            outline: thin dotted #333;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    img {
        vertical-align: middle;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .img-rounded {
        border-radius: 6px;
    }

    .img-thumbnail {
        padding: 4px;
        line-height: 1.428571429;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 4px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    .img-circle {
        border-radius: 50%;
    }

    .righttextalign {
        text-align: right;
    }

    .lefttextalign{
        text-align:left;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eeeeee;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

        .container:before,
        .container:after {
            content: " ";
            /* 1 */
            display: table;
            /* 2 */
        }

        .container:after {
            clear: both;
        }

    .row {
        /*margin-left: -15px;*/
        /*margin-right: -15px;*/
    }

        .row:before,
        .row:after {
            content: " ";
            /* 1 */
            display: table;
            /* 2 */
        }

        .row:after {
            clear: both;
        }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {
        float: left;
    }

    .col-xs-12 {
        width: 100%;
    }

    .col-xs-11 {
        width: 91.66666666666666%;
    }

    .col-xs-10 {
        width: 83.33333333333334%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-8 {
        width: 66.66666666666666%;
    }

    .col-xs-7 {
        width: 58.333333333333336%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-5 {
        width: 41.66666666666667%;
    }

    .col-xs-4 {
        width: 33.33333333333333%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-2 {
        width: 16.666666666666664%;
    }

    .col-xs-1 {
        width: 8.333333333333332%;
    }

    .col-xs-pull-12 {
        right: 100%;
    }

    .col-xs-pull-11 {
        right: 91.66666666666666%;
    }

    .col-xs-pull-10 {
        right: 83.33333333333334%;
    }

    .col-xs-pull-9 {
        right: 75%;
    }

    .col-xs-pull-8 {
        right: 66.66666666666666%;
    }

    .col-xs-pull-7 {
        right: 58.333333333333336%;
    }

    .col-xs-pull-6 {
        right: 50%;
    }

    .col-xs-pull-5 {
        right: 41.66666666666667%;
    }

    .col-xs-pull-4 {
        right: 33.33333333333333%;
    }

    .col-xs-pull-3 {
        right: 25%;
    }

    .col-xs-pull-2 {
        right: 16.666666666666664%;
    }

    .col-xs-pull-1 {
        right: 8.333333333333332%;
    }

    .col-xs-pull-0 {
        right: 0%;
    }

    .col-xs-push-12 {
        left: 100%;
    }

    .col-xs-push-11 {
        left: 91.66666666666666%;
    }

    .col-xs-push-10 {
        left: 83.33333333333334%;
    }

    .col-xs-push-9 {
        left: 75%;
    }

    .col-xs-push-8 {
        left: 66.66666666666666%;
    }

    .col-xs-push-7 {
        left: 58.333333333333336%;
    }

    .col-xs-push-6 {
        left: 50%;
    }

    .col-xs-push-5 {
        left: 41.66666666666667%;
    }

    .col-xs-push-4 {
        left: 33.33333333333333%;
    }

    .col-xs-push-3 {
        left: 25%;
    }

    .col-xs-push-2 {
        left: 16.666666666666664%;
    }

    .col-xs-push-1 {
        left: 8.333333333333332%;
    }

    .col-xs-push-0 {
        left: 0%;
    }

    .col-xs-offset-12 {
        margin-left: 100%;
    }

    .col-xs-offset-11 {
        margin-left: 91.66666666666666%;
    }

    .col-xs-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .col-xs-offset-9 {
        margin-left: 75%;
    }

    .col-xs-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .col-xs-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .col-xs-offset-6 {
        margin-left: 50%;
    }

    .col-xs-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .col-xs-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .col-xs-offset-3 {
        margin-left: 25%;
    }

    .col-xs-offset-2 {
        margin-left: 16.666666666666664%;
    }

    .col-xs-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .col-xs-offset-0 {
        margin-left: 0%;
    }

    .visible-print,
    tr.visible-print,
    th.visible-print,
    td.visible-print {
        display: none !important;
    }

    .visible-print {
        display: block !important;
    }

    tr.visible-print {
        display: table-row !important;
    }

    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }

    .hidden-print,
    tr.hidden-print,
    th.hidden-print,
    td.hidden-print {
        display: none !important;
    }

    .no-print {
        display: none;
    }

    .printSummary {
        display: block;
    }

    .printSticker {
        display: block;
    }

    .printDetails {
        display: block;
    }

    .returnSticker{
        display:block;
    }


    .colored {
        background-color: #e0e0e0 !important;
        -webkit-print-color-adjust: exact;
    }

    th {
        font-weight: normal;
    }

    td, th {
        border: .5px solid #333333;
    }

    .table {
        border: 0.5px solid black !important;
    }

    table tr.page-break {
        /*display: block;*/
        display: inline-block;
        page-break-before: always;
        /*padding-bottom: 50px;*/
    }

    table.pagetable-break {
        page-break-inside: avoid;
    }

    .headerGroup {
        display: table-header-group;
    }

    div#header {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        color: #CCC;
        background: #333;
        padding: 8px;
    }

    div#body {
        background-color: #CCC;
        margin: 150px 0px 500px 64px;
    }

    div#footer {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        color: #CCC;
        background: #333;
        padding: 8px;
    }

    .dataTables_length {
        display: none;
    }
    .dataTables_paginate {
        display: none;
    }

    /*Asset Print Sticker*/
    /* 288px is 3 inch  144px is 1.5 inch */
    .container-sticker {
        width: 288px;
        height: 144px;
        display:inline-block;
        position:relative;
        padding: 3px;
        border-width: 0.1px;
        position: fixed;
        left: 0;
    }

    .container-sticker, .flex-sticker, div, span, label {
        font-size: 10.5px
    }

    .image-sticker {
        height: auto;
        width: 50px;
        padding: 5px;
    }

    .flex-sticker {
        display: flex;
        justify-content:flex-start;
    }

    .do-not-remove-sticker {
        /*background-color: black;
        background: border-box;*/
        color: black;
        font-size: 10pt;
        font-weight: bold;
    }

    div#barcode {
        font-family: 'barcode' !important;
        font-size: 26px;
    }

    #printPurchaseRequest {
        display: block;
    }
}


