﻿/*#region Generic-Properties*/
@font-face {
    font-family: 's_regular';
    src: url('../fonts/DroidKufi-Regular.eot');
    src: url('../fonts/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidKufi-Regular.woff2') format('woff2'), url('../fonts/DroidKufi-Regular.woff') format('woff'), url('../fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 's_thin';
    src: url('../fonts/DroidKufi-Regular.eot');
    src: url('../fonts/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidKufi-Regular.woff2') format('woff2'), url('../fonts/DroidKufi-Regular.woff') format('woff'), url('../fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ss_regular';
    src: url('../fonts/segoeui-webfont.eot');
    src: url('../fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/segoeui-webfont.woff2') format('woff2'), url('../fonts/segoeui-webfont.woff') format('woff'), url('../fonts/segoeui-webfont.ttf') format('truetype'), url('../fonts/segoeui-webfont.svg#segoe_uiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    direction: rtl;
}

div,
p,
a,
main,
nav,
article,
aside,
header,
form,
ul,
li,
footer,
label,
h1, h2, h3, h4 {
    display: block;
}

h1, h2, h3, h4 {
    font-family: 's_thin';
    font-weight: normal;
}

h1 {
    line-height: 30px;
}

div,
p,
a,
main,
nav,
article,
aside,
header,
form,
ul,
li,
footer,
label,
input,
button,
span {
    font-family: 's_regular', 'ss_regular';
    font-size: 13px;
}

span {
    display: inline-block;
}

input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    /*background: rgb(201,230,242);
    background: -moz-linear-gradient(-45deg, rgba(201,230,242,1) 5%, rgba(255,255,255,1) 25%, rgba(230,240,244,1) 50%, rgba(255,255,255,1) 75%, rgba(201,230,242,1) 95%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(5%,rgba(201,230,242,1)), color-stop(25%,rgba(255,255,255,1)), color-stop(50%,rgba(230,240,244,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(95%,rgba(201,230,242,1)));
    background: -webkit-linear-gradient(-45deg, rgba(201,230,242,1) 5%,rgba(255,255,255,1) 25%,rgba(230,240,244,1) 50%,rgba(255,255,255,1) 75%,rgba(201,230,242,1) 95%);
    background: -o-linear-gradient(-45deg, rgba(201,230,242,1) 5%,rgba(255,255,255,1) 25%,rgba(230,240,244,1) 50%,rgba(255,255,255,1) 75%,rgba(201,230,242,1) 95%);
    background: -ms-linear-gradient(-45deg, rgba(201,230,242,1) 5%,rgba(255,255,255,1) 25%,rgba(230,240,244,1) 50%,rgba(255,255,255,1) 75%,rgba(201,230,242,1) 95%);
    background: linear-gradient(135deg, rgba(201,230,242,1) 5%,rgba(255,255,255,1) 25%,rgba(230,240,244,1) 50%,rgba(255,255,255,1) 75%,rgba(201,230,242,1) 95%);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9e6f2', endColorstr='#c9e6f2',GradientType=1 );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*navigation bars*/
/*.nav-main {
    z-index: 2;
    top: 0px;
    height: 50px;
    background-color: #246ca1;
    border-bottom: 1px solid #0c2130;
    width: 100%;
    margin: 0px;
    position: fixed;
}*/

    .nav-main > .nav-site-map {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 48px;
        min-width: 300px;
    }

    .nav-main ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .nav-main ul > li {
            display: inline-block;
        }

    .nav-main > .nav-user-info {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 48px;
        min-width: 350px;
    }

/*Toolbox (Transactional button container)*/
.toolbox {
    z-index: 2;
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: #f5f5f5;
    margin: 0px;
    border-bottom: 1px solid #d7d7d7;
    top: 50px;
}

    .toolbox > .toolbox-left {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 38px;
        min-width: 200px;
    }

    .toolbox > .toolbox-right {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 38px;
        min-width: 400px;
    }

    .toolbox ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .toolbox ul > li {
            display: inline-block;
        }

            .toolbox ul > li > .status-icon {
                vertical-align: 1px;
            }

            .toolbox ul > li > .status-text {
                vertical-align: 4px;
            }


/*custom properties*/



#txtGlobalSearch {
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 200px;
    height: 24px;
}

#txtDateFrom {
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 100px;
    height: 24px;
}

.hide {
    display: none;
}

.client_logo {
    float: left;
    padding-right: 20px;
}

#txtGlobalSearchOth {
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 200px;
    height: 24px;
    margin-bottom: 15px;
}

.disabledInput {
    pointer-events: none;
    opacity: 0.7;
}

#spanUser {
    text-transform: capitalize;
}

.hidden {
    display: none;
}

/*hyperlink properties*/
a {
    text-decoration: none;
    color: inherit;
}

    a.toolbarbutton:visited {
        color: inherit;
    }

    a.toolbarbutton:active {
        color: #dcdcdc;
    }

    a.linkbutton:active {
        color: inherit;
    }

.pagination-right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}
/*#endregion Generic-Properties*/
/*border*/
.border-search {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    min-width: 200px;
    height: 24px;
}


/*#region Formating-Fonts-Alignment*/
div#printhead {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

@media screen {
    div#printhead {
        display: none;
    }

    div#docbody {
        margin-top: 0;
    }

    div#docfooter {
        display: none;
        margin-bottom: 0;
    }
}

@media print {
    div#printhead {
        /*page-break-before: always;*/
    }

    div #docbody {
        /*margin-top: 1em;*/
    }

    div#docfooter {
        float: right;
        position: fixed;
        bottom: 0px;
    }


        div#docfooter .pullright {
            margin-left: 0;
            margin-bottom: 0;
            width: 200px;
        }
}



.pagenum:before {
    counter-increment: page;
    content: counter(page);
}
/*@media print {
    .headerPrint-left {
        display: block;
    }
}*/
.headerPrint-right {
    position: absolute;
    top: 0%;
    right: 0%;
}


/*#region Notification-divs*/
.notify-error {
    padding: 8px;
    border: 1px solid #ce8e8e;
    color: #ff0000;
    border-radius: 10px;
    background-color: #ffcece;
}

.notify-success {
    padding: 8px;
    border: 1px solid #46bd4c;
    color: #2e853a;
    border-radius: 10px;
    background-color: #b2ffbf;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
}
/*#endregion Notification-divs*/

/*#region Button-Generic*/
.button {
    height: 36px;
    padding-left: 25px;
    padding-right: 25px;
    /*background-color: #246ca1;*/
    border-radius: 5px;
    border: none;
    /*color: #efefef;*/
}

    .button.button-block {
        width: 100%;
    }

    .button:hover {
        cursor: pointer;
    }

    .button:active {
        /*background-color: #407ca8;*/
    }


/*#endregion Button-Generic*/
.pagingButton {
    height: 30px;
    width: 30px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #246ca1;
    border-radius: 5px;
    border: none;
    color: #efefef;
}

    .pagingButton.button-block {
        width: 100%;
    }

    .pagingButton:hover {
        cursor: pointer;
    }

    .pagingButton:active {
        background-color: #407ca8;
    }
/*#region Flexible-Box*/
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
}

.flex-field-container-ext {
    min-width: 130px;
}

.flex-field-container-2ext {
    min-width: 60px;
    max-width: 60px;
    width: 60px;
    padding-right: 10px;
    text-align: right;
}

.flex-field-container {
    min-width: 250px;
}

.flex-field-container-oth {
    min-width: 150px;
}

.flex-field-container-extended {
    min-width: 350px;
}

.flex-nowrap {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-item-0 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
}

.flex-item-1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-item-2 {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.flex-item-3 {
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.flex-item-4 {
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

.extra-padding-1 {
    padding-left: 20px;
    padding-right: 20px;
}

.extra-padding-2 {
    padding-left: 40px;
    padding-right: 40px;
}

.menuicons {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(201,230,242);
    border-radius: 70px;
    width: 100px;
    height: 100px;
}

.menuicons2 {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #5fa3f7;
    border-radius: 70px;
    width: 100px;
    height: 100px;
}

.menuicons3 {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #246ca1;
    border-radius: 70px;
    width: 100px;
    height: 100px;
}

.menuicons4 {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #08f8bd;
    border-radius: 70px;
    width: 100px;
    height: 100px;
}
/*#endregion Flexible-Box*/
/*alignments*/
.align-right {
    text-align: left;
}

.hide {
    display: none;
}

.align-left {
    text-align: right;
}

.avatar-upload {
    padding-top: 10px;
    padding-right: 15px;
    width: 80px;
    height: 80px;
    overflow: auto;
    right: 0px;
    position: absolute;
}

    .avatar-upload img {
        max-width: 80px;
        max-height: 80px;
    }
/*#region Header-Main-Footer*/



/*Main content*/
.field-content-detail {
    /*z-index: 0;
    width: 100%;*/
    position: relative;
    margin-top: 90px;
}

    .field-content-detail > form {
        padding-left: 60px;
        padding-right: 60px;
        color: #535353;
    }

    .field-content-detail > h1, .field-content-detail > p {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 5px;
    }

    .field-content-detail > .divProgressScreen {
        position: fixed;
        top: 90px;
        left: 0px;
        margin: 0px;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
    }

/*home content*/
.home-content-detail {
    position: relative;
    margin-top: 90px;
}

    .home-content-detail > div {
        padding-left: 40px;
        padding-right: 40px;
    }

        .home-content-detail > div > h1, .home-content-detail > div > ul {
            margin-bottom: 5px;
        }

/*search content*/
.search-content-detail {
    position: relative;
    margin-top: 90px;
}

    .search-content-detail > div {
        padding-left: 40px;
        padding-right: 40px;
    }

        .search-content-detail > div > h1, .search-content-detail > div > ul {
            margin-bottom: 5px;
        }

#searchDateResultList > ul > li .search-row-label {
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}


/*Date*/
#searchDateResultList {
    padding: 20px;
}

    #searchDateResultList > ul > li {
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid #d2d9de;
    }

        #searchDateResultList > ul > li > a {
            color: #246ca1;
            text-transform: capitalize;
        }

#searchResultClinicDate1 > ul > li .search-row-label {
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}


/*Search*/
#searchResultList {
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
    padding: 20px;
}

    #searchResultList > ul > li {
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid #d2d9de;
    }

        /*#searchResultList > ul > li > a {
            color: #246ca1;
            text-transform: capitalize;
        }*/

        #searchResultList > ul > li .search-row-label {
            min-width: 100px;
            margin-left: 8px;
            margin-right: 8px;
        }

        #searchResultList > ul > li .search-row-data {
            color: #000000;
        }

        #searchResultList > ul > li .search-row-urlwalkin {
            color: #246ca1;
            background-color: #fcb304;
            float: left;
        }

.spareParts {
    color: #246ca1;
    background-color: #fcb304;
    float: right;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}


#searchResultWOList {
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
    padding: 20px;
}

#searchResultStaffList {
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
    padding: 20px;
}

#searchResultAssignTypeList {
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
    padding: 20px;
}

#searchResultList > ul > li .search-row-urlwalkin a:hover {
    color: #000000;
    text-shadow: initial;
    border-bottom-left-radius: initial;
}

#searchResultList > ul > li .search-row-urlbill {
    color: rgb(201,230,242);
    background-color: #ff5003;
    float: left;
}

#searchResultList > ul > li .search-row-urlemr {
    /*color: rgb(201,230,242);*/
    background-color: #f50404;
    float: left;
}


#searchResultList > ul > li .search-row-divider {
    width: 70%;
    position: relative;
    min-width: 250px;
}

#searchResultList > ul > li .search-row-divider-extend {
    width: 30%;
    position: relative;
    min-width: 250px;
}



/*field summary*/
#printSummary {
    /*box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);*/
    padding: 20px;
}

#printSummary > ul > li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px solid #d2d9de;
}

#printSummary > ul > li > a {
    color: #246ca1;
    text-transform: capitalize;
}

#printSummary > ul > li .search-row-label {
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

#printSummary > ul > li .search-row-data {
    color: #000000;
}

#printSummary > ul > li .search-row-urlwalkin {
    color: #246ca1;
    background-color: #fcb304;
    float: left;
}
#summaryList {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 300px;
}

    #summaryList > ul > li {
        margin-bottom: 25px;
        padding-bottom: 5px;
        border-bottom: 1px solid #d2d9de;
    }

        #summaryList > ul > li > p {
            color: #246ca1;
            margin-bottom: 5px;
        }

        #summaryList > ul > li .summary-row-label {
            color: #adabab;
            min-width: 100px;
            margin-left: 8px;
            margin-right: 8px;
        }

        #summaryList > ul > li .summary-row-data {
            color: #000000;
        }

        #summaryList > ul > li .summary-row-divider {
            width: 100%;
            position: relative;
            min-width: 200px;
            display: table-cell;
            vertical-align: text-top;
        }

            #summaryList > ul > li .summary-row-divider > a {
                position: relative;
                display: inline-block;
            }

.listButton {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    background-color: #ddefe6;
}

#summaryList > ul > li ul {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

    #summaryList > ul > li ul > li .summary-row-label {
        margin-left: 0px;
        margin-right: 0px;
        margin-left: 8px;
        margin-right: 8px;
    }



/*#endregion RHeader-Main-Footer*/

/*#region Forms-Inputs*/
form input {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 24px;
    color: #3c3c3c;
    min-width: 220px;
}

    form input.input-extended {
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        height: 24px;
        color: #3c3c3c;
        width: 80%;
        min-width: 220px;
    }

    form input.input-oth {
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        height: 24px;
        color: #3c3c3c;
        width: 20%;
        min-width: 60px;
    }

    form input[type=checkbox] {
        border: none;
        height: 15px;
        min-width: 30px;
    }

form label {
    color: #3c3c3c;
    min-width: 220px;
    margin-bottom: 3px;
}

form textarea {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 95px;
    color: #3c3c3c;
    min-width: 220px;
    resize: none;
}

    form textarea.textarea-extended {
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        height: 95px;
        color: #3c3c3c;
        min-width: 320px;
        resize: none;
    }

textarea {
    resize: none;
}

form select {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 24px;
    color: #3c3c3c;
    min-width: 220px;
    max-width: 220px;
}

    form select.datePicker {
        width: 73px;
        min-width: 73px;
    }



input:focus, textarea:focus, select:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(84, 192, 138, 1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(84, 192, 138, 1);
}

input[type=checkbox]:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table {
    display: table;
    width: 100%;
    table-layout: auto;
    border: 1px solid green;
}

table, tbody, tr, td, th {
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
    padding-right: 5px;
}

td, th {
    border: .5px solid #d2d9de;
}

.fc-red {
    color: #f80909;
}

.fc-redalert {
    color: #f80909;
}

.a {
    min-width: 10px;
    width: 80px;
    max-width: 80px;
    text-align: right;
}

.e {
    min-width: 10px;
    width: 40px;
    max-width: 40px;
    text-align: right;
}

.b {
    min-width: 40px;
    width: 90px;
    max-width: 90px;
    text-align: left;
    padding-left: 5px;
}

.d {
    min-width: 70px;
    width: 120px;
    max-width: 120px;
    text-align: left;
    padding-left: 5px;
}

.c {
    min-width: 40px;
    width: 240px;
    max-width: 240px;
    text-align: left;
    padding-left: 5px;
}

.h {
    min-width: 40px;
    width: 480px;
    max-width: 480px;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#formDetail, #formReceiptDetail {
    margin-left: 40px;
    margin-right: 40px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=0 );
    border-radius: 10px;
    min-width: 260px;
}

#txtDateTo {
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 100px;
    height: 24px;
}

#searchItems2, #searchItems1 {
    padding-left: 20px;
}

#searchItems1 {
    padding-right: 20px;
}

#formDetail > #fieldList {
    padding-left: 30px;
    padding-left: 30px;
}

#formDetail .summary-row-divider {
    position: relative;
    min-width: 200px;
    display: inline-block;
}


/*Staff Index Specific*/
.divStaffID {
    background-color: #d8ffe0;
    position: absolute;
    right: 0px;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-bottom-left-radius: 15px;
}

    .divStaffID > span {
        color: #267a20;
    }

.divScheme {
    background-color: #000000;
    position: absolute;
    float: right;
    right: 0px;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-bottom-left-radius: 15px;
}


/*Patient Index Specific*/
.divPatientID {
    background-color: #d8ffe0;
    position: absolute;
    right: 0px;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-bottom-left-radius: 15px;
}

    .divPatientID > span {
        color: #267a20;
    }


.divInfo {
    background-color: #d8ffe0;
    position: absolute;
    right: 0px;
    width: 800px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    border-bottom-left-radius: 15px;
}

    .divInfo > span {
        color: #267a20;
    }

.divTotalPt {
    background-color: #d8ffe0;
    position: absolute;
    right: 0px;
    width: 300px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    border-bottom-left-radius: 15px;
}

.divTotalPtval {
    background-color: #f60505;
    position: absolute;
    right: 0px;
    width: 300px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    border-bottom-left-radius: 15px;
}



form .view-mode:disabled {
    background-color: #fff;
}

form .view-mode {
    background-color: #fff;
}

#frmInfo [required=required]:not(.view-mode) {
    background-color: #ffffde;
}

#frmInfo .disable-mode {
    background-color: #ebebe4 !important;
}

form [required=required]:not(.view-mode) {
    background-color: #ffffde;
}

#itemsReceiveBatch td, #searchResultList > ul > li > a,
#searchResult1 > ul > li > a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*form input[required=required], form select[required=required] {
    background-color: #ffffde;
}*/
.filter-icon:after {
    border: 1px solid black;
    content: "";
}

.filter-icon:hover {
    cursor: pointer;
}

.modal-filter-header {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-top: 5px;
}

.from-text {
    margin-right: 10px;
}

.filter-row {
    margin-bottom: 20px;
    width: 200px;
}

    .filter-row input {
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        height: 24px;
        color: #3c3c3c;
        min-width: 220px;
    }

.print {
    display: none;
}

.modalwidth3 > div {
    margin: 50px auto !important;
}

.nav-site-map .fs-medium-normal img,
.nav-user-info .hospital-name img,
.nav-user-info .fs-medium-normal img {
    vertical-align: middle;
}
