﻿.table

{
    display: table;
    width: 100%;
    table-layout: auto;
    border: 1px solid green;
}

table, tbody, tr, td, th {
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
    padding-right: 5px;
}

td, th {
    border: .5px solid #d2d9de;
}


