﻿/*#region Generic-Properties*/

@font-face {
    font-family: 'barcode';
    src: url(../fonts/3OF9_NEW.woff);
}
@font-face {
    font-family: 's_bold';
    src: url('../fonts/segoeuib-webfont.eot');
    src: url('../fonts/segoeuib-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeuib-webfont.woff2') format('woff2'),
         url('../fonts/segoeuib-webfont.woff') format('woff'),
         url('../fonts/segoeuib-webfont.ttf') format('truetype'),
         url('../fonts/segoeuib-webfont.svg#segoe_uibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*url('../fonts/segoeui-webfont.woff2') format('woff2'),*/
@font-face {
    font-family: 's_regular';
    src: url('../fonts/segoeui-webfont.eot');
    src: url('../fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeui-webfont.woff') format('woff'),
        url('../fonts/segoeui-webfont.woff2') format('woff2'),
         url('../fonts/segoeui-webfont.ttf') format('truetype'),
         url('../fonts/segoeui-webfont.svg#segoe_uiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 's_thin';
    src: url('../fonts/segoeuil-webfont.eot');
    src: url('../fonts/segoeuil-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeuil-webfont.woff2') format('woff2'),
         url('../fonts/segoeuil-webfont.woff') format('woff'),
         url('../fonts/segoeuil-webfont.ttf') format('truetype'),
         url('../fonts/segoeuil-webfont.svg#segoe_uilight') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

div,
p,
a,
main,
nav,
article,
aside,
header,
form,
ul,
li,
footer, 
label,
h1,h2,h3,h4
{
    display: block;
}

h1,h2,h3,h4{
    font-family: 's_thin';
    font-weight: normal;
}

div,
p,
a,
main,
nav,
article,
aside,
header,
form,
ul,
li,
footer,
label,
input,
button,
span
{
    font-family: 's_regular';
    font-size: 14px;
}

span {
    display: inline-block;
}

input {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
         body{
            font-size: 12px;
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
            background: white;
           
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            
           
         }
}
@media only screen and (max-width:769px) {
    body {
        font-size: 12px;
        padding: 0px;
        margin: 0px;
        background: white;
        background-size: cover;
        height: 100%;
        min-height:100%;
        
        
    }
}
option {
    text-transform: capitalize;
}


/*#region Formating-Fonts-Alignment*/

/*alignments*/
.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

/*font-sizes*/
.fs-large-strong {
    font-size: 23px;
    font-weight: bold;
}
.closeWO {
    color: #15e206;
    background-color: #d83434;
    float: right;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.fs-large-normal {
    font-size: 23px;
}

.fs-large-normal {
    font-size: 23px;
}
.dynamic-badge {
    position: relative;
}

.dynamic-badge[data-badge]:after {
        content: attr(data-badge);
        /*content: "\25AE";
        font-family: FontAwesome;*/
        position: absolute;
        top: -15px;
        right: -18px;
        font-size: 11px;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-weight: 600;
        text-align: center;
        line-height: 23px;
        background: #ff4081;
        color: white;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        /* box-shadow:1px 2px 5px #888; */

}

.fs-medium-normal {
    font-size: 16px;
}

.fs-medium-strong {
    font-size: 16px;
    font-weight: bold;
}

.fs-small-normal {
    font-size: 12px;
}
/*font-color*/
.fc-grey {
    color: #808080;
}

.fc-slate-grey {
    color: #005d76;
}

.fc-light-grey {
    color: #dcdcdc;
}

.fc-light-grey-2 {
    color: #adabab;
}


.fc-white {
    color: #ffffff;
}

.fc-slate-blue {
    color: #246ca1;
}

.fc-green {
    color: #37aa4b;
}

.fc-redalert {
    color: #f80909;
}

/*#endregion Formating-Fonts-Alignment*/

/*navigation bars*/
.nav-main {
    z-index: 2;
    top: 0px;
    height: 50px;
    background-color: #246ca1;
    /*border-bottom: 1px solid #0c2130;*/
    width: 100%;
    margin:0px;

    position: fixed;
}

.liDateHeaderslotsrow {
    margin-left: 10px;
   
    height:auto;
   color: white;

   padding: 5px;
   background-color: #246ca1;
   border-top-style: hidden;
    border-bottom-style: dotted;
    border-bottom-width:thin;
}
.liDateslotsrow {
    height:auto;
   color: white;
   width: 240px;
   padding: 5px;
   background-color: #246ca1;
   border-top-style: hidden;
    border-bottom-style: dotted;
    border-bottom-width:thin;
}

.nav-main > .nav-site-map {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 48px;
    min-width: 300px;
}

.nav-main ul{
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-main ul > li { 
    display: inline-block; 
}

.nav-main > .nav-user-info {
    padding-left: 20px;
    padding-right: 20px; 
    line-height: 48px;
    min-width: 350px;
}

/*Toolbox (Transactional button container)*/
.toolbox {
    z-index: 2;
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: #f5f5f5;
    margin: 0px;
    border-bottom: 1px solid #d7d7d7;
    top: 50px;
}

.toolbox > .toolbox-left {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 38px;
    min-width: 200px;
}

.toolbox > .toolbox-right {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 38px;
    min-width: 450px;
}


.toolbox ul{
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.toolbox ul li { 
    display: inline-block; 
}

.toolbox ul > li > .status-icon { 
    vertical-align: 1px;
}

.toolbox ul > li > .status-text { 
    vertical-align: 4px;
}

.toolbox ul > li  .btn-text { 
    vertical-align: 2px;
}



.footer-main{
    z-index: 2;
    bottom: 0px;
    height: 40px;
    background-color: #246ca1;
    color: #ffffff;
    /*border-top: 1px solid #808080;*/
    width: 100%;
    margin:0px;
    position: fixed;
    text-align: center;
    font-size: 11px;
}

.footer-main > p{
    line-height: 40px;
}

/*#endregion RHeader-Main-Footer*/

.main-menu {
    position: absolute;
    width: 600px;
    height: 150px;
    background-color: #dde7eb;
    bottom: 40px;
    left: 0px;
    border-top-right-radius: 25px;
    display: none;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
}


/*Basic reset*/
* {margin: 0; padding: 0;}


.menu-container {
    padding-top: 3px;
    background: #2e7eb9;
    width: 300px;
    position: fixed;
    z-index: 200;
    top: 90px;
    bottom: 39px;
    left: 0;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
}
#headerMod {
    padding-top:10px;
    padding-bottom:10px;
}
/*heading styles*/
#searchMenu h3 {
    color: white;
    font-size: 12px;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    border-bottom: 1px solid #669bc2;
}
/*heading hover effect*/
#searchMenu h3:hover {
	text-shadow: 0 0 1px #246ca1;
}
/*iconfont styles*/
#searchMenu h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#searchMenu li {
	list-style-type: none;
}
/*links*/
#searchMenu ul ul li a {
	color:antiquewhite;
	text-decoration: none;
	font-size: 13px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	transition: all 0.15s;
}
/*hover effect on links*/
#searchMenu ul ul li a:hover {
	
}
/*Lets hide the non active LIs by default*/
#searchMenu ul ul {
	display: none;
}
#searchMenu li.active ul {
	display: block;
}
#searchResultList > ul > li > a {
    color: #246ca1;
    text-transform: capitalize;
}

#searchResultAsset > ul > li > a {
    color: #246ca1;
    text-transform: capitalize;
}
.barcode {
    font-family: 'barcode' !important;
    font-size: 26px;
}

#colorScheme {
    background: #2e7eb9;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
}

#searchTransResultList > ul > li > a {
    color: #246ca1;
    text-transform: capitalize;
}

