﻿/*#region Generic-Properties*/
@font-face {
    font-family: 's_bold';
    src: url('../fonts/segoeuib-webfont.eot');
    src: url('../fonts/segoeuib-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeuib-webfont.woff2') format('woff2'),
         url('../fonts/segoeuib-webfont.woff') format('woff'),
         url('../fonts/segoeuib-webfont.ttf') format('truetype'),
         url('../fonts/segoeuib-webfont.svg#segoe_uibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*url('../fonts/segoeui-webfont.woff2') format('woff2'),*/
@font-face {
    font-family: 's_regular';
    src: url('../fonts/segoeui-webfont.eot');
    src: url('../fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeui-webfont.woff') format('woff'),
        url('../fonts/segoeui-webfont.woff2') format('woff2'),
         url('../fonts/segoeui-webfont.ttf') format('truetype'),
         url('../fonts/segoeui-webfont.svg#segoe_uiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 's_thin';
    src: url('../fonts/segoeuil-webfont.eot');
    src: url('../fonts/segoeuil-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeuil-webfont.woff2') format('woff2'),
         url('../fonts/segoeuil-webfont.woff') format('woff'),
         url('../fonts/segoeuil-webfont.ttf') format('truetype'),
         url('../fonts/segoeuil-webfont.svg#segoe_uilight') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

div,
p,
a,
main,
nav,
article,
aside,
header,
form,
ul,
li,
footer, 
label,
h1,h2,h3,h4
{
    display: block;
}

h1,h2,h3,h4{
    font-family: 's_thin';
    font-weight: normal;
}

div,
p,
a,
main,
nav,
article,
aside,
header,
form,
ul,
li,
footer,
label,
input,
button,
span
{
    font-family: 's_regular';
    font-size: 14px;
}

span {
    display: inline-block;
}

input {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    padding: 0px;
    margin: 0px;

    width: 100%;
    height: 100%;
    background: rgb(201,230,242);
    background: -moz-linear-gradient(-45deg,  rgba(201,230,242,1) 5%, rgba(255,255,255,1) 25%, rgba(230,240,244,1) 50%, rgba(255,255,255,1) 75%, rgba(201,230,242,1) 95%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(5%,rgba(201,230,242,1)), color-stop(25%,rgba(255,255,255,1)), color-stop(50%,rgba(230,240,244,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(95%,rgba(201,230,242,1)));
    background: -webkit-linear-gradient(-45deg,  rgba(201,230,242,1) 5%,rgba(255,255,255,1) 25%,rgba(230,240,244,1) 50%,rgba(255,255,255,1) 75%,rgba(201,230,242,1) 95%);
    background: -o-linear-gradient(-45deg,  rgba(201,230,242,1) 5%,rgba(255,255,255,1) 25%,rgba(230,240,244,1) 50%,rgba(255,255,255,1) 75%,rgba(201,230,242,1) 95%);
    background: -ms-linear-gradient(-45deg,  rgba(201,230,242,1) 5%,rgba(255,255,255,1) 25%,rgba(230,240,244,1) 50%,rgba(255,255,255,1) 75%,rgba(201,230,242,1) 95%);
    background: linear-gradient(135deg,  rgba(201,230,242,1) 5%,rgba(255,255,255,1) 25%,rgba(230,240,244,1) 50%,rgba(255,255,255,1) 75%,rgba(201,230,242,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9e6f2', endColorstr='#c9e6f2',GradientType=1 );



    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

option {
    text-transform: capitalize;
}



/*custom properties*/
#txtGlobalSearch {
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 200px;
    height: 24px;
}

#txtDateFrom {
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 100px;
    height: 24px;
}

.dynamic-badge {
    position: relative;
}

.dynamic-badge[data-badge]:after {
    content: attr(data-badge);
    /*content: "\25AE";
    font-family: FontAwesome;*/
    position: absolute;
    top: -15px;
    right: -18px;
    font-size: 11px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 23px;
    background: #ff4081;
    color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    /* box-shadow:1px 2px 5px #888; */
}

#spanUser {
    text-transform: capitalize;
}

.hidden {
    display: none;
}

/*hyperlink properties*/
a{
    text-decoration: none;
    color: inherit;
}

a.toolbarbutton:visited{
    color: inherit;
}

a.toolbarbutton:active{
    color: #07ae10;
}

a.linkbutton:active{
    color: inherit;
}

/*#endregion Generic-Properties*/
/*border*/
.border-search {
    border: 1px solid #808080;
    border-radius: 5px;
    min-width: 200px;
    height: 24px;
}


/*#region Formating-Fonts-Alignment*/

/*alignments*/
.align-right {
    text-align: right;
}

.align-left {
    padding-left: 30px;
    text-align: left;
}

/*font-sizes*/
.fs-large-strong {
    font-size: 23px;
    font-weight: bold;
}

.fs-large-normal {
    font-size: 23px;
}

.fs-large-normal {
    font-size: 23px;
}

.fs-medium-normal {
    font-size: 16px;
}

.fs-medium-strong {
    font-size: 16px;
    font-weight: bold;
}

.fs-small-normal {
    font-size: 12px;
}
/*font-color*/
.fc-grey {
    color: #808080;
}

.fc-iwan {
    color: #000000;
}

.fc-slate-grey {
    color: #005d76;
}

.fc-light-grey {
    color: #dcdcdc;
}

.fc-light-grey-2 {
    color: #adabab;
}


.fc-white {
    color: #ffffff;
}

.fc-slate-blue {
    color: #246ca1;
}

.fc-green {
    color: #37aa4b;
}

/*#endregion Formating-Fonts-Alignment*/

/*#region Notification-divs*/
.notify-error {
    padding: 8px;
    border: 1px solid #ce8e8e;
    color: #ff0000;
    border-radius: 10px;
    background-color: #ffcece;
}

.notify-success {
    padding: 8px;
    border: 1px solid #46bd4c;
    color: #2e853a;
    border-radius: 10px;
    background-color: #b2ffbf;
    position: absolute;
    left: 90px;
    bottom: -252px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
}
/*#endregion Notification-divs*/

.slider {
    padding-left:30px;
    height: 390px;
    max-width:800px;
    max-height: 390px;
    position:relative
}
#imagePic {
    height: 390px;
    width: 656px;
    max-width:656px;
    max-height: 390px;
}
.button-ext {
    background-color: #e1e1e1;
        border: none;
    width:40px;
    height: 40px;
    color: #b0abab;
    padding-top:0px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 80px;
    text-align: center; 
    font-size: x-large;
    text-decoration: none;
    display: inline-block;
    float:right;
    cursor: pointer;
}
.btn-floatingleft {
    position: center;
    top:45%;
    left:0;
}
ul.a{
    list-style-type: square;
    color: gray;
    padding-right:30px;
}

.floatingright {
    position: center;
    top:45%;
    right:0;
}
/*#region Flexible-Box*/
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: stretch;
}

.flex-field-container {
    min-width: 250px;
}

.flex-field-container-oth {
    min-width: 150px;
}

.flex-field-container-extended {
    min-width: 350px;
}

.flex-nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.flex-item-0 {
    -webkit-box-flex: 0;
    -moz-box-flex:  0;
    -webkit-flex:  0;
    -ms-flex:  0;
    flex:  0;
}
.flex-item-1 {
    -webkit-box-flex: 1;
    -moz-box-flex:  1;
    -webkit-flex:  1;
    -ms-flex:  1;
    flex:  1;
}

.flex-item-2 {
    -webkit-box-flex: 2;
    -moz-box-flex:  2;
    -webkit-flex:  2;
    -ms-flex:  2;
    flex:  2;
}

.flex-item-3 {
    -webkit-box-flex: 3;
    -moz-box-flex:  3;
    -webkit-flex:  3;
    -ms-flex:  3;
    flex:  3;
}

.flex-item-4 {
    -webkit-box-flex: 4;
    -moz-box-flex:  4;
    -webkit-flex:  4;
    -ms-flex:  4;
    flex:  4;
}

.extra-padding-1 {
    padding-left: 20px;
    padding-right: 20px;
}

.extra-padding-2 {
    padding-left: 40px;
    padding-right: 40px;
}
/*#endregion Flexible-Box*/

/*#region Header-Main-Footer*/

/*navigation bars*/
.nav-main {
    z-index: 2;
    top: 0px;
    height: 50px;
    background-color: #246ca1;
    /*border-bottom: 1px solid #0c2130;*/
    width: 100%;
    margin:0px;

    position: fixed;
}

.nav-main > .nav-site-map {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 48px;
    min-width: 300px;
}

.nav-main ul{
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-main ul > li { 
    display: inline-block; 
}

.nav-main > .nav-user-info {
    padding-left: 20px;
    padding-right: 20px; 
    line-height: 48px;
    min-width: 350px;
}

/*Toolbox (Transactional button container)*/
.toolbox {
    z-index: 2;
    position: fixed;
    height: 35px;
    width: auto;
    background-color: rgba(255,255,255,1);
    margin-left: 100px;
    
    top: 50px;
}

.toolbox > .toolbox-left {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 38px;
    min-width: 200px;
}

.toolbox-right {
    padding-left: 20px;
    padding-right: 5px;
    line-height: 38px;
    min-width: auto;
    float:right;
}


.toolbox ul{
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.toolbox ul li { 
    display: inline-block; 
}

.toolbox ul > li > .status-icon { 
    vertical-align: 1px;
}

.toolbox ul > li > .status-text { 
    vertical-align: 4px;
}

.toolbox ul > li  .btn-text { 
    vertical-align: 2px;
}

/*Main content*/
.field-content-detail {
    /*z-index: 0;
    width: 100%;*/   
    position: relative;
    margin-top: 90px;
}

.field-content-detail > form {
    padding-left: 60px;
    padding-right: 60px;
    color: #535353;
}

.field-content-detail > h1,  .field-content-detail > p{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
}

.field-content-detail > .divProgressScreen {
    position: fixed;
    top: 90px;
    left: 0px; 
    margin: 0px;
    height: 100%;
    width: 100%;

    z-index: 1;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
}

/*home content*/
.home-content-detail {
    position: relative;
    margin-top: 90px;
}

.home-content-detail > div {
    padding-left: 40px;
    padding-right: 40px;
}

.home-content-detail > div >  h1,  .home-content-detail > div > ul{
    margin-bottom: 5px;
}

/*search content*/
.search-content-detail {
    position: relative;
    margin-top: 90px;
    
}

.search-content-detail > div {
    padding-left: 40px;
    padding-right: 40px;
}

.search-content-detail > div >  h1,  .search-content-detail > div > ul{
    margin-bottom: 5px;
}

#searchDateResultList > ul > li  .search-row-label{
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}


/*Date*/
#searchDateResultList {
    padding: 20px;
}

#searchDateResultList > ul > li{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d2d9de;
}

#searchDateResultList > ul > li > a{
    color: #246ca1;
    text-transform: capitalize;
}

#searchResultClinicDate1 > ul > li  .search-row-label{
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}


/*Search*/
#searchResultList {
    padding: 20px;
}

#searchResultList > ul > li{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d2d9de;
}

#searchResultList > ul > li > a{
    color: #246ca1;
    text-transform: capitalize;
}

#searchResultList > ul > li  .search-row-label{
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

#searchResultList > ul > li  .search-row-data{
    color: #000000;
}

#searchResultList > ul > li  .search-row-urlwalkin{
    color: #246ca1;
    background-color: #fcb304;  
   float: left;


   
}

#searchResultList > ul > li  .search-row-urlwalkin a:hover {
        color: #000000;
        text-shadow:initial;
        border-bottom-left-radius: initial;
   
}
#searchResultList > ul > li  .search-row-urlbill{
    color: rgb(201,230,242);
    background-color: #ff5003;
    float: left;
    
}
#searchResultList > ul > li  .search-row-urlemr{
    color: rgb(201,230,242);
    background-color: #f50404;
    float: left;
}


#searchResultList > ul > li .search-row-divider{
    width: 70%; 
    position: relative; 
    min-width:250px;
}

#searchResultList > ul > li .search-row-divider-extend{
    width: 30%; 
    position: relative; 
    min-width:250px;
}

/*field summary*/

#summaryList {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 300px;
}

#summaryList > ul > li{
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d2d9de;
}

#summaryList > ul > li > p{
    color: #246ca1;
    margin-bottom: 5px;
}

#summaryList > ul > li .summary-row-label{
    color: #adabab;
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

#summaryList > ul > li .summary-row-data{
    color: #000000;
}

#summaryList > ul > li .summary-row-divider{
    width: 100%; 
    position: relative; 
    min-width:200px;
    display: table-cell;
    vertical-align: text-top;
}

#summaryList > ul > li .summary-row-divider > a{
    position: relative; 
    display: inline-block;
}

.listButton {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    background-color: #ddefe6;
}

#summaryList > ul > li  ul{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

#summaryList > ul > li  ul > li .summary-row-label{
    margin-left: 0px;
    margin-right: 0px;
    margin-left: 8px;
    margin-right: 8px;
}


.footer-main{
    z-index: 2;
    bottom: 0px;
    height: 40px;
    background-color: #578498;
    color: #ffffff;
    /*border-top: 1px solid #808080;*/
    width: 100%;
    margin:0px;
    position: fixed;
    text-align: center;
    font-size: 11px;
}

.footer-main > p{
    line-height: 40px;
}

/*#endregion RHeader-Main-Footer*/

/*#region Forms-Inputs*/
form input {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 24px;
    color: #3c3c3c;
    min-width: 220px;
}

form input.input-extended {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 24px;
    color: #3c3c3c;
    width: 80%;
    min-width: 220px;
}

form input[type=checkbox]{
    border: none;
    height: 15px;
    min-width: 30px;
}

form label {
    color: #3c3c3c;
    min-width: 220px;
    margin-bottom: 3px;
}

form textarea {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 95px;
    color: #3c3c3c;
    min-width: 220px;
}

form textarea.textarea-extended {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 95px;
    color: #3c3c3c;
    min-width: 320px;
}


form select {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 24px;
    color: #3c3c3c;
    min-width: 220px;
}

form select.datePicker {
    width: 73px;
    min-width: 73px;
}

form input[required=required], form select[required=required] {
    background-color: #ffffde;
}

input:focus , textarea:focus , select:focus{
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(84, 192, 138, 1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(84, 192, 138, 1);
}

input[type=checkbox]:focus{
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.view-mode {
    background-color: none;
    border: none;
    color: #246ca1;
}

.view-mode[required=required] {
    background-color: #ffffff;
    border: none;
}

#formDetail {
    margin-left: 40px;
    margin-right: 40px;
    
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=0 );

    border-radius: 10px;
    min-width: 280px;
}

#formDetail > #fieldList {
    padding-left: 30px;
    padding-left: 30px;
    
}

#formDetail  .summary-row-divider {
    position: relative; 
    min-width:200px;
    display: inline-block;
}

/*#endregion Forms-Inputs*/

.main-menu {
    position: absolute;
    width: 600px;
    height: 150px;
    background-color: #dde7eb;
    bottom: 40px;
    left: 0px;
    border-top-right-radius: 25px;
    display: none;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
}


/*Staff Index Specific*/
.divStaffID {
    background-color: #d8ffe0;
    position: absolute;
    right: 0px;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-bottom-left-radius: 15px;
}

.divStaffID > span {
    color: #267a20;
}

/*Patient Index Specific*/
.divPatientID {
    background-color: #d8ffe0;
    position: absolute;
    right: 0px;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-bottom-left-radius: 15px;
}

.divPatientID > span {
    color: #267a20;
}

.login-page {
    /*background-image: url('../images/login-background.png');
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
    background-color: rgba(255,255,255,0.6);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),*/
    /*background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('../images/131746163-huge.jpg') no-repeat;*/
    background-size:100% 100%;
    background-position: left bottom;
}

.login-page #map1 > .content {
    padding-left: 30%;
    padding-right: 0;
}
/*.login-page2 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)), url('../images/kindpng_65017.png') no-repeat;
    background-size: 100% 60%;
    background-position: right top;
}*/
.login-page3 {
    background: linear-gradient(to left, rgba(17, 154, 253,0.5), rgba(255, 255, 255, 0.5));
    background-size: 100% 100%;
    border-radius:50%;
    /*border: 1px solid #efeeee;*/
}
.login-pageText {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-size: 100% 100%;
  
}
.login-page4 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));   
    background-size: 100% 100%;
}

.login-page-circle {
    background: linear-gradient(to right, rgba(34, 177, 36, 0.7), rgba(34, 177, 36, 0.7));
    background-size: 100% 100%;
    border-radius: 50%;
    border: 1px solid #b2afaf;
}