﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>System Dictionary</title>

    <link rel="icon" type="image/png" href="~/images/DocAppPNG.png" />
    <script>
        document.write('<link href="/Content/'+sessionStorage.cssSite+'" rel="stylesheet" />');
    </script>
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/systemapps_systemDictionary.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>


</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a href="/menuApps"><i class="fa fa-list"></i>Menu&nbsp;</a></li>

                    <li class="fc-white"><a href="/debtor/debtorContractTerms">System / Maintain Dictionary&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">User</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-2">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Store"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;New</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Debtor Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;Modify</span>&nbsp;&nbsp;</a></li>

                    <li class="fc-slate-blue"><a class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#openModalInfo" title="Add Item"><i class="fa fa-list-alt"></i>&nbsp;<span class="btn-text fs-medium-normal">Add</span>&nbsp;&nbsp;</a></li>
                    <li class="fc-grey">
                        <select class="border-search" id="STATUS" name="STATUS">
                            <option value="" selected="selected">- select -</option>
                            <option value="A" >Complete</option>
                            <option value="I" >Incomplete</option>
                        </select>
                    </li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">Please wait while saving all changes ...</span></li>
                </ul>
            </div>


        </div>
    </header>
    <div class="field-content-detail">

        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>


       
        <div id="openModalInfo" class="modalwidth4">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <br />
                <br />
                <form id="itemInfo">
                    <p>New Entry:<span id="itemDescription" class="fc-slate-blue"></span></p>
                    <input type="hidden" name="currDICTIONARY_ID" id="currDICTIONARY_ID">
                    <input type="hidden" name="LASTACTION" id="LASTACTION">
                    <br />

                    <div class="flex-container flex-wrap">


                        <div class="flex-item-1 flex-field-container-ext">

                            <ul>
                                <li>
                                    <label for="DESCRIPTION">English:</label>
                                    <textarea class="input-Modal-ext2" name="currDESCRIPTION" id="currDESCRIPTION" placeholder=""></textarea> <br />


                                    <label for="Problem">Arabic:</label>
                                    <textarea class="input-Modal-ext2" dir="rtl" name="currDESCRIPTION_OTH" id="currDESCRIPTION_OTH" placeholder=""></textarea> <br />

                                    <label for="REMARKS">Comment:</label>
                                    <textarea class="input-Modal-ext2" name="currREMARKS" id="currREMARKS" placeholder=""></textarea> <br />
                                   

                                </li>
                            </ul>
                        </div>
                       
                    </div>
                    <br />
                    @*<a href="#" data-bind="click: addItemToReceive" class="button-ext" id="addButton"><span>Proceed</span></a>*@
                    <a href="#" data-bind="click: saveupdateItemInfo" class="button-ext" id="updateButton"><span>Save</span></a>
                </form>
                
            </div>
        </div>
        <br />
        <h1 id="contentHeader" hidden="hidden"></h1>
        <p id="contentSubHeader"></p>
        <div class="flex-container flex-wrap">


        </div>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <input type="hidden" name="delRow" id="delRow">
            <p>Total number of item(s) <span data-bind='text: dictionaryList().length'>&nbsp;</span> </p>

            <table data-bind='visible: dictionaryList().length > 0' id="itemsReceiveBatch">
                <thead>
                    <tr>
                        <th class='h'>English</th>
                        <th class='h'>Arabic</th>
                        <th class='h'>Remarks</th>

                    </tr>
                </thead>
                <tbody data-bind='foreach: dictionaryList'>
                    <tr data-bind="click: $parent.select">
                        <td class="a"><span data-bind='text: DESCRIPTION, uniqueName: true'></span></td>
                        <td class="h"><span data-bind='text: DESCRIPTION_OTH, uniqueName: true'></span></td>
                        <td class="a"><span data-bind='text: REMARKS, uniqueName: true'><input id="DICTIONARY_ID" name="DICTIONARY_ID" type="hidden"><input id="DICTIONARY_ACTION" name="DICTIONARY_ACTION" type="hidden"></span></td>
                        
                        <td><a href='#' data-bind='click: $root.displayDetail' class="button-ext"><i class="fa fa-share-alt-square"></i></a></td>

                    </tr>
                </tbody>
            </table>
            <button type="submit" id="saveInfo" class="hidden"></button>

        </form>

        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>Hello, Welcome to System Dictionary</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;Add new word</li>
                <li><i class="fa fa-check"></i>&nbsp;Modify existing wrod</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">System dictionary search results for ''. 6 Items found.</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">Short Description: <span class="searchRowData">CPED</span></span>
                        <span class="searchRowLabel2 searchRowLabel">Description: <span class="searchRowData">Pediatric</span></span>
                        <span class="searchRowLabel3 searchRowLabel">Other Description: <span class="searchRowData">OTH</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">

        $(document).ready(

            function () {


                /*Text that needs to be localized later*/
                var viewModel = {


                    errorOne: 'There seems to be a problem in the system. We will now redirect you to the logon page to avoid further issues.\n\r" {0} "\n\rSorry for the inconvenience.',
                    errorTwo: 'Server not available, please try again later',
                    addModeHeader: 'System Dictionary Details',
                    addModeSubHeader: '',
                    updateModeHeader: 'Update System Dictionary Information',
                    updateModeSubHeader: 'Please provide all required information before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    saveModeStatusText: 'Please wait while saving . . .',
                    saveSuccessMessage: 'Record Successfully Saved!',
                    readModeStatusText: 'Please wait while getting System Dictionary information . . .',
                    displayModeHeader: 'System Dictionary Details',
                    displayModeSubHeader: 'Click the <i class=" fa fa-edit"></i>edit button to modify System Dictionary details',
                    searchModeStatusText: 'Please wait while searching . . .',
                    searchModeHeader: "System Dictionary search results for '{0}'. {1} Items found.",
                    searchModeLabels: {
                        idInfo: 'Store Code',
                        descriptionInfo: 'Description',
                        otherDeth: 'Store type'
                    }


                };



                var myViewModel = new systemDictionaryViewModel(viewModel);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

