﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>BSAIMS Home Page </title>
	<link rel="icon" type="image/png" href="~/images/companylogo.png" />

	@*<link href="@Html.Raw(menuapps_index.home_menu_cssMainUrl) " rel="stylesheet" />*@
	<script>
		document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
	</script>


	<link href="/Content/font-awesome.min.css" rel="stylesheet" />
	<link href="/Content/menuapps.css" rel="stylesheet" />
	@*<link href="/Content/site.css" rel="stylesheet" />*@


	<link href="/Content/modalOth.css" rel="stylesheet" />
	<link href="/Content/menu.css" rel="stylesheet" />
	<script src="/Scripts/jquery-1.10.2.js"></script>
	<script src="/Scripts/knockout-3.2.0.js"></script>
	<script src="~/Scripts/menuapps_indexV002.js"></script>


</head>
<body>

	<header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2 mobileHide">
                <ul class="align-right">
                    @*<li class="fs-medium-normal fc-light-grey"><a href="#">@Html.Raw(home_index.header_title_text)&nbsp;</a> </li>*@
                </ul>
            </div>
            <div class="nav-user-info flex-item-2">
                <ul class="align-right" style="text-align:center;">
                    <li class="hospital-name"> <img id="imgLogo" data-bind="attr:{src: clientInfo.clientLogo}" alt="" height="35" width="35">&nbsp; <span class="fs-large-normal" data-bind="text: clientInfo.Description"></span></li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-2">
                <ul class="align-right" id="userInfo">

                    <li class="fc-white" id="nodifyId"><a data-bind="click: getNotificationList" href=""><i class="fa fa-hand-o-right"><span class="dynamic-badge" data-badge id="nodifyInfo">@Html.Raw(home_index.textNotify)</span></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    <li class="fc-light-grey"><span id="spanUser">Business Schema</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: changePassword" href="#" id="signOut"><i class="fa fa-key"></i>&nbsp;&nbsp;@Html.Raw(home_index.resx813)</a></li>
                    <li class="fc-white">&nbsp;|&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>

		<div class="toolbox flex-container">
            <div class="toolbox-left flex-item-1">
                <ul class="align-left">
                    <li class="liExpiryNotify fc-redalert" hidden="hidden"><span class="status-icon fs-large-strong "><i class="fa fa-exclamation-triangle fa-spin"></i>&nbsp;</span><span class="status-text" id="expiryNotification">@Html.Raw(home_index.textLicenseExpiry)</span></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class="fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(home_index.resx1107)...</span></li>
                </ul>
            </div>
			<div class="toolbox-right flex-item-1" id="colorScheme">
				<ul class="align-right">

					<li class="liContactHelpdesk fc-slate-blue"><a class="status-icon fs-large-normal" href="/Emessages/" title="Contact Helpdesk"><span class="status-icon fs-large-normal "><i class="fa fa-user"></i>&nbsp;</span><span class="status-text mobileHide">@Html.Raw(aimsIndex.liContactHelpdesk_span_2_text)  &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>
					<li class="liquikAccess fc-slate-blue"><a data-bind="click: quickuserGuide" class="status-icon fs-large-normal" href="#" title="Display the quick user guide"><span class="status-icon fs-large-normal "><i class="fa fa-question-circle"></i></span>&nbsp;<span class="status-text mobileHide"> @Html.Raw(home_index.resx494)&nbsp;&nbsp;&nbsp;&nbsp;</span></a></li>
					<li class="liquikAccess fc-slate-blue"><a id="btnBlue" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Blue Scheme"><span><img src="../images/appblue.png" width="20" height="20" /></span>&nbsp;</a></li>
					<li class="liquikAccess fc-slate-blue"><a id="btnGreen" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Green Scheme"><span><img src="../images/appgreen.png" width="20" height="20" /></span>&nbsp;</a></li>
					<li class="liquikAccess fc-slate-blue"><a id="btnRed" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Red Scheme"><span><img src="../images/appred.png" width="20" height="20" /></span>&nbsp;</a></li>
					<li class="liquikAccess fc-slate-blue"><a id="btnBlack" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Black Scheme"><span><img src="../images/appblack.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-slate-blue"><a id="btnBlack" data-bind="click: changeLanguange" class="status-icon fs-large-normal" href="#" title="Change Language"><span id="languangeId">العربية</span>&nbsp;</a></li>


				</ul>
			</div>
		</div>
	</header>
    <input type="hidden" name="LANGID" id="LANGID">
	<div id="openModalInfo" class="modalwidth5">

		<div>
			@*<a href="#close" title="Close" class="close">X</a>*@
			<br />
			<div>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitle" class="fc-darkcolor fs-large-strong">@Html.Raw(home_index.resx1101).</span></p>
			</div>

			<div class="flex-item-1 flex-field-container field-list align-left" id="searchResult1">

				<ul>
					<li><i></i>&nbsp;</li>

				</ul>
			</div>
			<br /><br /><br /><br /><br /><br /><br /><br />
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="button"><span>@Html.Raw(home_index.resx96)</span></a>
		</div>

	</div>
    <div id="openModalChangePasswordActive" class="modalBoxW">
        <div>
            <br />
            <p id="costHeader">&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitle" class="fc-darkcolor fs-medium-strong">@Html.Raw(home_index.resx1102).</span></p>
            <div class="flex-container flex-wrap iconDet ">
                <ul>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li>
                        <form id="frmInfoPM">
                            <div class="flex-container flex-wrap">
                                <div class="flex-item-1 flex-field-container">
                                    <label for="NEW_PW">@Html.Raw(staff_index.textInfo_searchModeLabels_userid):</label>
                                    <input type="text" name="CUR_USERID" id="CUR_USERID" placeholder="" style="text-transform:uppercase" readonly><br />
                                    <label for="NEW_PW">@Html.Raw(home_index.resx1103):</label>
                                    <input type="password" name="CUR_PASSWORD" id="CUR_PASSWORD" placeholder="" required><br />
                                    <label for="NEW_PW">@Html.Raw(home_index.resx315)</label>
                                    <input type="password" name="NEW_PASSWORD" id="NEW_PASSWORD" placeholder="" required><br />
                                    <label for="RE_PW">@Html.Raw(home_index.resx316)</label>
                                    <input type="password" name="RE_PASSWORD" id="RE_PASSWORD" placeholder="" required><br />


                                    <br />
                                    <p id="invalidInfo" style="color:red;">@Html.Raw(home_index.resx1104).</p>
                                    <p id="validInfo" style="color:green;">@Html.Raw(home_index.resx1105).</p>

                                </div>


                            </div>
                        </form>
                    </li>
                </ul>
            </div>


            <br />
            <div class="modal-footer">
                <a id="addButtonIcon" href="#" data-bind="click: updatenewPassword" class="button-extbottom"><span>@Html.Raw(assetInfo.btnLabel_text13)</span></a>
                <a href="" class="button-extbottom"><span id="closeButtonIcon">@Html.Raw(assetInfo.btnLabel_text12)</span></a>

            </div>

        </div>
    </div>
	<div class="flex-container flex-wrap">

		<div class="flex-item-2 flex-field-container">

			<div class="search-content-detail">
				<div>
					<br /><br />
					<h1 id="searchResultSummary"></h1>
					<div id="searchMenu">
						<ul>
							<li>
								<a href="#" class="fs-medium-normal"></a>


							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-item-3 flex-field-container" id="menuappsPadding">
			<div class="search-content-detail">
				<br />
				<br />
				<h1 class="fs-medium-normal fc-slate-blue"><strong>@Html.Raw(home_index.resx1108)</strong></h1>

                <p class="fc-slate-blue">@Html.Raw(home_index.resx1109).</p>

				


			</div>


		</div>


	</div>
	<footer>
		<nav class="main-menu">

		</nav>
		<div class="footer-main">
			<p>@Html.Raw(home_index.footer_main_ptext)</p>
		</div>
	</footer>
	<script type="text/javascript">
        $(document).ready(
            function () {
                //$("#searchResultList").click(function () {

                //    //slide up all the link lists
                //    $("#searchResultList ul ul").slideUp();

                //    //slide down the link list below the h3 clicked - only if its closed
                //    //if (!$(this).next().is(":visible")) {

                //    //    $(this).next().slideDown();
                //    //}
                //});

                var textInfo = {

                    errorOne: '@Html.Raw(menuapps_index.textinfo_errorOne)',
                    errorTwo: '@Html.Raw(menuapps_index.textinfo_errorTwo)',
                    readModeStatusText: '@Html.Raw(menuapps_index.textInfo_readModeStatusText_text)',
                    searchModeStatusText: '@Html.Raw(menuapps_index.textInfo_searchModeStatusText_text)',
                   searchModeLabels: {
						idDebtor: 'Ticket no',
						asset: 'Asset',
						contactPerson: '@Html.Raw(home_index.resx202)',
						contactNo: '@Html.Raw(home_index.resx15)',
						location: '@Html.Raw(home_index.resx87)',
						status: '@Html.Raw(home_index.resx89)',
						buildingName: '@Html.Raw(home_index.resx86)',
						locationName: '@Html.Raw(home_index.resx87)',
						conditionName: '@Html.Raw(home_index.resx88)',
                        statusName: '@Html.Raw(home_index.resx89)',
                        msg: 'Message'
					}


                };

                var myViewModel = new menuappsViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

	</script>
</body>
</html>


