﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@Html.Raw(home_index.headerUrltext)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />

    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMenuApps)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <link href="/Content/menu.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/core.js"></script>
    <script src="~/Scripts/menuapps_indexV002.js"></script>
</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="topnav">
                <a href="javascript:void(0);" class="icon" data-bind="click: OpenMenu">
                    <i class="fa fa-bars fa-2x"></i>
                </a>
            </div>
            <div class="nav-site-map flex-item-2 mobileHide">
                <ul class="align-left">
                    @*<li class="fs-medium-normal fc-light-grey"><a href="#">@Html.Raw(home_index.header_title_text)&nbsp;</a> </li>*@
                </ul>
            </div>
            <div class="nav-user-info flex-item-2">
                <ul class="align-right" style="text-align:center;">
                    <li class="hospital-name" data-bind="visible: clientInfo.isVisible !=true"> @Html.Raw(home_index.header_title_text)</li>
                    <li class="hospital-name" data-bind="visible: clientInfo.isVisible"> <img id="imgLogo" data-bind="attr:{src: clientInfo.clientLogo}" alt="" height="35" width="35">&nbsp; <span class="fs-large-normal" data-bind="text: clientInfo.Description"></span></li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-2">
                <ul class="align-right" id="userInfo">
                    <li class="fc-white" id="nodifyId"><a data-bind="click: getNotificationList" href=""><i class="fa fa-hand-o-right"><span class="dynamic-badge" data-badge id="nodifyInfo">@Html.Raw(home_index.textNotify)</span></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    <li class="fc-light-grey "><span id="spanUser">Business Schema</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white "><a data-bind="click: changePassword" href="#" id="signOut"><i class="fa fa-key"></i>&nbsp;&nbsp;@Html.Raw(home_index.resx813)</a></li>
                    <li class="fc-white">&nbsp;|&nbsp;</li>
                    <li class="fc-white "><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>

        <div class="flex-container" id="myLinks">
            <ul>
                <li>
                    <a href="#" class="fs-medium-normal"></a>
                </li>
            </ul>
        </div>

        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-1">
                <ul class="align-left">
                    <li class="liExpiryNotify fc-redalert" hidden="hidden"><span class="status-icon New-Title fs-large-strong "><i class="fa fa-exclamation-triangle fa-spin"></i>&nbsp;</span><span class="status-text" id="expiryNotification">@Html.Raw(home_index.textLicenseExpiry)</span></li>
                    <li class="liApiStatus fc-slate-blue" hidden="hidden"><span class="status-icon New-Title fs-large-normal "><i class="fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(home_index.textPleasewaitwhilegettingDashboardinformation)</span></li>
                </ul>
            </div>
            <div class="toolbox-right flex-item-1">
                <ul class="align-right">
                  @*  <li class="lirunPM fc-slate-blue" hidden="hidden"><a data-bind="click: checkrunPmSchedule" class="status-icon  fs-large-normal" href="#" title="Display the quick user guide"><span class="status-icon fs-large-normal "><i class="fa fa-question-circle"></i></span>&nbsp;<span class="status-text mobileHide"> Run PM Schedule&nbsp;&nbsp;&nbsp;&nbsp;</span></a></li>*@
                    <li class="liContactHelpdesk fc-slate-blue"><a class="status-icon  fs-large-normal" href="/Emessages/" title="Contact Helpdesk"><span class="status-icon fs-large-normal "><i class="fa fa-user"></i>&nbsp;</span><span class="status-text mobileHide">@Html.Raw(home_index.resx307)  &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>
                   @* <li class="liquikAccess fc-slate-blue"><a data-bind="click: PolicyGuide" class="status-icon  fs-large-normal" href="#" title="Display Work Policy"><span class="status-icon fs-large-normal "><i class="fa fa-cog"></i></span>&nbsp;<span class="status-text mobileHide"> @Html.Raw(home_index.resxPolicy)&nbsp;&nbsp;|&nbsp;&nbsp;</span></a></li>*@
                    <li class="liquikAccess fc-slate-blue"><a data-bind="click: quickuserGuide" class="status-icon  fs-large-normal" href="#" title="Display the quick user guide"><span class="status-icon fs-large-normal "><i class="fa fa-question-circle"></i></span>&nbsp;<span class="status-text mobileHide"> @Html.Raw(home_index.resx494)&nbsp;&nbsp;&nbsp;&nbsp;</span></a></li>
                    <li class="liquikAccess fc-slate-blue"><a id="btnBlack" data-bind="click: changeLanguange" class="status-icon  fs-large-normal" href="#" title="Change Language"><span id="languangeId">العربية</span>&nbsp;</a></li>
                </ul>
            </div>
        </div>
    </header>
    <input type="hidden" name="LANGID" id="LANGID">
    <div id="openModalInfo" class="modalwidth5">
        <div>
            @*<a href="#close" title="Close" class="close">X</a>*@
            <br />
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitle" class="fc-darkcolor fs-large-strong">@Html.Raw(home_index.resx1101).</span></p>
            </div>

            <div class="flex-item-1 flex-field-container field-list align-left" id="searchResult1">

                <ul>
                    <li><i></i>&nbsp;</li>

                </ul>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br />
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="button"><span>Close</span></a>
        </div>

    </div>
    <div id="openModal" class="modalwidth3">
        <div>
            <a href="" title="Close" class="close">X</a>
            <br />
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="fc-darkcolor fs-large-strong">@Html.Raw(home_index.textYourimmidiateactionneededbaseonyournotification)</span></p>
            <br />
            <br />
            <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchResultNotify">
                <ul>
                    <li><i></i>&nbsp;</li>
                </ul>
            </div>
            <br />
        </div>
    </div>
    <div id="openModalChangePasswordActive" class="modalBoxW">
        <div>
            <br />
            <p id="costHeader">&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitle" class="fc-darkcolor fs-medium-strong">@Html.Raw(home_index.resx1102).</span></p>
            <div class="flex-container flex-wrap iconDet ">
                <ul>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li>
                        <form id="frmInfoPM">
                            <div class="flex-container flex-wrap">
                                <div class="flex-item-1 flex-field-container">
                                    <label for="NEW_PW">@Html.Raw(staff_index.textInfo_searchModeLabels_userid):</label>
                                    <input type="text" name="CUR_USERID" id="CUR_USERID" placeholder="" style="text-transform:uppercase" readonly><br />
                                    <label for="NEW_PW">@Html.Raw(home_index.resx1103):</label>
                                    <input type="password" name="CUR_PASSWORD" id="CUR_PASSWORD" placeholder="" required><br />
                                    <label for="NEW_PW">@Html.Raw(home_index.resx315)</label>
                                    <input type="password" name="NEW_PASSWORD" id="NEW_PASSWORD" placeholder="" required><br />
                                    <label for="RE_PW">@Html.Raw(home_index.resx316)</label>
                                    <input type="password" name="RE_PASSWORD" id="RE_PASSWORD" placeholder="" required><br />
                                    <br />
                                    <p id="invalidInfo" style="color:red;">@Html.Raw(home_index.resx1104).</p>
                                    <p id="validInfo" style="color:green;">@Html.Raw(home_index.resx1105).</p>

                                </div>

                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <br />
            <div class="modal-footer">
                <a id="addButtonIcon" href="#" data-bind="click: updatenewPassword" class="button-extbottom"><span>@Html.Raw(assetInfo.btnLabel_text13)</span></a>
                <a href="" class="button-extbottom"><span id="closeButtonIcon">@Html.Raw(assetInfo.btnLabel_text12)</span></a>
            </div>
        </div>
    </div>
    <div class="flex-container flex-wrap">
        <div class="menu-container">
            <div id="colorScheme">
                <ul>
                    <li class="liquikAccess fc-slate-blue"><a id="btnBlue" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Blue Scheme"><span><img src="../images/appblue.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-slate-blue"><a id="btnGreen" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Green Scheme"><span><img src="../images/appgreen.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-slate-blue"><a id="btnRed" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Red Scheme"><span><img src="../images/appred.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-slate-blue"><a id="btnBlack" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Black Scheme"><span><img src="../images/appblack.png" width="20" height="20" /></span>&nbsp;</a></li>
                </ul>
            </div>
            <div>
                <div>
                    <div id="searchMenu">
                        <ul>
                            <li>
                                <a href="#" class="fs-medium-normal"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-item-3 flex-field-container" id="menuappsPadding">
            <div class="dash-container">
                <div class="search-content-detail CCDash">
                    <h1 class="fs-large-normal  fc-slate-blue"><strong><i id="welcomeUser">@Html.Raw(home_index.resx1106)</i></strong></h1>
                    <br />
                    <p class="fc-slate-blue"><strong>@Html.Raw(home_index.resx800)</strong></p>
                    <ul>
                        <li>
                            <div>
                                <h1 id="totalCostReq">0</h1>
                            </div>
                            <p id="sesson1" class="fc-slate-blue">@Html.Raw(home_index.resx802)</p>
                        </li>
                        <li>
                            <div class="totalCostRec">
                                <h1 id="totalCostRec">0</h1>
                            </div>
                            <p id="sesson2" class="fc-slate-blue">@Html.Raw(home_index.resx803) </p>
                        </li>
                        <li>
                            <div class="totalAssests">
                                <h1 id="totalAssests">0</h1>
                            </div>
                            <p id="sesson3" class="fc-slate-blue">@Html.Raw(home_index.resx804)</p>
                        </li>
                        <li>
                            <div class="StockItems">
                                <h1 id="StockItems">0</h1>
                            </div>
                            <p id="sesson3" class="fc-slate-blue">@Html.Raw(home_index.resx805)</p>
                        </li>
                        <li>
                            <div class="OutOfStock">
                                <h1 id="OutOfStock">0</h1>
                            </div>
                            <p id="sesson3" class="fc-slate-blue">@Html.Raw(home_index.resx806)</p>
                        </li>
                        @*<li>
            <div class="NearExpiry">
                <h1 id="totalNearExpiry">0</h1>
            </div>
            <p id="sesson3" class="fc-slate-blue">@Html.Raw(home_index.resx807)</p>
        </li>*@
                        <li>
                            <div class="totalTickets">
                                <h1 id="totalTickets">0</h1>
                            </div>
                            <p id="sesson3" class="fc-slate-blue">@Html.Raw(home_index.resx808)</p>
                        </li>
                        <li>
                            <div style="background-color:red" data-bind="click: function(){goToSubModule('RECALL')}">
                                <h1 id="totalRecall">0</h1>
                            </div>
                            <p id="sesson3" class="fc-slate-blue" data-bind="click: function(){goToSubModule('RECALL')}">@Html.Raw(home_index.resx823)</p>
                        </li>
                    </ul>
                </div>
                <div class="transaction-board ">
                    <div><span class="fc-slate-blue fs-large-normal">@Html.Raw(home_index.resx801)</span></div>
                    <div class="board-content">
                        <ul>
                            <li class="fc-grey"><span class="fc-slate-blue">@Html.Raw(home_index.txtSearch) &nbsp; </span><input data-bind="event: { change: searchNow }" type="search" id="txtGlobalSearch" />&nbsp; <i class="fa fa-search fa-lg fc-slate-blue" data-bind="click: searchNow"></i></li>
                        </ul>
                        <br />
                        <div id="searchTransResultList" class="scrollStyle style-scroll">
                            <ul>
                                <li>
                                    <a href="#" class="fs-medium-normal"></a>
                                    <span class="searchRowLabel1 searchRowLabel"><span class="searchRowData"></span></span>
                                    <span class="searchRowLabel2 searchRowLabel"> <span class="searchRowData"></span></span>
                                    <span class="searchRowLabel3 searchRowLabel"><span class="searchRowData"></span></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <nav class="main-menu"></nav>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">
        $(document).ready(
            function () {
                var textInfo = {
                    errorOne: '@Html.Raw(menuapps_index.textinfo_errorOne)',
                    errorTwo: '@Html.Raw(menuapps_index.textinfo_errorTwo)',
                    readModeStatusText: '@Html.Raw(menuapps_index.textInfo_readModeStatusText_text)',
                    searchModeStatusText: '@Html.Raw(menuapps_index.textInfo_searchModeStatusText_text)',
                    searchModeLabels: {
						idDebtor: 'Ticket no',
						asset: 'Asset',
						contactPerson: '@Html.Raw(home_index.resx202)',
						contactNo: '@Html.Raw(home_index.resx15)',
						location: '@Html.Raw(home_index.resx87)',
						status: '@Html.Raw(home_index.resx89)',
						buildingName: '@Html.Raw(home_index.resx86)',
						locationName: '@Html.Raw(home_index.resx87)',
						conditionName: '@Html.Raw(home_index.resx88)',
                        statusName: '@Html.Raw(home_index.resx89)',
                        msg: 'Message'
					}
                };
                var myViewModel = new menuappsViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );
    </script>
</body>
</html>



