﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>ISO-FIN Home Page </title>
    <link rel="icon" type="image/png" href="~/images/DocAppPNG.png" />

    <script>

        document.write('<link href="/Content/'+sessionStorage.cssSite+'" rel="stylesheet" />');
    </script>
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/menuapps.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <link href="/Content/menu.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/financial_index.js"></script>


</head>
<body>

    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2 mobileHide">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey"><a href="/menuApps">@Html.Raw(home_index.header_title_text)&nbsp;</a> </li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right" id="userInfo">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx507)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.resx1112)</a></li>
                </ul>
            </div>
        </nav>

        <div class="toolbox flex-container">

            <div class="toolbox-right flex-item-1" id="colorScheme">
                <ul class="align-right">
                    <li class="liContactHelpdesk fc-slate-blue"><a data-bind="click: toggleApps" class="status-icon fs-large-normal" href="#" title="Toggle to other Application."><span class="status-icon fs-large-normal "><i class="fa fa fa-cubes"></i>&nbsp;</span><span class="status-text mobileHide">@Html.Raw(menuapps_index.liSwicthAppspan_2)  &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>
                    <li class="liContactHelpdesk fc-slate-blue"><a class="status-icon fs-large-normal" href="/SystemApps/systemDictionary" title="Contact HelpDesk."><span class="status-icon fs-large-normal "><i class="fa fa-language"></i>&nbsp;</span><span class="status-text mobileHide">@Html.Raw(menuapps_index.liContactHelpdesk_span_2_dictionary)  &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>
                    <li class="liContactHelpdesk fc-slate-blue"><a class="status-icon fs-large-normal" href="/Emessages/" title="Contact HelpDesk."><span class="status-icon fs-large-normal "><i class="fa fa-user"></i>&nbsp;</span><span class="status-text mobileHide">@Html.Raw(menuapps_index.liContactHelpdesk_span_2_text)  &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>
                    <li class="liquikAccess fc-slate-blue"><a data-bind="click: PolicyGuide" class="status-icon fs-large-normal" href="#" title="Display Work Policy"><span class="status-icon fs-large-normal "><i class="fa fa-cog"></i></span>&nbsp;<span class="status-text mobileHide">@Html.Raw(home_index.resxPolicy)&nbsp;&nbsp;&nbsp;&nbsp;</span></a></li>
                    <li class="liquikAccess fc-slate-blue"><a data-bind="click: quickuserGuide" class="status-icon fs-large-normal" href="#" title="Display the quick user guide.."><span class="status-icon fs-large-normal "><i class="fa fa-question-circle"></i></span>&nbsp;<span class="status-text mobileHide"> @Html.Raw(home_index.resx494)&nbsp;&nbsp;&nbsp;&nbsp;</span></a></li>
                    <li class="liquikAccess fc-slate-blue"><a id="btnBlue" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Blue Scheme"><span><img src="../images/appblue.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-slate-blue"><a id="btnGreen" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Green Scheme"><span><img src="../images/appgreen.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-slate-blue"><a id="btnRed" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Red Scheme"><span><img src="../images/appred.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-slate-blue"><a id="btnBlack" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Black Scheme"><span><img src="../images/appblack.png" width="20" height="20" /></span>&nbsp;</a></li>

                </ul>
            </div>
        </div>
    </header>
    <div id="openModalInfo" class="modalwidth5">

        <div>
            @*<a href="#close" title="Close" class="close">X</a>*@
            <br />
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitle" class="fc-darkcolor fs-large-strong">@Html.Raw(home_index.resx1101).</span></p>
            </div>

            <div class="flex-item-1 flex-field-container field-list align-left" id="searchResult1">

                <ul>
                    <li><i></i>&nbsp;</li>

                </ul>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br />
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="button"><span>@Html.Raw(home_index.resx96)</span></a>
        </div>

    </div>
    <div class="flex-container flex-wrap">

        <div class="flex-item-2 flex-field-container">

            <div class="search-content-detail">
                <div>
                    <br /><br />
                    <h1 id="searchResultSummary"></h1>
                    <div id="searchMenu">
                        <ul>
                            <li>
                                <a href="#" class="fs-medium-normal"></a>


                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-item-3 flex-field-container" id="menuappsPadding">
            <div class="search-content-detail">
                <br />
                <br />
                <h1 class="fs-medium-normal fc-slate-blue"><strong>@Html.Raw(aimsIndex.txtDashBoard)</strong></h1><br />

                <p style="text-align:left" class="fc-slate-blue"><strong>@Html.Raw(home_index.resx508)</strong></p>
                <table>
                    <tr>

                        <td valign="middle">


                            &nbsp;&nbsp;&nbsp;&nbsp;<a href="/patient/index"> <img src="~/images/dr.png" width="80" height="80" /></a>
                            <p style="text-align:center" class="fc-slate-blue fs-small-normal">@Html.Raw(home_index.resx1113)</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td style="text-align:right;" width="60" valign="middle">
                            <h1></h1>
                        </td>
                        <td valign="middle">
                            &nbsp;&nbsp;&nbsp;&nbsp;<a href="/outpatient/clinicBookingDiary"><img src="~/images/Diary.png" width="80" height="80" /></a>
                            <p style="text-align:center" class="fc-slate-blue fs-small-normal">@Html.Raw(home_index.resx1114)</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td style="text-align:right;" width="60" valign="middle">
                            <h1></h1>
                        </td>
                        <td valign="middle">
                            &nbsp;&nbsp;&nbsp;&nbsp;<a href="/outpatient/nurseTriage"><img src="~/images/reg.png" width="80" height="80" /></a>
                            <p style="text-align:center" class="fc-slate-blue fs-small-normal">@Html.Raw(home_index.resx1115)</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td style="text-align:right;" width="60" valign="middle">
                            <h1></h1>
                        </td>
                        <td valign="middle">
                            &nbsp;&nbsp;&nbsp;&nbsp; <a href="/doctor/physicianDesktop"><img src="~/images/triage.png" width="80" height="80" /></a>
                            <p style="text-align:center" class="fc-slate-blue fs-small-normal">@Html.Raw(home_index.resx1116)</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>

                    <tr>
                        <td valign="top">
                            <p style="text-align:center" class="fc-slate-blue fs-small-normal"> </p>
                        </td>
                        <td style="text-align:right;" width="30"></td>
                        <td>
                            <p style="text-align:center" class="fc-slate-blue fs-small-normal"></p>
                        </td>
                        <td style="text-align:right;" width="30"></td>
                        <td>
                            <p style="text-align:center" class="fc-slate-blue fs-small-normal"></p>
                        </td>
                        <td style="text-align:right;" width="30"></td>
                        <td>
                            <p style="text-align:center" class="fc-slate-blue fs-small-normal"></p>
                        </td>

                    </tr>
                </table>

                <table>
                    <tr>
                        <td>
                            <p style="text-align:center" class="fc-slate-blue"><strong>@Html.Raw(home_index.resx1117)</strong></p>
                        </td>
                    </tr>

                </table>

                <table>

                    <tr>
                        <td style="text-align:right" width="80" valign="middle">
                            <p id="sesson1" style="text-align:center">@Html.Raw(home_index.resx514)</p>
                        </td>
                        <td style="text-align:right;" width="60">
                            <h1></h1>
                        </td>
                        <td style="text-align:right" width="80" valign="middle">
                            <p id="sesson2" style="text-align:center">@Html.Raw(home_index.resx515)</p>
                        </td>
                        <td style="text-align:right;" width="60">
                            <h1></h1>
                        </td>
                        <td style="text-align:right" width="80" valign="middle">
                            <p id="sesson3" style="text-align:center">@Html.Raw(home_index.resx516)</p>
                        </td>
                        <td style="text-align:right;" width="60">
                            <h1></h1>
                        </td>
                        <td style="text-align:right" width="80" valign="middle">
                            <p id="sesson3" style="text-align:center" class="fc-slate-blue">@Html.Raw(home_index.resx1118)</p>
                        </td>

                    </tr>

                    <tr>
                        <td style="text-align:right;" width="100" class="menuicons">
                            <h1 style="text-align:center" id="totalbookP">0</h1>
                        </td>
                        <td style="text-align:right;" width="40">
                            <h1></h1>
                        </td>
                        <td style="text-align:right; " width="100" class="menuicons2">
                            <h1 style="text-align:center" id="totalbookT">0</h1>
                        </td>
                        <td style="text-align:right;" width="40">
                            <h1></h1>
                        </td>
                        <td style="text-align:right; " width="100" class="menuicons3">
                            <h1 style="text-align:center" id="totalbookF">0</h1>
                        </td>
                        <td style="text-align:right;" width="40">
                            <h1></h1>
                        </td>
                        <td style="text-align:right; " width="100" class="menuicons4">
                            <h1 style="text-align:center" id="totalPatients">0</h1>
                        </td>

                    </tr>
                </table>
                <br />

                <table>
                    <tr>
                        <td>
                            <p style="text-align:left" class="fc-slate-blue "><strong>@Html.Raw(home_index.resx503)</strong></p>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <p style="text-align:left" class="fc-slate-grey">@Html.Raw(home_index.resx1119).</p>
                            <p style="text-align:left" class="fc-slate-grey"><a data-bind="click: flyerGuide" href="#"> @Html.Raw(home_index.resx1120) <strong class="fs-small-normal">@Html.Raw(home_index.resx520)</strong> </a></p>
                        </td>
                    </tr>
                </table>


            </div>


        </div>


    </div>
    <footer>
        <nav class="main-menu">

        </nav>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">
        $(document).ready(
            function () {
              

                var textInfo = {

                    errorOne: '@Html.Raw(menuapps_index.textinfo_errorOne)',
                    errorTwo: '@Html.Raw(menuapps_index.textinfo_errorTwo)',
                    readModeStatusText: '@Html.Raw(menuapps_index.textInfo_readModeStatusText_text)',
                    searchModeStatusText: '@Html.Raw(menuapps_index.textInfo_searchModeStatusText_text)'


                };

                var myViewModel = new menuappsViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>
</body>
</html>


