﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>Maintain Products</title>
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/inventory_productentry.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a href="/menuApps"><i class="fa fa-list"></i>Menu&nbsp;</a></li>
                    <li class="fc-white"><a href="/inventory/productEntry">Maintain Products&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">User Name</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-2">
                <ul class="align-left">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNewProduct" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Product"><i class="fa fa-file-text-o"></i>&nbsp;<span class="btn-text fs-medium-normal">New Product</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: productDetails" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Product details"><i class="fa fa-edit"></i>&nbsp;<span class="btn-text fs-medium-normal">Modify</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to home page"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">Cancel</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class=" fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">Save</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class="fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">Please wait while saving all changes ...</span></li>
                </ul>
            </div>

            <div class="toolbox-right flex-item-3">
                <ul class="align-right">
                    <li class="fc-grey">
                        <select class="border-search" id="txtCriteriaStatus" title="Status">
                            <option value="" selected="selected">- select -</option>
                            <option value="Y">Active</option>
                            <option value="N">Inactive</option>
                            <option value="ALL">All</option>
                        </select>
                        <select class="border-search" id="txtCategory" title="Category">
                            <option value="" selected="selected">- select -</option>
                        </select>
                    <input data-bind="event: { change: searchNow } " type="search" placeholder="Search anything" id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmProductDetails" data-bind="submit: saveProductDetails">
            <div class="flex-container flex-wrap">
                <div class="flex-item-1 flex-field-container">
                    <br />
                    <input type="hidden" name="STAFF_GROUP_ID" id="STAFF_GROUP_ID">

                    <label for="PRODUCT_ID">Product ID</label>
                    <input type="text" name="PRODUCT_ID" id="PRODUCT_ID" required="required" placeholder=""><br /><br />

                    <label for="SHORT_DESCRIPTION">Short Description</label>
                    <input type="text" name="SHORT_DESCRIPTION" id="SHORT_DESCRIPTION" placeholder=""  title="This is a required information."><br /><br />

                    <label for="DESCRIPTION">Description</label>
                    <input type="text" name="DESCRIPTION" id="DESCRIPTION" required="required" placeholder=""><br /><br />

                    <label for="CURRENT_PRICE">Current Price:</label>
                    <input type="text" name="CURRENT_PRICE" id="CURRENT_PRICE" placeholder=""><br /><br />
                    <label for="DISCOUNT">Discount:</label>
                    <input type="text" name="DISCOUNT" id="DISCOUNT" placeholder=""><br /><br />
                   
                </div>

                <div class="flex-item-1 flex-field-container">
                    <br />                   

                    <ul class="align-left">
                        <li><label for="CATEGORY_ID">Cagetory:</label></li>
                        <li class="fc-grey ">
                            <select class="border-search" id="CATEGORY_ID" name="CATEGORY_ID" title="">
                                <option value="" selected="selected">- select -</option>

                            </select><br /><br />
                        </li>
                        <li><label for="GROUP_ID">Group:</label></li>
                        <li class="fc-grey ">
                            <select class="border-search" id="GROUP_ID" name="GROUP_ID" title="">
                                <option value="" selected="selected">- select -</option>

                            </select><br /><br />
                        </li>
                        <li><label for="SERVICE_ID">Service:</label></li>
                        <li class="fc-grey ">
                            <select class="border-search" id="SERVICE_ID" name="SERVICE_ID" title="">
                                <option value="" selected="selected">- select -</option>

                            </select><br /><br />
                        </li>
                        <li><label for="STOCK_FLAG">Stock Item:</label></li>
                        <li class="fc-grey ">
                            <select class="border-search" id="STOCK_FLAG" name="STOCK_FLAG" title="">
                                <option value="" selected="selected">- select -</option>
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select><br /><br />
                        </li>
                        <li><label for="ORDER_FLAG">Orderable:</label></li>
                        <li class="fc-grey ">
                            <select class="border-search" id="ORDER_FLAG" name="ORDER_FLAG" title="">
                                <option value="" selected="selected">- select -</option>
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select><br /><br />
                        </li>

                    </ul>
                    
                </div>
                <div class="flex-item-1 flex-field-container">
                    <br />
                   
                    
                    <ul class="align-left">
                        
                        <li><label for="STATUS">Status:</label></li>
                        <li class="fc-grey ">
                            <select class="border-search" id="STATUS" name="STATUS" title="">
                                <option value="" selected="selected">- select -</option>
                                <option value="Y">Active</option>
                                <option value="N">Inactive</option>
                            </select><br /><br />
                        </li>
                        <li><label for="STATUS">Include to Billing:</label></li>
                        <li class="fc-grey ">
                            <select class="border-search" id="BILL_FLAG" name="BILL_FLAG" title="">
                                <option value="" selected="selected">- select -</option>
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select><br /><br />
                        </li>
                     </ul>
                        <label for="SALE_UNIT">Sale Unit</label>
                        <select class="border-search" id="SALE_UNIT" name="SALE_UNIT" title="">
                            <option value="" selected="selected">- select -</option>

                        </select><br /><br />
                        <label for="STOCK_UNIT">Stock Unit</label>
                        <select class="border-search" id="STOCK_UNIT" name="STOCK_UNIT" title="">
                            <option value="" selected="selected">- select -</option>

                        </select><br />
                      
                    <label for="ASSET_FLAG">Asset</label>
                    <select class="border-search" id="ASSET_FLAG" name="ASSET_FLAG" title="">
                        <option value="" selected="selected">- select -</option>
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                    </select>
                        
                        <br />
                        <br />
                </div>
            </div>
            <button type="submit" id="saveProduct" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h2>Hello, Welcome to Maintain Product Settings</h2>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;Create new product</li>
                <li><i class="fa fa-check"></i>&nbsp;Modify existing product</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail flex-item-2 flex-field-container field-list">
        <div>
            <br />
            <h2 id="searchResultSummary">Product search results for ''. 6 Items found.</h2>
            
          
                <div class="flex-container flex-wrap">

                    <div class="flex-item-1 flex-field-container field-list align-left" id="searchResultList1">

                        <ul>
                            <li><i></i>&nbsp;</li>
                        </ul>
                    </div>
                    <div class="flex-item-1 flex-field-container field-list align-left" id="searchResultList2">


                        <ul>
                            <li><i></i>&nbsp;</li>

                        </ul>
                    </div>

                </div>
           
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(productEntry.textInfo_errorOne_text)',
                    errorTwo: '@Html.Raw(productEntry.textInfo_errorTwo_text)',
                    addModeHeader: '@Html.Raw(productEntry.textInfo_addModeHeader_text)',
                    addModeSubHeader: '@Html.Raw(productEntry.textInfo_addModeSubHeader_text)',
                    updateModeHeader: '@Html.Raw(productEntry.textInfo_updateModeHeader_text)',
                    updateModeSubHeader: '@Html.Raw(productEntry.textInfo_updateModeSubHeader_text)',
                    saveModeStatusText: '@Html.Raw(productEntry.textInfo_saveModeStatusText_text)',
                    saveSuccessMessage: '@Html.Raw(productEntry.textInfo_saveSuccessMessage_text)',
                    readModeStatusText: '@Html.Raw(productEntry.textInfo_readModeStatusText_text)',
                    displayModeHeader: '@Html.Raw(productEntry.textInfo_displayModeHeader_text)',
                    displayModeSubHeader: '@Html.Raw(productEntry.textInfo_displayModeSubHeader_text)',
                    searchModeStatusText: '@Html.Raw(productEntry.textInfo_searchModeStatusText_text)',
                    searchModeHeader: "@Html.Raw(productEntry.textInfo_searchModeHeader_text)",
                    searchModeLabels: {

                        descriptionshortname: '@Html.Raw(productEntry.textInfo_searchModeLabels_descriptionshortname_text)',
                        descriptionname: '@Html.Raw(productEntry.textInfo_searchModeLabels_descriptionname_text)',
                        descriptionothname: '@Html.Raw(productEntry.textInfo_searchModeLabels_descriptionothname_text)'
                    }
                };

                var myViewModel = new productentryViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>
</body>
</html>

