﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx409)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/inventory_setupstore.js"></script>
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="~/scripts/authentication.js"></script>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">@Html.Raw(home_index.resx410)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-2">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Store"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx210)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Store Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx5)</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to home page"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx6)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx7)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(home_index.resx8)</span></li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>


        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">
                    <input type="hidden" name="STORE_ID" id="STORE_ID">
                    <label for="STORE_NO">@Html.Raw(home_index.resx411)</label>
                    <input type="text" name="STORE_NO" id="STORE_NO" placeholder="" disabled="disabled"><br />

                    <label for="DESCRIPTION">@Html.Raw(home_index.resx38)</label>
                    <input type="text" name="DESCRIPTION" id="DESCRIPTION" placeholder="" required="required"><br />

                    <label for="LOCATION">@Html.Raw(home_index.resx87):</label>
                    <input type="text" name="LOCATION" id="LOCATION" placeholder=""><br />

                    <label for="CONTACT_NO">@Html.Raw(home_index.resx15):</label>
                    <input type="text" name="CONTACT_NO" id="CONTACT_NO" placeholder=""><br />
                    @*<label for="STORE_TYPE">@Html.Raw(home_index.resx82):</label>
                        <input type="text" name="STORE_TYPE" id="STORE_TYPE" placeholder=""><br />*@
                    <label for="CLIENT_CODE">@Html.Raw(home_index.resx9):</label>
                    <select class="border-search" name="CLIENT_CODE" id="CLIENT_CODE">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                    </select>

                    <label for="STATUS">@Html.Raw(home_index.resx89):</label>
                    <select class="border-search" id="STATUS" name="STATUS">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="ACTIVE">@Html.Raw(purchaseRequestByItems.frmInfo_input_text23)</option>
                        <option value="INACTIVE">@Html.Raw(home_index.resx874)</option>
                    </select><br />

                    <label for="ALLOWREQUEST_FLAG">Allow to request stock from this store:</label>
                    <select class="border-search" id="ALLOWREQUEST_FLAG" name="ALLOWREQUEST_FLAG">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Y">@Html.Raw(home_index.resx399)</option>
                        <option value="N">@Html.Raw(home_index.resx400)</option>
                    </select><br />
                </div>
                @*<div class="flex-item-1 flex-field-container">

                        <p style="cursor:pointer;" class="fc-slate-blue fs-medium-normal liSaveAll" data-bind="click: addModels" id="clientBuildingAddModels"><i class="fa fa-search"></i>&nbsp;Link to Building &nbsp; <span data-bind='text: modelsList().length'>&nbsp;</span> </p>
                        <p style="cursor:pointer;" class="fc-slate-blue fs-medium-normal liModify">&nbsp;Defult Store for Selected Building ( Use in Work Order) &nbsp; </p>

                        <table id="itemsReceiveBatch">
                            <thead>
                                <tr>
                                    <th class='a'>Short Name</th>
                                    <th class='c'>Building Name</th>


                                </tr>
                            </thead>
                            <tbody data-bind='foreach: modelsList'>
                                <tr data-bind="click: $parent.select">
                                    <td class="a"><span data-bind='text: BUILDING_CODE, uniqueName: true'></span></td>
                                    <td class=""><span data-bind='text: DESCRIPTION, uniqueName: true'></span></td>

                                    <td id="btnRemove" class="liSaveAll"><a href='#' data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>*@

            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>

    <div id="openModalLookup" class="modalwidth5">
        <div>
            <a href="#" title="Close" class="close">X</a>
            <br />
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="lookUpTitle" class="fc-slate-blue fs-large-strong">@Html.Raw(home_index.resx1027)</span></p>
            </div>

            <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchResultLookUp">

                <ul>
                    <li><i></i>&nbsp;</li>

                </ul>
                <h2 id="lookUpnoresult" style="color:red;">@Html.Raw(home_index.resx145)</h2>
                <br />
            </div>
        </div>
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(home_index.resx412)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx413)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx414)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">Store search results for ''. 6 Items found.</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">xyn</a>
                        <span class="searchRowLabel1 searchRowLabel">Short Description: <span class="searchRowData">@Html.Raw(home_index.resx1028)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">Description: <span class="searchRowData">@Html.Raw(home_index.resx1029)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">Other Description: <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: 'There seems to be a problem in the system. We will now redirect you to the logon page to avoid further issues.\n\r" {0} "\n\rSorry for the inconvenience.',
                    errorTwo: 'Server not available, please try again later',
                    addModeHeader: 'Maintain Store Details',
                    addModeSubHeader: 'Please provide all required information before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    updateModeHeader: 'Update Store Information',
                    updateModeSubHeader: 'Please provide all required information before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    saveModeStatusText: 'Please wait while saving . . .',
                    saveSuccessMessage: 'Record Successfully Saved!',
                    readModeStatusText: 'Please wait while getting store information . . .',
                    displayModeHeader: 'Store Details',
                    displayModeSubHeader: 'Click the <i class=" fa fa-edit"></i>edit button to modify store details',
                    searchModeStatusText: 'Please wait while searching . . .',
                    searchModeHeader: "Store search results for '{0}'. {1} Items found.",
                    searchModeLabels: {
                        idInfo: 'Store Code',
                        descriptionInfo: 'Description',
                        otherDeth: 'Store type'
                    }
                };

                var myViewModel = new storeViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

