﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx432)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalAlert.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <link href="~/content/print.css" rel="stylesheet" />
    <link href="/Content/jquery-ui.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/jquery-ui.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="/Scripts/moment.js"></script>
    <script src="~/scripts/ko.aims-autocomplete.js"></script>
    <script src="~/Scripts/inventory_stockbatchreceiveV03.js"></script>
    <script src="~/scripts/authentication.js"></script>
    <style>
        .pr-table {
            width: 100%;
        }

            .pr-table tbody tr:hover {
                color: #246ca1;
                font-weight: bold;
                cursor: pointer;
            }

            .pr-table .btn-action {
                width: 25px;
                min-width: 25px;
                max-width: 25px;
            }
    </style>
</head>
<body>
    <div class="no-print">
        <header role="heading">
            <nav class="nav-main flex-container" role="navigation">
                <div class="nav-site-map flex-item-2">
                    <ul class="align-left">
                        <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>
                        <li class="fc-white"><a href="">@Html.Raw(home_index.resx432)&nbsp;</a></li>
                    </ul>
                </div>
                <div class="nav-user-info flex-item-2">
                    <ul>
                        <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>
                    </ul>
                </div>
                <div class="nav-user-info flex-item-1">
                    <ul class="align-right">
                        <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                        <li class="fc-white">&nbsp;-&nbsp;</li>
                        <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                    </ul>
                </div>
            </nav>
            <div class="toolbox flex-container">
                <div class="toolbox-left flex-item-1">
                    <ul class="align-right">
                        <li class="liSaveAll fc-slate-blue" data-bind="visible: pageMode() == modes.addOrEditPage && !showProgress() && purchaseRequestData.AM_PRREQITEMID()"><a data-bind="click: printPurchaseRequest" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Click to print Purchase Request"><i class="fa fa-print"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx154)</span>&nbsp;&nbsp;</a></li>
                        <li class="liSaveAll fc-slate-blue" data-bind="visible: pageMode() == modes.addOrEditPage && !showProgress() && purchaseRequestData.STATUS() != 'RECEIVED'"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx6)</span></a></li>
                        <li class="liSaveAll fc-slate-blue" data-bind="visible: pageMode() == modes.addOrEditPage && !showProgress() && purchaseRequestData.STATUS() != 'RECEIVED'"><a data-bind="click: triggerFormSubmit" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Post"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx435)</span>&nbsp;&nbsp;</a></li>

                        <li class="liApiStatus fc-slate-blue" data-bind="visible: showProgress"><span class="status-icon fs-large-normal"><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text" data-bind="text: progressText"></span></li>

                        <li class="fc-grey"><input data-bind="value: filter.pageQuickSearch, event: { change: quickSearch } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                        <li class="fc-slate-blue"><a data-bind="click: quickSearch" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i>&nbsp;|</a></li>
                        <li class="fc-slate-blue "><span data-bind="click: openModalFilter" class="toolbarbutton"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></span></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="home-content-detail" data-bind="visible: pageMode() == modes.homePage && !showProgress()">
            <div id="homeMessage">
                <br>
                <h1>@Html.Raw(home_index.resx450)</h1>
                <ul>
                    <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx451)</li>
                    <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx452)</li>
                </ul>
            </div>
        </div>
        <div class="search-content-detail" data-bind="visible: pageMode() == modes.searchPage && !showProgress()">
            <div>
                <br>
                <h1 id="searchResultSummary">@Html.Raw(home_index.resx1032)'<text data-bind="text: filter.pageQuickSearch"></text>'. <text data-bind="text: purchaseRequests().length"></text> @Html.Raw(home_index.resx829).</h1>
                <div id="searchResultList">
                    <ul data-bind="foreach: purchaseRequests">
                        <li>
                            <a href="#" class="fs-medium-normal detailItem" data-bind="click: $parent.selectPurchaseRequest">
                                <i class="fa fa-arrow-circle-o-right"></i>
                                <text data-bind="html: $data.PURCHASE_NO + ' - Purchase Date: ' + $data.PURCHASE_DATE + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Total Items: ' + $data.ITEMREQ + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vendor: ' + $data.SUPPLIER_NAME +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Status: ' + $data.STATUS"></text>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
        <div class="field-content-detail" data-bind="visible: pageMode() == modes.addOrEditPage && !showProgress()">
            <div class="divProgressScreen" data-bind="visible: showProgressScreen()"></div>
            <div class="notify-success fs-small-normal" id="divNotify">
                <p></p>
            </div>
            <br />

            <h1 data-bind="html: contentHeader"></h1>
            <form data-bind="submit: saveAllChanges">
                <div class="flex-container flex-wrap">
                    <div class="flex-item-1 flex-field-container" style="max-width: 250px">
                        <p class="fs-medium-strong">@Html.Raw(home_index.resx161) </p>
                        <label for="BILL_SHIPTO" data-bind="visible: checkViewMode(), css: { 'view-mode': !checkViewMode() }">
                            @Html.Raw(home_index.txtSearch): &nbsp;<i id="btnBillAddress" data-bind="click: function () { openBillingOrVendorInfoModal('billing') }" class="fc-slate-blue fa fa-search fa-lg searhButton"></i>
                        </label>
                        <input type="text" name="BILL_SHIPTO" id="BILL_SHIPTO" placeholder="" required="required" disabled data-bind="value: purchaseRequestData.BILL_SHIPTO">
                        <br />

                        <label for="BILL_ADDRESS">@Html.Raw(home_index.resx160)</label>
                        <textarea name="BILL_ADDRESS" id="BILL_ADDRESS" placeholder="" disabled data-bind="value: purchaseRequestData.BILL_ADDRESS"></textarea> <br />

                        <label for="BILL_CITY">@Html.Raw(home_index.resx12)</label>
                        <input type="text" name="BILL_CITY" id="BILL_CITY" placeholder="" disabled data-bind="value: purchaseRequestData.BILL_CITY"><br />

                        <label for="BILL_ZIPCODE">@Html.Raw(home_index.resx13)</label>
                        <input type="text" name="BILL_ZIPCODE" id="BILL_ZIPCODE" placeholder="" disabled data-bind="value: purchaseRequestData.BILL_ZIPCODE"><br />

                        <label for="BILL_STATE">@Html.Raw(home_index.resx833):</label>
                        <input type="text" name="BILL_STATE" id="BILL_STATE" placeholder="" disabled data-bind="value: purchaseRequestData.BILL_STATE"><br />

                        <label for="BILL_CONTACT_NO1">@Html.Raw(home_index.resx15)</label>
                        <input type="text" name="BILL_CONTACT_NO1" id="BILL_CONTACT_NO1" placeholder="" disabled data-bind="value: purchaseRequestData.BILL_CONTACT_NO1"><br />

                        <label for="BILL_CONTACT_NO2">@Html.Raw(home_index.resx16)</label>
                        <input type="text" name="BILL_CONTACT_NO2" id="BILL_CONTACT_NO2" placeholder="" disabled data-bind="value: purchaseRequestData.BILL_CONTACT_NO2"><br />

                        <label for="BILL_EMAIL_ADDRESS">@Html.Raw(supplier.frmInfo_input_text15):</label>
                        <input type="email" name="BILL_EMAIL_ADDRESS" id="BILL_EMAIL_ADDRESS" placeholder="" disabled data-bind="value: purchaseRequestData.BILL_EMAIL_ADDRESS"><br /><br /><br /><br />
                    </div>
                    <div class="flex-item-1 flex-field-container" style="max-width: 250px">
                        <p class="fs-medium-strong">@Html.Raw(home_index.resx1033) </p>
                        <label for="SUPPLIERDESC" data-bind="visible: checkViewMode(), css: { 'view-mode': !checkViewMode() }">
                            @Html.Raw(home_index.txtSearch): &nbsp;<i id="btnSupplier" data-bind="click: function () { openBillingOrVendorInfoModal('vendor') }" class="fc-slate-blue fa fa-search fa-lg searhButton"></i>
                        </label>
                        <input type="text" name="SUPPLIERDESC" id="SUPPLIERDESC" placeholder="" required="required" disabled data-bind="value: purchaseRequestData.SUPPLIERDESC">
                        &nbsp;&nbsp;<br />

                        <label for="SUPPLIER_ADDRESS1">@Html.Raw(home_index.resx160)</label>
                        <textarea name="SUPPLIER_ADDRESS1" id="SUPPLIER_ADDRESS1" placeholder="" disabled data-bind="value: purchaseRequestData.SUPPLIER_ADDRESS1"></textarea> <br />

                        <label for="SUPPLIER_CITY">@Html.Raw(home_index.resx12)</label>
                        <input type="text" name="SUPPLIER_CITY" id="SUPPLIER_CITY" placeholder="" disabled data-bind="value: purchaseRequestData.SUPPLIER_CITY"><br />

                        <label for="SUPPLIER_ZIPCODE">@Html.Raw(home_index.resx13)</label>
                        <input type="text" name="SUPPLIER_ZIPCODE" id="SUPPLIER_ZIPCODE" placeholder="" disabled data-bind="value: purchaseRequestData.SUPPLIER_ZIPCODE"><br />

                        <label for="SUPPLIER_STATE">@Html.Raw(home_index.resx833):</label>
                        <input type="text" name="SUPPLIER_STATE" id="SUPPLIER_STATE" placeholder="" disabled data-bind="value: purchaseRequestData.SUPPLIER_STATE"><br />

                        <label for="SUPPLIER_CONTACT_NO1">@Html.Raw(home_index.resx15)</label>
                        <input type="text" name="SUPPLIER_CONTACT_NO1" id="SUPPLIER_CONTACT_NO1" placeholder="" disabled data-bind="value: purchaseRequestData.SUPPLIER_CONTACT_NO1"><br />

                        <label for="SUPPLIER_CONTACT_NO2">@Html.Raw(home_index.resx16)</label>
                        <input type="text" name="SUPPLIER_CONTACT_NO2" id="SUPPLIER_CONTACT_NO2" placeholder="" disabled data-bind="value: purchaseRequestData.SUPPLIER_CONTACT_NO2"><br />

                        <label for="SUPPLIER_EMAIL_ADDRESS">@Html.Raw(supplier.frmInfo_input_text15):</label>
                        <input type="email" name="SUPPLIER_EMAIL_ADDRESS" id="SUPPLIER_EMAIL_ADDRESS" placeholder="" disabled data-bind="value: purchaseRequestData.SUPPLIER_EMAIL_ADDRESS"><br /><br /><br /><br />
                    </div>
                    <div class="flex-item-1 flex-field-container" style="max-width: 250px">
                        <br data-bind="visible: checkViewMode(), css: { 'view-mode': !checkViewMode() }" />
                        <label for="POINVOICENO">@Html.Raw(home_index.resx1004)</label>
                        <input type="text" name="POINVOICENO" id="POINVOICENO" required="required" placeholder="" data-bind="value: purchaseRequestData.POINVOICENO"><br />

                        <label for="PURCHASE_NO">@Html.Raw(home_index.resx163)</label>
                        <input type="number" name="PURCHASE_NO" id="PURCHASE_NO" required="required" placeholder="" data-bind="value: purchaseRequestData.PURCHASE_NO, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"><br />

                        <label for="REF_WO">@Html.Raw(home_index.resx834):</label>
                        <input type="text" name="REF_WO" id="REF_WO" placeholder="" data-bind="value: purchaseRequestData.REF_WO, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"><br />

                        <label for="STATUS">@Html.Raw(othresource.resx_status)</label>
                        <input type="text" name="STATUS" id="STATUS" disabled="disabled" placeholder="" data-bind="value: purchaseRequestData.STATUS"><br />

                        <label for="PURCHASE_DATE">@Html.Raw(home_index.resx835)</label>
                        <input type="text" name="PURCHASE_DATE" data-isdatetime="true" id="PURCHASE_DATE" placeholder="" data-bind="value: purchaseRequestData.PURCHASE_DATE, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"><br />

                        <label for="SHIP_VIA">@Html.Raw(home_index.resx165)</label>
                        <select name="SHIP_VIA" id="SHIP_VIA" data-bind="
                            options: shipVias,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'LOV_LOOKUP_ID',
                            value: purchaseRequestData.SHIP_VIA,
                            enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"></select><br />

                        <label for="EST_SHIP_DATE">@Html.Raw(home_index.resx167)</label>
                        <input type="text" name="EST_SHIP_DATE" data-isdatetime="true" id="EST_SHIP_DATE" placeholder="" data-bind="value: purchaseRequestData.EST_SHIP_DATE, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }" pattern="^(((0[1-9]|[12]\d|3[01])[\/\.-](0[13578]|1[02])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|[12]\d|30)[\/\.-](0[13456789]|1[012])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|1\d|2[0-8])[\/\.-](02)[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((29)[\/\.-](02)[\/\.-]((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])))$"><br />

                        <label for="HANDLING_FEE">@Html.Raw(home_index.resx168)</label>
                        <input type="number" step="0.1" min="0" name="HANDLING_FEE" id="HANDLING_FEE" placeholder="0.00" data-bind="value: purchaseRequestData.HANDLING_FEE, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"><br />

                        <label for="INSURANCE_VALUE">@Html.Raw(othresource.resx_insurancevalue)</label>
                        <input type="number" step="0.1" min="0" name="INSURANCE_VALUE" id="INSURANCE_VALUE" placeholder="0.00" data-bind="value: purchaseRequestData.INSURANCE_VALUE, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"><br />

                        <label for="TRACKING_NO">@Html.Raw(home_index.resx836):</label>
                        <input type="text" name="TRACKING_NO" id="TRACKING_NO" placeholder="" data-bind="value: purchaseRequestData.TRACKING_NO, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"><br />

                        <label for="EST_FREIGHT">@Html.Raw(home_index.resx170)</label>
                        <input type="number" step="0.1" min="0" name="EST_FREIGHT" id="EST_FREIGHT" placeholder="0.00" data-bind="value: purchaseRequestData.EST_FREIGHT, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"><br /><br /><br /><br />
                    </div>
                    <div class="flex-item-1 flex-field-container" style="max-width: 250px">
                        <br data-bind="visible: checkViewMode(), css: { 'view-mode': !checkViewMode() }" />
                        <label for="FOREIGN_CURRENCY">@Html.Raw(home_index.resx837)</label>
                        <select name="FOREIGN_CURRENCY" id="FOREIGN_CURRENCY" data-bind="
                            options: foreignCurrencies,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'LOV_LOOKUP_ID',
                            value: purchaseRequestData.FOREIGN_CURRENCY,
                            enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"></select><br />

                        <label for="FREIGHT">@Html.Raw(home_index.resx171)</label>
                        <input type="number" step="0.1" min="0" name="FREIGHT" id="FREIGHT" placeholder="0.00" data-bind="value: purchaseRequestData.FREIGHT, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"><br />

                        <label for="FREIGHT_CHARGETO">@Html.Raw(home_index.resx173)</label>
                        <select name="FREIGHT_CHARGETO" id="FREIGHT_CHARGETO" data-bind="value: purchaseRequestData.FREIGHT_CHARGETO, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }">
                            <option value="">@Html.Raw(home_index.resx58)</option>
                            <option value="V">@Html.Raw(home_index.resx1034)</option>
                            <option value="C">@Html.Raw(workOrder.input_label_text16)</option>
                        </select><br />

                        <label for="FREIGHT_POLINE">@Html.Raw(home_index.resx174)</label>
                        <select class="border-search" id="FREIGHT_POLINE" name="FREIGHT_POLINE" data-bind="value: purchaseRequestData.FREIGHT_POLINE, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }">
                            <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                            <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                        </select><br />

                        <label for="FREIGHT_SEPARATE_INV">@Html.Raw(home_index.resx175)</label>
                        <select class="border-search" id="FREIGHT_SEPARATE_INV" name="FREIGHT_SEPARATE_INV" data-bind="value: purchaseRequestData.FREIGHT_SEPARATE_INV, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }">
                            <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                            <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                        </select><br />

                        <label for="TAXABLE">@Html.Raw(home_index.resx839)</label>
                        <select class="border-search" id="TAXABLE" name="TAXABLE" data-bind="value: purchaseRequestData.TAXABLE, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }">
                            <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                            <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                        </select><br />

                        <div data-bind="visible: purchaseRequestData.TAXABLE() == 'YES'">
                            <label for="TAX_CODE">@Html.Raw(home_index.resx1016)</label>
                            <input type="text" name="TAX_CODE" id="TAX_CODE" placeholder="" data-bind="value: purchaseRequestData.TAX_CODE, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"><br />

                            <label for="TAX_AMOUNT">@Html.Raw(home_index.resx1017)</label>
                            <input type="number" step="0.1" min="0" name="TAX_AMOUNT" id="TAX_AMOUNT" placeholder="0.00" data-bind="value: purchaseRequestData.TAX_AMOUNT, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"><br />
                        </div>

                        <label for="REMARKS">@Html.Raw(home_index.resx179)</label>
                        <textarea name="REMARKS" id="REMARKS" placeholder="" data-bind="value: purchaseRequestData.REMARKS, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"></textarea> <br /><br /><br /><br />
                    </div>
                    <div class="flex-item-1 flex-field-container">
                        <table class="pr-table" data-bind="visible: purchaseRequestItems().length">
                            <thead>
                                <tr>
                                    <th class="b">
                                        @Html.Raw(home_index.resx235)
                                    </th>
                                    <th class="d">
                                        @Html.Raw(home_index.resx62)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(home_index.resx1018)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(home_index.resx236)
                                    </th>
                                    <th class="a">
                                        @Html.Raw(home_index.resx1022)
                                    </th>
                                    <th class="a">
                                        @Html.Raw(home_index.resx1035)
                                    </th>
                                    <th class="btn-action"></th>
                                    <th class="btn-action" data-bind="visible: purchaseRequestData.STATUS() != 'RECEIVED'"></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: purchaseRequestItems">
                                <tr>
                                    <td class="b" data-bind='text: $data.ID_PARTS'></td>
                                    <td class="d" data-bind='text: $data.DESCRIPTION'></td>
                                    <td class="b" data-bind='text: $data.AM_UOM'></td>
                                    <td class="b" data-bind='text: $data.AM_TYPE'></td>
                                    <td class="a" data-bind='text: $data.PR_REQUEST_QTY'></td>
                                    <td class="a" data-bind='text: $data.TOTAL_QTY_RECEIVED'></td>
                                    <td class="btn-action">
                                        <i class="fa fa-file-text-o button-extbottom" data-bind="click: $parent.viewProductStockBatches" title="View received  batch"></i>
                                    </td>
                                    <td class="btn-action" data-bind="visible: $parent.purchaseRequestData.STATUS() != 'RECEIVED'">
                                        <i class="fa fa-share-square-o button-extbottom" data-bind="click: $parent.receivePRItem, visible: $data.PR_REQUEST_QTY > $data.TOTAL_QTY_RECEIVED()" title="Receive"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <button type="submit" class="hidden" id="prSubmitBtn" />
            </form>
        </div>
        <div id="openModalFilter" class="modal-filter">
            <div>
                <a href="#" title="Close" class="close">X</a>
                <div class="modal-filter-header">
                    <h2>@Html.Raw(home_index.resx69)</h2>
                </div>
                <div class="flex-item-2">
                    <div class="filter-row">
                        <label>@Html.Raw(home_index.resx70) </label>
                        <div>
                            <div class="filter-row">@Html.Raw(home_index.resx71) <input id="modalFromDate" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                            <div class="filter-row">@Html.Raw(home_index.resx72) <input id="modalToDate" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                        </div>
                    </div>
                    <div class="filter-row">
                        <span class="from-text">@Html.Raw(othresource.resx_status) </span>
                        <select class="border-search" id="filterStatus" data-bind="value: filter.Status" title="Select a Status">
                            <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                            <option value="APPROVED">@Html.Raw(home_index.resx922)</option>
                            <option value="RECEIVED">@Html.Raw(home_index.resx923)</option>
                            <option value="PARTIAL RECEIVED">@Html.Raw(home_index.resx1020)</option>
                        </select>
                    </div>
                    <div id="addButton">
                        <span data-bind="click: filterSearch" class="button-extbottom">@Html.Raw(home_index.resx95)</span>
                        <a href="#" class="button-extbottom"><span>@Html.Raw(home_index.resx96)</span></a>
                        <span data-bind="click: clearModalFilter" class="button-extbottom">@Html.Raw(home_index.resx97)</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="openReceivePRItem" class="modalwidth2">
            <div style="padding: 10px; width: 400px; height: 630px">
                <a href="#" title="Close" class="close">X</a>
                <form data-bind="submit: addReceivePRItem">
                    <h2 class="fc-slate-blue">@Html.Raw(home_index.resx1036)</h2>

                    <label><b>@Html.Raw(home_index.resx235):</b> <text data-bind="text: modalSelectedPRItem().ID_PARTS"></text></label>
                    <label><b>@Html.Raw(home_index.resx62):</b> <text data-bind="text: modalSelectedPRItem().DESCRIPTION"></text></label>
                    <div class="flex-container">
                        <label><b>@Html.Raw(home_index.resx1022):</b> <text data-bind="text: modalSelectedPRItem().PR_REQUEST_QTY"></text></label>
                        <label><b>@Html.Raw(home_index.resx1035):</b> <text data-bind="text: modalSelectedPRItem().TOTAL_QTY_RECEIVED"></text></label>
                    </div>

                    <label>@Html.Raw(home_index.resx1037)</label>
                    <input type="text" data-bind="value: modalSelectedPRItem().BARCODE_ID, event: { blur: searchExistingBNSN }" required />
                    <label>@Html.Raw(home_index.resx183)</label>
                    <input type="number" data-bind="value: modalSelectedPRItem().PRICE, event: { blur: calculateTotalPrice }" required disabled />
                    <label>Receive QTY</label>
                    <input type="number" data-bind="value: modalSelectedPRItem().QTY_RECEIVED, event: { blur: calculateTotalPrice }" min="1" required />
                    <label>@Html.Raw(home_index.resx447)</label>
                    <input type="text" data-bind="value: modalSelectedPRItem().TOTAL_PRICE" disabled />
                    @*<label>Box Receive QTY</label>
                        <input type="number" data-bind="value: modalSelectedPRItem().BOX_QTY_RECEIVED" min="0" />*@
                <label>@Html.Raw(home_index.resx1039)</label>
                    <input type="text" data-bind="value: modalSelectedPRItem().EXPIRY_DATE_DISPLAY, enable: modalSelectedPRItem().isUpdatingBatch && !modalSelectedPRItem().isUpdatingBatch()" placeholder="dd/mm/yyyy" required pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">
                    <label>@Html.Raw(home_index.resx1040)</label>
                    <input type="text" data-bind="value: modalSelectedPRItem().INVOICENO" disabled required />
                    <label>@Html.Raw(assetInfo.frmInfo_input_text23)</label>
                    <input type="text" data-bind="value: modalSelectedPRItem().MODELCODE, enable: modalSelectedPRItem().isUpdatingBatch && !modalSelectedPRItem().isUpdatingBatch()" required />
                    <label>@Html.Raw(home_index.lblSupplier)</label>
                    <input type="text" data-bind="value: modalSelectedPRItem().SUPPLIERNAME" disabled required />
                    @*<label>Supplier</label>
                        <div class="aims-autocomplete">
                            <input id="jqAuto-supplier" placeholder="Seach supplier" data-bind="jqAuto: { autoFocus: false }, enable: modalSelectedPRItem().isUpdatingBatch && !modalSelectedPRItem().isUpdatingBatch(),
                                   jqAutoSource: suppliers, jqAutoQuery: getSupplier,  jqAutoValue: modalSupplier, jqAutoSourceInputValue: 'DESCRIPTION', jqAutoSourceValue: 'SUPPLIER_ID'" />
                            <button data-bind="jqAutoCombo: 'jqAuto-supplier', enable: modalSelectedPRItem().isUpdatingBatch && !modalSelectedPRItem().isUpdatingBatch()" title="Show supplier list">...</button>
                        </div>*@

                    <div id="addButton">
                        <button type="submit" class="button-extbottom">@Html.Raw(home_index.resx481)</button>
                        <a href="#" class="button-extbottom">@Html.Raw(home_index.resx96)</a>
                    </div>
                </form>
            </div>
        </div> 
        <div id="openReceiveEquipmentItem" class="modalwidth2">
            <div style="padding: 10px; width: 580px; height: 670px">
                <a href="#" title="Close" class="close">X</a>
                <form data-bind="submit: addReceivePRItem">
                    <h2 class="fc-slate-blue">@Html.Raw(home_index.resx1036)</h2>

                    <label><b>@Html.Raw(home_index.resx235):</b> <text data-bind="text: modalSelectedPRItem().ID_PARTS"></text></label>
                    <label><b>@Html.Raw(home_index.resx62):</b> <text data-bind="text: modalSelectedPRItem().PARTDESCRIPTION"></text></label>
                    <div class="flex-container">
                        <label><b>@Html.Raw(home_index.resx1022):</b> <text data-bind="text: modalSelectedPRItem().PR_REQUEST_QTY"></text></label>
                        <label><b>@Html.Raw(home_index.resx1035):</b> <text data-bind="text: modalSelectedPRItem().TOTAL_QTY_RECEIVED"></text></label>
                    </div>

                    <div class="flex-container flex-wrap">
                        <div class="flex-item-1 flex-field-container" style="max-width: 250px">
                            <label>@Html.Raw(home_index.resx140)</label>
                            <textarea data-bind="value: modalSelectedPRItem().DESCRIPTION" required></textarea>
                            <label>@Html.Raw(assetInfo.frmInfo_input_text20)</label>
                            <div class="aims-autocomplete">
                                <input id="jqAuto-device-type" placeholder="Seach device type" data-bind="jqAuto: { autoFocus: false },
                           jqAutoSource: deviceTypes, jqAutoQuery: getDeviceTypes,  jqAutoValue: modalDeviceType, jqAutoSourceInputValue: 'DESCRIPTION', jqAutoSourceValue: 'LOV_LOOKUP_ID'" />
                                <button data-bind="jqAutoCombo: 'jqAuto-device-type'" title="Show device type list">...</button>
                            </div>
                            <label>@Html.Raw(home_index.lblManufacturer)</label>
                            <div class="aims-autocomplete">
                                <input id="jqAuto-manufacturer" placeholder="Seach manufacturer" data-bind="jqAuto: { autoFocus: false }, event: { blur: removeModel },
                           jqAutoSource: manufacturers, jqAutoQuery: getManufacturers,  jqAutoValue: modalManufacturer, jqAutoSourceInputValue: 'DESCRIPTION', jqAutoSourceValue: 'MANUFACTURER_ID'" />
                                <button data-bind="jqAutoCombo: 'jqAuto-manufacturer'" title="Show manufacturer type list">...</button>
                            </div>
                            <label>@Html.Raw(assetInfo.frmInfo_input_text23)</label>
                            <input type="text" data-bind="value: modalSelectedPRItem().MODELCODE" />
                            @*<div data-bind="visible: modalManufacturer()">
                                    <label>Model</label>
                                    <div class="aims-autocomplete">
                                        <input id="jqAuto-model" placeholder="Seach model" data-bind="jqAuto: { autoFocus: false },
                                               jqAutoSource: models, jqAutoQuery: getModels,  jqAutoValue: modalModel, jqAutoSourceInputValue: 'DESCRIPTION', jqAutoSourceValue: 'MODEL'" />
                                        <button data-bind="jqAutoCombo: 'jqAuto-model'" title="Show model type list">...</button>
                                    </div>
                                </div>*@
                        <label>@Html.Raw(home_index.resx1041)</label>
                            <input type="text" data-bind="value: modalSelectedPRItem().SUPPLIERNAME" disabled />
                            <label>@Html.Raw(home_index.resx864)</label>
                            <input type="text" data-bind="value: modalSelectedPRItem().VOLTAGE" />
                            <label>@Html.Raw(home_index.resx999)</label>
                            <input type="text" data-bind="value: modalSelectedPRItem().MDMANO" />
                            <label>@Html.Raw(home_index.resx231)</label>
                            <input type="text" data-bind="value: modalSelectedPRItem().COST_CENTERNAME" disabled />
                        </div>
                        <div class="flex-item-1 flex-field-container" style="max-width: 250px">
                            <label>@Html.Raw(home_index.resx183)</label>
                            <input type="number" data-bind="value: modalSelectedPRItem().PRICE, event: { blur: calculateTotalPrice }" required disabled />
                            <label>Receive QTY</label>
                            <input type="number" data-bind="value: modalSelectedPRItem().QTY_RECEIVED, event: { blur: calculateTotalPrice }" min="1" required />
                            <label>@Html.Raw(home_index.resx447)</label>
                            <input type="text" data-bind="value: modalSelectedPRItem().TOTAL_PRICE" disabled />
                            <label>@Html.Raw(home_index.resx835)</label>
                            <input type="text" data-bind="value: modalSelectedPRItem().PURCHASE_DATE_DISPLAY" placeholder="dd/mm/yyyy" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">
                            <label>@Html.Raw(assetInfo.frmInfo_input_text35)</label>
                            <input type="text" data-bind="value: modalSelectedPRItem().PURCHASE_NO" />
                            <label>@Html.Raw(home_index.resx1040)</label>
                            <input type="text" data-bind="value: modalSelectedPRItem().INVOICENO" disabled required />
                            <br /><br />
                            @*data-bind="visible: modalSelectedPRItem().AssetSerial.length > 0"*@
                            <table class="pr-table">
                                <thead>
                                    <tr>
                                        <th class="a">
                                            No
                                        </th>
                                        <th class="a">
                                            @Html.Raw(amInformationServiceDevice.frmInfo_input_text3B)
                                        </th>

                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: modalSelectedPRItem().AssetSerial">
                                    <tr>
                                        <td class="a" data-bind='text: $data.NO, uniqueName: true '></td>
                                        <td class="a">  <input type="text" data-bind='value: SERIALNO' class="view-mode" style="width: 90% !important; min-width: 90% !important;" /></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div id="addButton">
                        <button type="submit" class="button-extbottom">@Html.Raw(home_index.resx481)</button>
                        <a href="#" class="button-extbottom">@Html.Raw(home_index.resx96)</a>
                    </div>
                </form>
            </div>
        </div>
        <div id="openExistingProductBatchesModal" class="modalwidth5">
            <div style="padding: 10px; height: 580px; width: 40%">
                <a href="javascript:;" title="Close" class="close" data-bind="click: removeBarcodeId">X</a>
                <h2 class="fc-slate-blue">Existing Product Stock Batch List</h2>

                <label><b>@Html.Raw(home_index.resx235):</b> <text data-bind="text: modalSelectedPRItem().ID_PARTS"></text></label>
                <label><b>@Html.Raw(home_index.resx62):</b> <text data-bind="text: modalSelectedPRItem().DESCRIPTION"></text></label>
                <label><b>@Html.Raw(home_index.resx1037):</b> <text data-bind="text: modalSelectedPRItem().BARCODE_ID"></text></label>

                <div class="scroll style-2" style="padding: 10px; height: 70%">
                    <table class="pr-table">
                        <thead>
                            <tr>
                                <th class="a">
                                    @Html.Raw(home_index.resx183)
                                </th>
                                <th class="a">
                                    @Html.Raw(home_index.resx1050)
                                </th>
                                <th class="a">
                                    @Html.Raw(home_index.resx447)
                                </th>
                                <th class="a">
                                    @Html.Raw(home_index.resx1042)
                                </th>
                                <th class="b">
                                    @Html.Raw(home_index.resx1039)
                                </th>
                                <th class="b">
                                    @Html.Raw(home_index.resx1040)
                                </th>
                                <th class="b">
                                    @Html.Raw(assetInfo.frmInfo_input_text23)
                                </th>
                                <th class="b">
                                    @Html.Raw(home_index.lblSupplier)
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: existingProductBatches">
                            <tr title="Select" style="cursor: pointer" data-bind="click: $parent.assignProductBatch">
                                <td class="a" data-bind='text: $data.PRICE'></td>
                                <td class="a" data-bind='text: $data.QTY_RECEIVED'></td>
                                <td class="a" data-bind='text: $data.TOTAL_PRICE'></td>
                                <td class="a" data-bind='text: $data.BOX_QTY_RECEIVED'></td>
                                <td class="b" data-bind='text: $data.EXPIRY_DATE_DISPLAY'></td>
                                <td class="b" data-bind='text: $data.INVOICENO'></td>
                                <td class="b" data-bind='text: $data.MODELCODE'></td>
                                <td class="b" data-bind='text: $data.SUPPLIERNAME' style="word-break: break-all"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="addButton">
                    <a href="#openReceivePRItem" class="button-extbottom">Insert new</a>
                </div>
            </div>
        </div>
        <div id="openSupplierModal" class="modalwidth5">
            <div style="padding: 10px; height: 580px">
                <a href="#openReceivePRItem" title="Close" class="close">X</a>
                <h2 class="fc-slate-blue">@Html.Raw(home_index.resx1044)</h2>

                <div class="flex-container" style="justify-content: space-between; margin-bottom: 10px;">
                    <div>
                        <input data-bind="value: modalQuickSearch, event: { change: function () { searchSupplier(true) } } " type="search" placeholder="search anything">
                        <i class="fc-slate-blue fa fa-search fa-lg searhButton" title="Search supplier" data-bind="click: function () { searchSupplier(true) }"></i>
                    </div>

                    <span class="fc-slate-blue fs-medium-strong" data-bind="click: function () { searchSupplier(false) }">
                        <i class="fc-slate-blue fa fa-bars"></i> @Html.Raw(home_index.resx855)
                    </span>
                </div>

                <div class="scroll style-2" style="padding: 10px">
                    <p class="fc-red" data-bind="visible: !showModalProgress() && !suppliers().length">@Html.Raw(home_index.resx1045).</p>
                    <span class="fc-slate-blue fs-large-strong" data-bind="visible: showModalProgress()">
                        <i class="fc-slate-blue fs-large-strong fa fa-cog fa-spin"> </i> @Html.Raw(home_index.resx856)...
                    </span>
                    <ul data-bind="foreach: suppliers, visible: !showModalProgress()">
                        <li>
                            <a href="javascript:;" class="fs-medium-normal lookupDetailItem fc-slate-blue" data-bind="click: $parent.assignSupplier">
                                <i class="fa fa-arrow-circle-o-right"></i>
                                <text data-bind="text: $data.DESCRIPTION"></text>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="openProductStockBatches" class="modalwidth2">
            <div style="padding: 10px; height: 580px" data-bind="style: { width: purchaseRequestData.STATUS() != 'RECEIVED' ? '95%': '45%' }">
                <a href="#" title="Close" class="close">X</a>
                <h2 class="fc-slate-blue">@Html.Raw(home_index.resx1046)</h2>

                <div class="flex-container flex-wrap" style="height: 100%;">
                    <div class="flex-item-1 flex-field-container scroll style-2 marginRight" data-bind="visible: purchaseRequestData.STATUS() != 'RECEIVED'">
                        <div style="height: 40px;">
                            <span class="fc-slate-blue fs-large-strong">@Html.Raw(home_index.resx1049)</span>
                        </div>

                        <div class="flex-container">
                            <label class="marginRight"><b>@Html.Raw(home_index.resx235):</b> <text data-bind="text: modalSelectedProductStockBatch().ID_PARTS"></text></label>
                            <label class="marginRight"><b>@Html.Raw(home_index.resx62):</b> <text data-bind="text: modalSelectedProductStockBatch().DESCRIPTION"></text></label>
                            <label class="marginRight"><b>@Html.Raw(home_index.resx1022):</b> <text data-bind="text: modalSelectedProductStockBatch().PR_REQUEST_QTY"></text></label>
                            <label><b>@Html.Raw(home_index.resx1035):</b> <text data-bind="text: modalSelectedProductStockBatch().TOTAL_QTY_RECEIVED"></text></label>
                        </div>

                        <p class="fc-red" data-bind="visible: modalSelectedProductStockBatch().productStockBatches && !modalSelectedProductStockBatch().productStockBatches().length">
                            @Html.Raw(home_index.resx1047).
                        </p>
                        <table class="pr-table" data-bind="visible: modalSelectedProductStockBatch().productStockBatches && modalSelectedProductStockBatch().productStockBatches().length">
                            <thead>
                                <tr>
                                    <th class="a">
                                        @Html.Raw(home_index.resx183)
                                    </th>
                                    <th class="a">
                                        @Html.Raw(home_index.resx1050)
                                    </th>
                                    <th class="a">
                                        @Html.Raw(home_index.resx447)
                                    </th>
                                    <th class="a">
                                        @Html.Raw(home_index.resx1042)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(home_index.resx1037)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(home_index.resx1039)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(home_index.resx1040)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(assetInfo.frmInfo_input_text23)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(home_index.lblSupplier)
                                    </th>
                                    <th class="btn-action"></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: modalSelectedProductStockBatch().productStockBatches">
                                <tr>
                                    <td class="a" data-bind='text: $data.PRICE'></td>
                                    <td class="a" data-bind='text: $data.QTY_RECEIVED'></td>
                                    <td class="a" data-bind='text: $data.TOTAL_PRICE'></td>
                                    <td class="a" data-bind='text: $data.BOX_QTY_RECEIVED'></td>
                                    <td class="b" data-bind='text: $data.BARCODE_ID'></td>
                                    <td class="b" data-bind='text: $data.EXPIRY_DATE_DISPLAY'></td>
                                    <td class="b" data-bind='text: $data.INVOICENO'></td>
                                    <td class="b" data-bind='text: $data.MODELCODE'></td>
                                    <td class="b" data-bind='text: $data.SUPPLIERNAME'></td>
                                    <td class="btn-action">
                                        <i class="fa fa-trash button-extbottom" data-bind="click: $parent.removeProductStockBatch" title="Remove"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex-item-1 flex-field-container scroll style-2">
                        <div style="height: 40px;">
                            <span class="fc-slate-blue fs-large-strong">@Html.Raw(home_index.resx923)</span>
                        </div>

                        <div class="flex-container">
                            <label class="marginRight"><b>@Html.Raw(home_index.resx235):</b> <text data-bind="text: modalSelectedProductStockBatch().ID_PARTS"></text></label>
                            <label class="marginRight"><b>@Html.Raw(home_index.resx62):</b> <text data-bind="text: modalSelectedProductStockBatch().DESCRIPTION"></text></label>
                            <label class="marginRight"><b>@Html.Raw(home_index.resx1022):</b> <text data-bind="text: modalSelectedProductStockBatch().PR_REQUEST_QTY"></text></label>
                            <label><b>@Html.Raw(home_index.resx1035):</b> <text data-bind="text: modalSelectedProductStockBatch().TOTAL_QTY_RECEIVED"></text></label>
                        </div>

                        <p class="fc-red" data-bind="visible: modalSelectedProductStockBatch().receivedProductStockBatches && !modalSelectedProductStockBatch().receivedProductStockBatches().length">
                            @Html.Raw(home_index.resx1048).
                        </p>
                        <table class="pr-table" data-bind="visible: modalSelectedProductStockBatch().receivedProductStockBatches && modalSelectedProductStockBatch().receivedProductStockBatches().length">
                            <thead>
                                <tr>
                                    <th class="a">
                                        @Html.Raw(home_index.resx183)
                                    </th>
                                    <th class="a">
                                        @Html.Raw(home_index.resx1050)
                                    </th>
                                    <th class="a">
                                        @Html.Raw(home_index.resx447)
                                    </th>
                                    <th class="a">
                                        @Html.Raw(home_index.resx1042)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(home_index.resx1037)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(home_index.resx1039)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(home_index.resx1040)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(assetInfo.frmInfo_input_text23)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(home_index.lblSupplier)
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: modalSelectedProductStockBatch().receivedProductStockBatches">
                                <tr>
                                    <td class="a" data-bind='text: $data.PRICE'></td>
                                    <td class="a" data-bind='text: $data.QTY_RECEIVED'></td>
                                    <td class="a" data-bind='text: $data.TOTAL_PRICE'></td>
                                    <td class="a" data-bind='text: $data.BOX_QTY_RECEIVED'></td>
                                    <td class="b" data-bind='text: $data.BARCODE_ID'></td>
                                    <td class="b" data-bind='text: $data.EXPIRY_DATE_DISPLAY'></td>
                                    <td class="b" data-bind='text: $data.INVOICENO'></td>
                                    <td class="b" data-bind='text: $data.MODELCODE'></td>
                                    <td class="b" data-bind='text: $data.SUPPLIERNAME'></td>
                                </tr>
                            </tbody>
                        </table>

                        <br />
                        <br />

                        <table class="pr-table" data-bind="visible: modalSelectedProductStockBatch().receivedProductAssets && modalSelectedProductStockBatch().receivedProductAssets().length">
                            <thead>
                                <tr>
                                    <th class="b">
                                        @Html.Raw(assetInfo.frmInfo_input_text18)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(home_index.resx140)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(home_index.lblManufacturer)
                                    </th>
                                    <th class="b">
                                        @Html.Raw(assetInfo.frmInfo_input_text23)
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: modalSelectedProductStockBatch().receivedProductAssets">
                                <tr>
                                    <td class="b" data-bind='text: $data.ASSET_NO'></td>
                                    <td class="b" data-bind='text: $data.DESCRIPTION'></td>
                                    <td class="b" data-bind='text: $data.MANUFACTURERNAME'></td>
                                    <td class="b" data-bind='text: $data.MODEL_NO'></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="addButton">
                    <a href="#" class="button-extbottom">@Html.Raw(home_index.resx96)</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        #printPurchaseRequest {
            padding: 15px;
        }

        .printPurchaseRequest-body {
            margin-top: 15px;
        }

            .printPurchaseRequest-body table tr {
                padding: 0;
                margin: 0;
            }

            .printPurchaseRequest-body table td {
                padding: 3px;
            }

            .printPurchaseRequest-body .t-header {
                background-color: #d7d7d7;
            }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }
    </style>
    <div class="print container" id="printPurchaseRequest">
        <table>
            <thead>
                <tr>
                    <th style="width: 47%; display:inline-block;text-align:left;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING3" class="fs-medium-strong"></p>
                    </th>
                    <th style="width: 6%; display:inline-block;border: 0 none;">
                        @*<span style="width:100%;clear:both;margin:0 auto;">
                                <img class="client_logo" data-bind="attr:{src: clientDetails.CLIENT_LOGO}" style="height:60px; width:80px;" align="middle" />
                            </span>*@
                        <span style="width:100%;clear:both;text-align:center;">
                            <img class="client_logo" data-bind="attr:{src: clientDetails.COMPANY_LOGO}" style="height:40px; width:70px;" align="middle" />
                        </span>
                    </th>
                    <th style="width: 47%; display:inline-block;text-align:right;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING_OTH" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH3" class="fs-medium-strong"></p>
                        <img class="client_logo" src="" id="CLIENT_LOGO" name="CLIENT_LOGO" style="height:80px; width:100px; " hidden />
                    </th>
                </tr>
                <tr style="display: flex; border-bottom: 1px solid #d2d9de;">
                    <th style="border: 0 none; width: 30%;">

                    </th>
                    <th style="border: 0 none; width: 60%; text-align: center;">
                        <span class="fs-large-strong" data-bind='visible: purchaseRequestData.STATUS() != "REQUEST"'>Confirmed Purchase Order</span>
                        <span class="fs-large-strong" data-bind='visible: purchaseRequestData.STATUS() == "REQUEST"'>For Approval Purchase Order</span>
                    </th>
                    <th style="border: 0 none; width: 30%; text-align: right; margin-top: 10px; padding-right: 0px;">
                        <span class="fs-smaill-normal"></span>
                    </th>
                </tr>
            </thead>
            <tbody style="border-top: .5px solid #d2d9de;">
                <tr style="width: 850px; border-color:transparent;">
                    <td style="width: 850px; border-color:transparent;">
                        <div class="printPurchaseRequest-body">
                            <div style="display: flex; justify-content: space-between">
                                <table style="width: 50%">
                                    <tr class="t-header">
                                        <td colspan="2">
                                            Bill To
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b data-bind="text: purchaseRequestData.SUPPLIERDESC"></b>
                                            <br />
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add: <span data-bind="text: purchaseRequestData.SUPPLIER_ADDRESS1() + ', ' + purchaseRequestData.SUPPLIER_CITY()"></span>
                                            <br />
                                            <span data-bind="text: purchaseRequestData.SUPPLIER_STATE() + ', ' + purchaseRequestData.SUPPLIER_ZIPCODE()"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fc-red" style="width: 50px">VAT #</td>
                                        <td data-bind="text: purchaseRequestData.TAX_CODE"></td>
                                    </tr>
                                </table>

                                <table style="width: 40%">
                                    <tr class="t-header">
                                        <td>Date</td>
                                        <td>P.O.</td>
                                    </tr>
                                    <tr>
                                        <td data-bind="text: getPODate()"></td>
                                        <td data-bind="text: purchaseRequestData.PURCHASE_NO"></td>
                                    </tr>
                                </table>
                            </div>
                            <br />

                            <table style="width: 100%">
                                <tr class="t-header">
                                    <td>Terms</td>
                                    <td>Rep</td>
                                    <td>Ship Via</td>
                                    <td>P.O. nr</td>
                                    <td>VENDOR NR</td>
                                    <td class="fc-red text-center" style="background-color: yellow">CURRENCY</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td data-bind="text: getLookupDescription(purchaseRequestData.SHIP_VIA(), shipVias())"></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center" style="background-color: red" data-bind="text: getLookupDescription(purchaseRequestData.FOREIGN_CURRENCY(), foreignCurrencies())"></td>
                                </tr>
                            </table>
                            <br />

                            <table style="width: 100%">
                                <thead>
                                    <tr>
                                        <td class="text-center">Srl</td>
                                        <td>BST CODE</td>
                                        <td>Description</td>
                                        <td>Serial nr</td>
                                        <td>Qty</td>
                                        <td class="text-right">U/Price</td>
                                        <td class="text-right">T-Amount</td>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: assignedSOHPrint">
                                    <tr>
                                        <td class="text-center" data-bind="text: $index() + 1"></td>
                                        <td data-bind="text: $data.ID_PARTS"></td>
                                        <td data-bind="text: $data.DESCRIPTION"></td>
                                        <td data-bind="text: $data.PART_NUMBERS"></td>
                                        <td data-bind="text: $data.PR_REQUEST_QTY"></td>
                                        <td class="text-right" data-bind="text: $data.PRICE"></td>
                                        <td class="text-right" data-bind="text: $data.TOTAL_PRICE"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr data-bind="visible: purchaseRequestData.TAXABLE() == 'YES'">
                                        <td class="text-right" colspan="6">VAT</td>
                                        <td class="text-right" data-bind="text: purchaseRequestData.TAX_AMOUNT"></td>
                                    </tr>
                                    <tr data-bind="visible: purchaseRequestData.REMARKS">
                                        <td></td>
                                        <td></td>
                                        <td data-bind="text: purchaseRequestData.REMARKS"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                        <td class="text-right" data-bind="text: getTotalPrice()"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">
        $(document).ready(
            function () {
                /*Text that needs to be localized later*/
                var textInfo = {
                    errorOne: 'There seems to be a problem in the system. We will now redirect you to the logon page to avoid further issues.\n\r" {0} "\n\rSorry for the inconvenience.',
                    errorTwo: 'Server not available, please try again later.',
                    addModeHeader: 'Purchase Receipt Details',
                    addModeSubHeader: 'Please provide all required information before <i class="fa fa-floppy-o"></i> saving. Click the <i class="fa fa-arrow-circle-o-left"></i> cancel button to abort.',
                    updateModeHeader: 'Purchase Receipt Details',
                    updateModeSubHeader: 'Click the <i class="fa fa-edit"></i>modify button to edit Purchase Request information',
                    saveSuccessMessage: 'Record Successfully Saved!',
                    deleteSuccessMessage: 'Record Successfully Deleted!',

                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx139)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',
                        category: '@Html.Raw(home_index.resx141)',
                        ancillary: '@Html.Raw(home_index.resx142)',
                        supplierpartNo: 'Suppier Part No',
                        manufacurerDesc: 'Manufacturer'
                    }
                };

                var myViewModel = new purchaseRequestViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );
    </script>
</body>
</html>

