﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx479)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalAlert.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <link href="~/content/print.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/inventory_stockTransaction.js"></script>
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="/Scripts/moment.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>
    <div class="no-print">
        <header role="heading">
            <nav class="nav-main flex-container" role="navigation">
                <div class="nav-site-map flex-item-2">
                    <ul class="align-left">
                        <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>Menu&nbsp;</a></li>

                        <li class="fc-white"><a href="">@Html.Raw(home_index.resx479)&nbsp;</a></li>
                    </ul>
                </div>
                <div class="nav-user-info flex-item-3">
                    <ul>
                        <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                    </ul>
                </div>
                <div class="nav-user-info flex-item-1">
                    <ul class="align-right">
                        <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                        <li class="fc-white">&nbsp;-&nbsp;</li>
                        <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                    </ul>
                </div>
            </nav>
            <div class="toolbox flex-container">

                <div class="toolbox-left flex-item-1">
                    <ul class="align-right">
                        <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Worksheet"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(stockReceive.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>



                        @*<li class="licrit fc-slate-blue">&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx56)&nbsp;<select class="border-search" id="STOREFROM" name="STOREFROM" title="From Store"><option value="" selected="selected">- select -</option></select></span>&nbsp;&nbsp;</li>
                            <li class="licrit fc-slate-blue">&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx57)&nbsp;<select class="border-search" id="STORETO" name="STORETO" title="Receiving Store"><option value="" selected="selected">- select -</option></select></span>&nbsp;&nbsp;</li>*@
                        <li class="fc-slate-blue" data-bind="visible: customerRequest.TRANS_ID()"><a data-bind="click: printPurchaseRequest" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Click to print Customer Request"><i class="fa fa-print"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx874)</span>&nbsp;&nbsp;</a></li>
                        <li class="liModify fc-slate-blue" hidden><a data-bind="click: statusReceive" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to Receive Request"><i class="fa fa-check-circle"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx481)</span>&nbsp;&nbsp;</a></li>
                        <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Worksheet"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(stockReceive.btnLabel_text5)</span></a></li>
                        <li class="liSaveAll fc-slate-blue"><a data-bind="click: stockSearchNow" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to Add Item to Request"><i class="fa fa-search"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx59)</span>&nbsp;&nbsp;</a></li>
                        <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(stockReceive.btnLabel_text6)</span>&nbsp;&nbsp;</a></li>
                        <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(stockReceive.btnLabel_text7)</span></li>

                        <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                        <li class="fc-slate-blue filter-icon"><span data-bind="click: showModalFilter" class="toolbarbutton"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i>&nbsp;</span></li>
                        <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="field-content-detail">
            <div class="divProgressScreen"></div>
            <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
            <div id="openModalAlert" class="modalAlert">

                <div>
                    <div class="modalAlert-content">
                        <div class="modalAlert-header">

                            <h2>@Html.Raw(home_index.resx482)</h2>
                        </div>
                        <div class="modalAlert-body">
                            <br />
                            <p id="alertmessage">@Html.Raw(assetInfo.pLabel_text2)</p>
                            <br />
                        </div>
                        <div class="modalAlert-footer">

                            <a href="#" data-bind="click: closeAlertModal" class="button-ext" id="addButton"><span>@Html.Raw(home_index.resx483)</span></a>
                        </div>
                    </div>


                </div>

            </div>
            <div id="openModal" class="modalwidth3">
                <div>
                    @*<a href="#" title="Close" class="close">X</a>*@
                    <br />

                    <div class="flex-item-2">
                        <input type="hidden" name="actionButton" id="actionButton">
                        <input type="hidden" name="pageNum" id="pageNum">
                        <input type="hidden" name="pageCount" id="pageCount">
                        <ul class="align-left">
                            <li class="fc-grey">
                                &nbsp;&nbsp;&nbsp;<input data-bind="event: { change: pageLoader } " type="search" placeholder="search anything" id="txtGlobalSearchOth" />
                                &nbsp;&nbsp;&nbsp;
                                <a data-bind="click: pageLoader" href="#" class="button" id="priorPage"><i class="fa fa-chevron-circle-left"></i></a>
                                <a data-bind="click: pageLoader" href="#" class="page" id="page1"><span id="loadNumber">1</span></a>&nbsp;&nbsp;
                                <a data-bind="click: pageLoader" href="#" class="page" id="page2"><span id="totNumber">2</span></a>
                                <a data-bind="click: pageLoader" href="#" class="button" id="nextPage"><i class="fa fa-chevron-circle-right"></i></a>
                            </li>

                        </ul>
                    </div>

                    <div class="flex-item-1 flex-field-container field-list align-left" id="searchResult1">

                        <ul>
                            <li><i></i>&nbsp;</li>

                        </ul>
                        <div class="modal-footer">

                            <a href="#" data-bind="click: cancelChangesModal" class="button-extbottom"><span>@Html.Raw(stockReceive.btnLabel_text8)</span></a>
                        </div>
                    </div>



                </div>
            </div>

            <br />
            <h1 id="contentHeader"></h1>
            <p id="contentSubHeader"></p>
            <form id="frmInfo" data-bind="submit: saveInfo">
                <div class="flex-container flex-wrap">
                    <div class="flex-item-1 flex-field-container" style="max-width: 250px">
                        <p class="fs-medium-strong">Bill To/Vendor Information </p>
                        <input type="text" name="SUPPLIERDESC" id="SUPPLIERDESC" placeholder="" required="required" disabled data-bind="value: customerRequest.SUPPLIERDESC">
                        &nbsp;&nbsp;<br />

                        <label for="SUPPLIER_ADDRESS1">@Html.Raw(home_index.resx160)</label>
                        <textarea name="SUPPLIER_ADDRESS1" id="SUPPLIER_ADDRESS1" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_ADDRESS1"></textarea> <br />

                        <label for="SUPPLIER_CITY">@Html.Raw(home_index.resx12)</label>
                        <input type="text" name="SUPPLIER_CITY" id="SUPPLIER_CITY" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_CITY"><br />

                        <label for="SUPPLIER_ZIPCODE">@Html.Raw(home_index.resx13)</label>
                        <input type="text" name="SUPPLIER_ZIPCODE" id="SUPPLIER_ZIPCODE" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_ZIPCODE"><br />

                        <label for="SUPPLIER_STATE">@Html.Raw(home_index.resx833):</label>
                        <input type="text" name="SUPPLIER_STATE" id="SUPPLIER_STATE" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_STATE"><br />

                        <label for="SUPPLIER_CONTACT_NO1">@Html.Raw(home_index.resx15)</label>
                        <input type="text" name="SUPPLIER_CONTACT_NO1" id="SUPPLIER_CONTACT_NO1" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_CONTACT_NO1"><br />

                        <label for="SUPPLIER_CONTACT_NO2">@Html.Raw(home_index.resx16)</label>
                        <input type="text" name="SUPPLIER_CONTACT_NO2" id="SUPPLIER_CONTACT_NO2" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_CONTACT_NO2"><br />

                        <label for="SUPPLIER_EMAIL_ADDRESS">@Html.Raw(supplier.frmInfo_input_text15):</label>
                        <input type="email" name="SUPPLIER_EMAIL_ADDRESS" id="SUPPLIER_EMAIL_ADDRESS" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_EMAIL_ADDRESS"><br /><br /><br /><br />
                    </div>
                    <div class="flex-item-1 flex-field-container" style="max-width: 250px">
                        <label for="POINVOICENO">@Html.Raw(home_index.resx1004)</label>
                        <input type="number" name="POINVOICENO" id="POINVOICENO" placeholder="" disabled data-bind="value: customerRequest.POINVOICENO"><br />

                        <label>@Html.Raw(home_index.resx1074):</label>
                        <textarea data-bind="value: customerRequest.TRANSFER_REMARKS" disabled></textarea><br />

                        <label for="REF_WO">@Html.Raw(home_index.resx834):</label>
                        <input type="text" name="REF_WO" id="REF_WO" placeholder="" data-bind="value: customerRequest.REF_WO" disabled><br />

                        <label for="TRANS_STATUS">@Html.Raw(othresource.resx_status)</label>
                        <input type="text" name="TRANS_STATUS" id="TRANS_STATUS" disabled="disabled" placeholder="" data-bind="value: customerRequest.TRANS_STATUS"><br />

                        <label for="REQUEST_DATE">@Html.Raw(home_index.resx70)</label>
                        <input type="text" name="REQUEST_DATE" data-isdatetime="true" id="REQUEST_DATE" placeholder="" data-bind="value: customerRequest.REQUEST_DATE" disabled><br />

                        <label for="SHIP_VIA">@Html.Raw(home_index.resx165)</label>
                        <select name="SHIP_VIA" id="SHIP_VIA" data-bind="
                            options: shipVias,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'LOV_LOOKUP_ID',
                            value: customerRequest.SHIP_VIA" disabled></select><br />

                        <label for="EST_SHIP_DATE">@Html.Raw(home_index.resx167)</label>
                        <input type="text" name="EST_SHIP_DATE" data-isdatetime="true" id="EST_SHIP_DATE" placeholder="dd/mm/yyyy" data-bind="value: customerRequest.EST_SHIP_DATE" disabled pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"><br />

                        <label for="HANDLING_FEE">@Html.Raw(home_index.resx168)</label>
                        <input type="number" step="0.1" min="0" name="HANDLING_FEE" id="HANDLING_FEE" placeholder="0.00" data-bind="value: customerRequest.HANDLING_FEE" disabled><br />

                        <label for="INSURANCE_VALUE">@Html.Raw(othresource.resx_insurancevalue)</label>
                        <input type="number" step="0.1" min="0" name="INSURANCE_VALUE" id="INSURANCE_VALUE" placeholder="0.00" data-bind="value: customerRequest.INSURANCE_VALUE" disabled><br />

                        <label for="TRACKING_NO">@Html.Raw(home_index.resx836):</label>
                        <input type="text" name="TRACKING_NO" id="TRACKING_NO" placeholder="" data-bind="value: customerRequest.TRACKING_NO" disabled><br />
                    </div>
                    <div class="flex-item-1 flex-field-container" style="max-width: 250px">
                        <label for="FOREIGN_CURRENCY">@Html.Raw(home_index.resx837)</label>
                        <select name="FOREIGN_CURRENCY" id="FOREIGN_CURRENCY" data-bind="
                            options: foreignCurrencies,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'LOV_LOOKUP_ID',
                            value: customerRequest.FOREIGN_CURRENCY" disabled></select><br />

                        <label for="FREIGHT_CHARGETO">@Html.Raw(home_index.resx838):</label>
                        <select name="FREIGHT_CHARGETO" id="FREIGHT_CHARGETO" data-bind="value: customerRequest.FREIGHT_CHARGETO" disabled>
                            <option value="">@Html.Raw(home_index.resx58)</option>
                            <option value="YES">@Html.Raw(home_index.resx399)</option>
                            <option value="NO">@Html.Raw(home_index.resx400)</option>
                        </select><br />
                        <label for="FREIGHT" data-bind="visible:customerRequest.FREIGHT_CHARGETO() ==='YES'">Freight Charge:</label>
                        <input type="number" step="0.1" min="0" name="FREIGHT" id="FREIGHT" placeholder="0.00" data-bind="value: customerRequest.FREIGHT, visible:customerRequest.FREIGHT_CHARGETO() ==='YES'" disabled><br />

                        <label for="FREIGHT_POLINE" data-bind="visible:customerRequest.FREIGHT_CHARGETO() ==='YES'">@Html.Raw(home_index.resx174)</label>
                        <select class="border-search" id="FREIGHT_POLINE" name="FREIGHT_POLINE" data-bind="value: customerRequest.FREIGHT_POLINE,visible:customerRequest.FREIGHT_CHARGETO() ==='YES'" disabled>
                            <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                            <option value="NO">@Html.Raw(home_index.resx1015)</option>
                        </select><br />

                        <label for="TAXABLE">VAT</label>
                        <select class="border-search" id="TAXABLE" name="TAXABLE" data-bind="value: customerRequest.TAXABLE" disabled>
                            <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                            <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                        </select><br />

                        <div data-bind="visible: customerRequest.TAXABLE() != ''">
                            <label for="TAX_CODE">@Html.Raw(home_index.resx1016)</label>
                            <input type="text" name="TAX_CODE" id="TAX_CODE" placeholder="" data-bind="value: customerRequest.TAX_CODE" disabled><br />
                        </div>

                        <label for="DISCOUNT">@Html.Raw(home_index.resx1011) (%)</label>
                        <input type="number" name="DISCOUNT" id="DISCOUNT" placeholder="" data-bind="value: customerRequest.DISCOUNT" disabled><br />

                        <label for="REMARKS">@Html.Raw(home_index.resx179)</label>
                        <textarea name="REMARKS" id="REMARKS" placeholder="" data-bind="value: customerRequest.REMARKS" disabled></textarea> <br /><br /><br /><br />
                    </div>

                    <div class="flex-item-1 flex-field-container wsAsset">
                        <input type="hidden" name="TRANS_ID" id="TRANS_ID">
                        <input type="hidden" name="AM_STOCKTRANSACTIONID" id="AM_STOCKTRANSACTIONID">
                        <input type="hidden" name="TRANS_STATUS" id="TRANS_STATUS">
                        <input type="hidden" name="REQUEST_DATE" id="REQUEST_DATE">
                        <input type="hidden" name="CANCELACTION" id="CANCELACTION">
                        <input type="hidden" name="POSTID" id="POSTID">
                        <input type="hidden" name="delRow" id="delRow">
                        <p class="itemRequest">@Html.Raw(home_index.resx60)<span data-bind='text: reqList().length'>&nbsp;</span> </p>

                        <table data-bind='visible: reqList().length > 0' id="itemsReceiveBatch">
                            <thead>
                                <tr>
                                    <th class='a'>@Html.Raw(home_index.resx31)</th>
                                    <th class='h'>@Html.Raw(home_index.resx62)</th>
                                    <th class='a'>@Html.Raw(home_index.resx466)</th>
                                    <th class='a'>@Html.Raw(home_index.resx467)</th>
                                    <th class='a'>@Html.Raw(home_index.resx65)</th>
                                    <th class='a'>@Html.Raw(home_index.resx66)</th>


                                </tr>
                            </thead>
                            <tbody data-bind='foreach: reqList'>
                                <tr data-bind="click: $parent.select">
                                    <td class="a"><span data-bind='text: ID_PARTS, uniqueName: true' input type="hidden" name="AM_INSPECTIONASSETID" id="AM_INSPECTIONASSETID"></span></td>
                                    <td class="h"><span data-bind='text: DESCRIPTION, uniqueName: true' input type="hidden" name="REF_INSPECTION_ID" id="REF_INSPECTION_ID"></span></td>
                                    <td class="a"><span data-bind='text: ONHAND, uniqueName: true'></span></td>
                                    <td class="a"><span data-bind='text: COMMITTED, uniqueName: true'></span></td>
                                    <td class="a"><span data-bind='text: QTY, uniqueName: true'></span></td>
                                    <td class="a"><span data-bind='text: QTY_TRANSFER, uniqueName: true'></span></td>
                                </tr>
                            </tbody>
                        </table>


                    </div>


                </div>
                <button type="submit" id="saveInfo" class="hidden"></button>
            </form>
            <br />
            <br />
            <br />
        </div>
        <div class="home-content-detail">
            <div id="homeMessage">
                <br />
                <h1>@Html.Raw(stockReceive.homeMessage_text1)</h1>
                <ul>
                    <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(stockReceive.homeMessage_text2)</li>

                </ul>
            </div>
        </div>
        <div class="search-content-detail">
            <div>
                <br />
                <h1 id="searchResultSummary">@Html.Raw(home_index.resx484).</h1>
                <div id="searchResultList">
                    <ul>
                        <li>
                            <a href="#" class="fs-medium-normal">xyn</a>
                            <span class="searchRowLabel1 searchRowLabel">Short Description: <span class="searchRowData">@Html.Raw(home_index.resx1028)</span></span>
                            <span class="searchRowLabel2 searchRowLabel">Description: <span class="searchRowData">@Html.Raw(home_index.resx1029)</span></span>
                            <span class="searchRowLabel3 searchRowLabel">Other Description: <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>
        <div id="openModalFilter" class="modal-filter">
            <div>
                <a href="#" title="Close" class="close">X</a>
                <div class="modal-filter-header">
                    <h2>@Html.Raw(home_index.resx69)</h2>
                </div>
                <div class="flex-item-2">
                    <div class="filter-row">
                        <label>@Html.Raw(home_index.resx70) </label>
                        <div>
                            <div class="filter-row">@Html.Raw(home_index.resx71) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestFromDate" id="requestFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                            <div class="filter-row">@Html.Raw(home_index.resx72)<input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestStartDate" id="requestStartDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"> </div>
                        </div>
                    </div>
                    <div class="filter-row">
                        <span class="from-text">@Html.Raw(home_index.resx89): </span>
                        <select class="border-search" data-bind="value:searchFilter.status" id="filterStatus" name="filterStatus" title="Select a Store">
                            <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                            <option value="RECEIVED">@Html.Raw(home_index.resx923)</option>
                            <option value="CANCELLED">@Html.Raw(home_index.resx75)</option>
                            <option value="POSTED">@Html.Raw(home_index.resx212)</option>
                            <option value="TRANSFER">@Html.Raw(home_index.resx491)</option>
                            <option value="OPEN">@Html.Raw(home_index.resx211)</option>
                        </select>
                    </div>
                    <div class="filter-row">
                        <span class="from-text">@Html.Raw(home_index.resx56): </span>
                        <select class="border-search" id="filterFromStore" name="filterFromStore" title="Select a Store" data-bind="value:searchFilter.fromStore">
                            <option value="0" selected="selected">@Html.Raw(home_index.resx58)</option>
                        </select>
                    </div>
                    <div class="filter-row">
                        <span class="from-text">@Html.Raw(home_index.resx57): </span>
                        <select class="border-search" id="filterToStore" name="filterToStore" title="Select a Store" data-bind="value:searchFilter.toStore">
                            <option value="0" selected="selected">@Html.Raw(home_index.resx58)</option>
                        </select>
                    </div>
                    <div id="addButton">
                        <span class="button-extbottom" data-bind="event: {click: searchFilterNow}">@Html.Raw(home_index.resx95)</span>
                        <a data-bind="event: {click: clearFilter}" href="#" class="button-extbottom"><span>@Html.Raw(home_index.resx96)</span></a>
                        <span class="button-extbottom" data-bind="event: {click: clearFilter}">@Html.Raw(home_index.resx97)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        #printPurchaseRequest {
            padding: 15px;
        }

        .printPurchaseRequest-body {
            margin-top: 15px;
        }

            .printPurchaseRequest-body table tr {
                padding: 0;
                margin: 0;
            }

            .printPurchaseRequest-body table td {
                padding: 3px;
            }

            .printPurchaseRequest-body .t-header {
                background-color: #d7d7d7;
            }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }
    </style>
    <div class="print container" id="printPurchaseRequest">
        <table>
            <thead>
                <tr>
                    <th style="width: 47%; display:inline-block;text-align:left;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING3" class="fs-medium-strong"></p>
                    </th>
                    <th style="width: 6%; display:inline-block;border: 0 none;">
                        @*<span style="width:100%;clear:both;margin:0 auto;">
                                <img class="client_logo" data-bind="attr:{src: clientDetails.CLIENT_LOGO}" style="height:60px; width:80px;" align="middle" />
                            </span>*@
                        <span style="width:100%;clear:both;text-align:center;">
                            <img class="client_logo" data-bind="attr:{src: clientDetails.COMPANY_LOGO}" style="height:40px; width:70px;" align="middle" />
                        </span>
                    </th>
                    <th style="width: 47%; display:inline-block;text-align:right;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING_OTH" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH3" class="fs-medium-strong"></p>
                        <img class="client_logo" src="" id="CLIENT_LOGO" name="CLIENT_LOGO" style="height:80px; width:100px; " hidden />
                    </th>
                </tr>
                <tr style="display: flex; border-bottom: 1px solid #d2d9de;">
                    <th style="border: 0 none; width: 30%;">

                    </th>
                    <th style="border: 0 none; width: 60%; text-align: center;">
                        <span class="fs-large-strong">Invoice</span>
                    </th>
                    <th style="border: 0 none; width: 30%; text-align: right; margin-top: 10px; padding-right: 0px;">
                        <span class="fs-smaill-normal"></span>
                    </th>
                </tr>
            </thead>
            <tbody style="border-top: .5px solid #d2d9de;">
                <tr style="width: 850px; border-color:transparent;">
                    <td style="width: 850px; border-color:transparent;">
                        <div class="printPurchaseRequest-body">
                            <div style="display: flex; justify-content: space-between">
                                <table style="width: 50%">
                                    <tr class="t-header">
                                        <td colspan="2">
                                            Bill To
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b data-bind="text: customerRequest.SUPPLIERDESC"></b>
                                            <br />
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add: <span data-bind="text: customerRequest.SUPPLIER_ADDRESS1() + ', ' + customerRequest.SUPPLIER_CITY()"></span>
                                            <br />
                                            <span data-bind="text: customerRequest.SUPPLIER_STATE() + ', ' + customerRequest.SUPPLIER_ZIPCODE()"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fc-red" style="width: 50px">VAT #</td>
                                        <td data-bind="text: customerRequest.TAX_CODE"></td>
                                    </tr>
                                </table>

                                <table style="width: 40%">
                                    <tr class="t-header">
                                        <td>Date</td>
                                        <td>Invoice Nr.</td>
                                    </tr>
                                    <tr>
                                        <td data-bind="text: getPODate()"></td>
                                        <td data-bind="text: customerRequest.POINVOICENO"></td>
                                    </tr>
                                </table>
                            </div>
                            <br />

                            <table style="width: 100%">
                                <tr class="t-header">
                                    <td>Terms</td>
                                    <td>Rep</td>
                                    <td>Ship Via</td>
                                    <td>P.O. nr</td>
                                    <td>Customer number</td>
                                    <td>Delivery order Nr</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td data-bind="text: getLookupDescription(customerRequest.SHIP_VIA(), shipVias())"></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center fc-red"></td>
                                </tr>
                            </table>
                            <br />

                            <table style="width: 100%">
                                <thead>
                                    <tr>
                                        <td class="text-center">Srl</td>
                                        <td>BST CODE</td>
                                        <td>Description</td>
                                        <td>Serial nr</td>
                                        <td>Qty</td>
                                        <td class="text-right">U/Price</td>
                                        <td class="text-right">T-Amount</td>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: assignedSOHPrint">
                                    <tr>
                                        <td class="text-center" data-bind="text: $index() + 1"></td>
                                        <td data-bind="text: $data.ID_PARTS"></td>
                                        <td data-bind="text: $data.DESCRIPTION"></td>
                                        <td data-bind="text: $data.PART_NUMBERS"></td>
                                        <td data-bind="text: $data.QTY"></td>
                                        <td class="text-right" data-bind="text: $data.PRICE"></td>
                                        <td class="text-right" data-bind="text: $data.TOTAL_PRICE"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td class="text-right" colspan="6">SUB TOTAL</td>
                                        <td class="text-right" data-bind="text: getSubtotalPrice()"></td>
                                    </tr>
                                    <tr data-bind="visible: customerRequest.DISCOUNT() > 0">
                                        <td class="text-right" colspan="6">DISCOUNT <text data-bind="text: customerRequest.DISCOUNT"></text>%</td>
                                        <td class="text-right" data-bind="text: getDiscountPrice()"></td>
                                    </tr>
                                    <tr data-bind="visible: getVatAmount() > 0">
                                        <td class="text-right" colspan="6" data-bind="text: getVatDescription()"></td>
                                        <td class="text-right" data-bind="text: getVatAmount()"></td>
                                    </tr>
                                    <tr data-bind="visible: customerRequest.REMARKS">
                                        <td></td>
                                        <td></td>
                                        <td data-bind="text: customerRequest.REMARKS"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                        <td class="text-right" data-bind="text: getTotalPrice()"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(stockReceive.txtInfo_text1)',
                    errorTwo: '@Html.Raw(stockReceive.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(stockReceive.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(stockReceive.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(stockReceive.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(stockReceive.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(stockReceive.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(stockReceive.txtInfo_text8)',

                    readModeStatusText: '@Html.Raw(stockReceive.txtInfo_text10)',
                    displayModeHeader: '@Html.Raw(stockReceive.txtInfo_text11)',
                    displayModeSubHeader: '@Html.Raw(stockReceive.txtInfo_text12)',
                    searchModeStatusText: '@Html.Raw(stockReceive.txtInfo_text13)',
                    searchModeHeader: "@Html.Raw(stockReceive.txtInfo_text14)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx31)',
                        inspectionprocess: '@Html.Raw(home_index.resx81)',
                        otherDeth: '@Html.Raw(home_index.resx82)',
                        problem: '@Html.Raw(home_index.resx83)',
                        woOrder: '@Html.Raw(home_index.resx136)',
                        requestor: '@Html.Raw(home_index.resx85)',
                        buildingName: '@Html.Raw(home_index.resx86)',
                        locationName: '@Html.Raw(home_index.resx87)',
                        conditionName: '@Html.Raw(home_index.resx88)',
                        statusName: '@Html.Raw(home_index.resx89)',
                        reqDate: '@Html.Raw(home_index.resx70)',
                        contractId: '@Html.Raw(home_index.resx49)',
                        typeCoverage: '@Html.Raw(home_index.resx90)',
                        provider: '@Html.Raw(home_index.resx47)',
                        labour: '@Html.Raw(home_index.resx46)',
                        parts: '@Html.Raw(home_index.resx45)',
                        partsName: 'Spare Part',
                        qty: 'Qty'
                    }
                };

                var myViewModel = new amStockTransactionViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

