﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx461)</title>

    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/inventory_stockonhand.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="~/scripts/authentication.js"></script>
</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>
                    <li class="fc-white"><a href="">@Html.Raw(home_index.resx461)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
			<div class="toolbox-left flex-item-1 pagingDiv">
				<input type="hidden" name="PaginGactionButton" id="PaginGactionButton">
				<input type="hidden" name="PaginGpageNum" id="PaginGpageNum">
				<input type="hidden" name="PaginGpageCount" id="PaginGpageCount">
				<input type="hidden" name="PaginGFilter" id="PaginGFilter">
                <ul class=" align-left">
                    <li class="fc-slate-blue"><a data-bind="click: pagingLoader" class="toolbarbutton" href="#" id="PaginGpriorPage"><i class="fa fa-step-backward fs-medium-normal"></i></a></li>
                    <li class="fc-slate-blue"><a href="#" class="page" id="pagq1"><span id="PaginGloadNumber">1</span></a></li>&nbsp;@Html.Raw(home_index.resx144)&nbsp;
                    <li class="fc-slate-blue"><a href="#" class="page" id="pagq1"><span id="PaginGtotNumber">2</span></a></li>
                    <li class="fc-slate-blue "><a data-bind="click: pagingLoader" class="toolbarbutton" href="#" id="PaginGnextPage"><i class="fa fa-step-forward"></i></a></li>
                </ul>
			</div>
            <div class="toolbox-left flex-item-4">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a  data-bind="click: searchParts" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Click to add new Parts"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.btnAddParts)</span>&nbsp;&nbsp;</a></li>                   
                    <li class="liModify fc-slate-blue"><a  class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Debtor Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx5)</span>&nbsp;&nbsp;</a></li>
                   <li class="liSaveAll fc-slate-blue"><a  class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Add Item"><i class="fa fa-list-alt"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx253)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(home_index.resx8)</span></li>
                    @*<li class="lisort">
                        <span class="fc-slate-blue">Sort By: </span>
                        <select class="border-search disable-mode " id="SORTPAGE" name="SORTPAGE" placeholder="" data-bind="event: { change: sorting }">
                            <option value="SORTCODEAC">Code ascending</option>
                            <option value="SORTCODECDC">Code descending</option>
                            <option value="SORTDESCAC">Item Name ascending</option>
                            <option value="SORTDESCDC">Item Name descending</option>
                            <option value="SORTONHANDAC">On Hand ascending</option>
                            <option value="SORTONHANDDC">On Hand descending</option>
                            <option value="SORTCOMAC">Committed ascending</option>
                            <option value="SORTCOMDC">Committed descending</option>
                            <option value="SORTPURAC">Purchase Request ascending</option>
                            <option value="SORTPURDC">Purchase Request descending</option>
                        </select>&nbsp;  &nbsp;
                    </li>*@                         
                    <li class="fc-grey">
						<select class="border-search" id="sohCriteria" name="sohCriteria" data-bind="event: { change: sorting }">
							<option value="" selected="selected">@Html.Raw(home_index.resx551)</option>
                            <option value="SOHZERO" selected="selected">@Html.Raw(home_index.resx1051)</option>
                            <option value="SOHON" selected="selected">@Html.Raw(home_index.resx1052)</option>
                            <option value="SOHCOMMITTED" selected="selected">@Html.Raw(home_index.resx1053)</option>
                            <option value="SOHPR" selected="selected">@Html.Raw(home_index.resx1054)</option>
                            <option value="SOHINAT" selected="selected">@Html.Raw(home_index.resx1055)</option>
						</select>
					</li> 
					<li class="fc-grey"><select class="border-search" id="STORENO" name="STORENO">
                        <option value="" selected="selected">@Html.Raw(home_index.resx1056)</option>
                    </select>
                    </li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#openModal"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        <div id="openModalPartList" class="modalwidth5">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <br />
                <p><span class="fs-medium-strong">@Html.Raw(home_index.textPleasesearchfromthelistofparts)</span> </p>
                <div class="flex-item-2">
                    <ul class="align-left">
                        <li class="fc-grey">
                            &nbsp;&nbsp;&nbsp;<input data-bind="event: { change: pageLoader }" type="search" placeholder="search anything" id="txtGlobalSearchOth" />
                            &nbsp;&nbsp;&nbsp;
                        </li>

                    </ul>
                </div>
                <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchResult1">
                    <ul>
                        <li><i></i>&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="openModalInfo" class="modalwidth8">
            <div style="padding: 0 15px 15px;">
                <a href="#close" title="Close" class="close">X</a>
                <br />
                <h1 class="fc-slate-blue">Stock On Hand Adjustment</h1>
                <p>@Html.Raw(home_index.textSparePartName) <span id="productDescription">&nbsp;</span> </p>
                <p>@Html.Raw(home_index.textStoreName)<span id="storeDescription">&nbsp;</span> </p>
                <p><span>@Html.Raw(home_index.textPleaseenterthenewvalueyouwishtoadjust)</span> </p>
                <form id="itemInfo">
                    <input type="hidden" name="STORE_ID" id="STORE_ID">
                    <input type="hidden" name="QTY_ACTUAL" id="QTY_ACTUAL">
                    <input type="hidden" name="ID_PARTS" id="ID_PARTS">
                    <input type="hidden" name="STATUS_ACTUAL" id="STATUS_ACTUAL">
                    <input type="hidden" name="MIN_ACTUAL" id="MIN_ACTUAL">
                    <input type="hidden" name="MAX_ACTUAL" id="MAX_ACTUAL">
                    <input type="hidden" name="CURRINDEX" id="CURRINDEX">
                    <input type="hidden" name="ACTIONTRANS" id="ACTIONTRANS">
                    <input type="hidden" name="PARTDESC" id="PARTDESC">
                    <input type="hidden" name="PARTSID" id="PARTSID">
                    <input type="hidden" name="LASTLOADPAGE" id="LASTLOADPAGE">
                    <br />

                    <div class="flex-container flex-wrap">
                        <div class="flex-item-1 flex-field-container-ext">
                            <ul>
                                <li>
                                    @*<label for="INFOQTY">@Html.Raw(home_index.textCurrentQTYStock)</label>
                                    <input type="number" name="INFOQTY" id="INFOQTY" required="required" min="0"><br />*@

                                    <label for="INFOMIN">@Html.Raw(home_index.textCurrentMinimumStock)</label>
                                    <input type="number" name="INFOMIN" id="INFOMIN" min="0"><br />

                                    <label for="INFOMAX">@Html.Raw(home_index.textCurrentMaximumStock)</label>
                                    <input type="number" name="INFOMAX" id="INFOMAX" min="0"><br />

                                    <label for="INFOSTATUS">@Html.Raw(home_index.resx89):</label>
                                    <select class="border-search" id="INFOSTATUS" name="INFOSTATUS">
                                        <option value="Y" selected="selected">@Html.Raw(home_index.resx199)</option>
                                        <option value="N" selected="selected">@Html.Raw(pmSchedule.input_label_text15)</option>
                                    </select><br />

                                    <label for="REASON">@Html.Raw(home_index.textReason)</label>
                                    <textarea name="REASON" id="REASON" placeholder="" required="required"></textarea> <br />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <a href="#" data-bind="click: applyAdjustment" class="button-ext" id="addButton"><span>@Html.Raw(home_index.resx95)</span></a>
                </form>
            </div>
        </div>

        <div id="openModalInfoItemLocation" class="modalwidth8">
            <div style="padding: 0 15px 15px;">
                <a href="#close" title="Close" class="close">X</a>
                <br />
                <h1 class="fc-slate-blue">@Html.Raw(home_index.resx1057)</h1>
                <div>
                    <p>@Html.Raw(home_index.textSparePartName) <span id="productDescriptionItem">&nbsp;</span> </p>
                    <p>@Html.Raw(home_index.textStoreName)<span id="storeDescriptionItem">&nbsp;</span> </p>
                    <p><span>@Html.Raw(home_index.resx1058)</span> </p>
                </div>

                <form id="itemInfoLocation">
                    @*<input type="hidden" name="STORE_ID" id="STORE_ID">
                    <input type="hidden" name="QTY_ACTUAL" id="QTY_ACTUAL">
                    <input type="hidden" name="ID_PARTS" id="ID_PARTS">
                    <input type="hidden" name="STATUS_ACTUAL" id="STATUS_ACTUAL">
                    <input type="hidden" name="MIN_ACTUAL" id="MIN_ACTUAL">
                    <input type="hidden" name="MAX_ACTUAL" id="MAX_ACTUAL">
                    <input type="hidden" name="CURRINDEX" id="CURRINDEX">
                    <input type="hidden" name="ACTIONTRANS" id="ACTIONTRANS">
                    <input type="hidden" name="PARTDESC" id="PARTDESC">
                    <input type="hidden" name="PARTSID" id="PARTSID">*@
                    <br />
                    <div class="flex-container flex-wrap">
                        <div class="flex-item-1 flex-field-container-ext">
                            <label for="INFLOCATION">@Html.Raw(home_index.resx1059)</label>
                            <input type="text" name="INFLOCATION" id="INFLOCATION"><br />
                            <label for="INFLOCATION2">@Html.Raw(home_index.resx1060)</label>
                            <input type="text" name="INFLOCATION2" id="INFLOCATION2"><br />
                            <label for="INFLOCATION3">@Html.Raw(home_index.resx1061)</label>
                            <input type="text" name="INFLOCATION3" id="INFLOCATION3"><br />
                            <label for="INFLOCATION4">@Html.Raw(home_index.resx1062)</label>
                            <textarea name="INFLOCATION4" id="INFLOCATION4" placeholder=""></textarea> <br />
                        </div>
                    </div>
                    <br />
                    <a href="#" data-bind="click: applyNewLocation" class="button-ext" id="addButton"><span>@Html.Raw(home_index.resx95)</span></a>
                </form>
            </div>
        </div>

        <div id="openModalBachInfoItemsLocation" class="modalwidth5">
            <div style="padding: 0 15px 15px;">
                <a href="#" data-bind="click: closeBatchModal" title="Close" class="close">X</a>
                <br />
                <h1 class="fc-slate-blue">@Html.Raw(home_index.resx1063) </h1>
                <div>
                    <p class="fc-green updSuccess">@Html.Raw(home_index.resx1064).</p>
                </div>
                <form id="batchItemsInfoLocation">
                    <div class="flex-container flex-wrap">
                        <div class="flex-item-1 flex-field-container-ext">
                            <strong data-bind='visible: modSOHBatchItems().length <1'>@Html.Raw(home_index.resx1065).</strong>
                            <table id="tblModSOHBatchItems" data-bind='visible: modSOHBatchItems().length > 0'>
                                <thead>
                                    <tr>
                                    <tr class="fc-slate-blue" style="padding-right: 0;">
                                        <th style="width:31%; padding-right: 0;">@Html.Raw(home_index.resx1066)</th>
                                        <th style="width:31%; padding-right: 0;">@Html.Raw(home_index.resx1039)</th>
                                        <th style="width:31%; padding-right: 0;">@Html.Raw(home_index.resx466)</th>
                                        <th style="width:31%; padding-right: 0;">@Html.Raw(home_index.lblSupplier)</th>
                                        <th style="width:10%; padding-right: 0;">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: modSOHBatchItems">
                                    <tr data-bind="event: { change: $parent.batchDataUpdated }, attr: { class: $data.Class}">
                                        <td data-bind='text: $data.BARCODE_ID'></td>
                                        <td data-bind='text: $data.ExpiryDisplay'></td>
                                        <td>
                                            <input type="number" data-bind='value: $data.STOCK_ONHAND, attr: { disabled: $data.ItemExpired, class: $data.Class}' />
                                        </td>
                                        <td data-bind='text: $data.SUPPLIERNAME'></td>
                                        <td style="padding-right: 0;" class="adjustId"><a href='#' data-bind='click: $parent.updateBatch, visible: $data.Updated' class="button-ext"><i class="fa fa-floppy-o"></i></a></td>
                                    </tr>
                                </tbody>
                            </table><br />
                            <div id="dvRecal" style="display: flex; justify-content: space-between;">
                                <div>
                                    <button type="button" class="fc-slate-blue" data-bind="click: RecalculateBatchItems" style="padding: 5px 10px;">@Html.Raw(home_index.resx1067)</button>
                                </div>
                                <strong style="padding-top: 7px;">
                                    @Html.Raw(home_index.resx1068):
                                    <span class="fc-green" data-bind="text: modSOH.BatchTotalItemCount"></span>
                                </strong>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="openModalAddBachInfoItemsLocation" class="modalwidth5">
            <div style="padding: 0 15px 15px;">
                <a href="#" data-bind="click: closeCreateBatchModal" title="Close" class="close">X</a>
                <div>
                    <p><span id="lookUpTitle" class="fc-slate-blue fs-large-strong">@Html.Raw(home_index.resx1072)</span></p>
                </div>
                <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage">
                    <form>
                        <div class="flex-container flex-wrap">
                            <div class="flex-item-1 flex-field-container">
                                <label for="STORE_DESC">@Html.Raw(home_index.resx63)</label>
                                <input type="text" name="STORE_DESC" id="STORE_DESC" placeholder="" data-bind="value: unsaveBatch.STORE_DESC" disabled="disabled" style="width: 94% !important;"><br />

                                <label for="DESCRIPTION">@Html.Raw(home_index.resx1069)</label>
                                <input type="text" name="DESCRIPTION" id="DESCRIPTION" placeholder="" data-bind="value: unsaveBatch.DESCRIPTION" disabled="disabled" style="width: 94% !important;"><br />

                                <label for="QTY">@Html.Raw(othresource.resx_quantity):</label>
                                <input type="number" name="QTY" id="QTY" placeholder="" data-bind="value: unsaveBatch.QTY" style="width: 94% !important;" required="required"><br />

                                <label for="INVOICENO">@Html.Raw(home_index.resx1070):</label>
                                <input type="text" name="INVOICENO" id="INVOICENO" placeholder="" data-bind="value: unsaveBatch.INVOICENO" style="width: 94% !important;" required="required"><br />

                                <label for="BARCODE_ID">@Html.Raw(home_index.resx1071):</label>
                                <input type="text" name="BARCODE_ID" id="BARCODE_ID" placeholder="" data-bind="value: unsaveBatch.BARCODE_ID" style="width: 94% !important; " required="required"><br />

                                <div data-bind="if: unsaveBatch.PARTTYPE">
                                    <label for="MODELCODE">@Html.Raw(amInformationServiceDevice.frmInfo_input_text4):</label>
                                    <select name="MODELCODE" id="MODELCODE" data-bind="value: unsaveBatch.MODELCODE" style="width: 94% !important; min-width: 94%;" required="required">
                                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                    </select><br />
                                </div>

                                <label for="SUPPLIER">@Html.Raw(home_index.lblSupplier):</label>
                                <select name="SUPPLIER" id="SUPPLIER" data-bind="value: unsaveBatch.SUPPLIER" style="width: 94%; min-width:94%;" required="required">
                                    <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                </select><br />

                                <label for="EXPIRY_DATE">@Html.Raw(home_index.resx1039):</label>
                                <input type="date" name="EXPIRY_DATE" id="EXPIRY_DATE" placeholder="" data-bind="value: unsaveBatch.EXPIRY_DATE" style="width: 94% !important;" required="required"><br />
                            </div>
                        </div><br />
                        <div class="align-right" style="padding-right: 30px;">
                            <button type="button" id="AddBatch" class="fc-slate-blue" data-bind="click: addBatch" style="padding: 5px 10px;">@Html.Raw(home_index.resx1072)</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <h1>@Html.Raw(home_index.resx1073)</h1>
        <p id="contentSubHeader"></p>
        <div style="padding: 0 40px;">
            <div id="searchResultBatchList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">@Html.Raw(home_index.resx35)</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>

            <div id="itemsReceiveBatchCont">
                <table id="itemsReceiveBatch" style="width:100%">
                    <thead>
                        <tr class="fc-slate-blue">
                            <th class=''>@Html.Raw(home_index.resx31)</th>
                            <th class=''>@Html.Raw(home_index.resx902)</th>
                            <th class=''>@Html.Raw(home_index.resx62)</th>
                            <th class=''>@Html.Raw(home_index.resx464)</th>
                            <th class=''>@Html.Raw(home_index.resx465)</th>
                            <th class=''>@Html.Raw(home_index.resx466)</th>
                            <th class=''>@Html.Raw(home_index.resx467)</th>
                            <th class=''>@Html.Raw(home_index.resx468)</th>
                            <th class=''>@Html.Raw(home_index.resx236)</th>
                            <th class=''>@Html.Raw(home_index.resx1018)</th>
                            <th class=''>@Html.Raw(home_index.resx63)</th>
                            <th class='' style="width: 100px;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(home_index.resx470)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx471)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx472)</li>
            </ul>
        </div>
    </div>

    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx473).</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        @*<a href="#" class="fs-medium-normal">xyn</a>*@
                        <span class="searchRowLabel1 searchRowLabel">Short Description: <span class="searchRowData">@Html.Raw(home_index.resx1028)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">Description: <span class="searchRowData">@Html.Raw(home_index.resx1029)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">Other Description: <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">
        $(document).ready(
            function () {
                /*Text that needs to be localized later*/
                var viewModel = {
                    errorOne: 'There seems to be a problem in the system. We will now redirect you to the logon page to avoid further issues.\n\r" {0} "\n\rSorry for the inconvenience.',
                    errorTwo: 'Server not available, please try again later',
                    addModeHeader: 'Stock Batch Receive Details',
                    addModeSubHeader: '',
                    updateModeHeader: 'Update Store Information',
                    updateModeSubHeader: 'Please provide all required information before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    saveModeStatusText: 'Please wait while saving . . .',
                    saveSuccessMessage: 'Record Successfully Saved!',
                    readModeStatusText: 'Please wait while getting Stock On Hand information…',
                    displayModeHeader: 'Stock On Hand Information',
                    displayModeSubHeader: 'Click the <i class=" fa fa-edit"></i>edit button to modify Stock Batch Receive details',
                    searchModeStatusText: 'Please wait while searching . . .',
                    searchModeHeader: "Stock On Hand search results for '{0}'. {1} Items found.",
                    searchModeLabels: {
                        idInfo: 'Store Code',
                        descriptionInfo: 'Description',
                        otherDeth: 'Store type'
                    }
                };

                var myViewModel = new stockonhandViewModel(viewModel);
                ko.applyBindings(myViewModel);
            }
        );
    </script>

</body>
</html>

