﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>Stock Transfer</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalAlert.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <link href="~/content/print.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="/Scripts/moment.js"></script>
    <script src="~/Scripts/inventory_customerTransfer.js"></script>
    <script src="~/scripts/authentication.js"></script>
    <style>
        .pr-table {
            width: 100%;
        }

            .pr-table th, .pr-table td {
                width: unset;
                max-width: unset;
                min-width: unset;
                white-space: nowrap;
            }

            .pr-table tbody tr:hover {
                color: #246ca1;
                font-weight: bold;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="no-print">
        <header role="heading">
            <nav class="nav-main flex-container" role="navigation">
                <div class="nav-site-map flex-item-2">
                    <ul class="align-left">
                        <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>
                        <li class="fc-white"><a href="">@Html.Raw(home_index.resx489) &nbsp;</a></li>
                    </ul>
                </div>
                <div class="nav-user-info flex-item-2">
                    <ul>
                        <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>
                    </ul>
                </div>
                <div class="nav-user-info flex-item-1">
                    <ul class="align-right">
                        <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                        <li class="fc-white">&nbsp;-&nbsp;</li>
                        <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                    </ul>
                </div>
            </nav>
            <div class="toolbox flex-container">
                <div class="toolbox-left flex-item-1">
                    <ul class="align-right">
                        <li class="liSaveAll fc-slate-blue" data-bind="visible: pageMode() == modes.transactionPage && !showProgress() && customerRequest.TRANS_ID()"><a data-bind="click: printPurchaseRequest" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Click to print Customer Request"><i class="fa fa-print"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx154)</span>&nbsp;&nbsp;</a></li>
                        <li class="liSaveAll fc-slate-blue" data-bind="visible: pageMode() == modes.transactionPage && !showProgress() && checkViewMode()"><a data-bind="click: triggerFormSubmit" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Click to Transfer Request"><i class="fa fa-check-circle"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx491)</span>&nbsp;&nbsp;</a></li>

                        <li class="liApiStatus fc-slate-blue" data-bind="visible: showProgress"><span class="status-icon fs-large-normal"><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text" data-bind="text: progressText"></span></li>

                        <li class="fc-grey"><input data-bind="value: filter.pageQuickSearch, event: { change: quickSearch } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                        <li class="fc-slate-blue"><a data-bind="click: quickSearch" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i>&nbsp;|</a></li>
                        <li class="fc-slate-blue "><span data-bind="click: openModalFilter" class="toolbarbutton"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></span></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="home-content-detail" data-bind="visible: pageMode() == modes.homePage && !showProgress()">
            <div id="homeMessage">
                <br>
                <h1>@Html.Raw(home_index.resx1088)</h1>
                <ul>
                    <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(stockTransfer.homeMessage_text2)</li>
                </ul>
            </div>
        </div>
        <div class="search-content-detail" data-bind="visible: pageMode() == modes.searchPage && !showProgress()">
            <div>
                <br>
                <h1 id="searchResultSummary">@Html.Raw(home_index.resx1089) '<text data-bind="text: filter.pageQuickSearch"></text>'. <text data-bind="text: customerRequests().length"></text> @Html.Raw(home_index.resx1081).</h1>
                <div id="searchResultList">
                    <ul data-bind="foreach: customerRequests">
                        <li>
                            <a href="#" class="fs-medium-normal detailItem" data-bind="click: $parent.selectCustomerRequest">
                                <i class="fa fa-arrow-circle-o-right"></i>
                                <text data-bind="html: $data.TRANS_ID + ' - Request Date: ' + $data.REQUEST_DATE +
                                  '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Total Items: ' + $data.ITEMREQ +
                                  '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Status: ' + $data.TRANS_STATUS +
                                  '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Requesting From Store: ' + $data.FROM_STOREDESC +
                                  '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Requesting Store: ' + $data.TO_STOREDESC"></text>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
        <div class="field-content-detail" data-bind="visible: pageMode() == modes.transactionPage && !showProgress()">
            <div class="divProgressScreen" data-bind="visible: showProgressScreen()"></div>
            <div class="notify-success fs-small-normal" id="divNotify">
                <p></p>
            </div>
            <br />

            <h1>@Html.Raw(stockTransfer.txtInfo_text11)</h1>
            <form data-bind="submit: saveAllChanges">
                <div class="flex-container flex-wrap">
                    <div class="flex-item-1 flex-field-container" style="max-width: 250px">
                        <p class="fs-medium-strong">@Html.Raw(home_index.resx840) </p>
                        <input type="text" name="SUPPLIERDESC" id="SUPPLIERDESC" placeholder="" required="required" disabled data-bind="value: customerRequest.SUPPLIERDESC">
                        &nbsp;&nbsp;<br />

                        <label for="SUPPLIER_ADDRESS1">@Html.Raw(home_index.resx160)</label>
                        <textarea name="SUPPLIER_ADDRESS1" id="SUPPLIER_ADDRESS1" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_ADDRESS1"></textarea> <br />

                        <label for="SUPPLIER_CITY">@Html.Raw(home_index.resx12)</label>
                        <input type="text" name="SUPPLIER_CITY" id="SUPPLIER_CITY" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_CITY"><br />

                        <label for="SUPPLIER_ZIPCODE">@Html.Raw(home_index.resx13)</label>
                        <input type="text" name="SUPPLIER_ZIPCODE" id="SUPPLIER_ZIPCODE" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_ZIPCODE"><br />

                        <label for="SUPPLIER_STATE">@Html.Raw(home_index.resx833):</label>
                        <input type="text" name="SUPPLIER_STATE" id="SUPPLIER_STATE" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_STATE"><br />

                        <label for="SUPPLIER_CONTACT_NO1">@Html.Raw(home_index.resx15)</label>
                        <input type="text" name="SUPPLIER_CONTACT_NO1" id="SUPPLIER_CONTACT_NO1" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_CONTACT_NO1"><br />

                        <label for="SUPPLIER_CONTACT_NO2">@Html.Raw(home_index.resx16)</label>
                        <input type="text" name="SUPPLIER_CONTACT_NO2" id="SUPPLIER_CONTACT_NO2" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_CONTACT_NO2"><br />

                        <label for="SUPPLIER_EMAIL_ADDRESS">@Html.Raw(supplier.frmInfo_input_text15):</label>
                        <input type="email" name="SUPPLIER_EMAIL_ADDRESS" id="SUPPLIER_EMAIL_ADDRESS" placeholder="" disabled data-bind="value: customerRequest.SUPPLIER_EMAIL_ADDRESS"><br /><br /><br /><br />
                    </div>
                    <div class="flex-item-1 flex-field-container" style="max-width: 250px">
                        <label for="POINVOICENO">@Html.Raw(home_index.resx1004)</label>
                        <input type="number" name="POINVOICENO" id="POINVOICENO" required="required" placeholder="" data-bind="value: customerRequest.POINVOICENO, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"><br />

                        <label>@Html.Raw(home_index.resx1074):</label>
                        <textarea data-bind="value: customerRequest.TRANSFER_REMARKS, enable: checkViewMode(), css: { 'view-mode': !checkViewMode() }"></textarea><br />

                        <label for="REF_WO">@Html.Raw(home_index.resx834):</label>
                        <input type="text" name="REF_WO" id="REF_WO" placeholder="" data-bind="value: customerRequest.REF_WO" disabled><br />

                        <label for="TRANS_STATUS">@Html.Raw(othresource.resx_status)</label>
                        <input type="text" name="TRANS_STATUS" id="TRANS_STATUS" disabled="disabled" placeholder="" data-bind="value: customerRequest.TRANS_STATUS"><br />

                        <label for="REQUEST_DATE">@Html.Raw(home_index.resx70)</label>
                        <input type="text" name="REQUEST_DATE" data-isdatetime="true" id="REQUEST_DATE" placeholder="" data-bind="value: customerRequest.REQUEST_DATE" disabled><br />

                        <label for="SHIP_VIA">@Html.Raw(home_index.resx165)</label>
                        <select name="SHIP_VIA" id="SHIP_VIA" data-bind="
                            options: shipVias,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'LOV_LOOKUP_ID',
                            value: customerRequest.SHIP_VIA" disabled></select><br />

                        <label for="EST_SHIP_DATE">@Html.Raw(home_index.resx167)</label>
                        <input type="text" name="EST_SHIP_DATE" data-isdatetime="true" id="EST_SHIP_DATE" placeholder="dd/mm/yyyy" data-bind="value: customerRequest.EST_SHIP_DATE" disabled pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"><br />

                        <label for="HANDLING_FEE">@Html.Raw(home_index.resx168)</label>
                        <input type="number" step="0.1" min="0" name="HANDLING_FEE" id="HANDLING_FEE" placeholder="0.00" data-bind="value: customerRequest.HANDLING_FEE" disabled><br />

                        <label for="INSURANCE_VALUE">@Html.Raw(othresource.resx_insurancevalue)</label>
                        <input type="number" step="0.1" min="0" name="INSURANCE_VALUE" id="INSURANCE_VALUE" placeholder="0.00" data-bind="value: customerRequest.INSURANCE_VALUE" disabled><br />

                        <label for="TRACKING_NO">@Html.Raw(home_index.resx836):</label>
                        <input type="text" name="TRACKING_NO" id="TRACKING_NO" placeholder="" data-bind="value: customerRequest.TRACKING_NO" disabled><br />
                    </div>
                    <div class="flex-item-1 flex-field-container" style="max-width: 250px">
                        <label for="FOREIGN_CURRENCY">@Html.Raw(home_index.resx837)</label>
                        <select name="FOREIGN_CURRENCY" id="FOREIGN_CURRENCY" data-bind="
                            options: foreignCurrencies,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'LOV_LOOKUP_ID',
                            value: customerRequest.FOREIGN_CURRENCY" disabled></select><br />

                        <label for="FREIGHT_CHARGETO">@Html.Raw(home_index.resx838):</label>
                        <select name="FREIGHT_CHARGETO" id="FREIGHT_CHARGETO" data-bind="value: customerRequest.FREIGHT_CHARGETO , event: { change: calculateTotal }" disabled>
                            <option value="">@Html.Raw(home_index.resx58)</option>
                            <option value="YES">@Html.Raw(home_index.resx399)</option>
                            <option value="NO">@Html.Raw(home_index.resx400)</option>
                        </select><br />
                                 <label for="FREIGHT" data-bind="visible:customerRequest.FREIGHT_CHARGETO() ==='YES'">@Html.Raw(home_index.resx1090):</label>
                        <input type="number" step="0.1" min="0" name="FREIGHT" id="FREIGHT" placeholder="0.00" data-bind="value: customerRequest.FREIGHT, visible:customerRequest.FREIGHT_CHARGETO() ==='YES', event: { change: calculateTotal }" disabled><br />

                        <label for="FREIGHT_POLINE" data-bind="visible:customerRequest.FREIGHT_CHARGETO() ==='YES'">@Html.Raw(home_index.resx174)</label>
                        <select class="border-search" id="FREIGHT_POLINE" name="FREIGHT_POLINE" data-bind="value: customerRequest.FREIGHT_POLINE,visible:customerRequest.FREIGHT_CHARGETO() ==='YES' , event: { change: calculateTotal }" disabled>
                            <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                            <option value="NO">@Html.Raw(home_index.resx1015)</option>
                        </select><br />

                        <label for="TAXABLE">VAT</label>
                        <select class="border-search" id="TAXABLE" name="TAXABLE" data-bind="value: customerRequest.TAXABLE" disabled>
                            <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                            <option value="YES">@Html.Raw(pmSchedule.input_label_text8)</option>
                            <option value="NO">@Html.Raw(pmSchedule.input_label_text9)</option>
                        </select><br />

                        <div data-bind="visible: customerRequest.TAXABLE() != ''">
                            <label for="TAX_CODE">@Html.Raw(home_index.resx1016)</label>
                            <input type="text" name="TAX_CODE" id="TAX_CODE" placeholder="" data-bind="value: customerRequest.TAX_CODE" disabled><br />
                        </div>

                        <label for="DISCOUNT">@Html.Raw(home_index.resx1011) (%)</label>
                        <input type="number" name="DISCOUNT" id="DISCOUNT" placeholder="" data-bind="value: customerRequest.DISCOUNT" disabled><br />

                        <label for="REMARKS">@Html.Raw(home_index.resx179)</label>
                        <textarea name="REMARKS" id="REMARKS" placeholder="" data-bind="value: customerRequest.REMARKS" disabled></textarea> <br /><br /><br /><br />
                    </div>
                    <div class="flex-item-1 flex-field-container">
                        <table class="pr-table" data-bind="visible: assignedSOH().length">
                            <thead>
                                <tr>
                                    <th class="a">
                                        @Html.Raw(home_index.resx31)
                                    </th>
                                    <th class="h" style="width: 100%;">
                                        @Html.Raw(home_index.resx62)
                                    </th>
                                    <th class="a">
                                        @Html.Raw(home_index.resx1018)
                                    </th>
                                    <th class="a">
                                        @Html.Raw(othresource.resx_requestedqty)
                                    </th>
                                    <th class="a">
                                        @Html.Raw(othresource.resx_transferredqty)
                                    </th>
                                    <th class="h" style="width: 40px" data-bind="visible: checkViewMode()"></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: assignedSOH">
                                <tr>
                                    <td class="a" data-bind='text: $data.ID_PARTS'></td>
                                    <td class="b" data-bind='text: $data.DESCRIPTION'></td>
                                    <td class="a" data-bind='text: $data.AM_UOM'></td>
                                    <td class="a" data-bind="text: $data.QTY"></td>
                                    <td class="a" data-bind="text: $data.QTY_TRANSFER"></td>
                                    <td style="padding-left: 6px;" data-bind="visible: $parent.checkViewMode()">
                                        <i class="fa fa-exchange button-extbottom" data-bind="visible: $data.QTY_TRANSFER != $data.QTY, attr: { title: 'Transfer batch ' + $data.DESCRIPTION }, click: $parent.openStockBatchModal"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <button type="submit" class="hidden" id="prSubmitBtn" />
            </form>
        </div>
        <div id="openModalFilter" class="modal-filter">
            <div>
                <a href="#" title="Close" class="close">X</a>
                <div class="modal-filter-header">
                    <h2>@Html.Raw(home_index.resx69)</h2>
                </div>
                <div class="flex-item-2">
                    <div class="filter-row">
                        <label>@Html.Raw(home_index.resx70) </label>
                        <div>
                            <div class="filter-row">@Html.Raw(home_index.resx71) <input id="modalFromDate" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                            <div class="filter-row">@Html.Raw(home_index.resx72) <input id="modalToDate" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                        </div>
                    </div>
                    <div class="filter-row">
                        <span class="from-text">@Html.Raw(othresource.resx_status) </span>
                        <select class="border-search" data-bind="value: filter.Status" title="Select a Status">
                            <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                            <option value="POSTED">@Html.Raw(home_index.resx212)</option>
                            <option value="TRANSFER">@Html.Raw(home_index.resx491)</option>
                        </select>
                    </div>
                    <div class="filter-row">
                        <label>@Html.Raw(home_index.resx1083):</label>
                        <select class="border-search"
                                data-bind="
                            options: stores,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'STORE_ID',
                            value: filter.FromStore
                            "></select>
                    </div>
                    <div class="filter-row">
                        <label>@Html.Raw(home_index.resx1084):</label>
                        <select class="border-search"
                                data-bind="
                            options: stores,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'STORE_ID',
                            value: filter.ToStore
                            "></select>
                    </div>
                    <div id="addButton">
                        <span data-bind="click: filterSearch" class="button-extbottom">@Html.Raw(home_index.resx95)</span>
                        <a href="#" class="button-extbottom"><span>@Html.Raw(home_index.resx96)</span></a>
                        <span data-bind="click: clearModalFilter" class="button-extbottom">@Html.Raw(home_index.resx97)</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="openStockBatchModal" class="modalwidth3">
            <div style="width: 50%; padding: 10px;">
                <a href="#" title="Close" class="close">X</a>
                <div class="flex-container flex-wrap">
                    <div class="flex-item-1 flex-field-container">
                        <h3>
                            <b>@Html.Raw(home_index.resx31):</b> <text data-bind="text: selectedItem().ID_PARTS"></text>
                        </h3>
                        <h3>
                            <b>@Html.Raw(home_index.resx62):</b> <text data-bind="text: selectedItem().DESCRIPTION"></text>
                        </h3>
                        <h3>
                            <b>@Html.Raw(home_index.resx1018):</b> <text data-bind="text: selectedItem().AM_UOM"></text>
                        </h3>
                    </div>
                    <div class="flex-item-1 flex-field-container">
                        <h3>
                            <b>@Html.Raw(othresource.resx_requestedqty):</b> <text data-bind="text: selectedItem().QTY"></text>
                        </h3>
                        <h3>
                            <b>@Html.Raw(othresource.resx_transferredqty):</b> <text data-bind="text: selectedItem().QTY_TRANSFER"></text>
                        </h3>
                        <h3>
                            <b>@Html.Raw(home_index.resx1091):</b> <text data-bind="text: selectedItem().totalStockDeductable"></text>
                        </h3>
                    </div>
                </div>
                <br />

                <table class="pr-table" data-bind="visible: !itemIsAsset() && selectedItem().stockBatchs().length">
                    <thead>
                        <tr>
                            <th class="b">
                                @Html.Raw(home_index.resx1037)
                            </th>
                            <th class="b">
                                @Html.Raw(home_index.resx1039)
                            </th>
                            <th class="b">
                                @Html.Raw(home_index.resx64)
                            </th>
                            <th class="b">
                                @Html.Raw(home_index.resx1092)
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: selectedItem().stockBatchs">
                        <tr data-bind="css: { 'fc-red': $data.viewOnly }">
                            <td class="b" data-bind='text: $data.BARCODE_ID'></td>
                            <td class="b" data-bind='text: $data.EXPIRY_DATE_DISPLAY'></td>
                            <td class="b" data-bind='text: $data.STOCK_ONHAND'></td>
                            <td class="b" data-bind="text: $data.QTY, visible: $data.viewOnly"></td>
                            <td class="b" data-bind="visible: !$data.viewOnly">
                                <input type="number" min="0" class="b" data-bind="value: $data.QTY, event: { change: $parent.modalCalculateStockDeductable }, enable: $parent.checkViewMode(), css: { 'view-mode': !$parent.checkViewMode() }" />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style="overflow: hidden; overflow-y: auto; height: 75%">
                    <table class="pr-table" data-bind="visible: itemIsAsset() && selectedItem().stockBatchs().length">
                        <thead>
                            <tr>
                                <th class="h" style="width: 30px"></th>
                                <th class="b">
                                    @Html.Raw(home_index.textAssetNo)
                                </th>
                                <th class="b">
                                    @Html.Raw(home_index.resx140)
                                </th>
                                <th class="b">
                                    @Html.Raw(assetInfo.frmInfo_input_text23)
                                </th>
                                <th class="b">
                                    @Html.Raw(assetInfo.frmInfo_input_text21).
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: selectedItem().stockBatchs">
                            <tr>
                                <td style="padding: 0; text-align: center">
                                    <input type="checkbox" value="true" data-bind="checked: $data.isChecked, enable: $parent.checkViewMode(), css: { 'view-mode': !$parent.checkViewMode() }, event: { change: $parent.modalCalculateStockDeductable }" />
                                </td>
                                <td class="b" data-bind='text: $data.ASSET_NO'></td>
                                <td class="b" data-bind='text: $data.DESCRIPTION'></td>
                                <td class="b" data-bind='text: $data.MODEL_NO'></td>
                                <td class="b" data-bind="text: $data.SERIAL_NO"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="addButton">
                    <a href="#" class="button-extbottom">@Html.Raw(home_index.resx96)</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        #printPurchaseRequest {
            padding: 15px;
        }

        .printPurchaseRequest-body {
            margin-top: 15px;
        }

            .printPurchaseRequest-body table tr {
                padding: 0;
                margin: 0;
            }

            .printPurchaseRequest-body table td {
                padding: 3px;
            }

            .printPurchaseRequest-body .t-header {
                background-color: #d7d7d7;
            }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }
    </style>
    <div class="print container" id="printPurchaseRequest">
        <table>
            <thead>
                <tr>
                    <th style="width: 47%; display:inline-block;text-align:left;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING3" class="fs-medium-strong"></p>
                    </th>
                    <th style="width: 6%; display:inline-block;border: 0 none;">
                        @*<span style="width:100%;clear:both;margin:0 auto;">
                                <img class="client_logo" data-bind="attr:{src: clientDetails.CLIENT_LOGO}" style="height:60px; width:80px;" align="middle" />
                            </span>*@
                        <span style="width:100%;clear:both;text-align:center;">
                            <img class="client_logo" data-bind="attr:{src: clientDetails.COMPANY_LOGO}" style="height:40px; width:70px;" align="middle" />
                        </span>
                    </th>
                    <th style="width: 47%; display:inline-block;text-align:right;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING_OTH" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH3" class="fs-medium-strong"></p>
                        <img class="client_logo" src="" id="CLIENT_LOGO" name="CLIENT_LOGO" style="height:80px; width:100px; " hidden />
                    </th>
                </tr>
                <tr style="display: flex; border-bottom: 1px solid #d2d9de;">
                    <th style="border: 0 none; width: 30%;">

                    </th>
                    <th style="border: 0 none; width: 60%; text-align: center;">
                        <span class="fs-large-strong">Invoice</span>
                    </th>
                    <th style="border: 0 none; width: 30%; text-align: right; margin-top: 10px; padding-right: 0px;">
                        <span class="fs-smaill-normal"></span>
                    </th>
                </tr>
            </thead>
            <tbody style="border-top: .5px solid #d2d9de;">
                <tr style="width: 850px; border-color:transparent;">
                    <td style="width: 850px; border-color:transparent;">
                        <div class="printPurchaseRequest-body">
                            <div style="display: flex; justify-content: space-between">
                                <table style="width: 50%">
                                    <tr class="t-header">
                                        <td colspan="2">
                                            Bill To
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b data-bind="text: customerRequest.SUPPLIERDESC"></b>
                                            <br />
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add: <span data-bind="text: customerRequest.SUPPLIER_ADDRESS1() + ', ' + customerRequest.SUPPLIER_CITY()"></span>
                                            <br />
                                            <span data-bind="text: customerRequest.SUPPLIER_STATE() + ', ' + customerRequest.SUPPLIER_ZIPCODE()"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fc-red" style="width: 50px">VAT #</td>
                                        <td data-bind="text: customerRequest.TAX_CODE"></td>
                                    </tr>
                                </table>

                                <table style="width: 40%">
                                    <tr class="t-header">
                                        <td>Date</td>
                                        <td>Invoice Nr.</td>
                                    </tr>
                                    <tr>
                                        <td data-bind="text: getPODate()"></td>
                                        <td data-bind="text: customerRequest.POINVOICENO"></td>
                                    </tr>
                                </table>
                            </div>
                            <br />

                            <table style="width: 100%">
                                <tr class="t-header">
                                    <td>Terms</td>
                                    <td>Rep</td>
                                    <td>Ship Via</td>
                                    <td>P.O. nr</td>
                                    <td>Customer number</td>
                                    <td>Delivery order Nr</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td data-bind="text: getLookupDescription(customerRequest.SHIP_VIA(), shipVias())"></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center fc-red"></td>
                                </tr>
                            </table>
                            <br />

                            <table style="width: 100%">
                                <thead>
                                    <tr>
                                        <td class="text-center">Srl</td>
                                        <td>BST CODE</td>
                                        <td>Description</td>
                                        <td>Serial nr</td>
                                        <td>Qty</td>
                                        <td class="text-right">U/Price</td>
                                        <td class="text-right">T-Amount</td>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: assignedSOHPrint">
                                    <tr>
                                        <td class="text-center" data-bind="text: $index() + 1"></td>
                                        <td data-bind="text: $data.ID_PARTS"></td>
                                        <td data-bind="text: $data.DESCRIPTION"></td>
                                        <td data-bind="text: $data.PART_NUMBERS"></td>
                                        <td data-bind="text: $data.QTY"></td>
                                        <td class="text-right" data-bind="text: $data.PRICE"></td>
                                        <td class="text-right" data-bind="text: $data.TOTAL_PRICE"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td class="text-right" colspan="6">SUB TOTAL</td>
                                        <td class="text-right" data-bind="text: getSubtotalPrice()"></td>
                                    </tr>
                                    <tr data-bind="visible: customerRequest.DISCOUNT() > 0">
                                        <td class="text-right" colspan="6">DISCOUNT <text data-bind="text: customerRequest.DISCOUNT"></text>%</td>
                                        <td class="text-right" data-bind="text: getDiscountPrice()"></td>
                                    </tr>
                                    <tr data-bind="visible: getVatAmount() > 0">
                                        <td class="text-right" colspan="6" data-bind="text: getVatDescription()"></td>
                                        <td class="text-right" data-bind="text: getVatAmount()"></td>
                                    </tr>
                                    <tr data-bind="visible: customerRequest.REMARKS">
                                        <td></td>
                                        <td></td>
                                        <td data-bind="text: customerRequest.REMARKS"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                        <td class="text-right" data-bind="text: getTotalPrice()"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">
        $(document).ready(
            function () {
                /*Text that needs to be localized later*/
                var textInfo = {
                    errorOne: '@Html.Raw(stockTransfer.txtInfo_text1)',
                    errorTwo: '@Html.Raw(stockTransfer.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(stockTransfer.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(stockTransfer.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(stockTransfer.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(stockTransfer.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(stockTransfer.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(stockTransfer.txtInfo_text8)',

                    readModeStatusText: '@Html.Raw(stockTransfer.txtInfo_text10)',
                    displayModeHeader: '@Html.Raw(stockTransfer.txtInfo_text11)',
                    displayModeSubHeader: '@Html.Raw(stockTransfer.txtInfo_text12)',
                    searchModeStatusText: '@Html.Raw(stockTransfer.txtInfo_text13)',
                    searchModeHeader: "@Html.Raw(stockTransfer.txtInfo_text14)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx31)',
                        inspectionprocess: '@Html.Raw(home_index.resx81)',
                        otherDeth: '@Html.Raw(home_index.resx82)',
                        problem: '@Html.Raw(home_index.resx83)',
                        woOrder: '@Html.Raw(home_index.resx136)',
                        requestor: '@Html.Raw(home_index.resx85)',
                        buildingName: '@Html.Raw(home_index.resx86)',
                        locationName: '@Html.Raw(home_index.resx87)',
                        conditionName: '@Html.Raw(home_index.resx88)',
                        statusName: '@Html.Raw(home_index.resx89)',
                        reqDate: '@Html.Raw(home_index.resx70)',
                        contractId: '@Html.Raw(home_index.resx49)',
                        typeCoverage: '@Html.Raw(home_index.resx90)',
                        provider: '@Html.Raw(home_index.resx47)',
                        labour: '@Html.Raw(home_index.resx46)',
                        parts: '@Html.Raw(home_index.resx45)'
                    }
                };
                var myViewModel = new amStockTransferViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );
    </script>
</body>
</html>

