﻿
@using Resources;
@{Layout = null;}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.headerUrltext)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <script src="~/Scripts/moment.js"></script>
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/core.js"></script>
    <script src="~/Scripts/inventory_storeBatches.js"></script>
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <script src="/Scripts/calendar_picker.js"></script>
    <style>
        #frmInfo .view-mode {
            background-color: #fff;
        }

            #frmInfo .view-mode[required=required] {
                background-color: #ffffde;
            }

        table .btn-action {
            width: 55px !important;
        }

        table.dataTable thead th {
            text-align: left;
        }
    </style>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">@Html.Raw(home_index.resx1093)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">

            <div class="toolbox-left flex-item-1">
                <ul class="align-right">

                    <li class="fc-grey">
                        <select class="border-search" id="STORENO" name="STORENO">
                            <option value="" selected="selected">@Html.Raw(home_index.resx1056)</option>
                        </select>
                    </li>

                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(pmProcedure.btnLabel_text5)</span></li>

                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>

                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                    <li class="fc-slate-blue "><span data-bind="click: showModalFilter" class="toolbarbutton"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></span></li>

                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>

        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(home_index.resx1094)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx1095)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx1096)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary" class="fc-slate-blue">@Html.Raw(home_index.resx1093)</h1>

            <div id="SearchResultListTV">
                <div id="SupplierTbl">
                    <table id="searchTransTableTV" style="width:100%">
                        <thead>
                            <tr class="fc-slate-blue">
                                <th>@Html.Raw(home_index.resx187)</th>
                                <th>@Html.Raw(home_index.resx235)</th>
                                <th>@Html.Raw(home_index.resx62)</th>
                                <th>@Html.Raw(home_index.resx1097)</th>
                                <th>@Html.Raw(home_index.resx1071)</th>
                                <th>@Html.Raw(home_index.resx186)</th>
                                <th>@Html.Raw(home_index.resx1039)</th>
                                <th>@Html.Raw(home_index.resx1040)</th>
                                <th>@Html.Raw(home_index.resx63)</th>
                                <th>@Html.Raw(home_index.resx89)</th>
                                <th class="btn-action"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <div id="openModalFilter" class="modalwidth5">
        <div>
            <a href="#" title="Close" class="close">X</a>
            <div class="modal-filter-header">
                <h2>@Html.Raw(home_index.resx69)</h2>
            </div>
            <div class="filter-row">
                <label>@Html.Raw(home_index.resx70) </label>
                <div>
                    <div class="filter-row">@Html.Raw(home_index.resx71) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestFromDate" id="requestFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                    <div class="filter-row">@Html.Raw(home_index.resx72) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestStartDate" id="requestStartDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                </div>
            </div>
            <div class="flex-item-2">

                <div class="filter-row">
                    <span class="from-text">@Html.Raw(home_index.resx1097)</span>
                    <select class="border-search" data-bind="value:searchFilter.ItemType" title="Select a item type">
                        <option value="">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="AIMS_MSTYPE-1">@Html.Raw(home_index.resx1098)</option>
                        <option value="AIMS_MSTYPE-2">@Html.Raw(othresource.resx_parts)</option>
                    </select>
                </div>
                <div class="filter-row">
                    <span class="from-text">@Html.Raw(home_index.resx1037)</span>
                    <input type="text" data-bind="value:searchFilter.SerialBatch">

                </div>
                <div class="filter-row">
                    <span class="from-text">@Html.Raw(home_index.resx1004)</span>
                    <input type="text" data-bind="value:searchFilter.InvoiceNo">

                </div>


                <div class="filter-row">
                    <span class="from-text">@Html.Raw(home_index.resx89)</span>
                    <select class="border-search" data-bind="value:searchFilter.Status" title="Select a status">
                        <option value="">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="RECALL">@Html.Raw(home_index.resx994)</option>
                        <option value="RECEIVED">@Html.Raw(home_index.resx923)</option>
                        <option value="RETURNED">@Html.Raw(home_index.resx1099)</option>
                    </select>
                </div>

                <div id="addButton">
                    <span data-bind="click: searchFilterNow" class="button-extbottom">@Html.Raw(home_index.resx95)</span>

                    <span data-bind="click: clearFilter" class="button-extbottom">@Html.Raw(home_index.resx97)</span>
                </div>
            </div>
        </div>
    </div>
    <div id="openReturnRecallModal" class="modalwidth7">
        <div style="padding: 10px; height: 550px">
            <form data-bind="submit: returnRecallModalSubmit">
                <a href="#" title="Close" class="close">X</a>

                <label>@Html.Raw(home_index.resx64)</label>
                <input type="text" data-bind="value: selectedBatch().STOCK_ONHAND" disabled>
                <br />

                <label>@Html.Raw(home_index.resx236):</label>
                <select class="border-search" data-bind="value: selectedBatch().STATUS, enable: !selectedBatch().viewOnly" required>
                    <option value="RETURN">@Html.Raw(home_index.resx385)</option>
                    <option value="RECALL">@Html.Raw(home_index.resx994)</option>
                </select>
                <br />

                <label data-bind="text: selectedBatch().STATUS() == 'RETURN' ? 'Return Type' : 'Recall Type'"></label>
                <select class="border-search" required
                        data-bind="
                            options: statusType,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'LOV_LOOKUP_ID',
                            value: selectedBatch().RETURN_TYPE,
                            enable: !selectedBatch().viewOnly
                            "></select>
                <br />

                <label>@Html.Raw(home_index.textReason)</label>
                <textarea data-bind="value: selectedBatch().RETURN_REASON, enable: !selectedBatch().viewOnly"></textarea>
                <br />

                <div data-bind="if: systemDefault().CODEID == selectedBatch().CLIENT_CODE">
                    <label>@Html.Raw(home_index.lblSupplier)</label>
                    <input type="text" data-bind="value: selectedBatch().SUPPLIER, enable: selectedBatch().supplierIsNull && !selectedBatch().viewOnly" required>
                    <br />
                </div>

                <div data-bind="visible: selectedBatch().ACTION">
                    <label>@Html.Raw(home_index.resx263):</label>
                    <select class="border-search" disabled
                            data-bind="
                            options: typesOfAction,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'LOV_LOOKUP_ID',
                            value: selectedBatch().ACTION
                            "></select>
                    <br />
                </div>

                <div id="addButton">
                    @*  <button type="submit" class="button-extbottom" data-bind="visible: !selectedBatch().viewOnly">Save</button>*@
                    <a href="#" class="button-extbottom">@Html.Raw(home_index.resx96)</a>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(pmProcedure.txtInfo_text1)',
                    errorTwo: '@Html.Raw(pmProcedure.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(pmProcedure.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(pmProcedure.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(pmProcedure.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(pmProcedure.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(pmProcedure.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(pmProcedure.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(pmProcedure.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(pmProcedure.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(pmProcedure.txtInfo_text11)',
                    searchStatusText: '@Html.Raw(pmProcedure.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(pmProcedure.txtInfo_text13)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx627)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',

                        status: '  '
                    }
                };

				var myViewModel = new storeBatchesViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>
