﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>Asset Report</title>

    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <link href="~/Content/loadingScreen.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/content/print.css" rel="stylesheet" />

    <script src="~/Scripts/excelexportjs.js"></script>
    <script src="~/Scripts/AssetDetailReport.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>
    <div class="no-print">
        <div>
            <header role="heading">
                <nav class="nav-main flex-container" role="navigation">
                    <div class="nav-site-map flex-item-2">
                        <ul class="align-left">
                            <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>Menu&nbsp;</a></li>
                            <li class="fc-white"><a href="">Asset Report&nbsp;</a></li>
                        </ul>
                    </div>
                    <div class="nav-user-info flex-item-3">
                        <ul>
                            <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                        </ul>
                    </div>
                    <div class="nav-user-info flex-item-1">
                        <ul class="align-right">
                            <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                            <li class="fc-white">&nbsp;-&nbsp;</li>
                            <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="toolbox flex-container">
                    <div class="toolbox-left flex-item-1">
                        <ul class="align-right">
                            <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                            <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                            <li class="fc-slate-blue "> <a class="toolbarbutton" href="#"><span class="fs-large-normal">&nbsp;|&nbsp;  </span><span class="fs-large-normal "><i data-bind="click: showModalFilter" class="fa fa-caret-square-o-down"></i></span></a></li>
                            <li class="liPrint fc-slate-blue" id="excelexportId"><a data-bind="click: exportToExcel" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Click to export"><i class="fa fa-floppy-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;Export To Excel</span>&nbsp;&nbsp;</a></li>
                            @*<li class="liPrint fc-slate-blue" id="excelexportId"><a data-bind="click: exportTableToExel" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Click to export"><i class="fa fa-floppy-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;Save Excel</span>&nbsp;&nbsp;</a></li>*@
                            <li class="liPrint fc-slate-blue"><a data-bind="click: printSummary" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Click to Print Summary"><i class="fa fa-print"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx154)</span>&nbsp;&nbsp;</a></li>

                        </ul>
                    </div>
                </div>
            </header>
            <div class="field-content-detail">
                <div class="divProgressScreen"></div>
                <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

                <br />
                <h1 id="contentHeader"></h1>
                <p id="contentSubHeader"></p>

            </div>
            <div class="home-content-detail">
                <div id="homeMessage">
                    <br />
                    <h1>Welcome to Asset New Report</h1>
                    <ul>
                        <li><i class="fa fa-check"></i>&nbsp;Select any reprt to display it.</li>
                        <li><i class="fa fa-check"></i>&nbsp;You can export report to Excel... Max limeted to 6500 Record.</li>
                        <li><i class="fa fa-check"></i>&nbsp;If You want to Export More than 6500 Record, Please Activate the download of multiple files in your Browser.</li>
                    </ul>
                </div>
            </div>

            <div class="search-content-detail">
                <div>
                    <br />
                    <h1 id="searchResultSummary">Report Name.</h1>
                    <div id="searchResultList">
                        <div id="AssetTbl">
                            <table id="searchResultTable" style="width:100%">
                                <thead>
                                    <tr class="fc-slate-blue">
                                        <th class="a">Asset No</th>
                                        <th class="cke_arrow">Asset Description</th>
                                        @*<th>MODEL NO</th>*@
                                        <th>MODEL NAME</th>
                                        <th>@Html.Raw(home_index.resx231)</th>
                                        <th>MANUFACTURER</th>
                                        <th>SUPPLIER</th>
                                        <th>INSERVICE DATE</th>
                                        <th>STATUS</th>
                                        <th>Warranty TYPE</th>
                                        <th>SERIAL NO</th>
                                        <th>FREQUENCY</th>
                                        <th>PURCHASE COST</th>
                                        <th>NEXT PM</th>
                                        <th>@Html.Raw(assetInfo.frmInfo_input_text39)</th>
                                        <th>@Html.Raw(home_index.resx1000)</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>

            <div id="openModalFilter" class="modal-filter">
                <div>
                    <a href="#" title="Close" class="close">X</a>
                    <div class="modal-filter-header">
                        <h2>@Html.Raw(home_index.resx69)</h2>
                    </div>
                    <div class="flex-item-2">
                        <div class="filter-row">
                            <label>INSERVICE DATE</label>
                            <div>
                                <div class="filter-row" style="margin-bottom: 0; width: max-content;"><span style="width: 40px;">@Html.Raw(home_index.resx71)</span><input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestFromDate" id="requestFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                                <div class="filter-row" style="width: max-content;"><span style="width: 40px;">@Html.Raw(home_index.resx72)</span><input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestStartDate" id="requestStartDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"> </div>
                            </div>
                            <label>@Html.Raw(assetInfo.frmInfo_input_text39)</label>
                            <div>
                                <div class="filter-row" style="margin-bottom: 0; width: max-content;"><span style="width: 40px;">@Html.Raw(home_index.resx71)</span><input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="warrantyFromDate" id="warrantyFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                                <div class="filter-row" style="width: max-content;"><span style="width: 40px;">@Html.Raw(home_index.resx72)</span><input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="warrantyToDate" id="warrantyToDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"> </div>
                            </div>
                            <div>
                                <label>@Html.Raw(home_index.resx872)</label>
                                <input type="text" name="constCenterStrList" list="constCenterStrList" id="costcenterList" data-bind=" value:searchFilter.CostCenterStr" placeholder="@Html.Raw(home_index.resx58)">
                                <datalist id="constCenterStrList">
                                    <option value="" id="">
                                </datalist>
                                <label>@Html.Raw(home_index.lblSupplier)</label>
                                <input type="text" name="supplierStrList" list="supplierStrList" id="supplierStr" data-bind=" value:searchFilter.AssetFilterSuupiler" placeholder="@Html.Raw(home_index.resx58)">
                                <datalist id="supplierStrList">
                                    <option value="" id="">
                                </datalist>
                                <label>MANUFACTURER</label>
                                <input type="text" name="MANUFACTURERStrList" list="MANUFACTURERStrList" id="MANUFACTURERStr" data-bind=" value:searchFilter.AssetFilterManufacturer" placeholder="@Html.Raw(home_index.resx58)">
                                <datalist id="MANUFACTURERStrList">
                                    <option value="" id="">
                                </datalist>
                                <span class="from-text">@Html.Raw(home_index.resx944)</span>
                                <select class="border-search" data-bind="value:searchFilter.PMType" id="filterPMType" name="filterPMType">
                                    <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                    <option value="Loan">@Html.Raw(home_index.resx865)</option>
                                    <option value="Service Contract">Service Contract</option>
                                    <option value="Warranty">Warranty</option>
                                    <option value="Biomedical">Biomedical</option>
                                    @*<option value="KAUH Service Contract">KAUH Service Contract</option>*@
                                </select>
                                <label>@Html.Raw(assetInfo.frmInfo_input_text32)</label>
                                <select class="border-search" id="FltSTATUS" name="FltSTATUS" data-bind="value:searchFilter.AssetFilterStatus">
                                    <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                    <option value="A">@Html.Raw(home_index.resx199)</option>
                                    <option value="I">@Html.Raw(home_index.resx213)</option>
                                    <option value="M">@Html.Raw(home_index.resx214)</option>
                                    <option value="N">@Html.Raw(home_index.resx200)</option>
                                    <option value="O">@Html.Raw(home_index.resx215)</option>
                                    <option value="R">@Html.Raw(home_index.resx216)</option>
                                    <option value="T">@Html.Raw(home_index.resx217)</option>
                                    <option value="U">@Html.Raw(home_index.resx218)</option>
                                </select><br />
                            </div>
                        </div>
                        <div id="addButton">
                            <span class="button-extbottom" data-bind="event: {click: searchFilterNow}">@Html.Raw(home_index.resx95)</span>
                            <span class="button-extbottom" data-bind="event: {click: clearFilter}">@Html.Raw(home_index.resx97)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="loadingBackground">
                <div class="dark-bg">
                    <div class="sk-circle">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                        <div class="sk-circle9 sk-child"></div>
                        <div class="sk-circle10 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dvjson"></div>
    <iframe id="txtArea1" style="display:none"></iframe>

    <div class="print container" id="printSummary">
        <table>
            <thead>
                <tr>
                    <th style="width: 47%; display:inline-block;text-align:left;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING3" class="fs-medium-strong"></p>
                    </th>
                    <th style="width: 6%; display:inline-block;border: 0 none;">
                        <span style="width:100%;clear:both;margin:0 auto;">
                            <img class="client_logo" data-bind="attr:{src: clientDetails.CLIENT_LOGO}" style="height:60px; width:80px;" align="middle" />
                        </span>
                        <span style="width:100%;clear:both;text-align:center;">
                            <img class="client_logo" data-bind="attr:{src: clientDetails.COMPANY_LOGO}" style="height:40px; width:70px;" align="middle" />
                        </span>
                    </th>
                    <th style="width: 47%; display:inline-block;text-align:right;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING_OTH" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH3" class="fs-medium-strong"></p>
                        <img class="client_logo" src="" id="CLIENT_LOGO" name="CLIENT_LOGO" style="height:80px; width:100px; " hidden />
                    </th>
                </tr>
                <tr style="display: flex;">
                    <th style="border: 0 none; width: 30%;">

                    </th>
                    <th style="border: 0 none; width: 60%; text-align: center;">
                        <span id="ReportSubTitle">Assets Report</span>
                    </th>
                    <th style="border: 0 none; width: 30%; text-align: right; margin-top: 10px; padding-right: 0px;">

                    </th>
                </tr>
            </thead>
            <tbody style="border-top: .5px solid #d2d9de;">
                <tr style="width: 850px; border-color:transparent;">
                    <td style="width: 850px; border-color:transparent;">
                        <div id="printSearchResultList">

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">




        $(document).ready(
            function () {

                var textInfo = {

                    errorOne: '@Html.Raw(supplier.txtInfo_text1)',
                    errorTwo: '@Html.Raw(supplier.txtInfo_text2)',
                    searchModeHeader: "Your Report Name"

                };

                var myViewModel = new viewTemplateViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );


    </script>

</body>
</html>
