﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.textReportsPMScheduleDueDateReport)</title>
    <link href="~/Content/gridSystem.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/reports_AssetPMScheduleReptV3.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <link href="~/content/print.css" rel="stylesheet" />
    <link href="~/Content/loadingScreen.css" rel="stylesheet" />
    <script src="~/Scripts/tableSorter.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>
    <div class="no-print">
        <div>
            <header role="heading">
                <nav class="nav-main flex-container" role="navigation">
                    <div class="nav-site-map flex-item-2">
                        <ul class="align-left">
                            <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>Menu&nbsp;</a></li>

                            <li class="fc-white"><a href="">@Html.Raw(home_index.textReportsPMScheduleDueDateReport)&nbsp;</a></li>
                        </ul>
                    </div>
                    <div class="nav-user-info flex-item-3">
                        <ul>
                            <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                        </ul>
                    </div>
                    <div class="nav-user-info flex-item-1">
                        <ul class="align-right">
                            <li class="fc-light-grey"><span id="spanUser">User</span></li>
                            <li class="fc-white">&nbsp;-&nbsp;</li>
                            <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="toolbox flex-container">

                    <div class="toolbox-left flex-item-3">
                        <ul class="align-right">
                            <li class="liPrint fc-slate-blue"><a data-bind="click: printSummary" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Click to Print Summary"><i class="fa fa-print"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(workOrder.btnPrintSummary)</span>&nbsp;&nbsp;</a></li>
                            <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                            <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                            <li class="fc-slate-blue "> <a class="toolbarbutton" href="#"><span class="fs-large-normal">&nbsp;|&nbsp;  </span><span class="fs-medium-normal "><i data-bind="click: showModalFilter" class="fa fa-caret-square-o-down"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="field-content-detail">
                <div class="divProgressScreen"></div>
                <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

                <br />
                <h1 id="contentHeader"></h1>
                <p id="contentSubHeader"></p>

            </div>
            <div class="home-content-detail">
                <div id="homeMessage">
                    <br />
                    <h1>@Html.Raw(home_index.textHelloWelcometoAssetPMSchedulebyDueDateReport)</h1>
                    <ul>

                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.textSearchbyDateCriteria)</li>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx541)</li>
                    </ul>
                </div>
            </div>

            <div class="search-content-detail">
                <div>
                    <input type="hidden" name="sortAction" id="sortAction">
                    <br />
                    <div style="margin-bottom: 50px;">
                        <h1 id="searchResultSummary" style="position: absolute;">Stock On Hand Adjustment Report By Items search results for ''. 6 Items found.</h1>
                        <h3 id="searchResultSummaryCount" style="float: right; padding-top: 15px;">Number of Record: 195</h3>
                    </div>
                    <div id="searchResultList">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th class='d not-sorted'>Asset No.</th>
                                    <th class='h'><a href="#" title="Sort by Description" >Description</a></th>
                                    <th class='a'><a href="#" title="Sort by Closed" >PM Type</a></th>
                                    <th class='a'><a href="#" title="Sort by Closed" >Next PM Due</a></th>
                                    <th class='a'><a href="#" title="Sort by Field Access" >Frequency</a></th>
                                    <th class='a'><a href="#" title="Sort by Field Access" >Period</a></th>
                                    <th class='a'><a href="#" title="Sort by Held" >Remaining Days</a></th>
                                    <th class='a'><a href="#" title="Sort by Held" >Last WO No.</a></th>
                                    <th class='a'><a href="#" title="Sort by Held" >Last WO Req.Date</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>

            <style>
                #openModalFilter .filter-row {
                    margin-bottom: 0px;
                }
            </style>

            <div id="openModalFilter" class="modal-filter">
                <div>
                    <a href="#" title="Close" class="close">X</a>
                    <div class="modal-filter-header">
                        <h2>@Html.Raw(home_index.resx69)</h2>
                        <label>@Html.Raw(home_index.textRetrievebyDateRangeorFrequencyPeriod)</label>
                    </div>
                    <div class="flex-item-2">
                        <div class="filter-row">
                            <span class="from-text"><strong>Cost Center</strong></span>
                            <input type="text" name="costcenterStr" list="costcenterStrList" id="costcenterStr" data-bind="value:searchFilter.CostCenterStr" placeholder="@Html.Raw(home_index.resx58)">
                            <datalist id="costcenterStrList">
                                <option value="" id="">

                            </datalist>
                        </div>
                        <div class="filter-row">
                            <span class="from-text"><strong>Manufacturer</strong></span>
                            <input type="text" name="manufacturerStr" list="manufacturerStrList" id="manufacturerStr" data-bind="value:searchFilter.ManufacturerStr" placeholder="@Html.Raw(home_index.resx58)">
                            <datalist id="manufacturerStrList">
                                <option value="" id="">

                            </datalist>
                        </div>
                        <div class="filter-row">
                            <span class="from-text"><strong>Supplier</strong></span>
                            <input type="text" name="supplierStr" list="supplierStrList" id="supplierStr" data-bind="value:searchFilter.SupplierStr" placeholder="@Html.Raw(home_index.resx58)">
                            <datalist id="supplierStrList">
                                <option value="" id="">

                            </datalist>
                        </div>
                        <div class="filter-row">
                            <span class="from-text" id="filterPMTypelable"><strong>PM Type</strong></span>
                            <select class="border-search" data-bind="value:searchFilter.pmtype" id="filterPMType" name="filterPMType">
                                <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                <option value="Loan">Loan</option>
                                <option value="Service Contract">Service Contract</option>
                                <option value="Warranty">Warranty</option>
                                <option value="Biomedical">Biomedical</option>
                            </select>
                        </div>
                        <div class="filter-row" style="margin-top: 15px;">
                            <label><strong>@Html.Raw(home_index.resx70)</strong></label>
                            <div>
                                <div data-bind="event: { click: fromDateS }" class="filter-row"><strong>@Html.Raw(home_index.resx71)</strong><input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestFromDate" id="requestFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                                <div data-bind="event: { click: toDateS }" class="filter-row"><strong>@Html.Raw(home_index.resx72)</strong><input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestStartDate" id="requestStartDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"> </div>

                                <div data-bind="event: { click: frequencyS }" class="filter-row"><strong>@Html.Raw(home_index.resx43):</strong><input data-bind="value:searchFilter.frequency" type="number" id="pmfrequency"> </div>
                                <div data-bind="event: { click: periodS }" class="filter-row">
                                    <strong>@Html.Raw(home_index.textPeriod):</strong><span class="fs-medium-normal">&nbsp;  </span>
                                    <select data-bind="value:searchFilter.interval" id="pminterval" class="border-search">
                                        <option value="M">Month</option>
                                        <option value="D">Day</option>
                                        <option value="W">Week</option>
                                        <option value="Y">Year</option>
                                    </select>
                                </div>
                           </div>
                    </div>

                    <div id="addButton">
                        <span class="button-extbottom" data-bind="event: {click: searchFilterNow}">@Html.Raw(home_index.resx95)</span>
                        <span class="button-extbottom" data-bind="event: {click: clearFilter}">@Html.Raw(home_index.resx97)</span>
                    </div>
                </div>
            </div>
        </div>

            <div id="loadingBackground">
                <div class="dark-bg">
                    <div class="sk-circle">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                        <div class="sk-circle9 sk-child"></div>
                        <div class="sk-circle10 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="print container" id="printSummary">
        <table>
            <thead>
                <tr>
                    <th style="width: 47%; display:inline-block;text-align:left;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING3" class="fs-medium-strong"></p>
                    </th>
                    <th style="width: 6%; display:inline-block;border: 0 none;">
                        <span style="width:100%;clear:both;margin:0 auto;">
                            <img class="client_logo" data-bind="attr:{src: clientDetails.CLIENT_LOGO}" style="height:60px; width:80px;" align="middle" />
                        </span>
                        <span style="width:100%;clear:both;text-align:center;">
                            <img class="client_logo" data-bind="attr:{src: clientDetails.COMPANY_LOGO}" style="height:40px; width:70px;" align="middle" />
                        </span>
                    </th>
                    <th style="width: 47%; display:inline-block;text-align:right;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING_OTH" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH3" class="fs-medium-strong"></p>
                        <img class="client_logo" src="" id="CLIENT_LOGO" name="CLIENT_LOGO" style="height:80px; width:100px; " hidden />
                    </th>
                </tr>
                <tr style="display: flex;">
                    <th style="border: 0 none; width: 30%;">
                        
                    </th>
                    <th style="border: 0 none; width: 60%; text-align: center;">
                        <span class="fs-large-strong">PM Schedule By Due Date</span>
                    </th>
                    <th style="border: 0 none; width: 30%; text-align: right; margin-top: 10px; padding-right: 0px;">
                        <span class="fs-smaill-normal" data-bind="text: assetPMSchedule.count">No. of Records: 139</span>
                    </th>
                </tr>
            </thead>
            <tbody style="border-top: .5px solid #d2d9de;">
                <tr style="width: 850px; border-color:transparent;">
                    <td style="width: 850px; border-color:transparent;">
                        <div id="printSearchResultList">

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



        <footer>
            <div class="footer-main">
                <p>@Html.Raw(home_index.footer_main_ptext)</p>
            </div>
        </footer>
        <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(supplier.txtInfo_text1)',
                    errorTwo: '@Html.Raw(supplier.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(supplier.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(supplier.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(supplier.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(supplier.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(supplier.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(supplier.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(supplier.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(supplier.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(supplier.txtInfo_text11)',
                    searchStatusText: '@Html.Raw(supplier.txtInfo_text12)',
                    searchModeHeader: "PM Schedule By Due Date search results for '{0}'. {1} Items found."

                };

                var myViewModel = new AssetPMScheduleReptViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

        </script>

</body>
</html>

