﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>Asset Depreciation Report</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    @*<link href="/Content/site.css" rel="stylesheet" />*@
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/reports_assetDepreciationRept.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="/Scripts/moment.js"></script>

    <link href="~/content/print.css" rel="stylesheet" />
    <link href="~/Content/loadingScreen.css" rel="stylesheet" />
    <script src="~/scripts/authentication.js"></script>

    <style>
        #frmInfo .view-mode {
            background-color: #fff;
        }
    </style>
</head>
<body>
    <div class="no-print">
        <div>
            <header role="heading">
                <nav class="nav-main flex-container no-print" role="navigation">
                    <div class="nav-site-map flex-item-2">
                        <ul class="align-left">
                            <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                            <li class="fc-white"><a href="">@Html.Raw(home_index.resx1124)&nbsp;</a></li>
                        </ul>
                    </div>
                    <div class="nav-user-info flex-item-2">
                        <ul>
                            <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                        </ul>
                    </div>
                    <div class="nav-user-info flex-item-1">
                        <ul class="align-right">
                            <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                            <li class="fc-white">&nbsp;-&nbsp;</li>
                            <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="toolbox flex-container no-print">

                    <div class="toolbox-left flex-item-1 pagingDiv">
                        <input type="hidden" name="PaginGactionButton" id="PaginGactionButton">
                        <input type="hidden" name="PaginGpageNum" id="PaginGpageNum">
                        <input type="hidden" name="PaginGpageCount" id="PaginGpageCount">
                        <input type="hidden" name="PaginGFilter" id="PaginGFilter">
                        <ul class=" align-left">
                            <li class="fc-slate-blue"><a data-bind="click: pagingLoader" class="toolbarbutton" href="#" id="PaginGpriorPage" title="Display Prior 500 Records"><i class="fa fa-step-backward fs-medium-normal"></i></a></li>
                            <li class="fc-slate-blue"><a href="#" class="page" id="pagq1"><span id="PaginGloadNumber">1</span></a></li>&nbsp;@Html.Raw(home_index.resx144)&nbsp;
                            <li class="fc-slate-blue"><a href="#" class="page" id="pagq1"><span id="PaginGtotNumber">2</span></a></li>
                            <li class="fc-slate-blue "><a data-bind="click: pagingLoader" class="toolbarbutton" href="#" id="PaginGnextPage" title="Display Next 500 Records"><i class="fa fa-step-forward"></i></a></li>

                        </ul>
                    </div>
                    <div class="toolbox-left flex-item-4">
                        <ul class="align-right">
                            <li class="liPrint fc-slate-blue"><a data-bind="click: printSummary" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Click to Print Summary"><i class="fa fa-print"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(workOrder.btnPrintSummary)</span>&nbsp;&nbsp;</a></li>
                              <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class="fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(assetInfo.btnLabel_text11) ...</span></li>
                            <li class="lisort">
                                <span class="fc-slate-blue">Sort By: </span>
                                <select class="border-search disable-mode " id="SORTPAGE" name="SORTPAGE" placeholder="" data-bind="event: { change: sorting }">
                                    <option value="SORTASSETDESCAC">@Html.Raw(home_index.resx847)</option>
                                    <option value="SORTASSETDESCDC">@Html.Raw(home_index.resx848)</option>
                                    <option value="SORTASSETNOAC">@Html.Raw(home_index.resx849)</option>
                                    <option value="SORTASSETNODC">@Html.Raw(home_index.resx850)</option>
                                    <option value="SORTSUPPLIERAC">@Html.Raw(home_index.resx853)</option>
                                    <option value="SORTSUPPLIERDC">@Html.Raw(home_index.resx854)</option>
                                    <option value="SORTINSDATEAC">@Html.Raw(home_index.resx1125)</option>
                                    <option value="SORTINSDATEDC">@Html.Raw(home_index.resx1126)</option>
                                </select>&nbsp;  &nbsp;
                            </li>



                            <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>

                            <li class="fc-slate-blue searchIcon"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                            <li class="fc-slate-blue "> <a class="toolbarbutton" href="#"><span class="fs-large-normal">&nbsp;|&nbsp;  </span><span class="fs-medium-normal "><i data-bind="click: showModalFilter" class="fa fa-caret-square-o-down"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="field-content-detail">
                <div class="divProgressScreen"></div>
                <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
                <input type="hidden" name="dateClickAction" id="dateClickAction">
                <br />
           
                <h1 id="contentHeader"></h1>
                <p id="contentSubHeader"></p>
               




            </div>
            <div class="home-content-detail">
                <div id="homeMessage">
                    <br />
                    <h1>@Html.Raw(home_index.resx1133)</h1>
                    <ul>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx1127).</li>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx1128).</li>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx1129).</li>
                    </ul>
                </div>
            </div>
            <div class="search-content-detail">
                <div>
                    <br />
                    <div style="margin-bottom: 50px;">
                        <h1 id="searchResultSummary" style="position: absolute;">@Html.Raw(home_index.resx1124)</h1>
                        <h3 id="searchResultSummaryCount" style="float: right; padding-top: 15px;">@Html.Raw(home_index.resx1130): 195</h3>
                    </div>
                    <div id="searchResultList">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th class='d not-sorted'>@Html.Raw(home_index.textAssetNo)</th>
                                    <th class='h'><a href="#">@Html.Raw(home_index.resx140)</a></th>
                                    <th class='h'><a href="#">@Html.Raw(home_index.lblSupplier)</a></th>
                                    <th class='d'><a href="#">@Html.Raw(assetInfo.frmInfo_input_text21)</a></th>
                                    <th class='d'><a href="#">@Html.Raw(home_index.resx1131)</a></th>
                                    <th class='a'><a href="#">@Html.Raw(assetInfo.frmInfo_input_text36)</a></th>
                                    <th class='a'><a href="#">@Html.Raw(home_index.resx877)</a></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>
            <div id="openModalFilter" class="modalwidth5">
                <div>
                    <a href="#" title="Close" class="close">X</a>
                    <div class="modal-filter-header">
                        <h2>@Html.Raw(home_index.resx69)</h2>
                    </div>
                    <div class="flex-item-2">
                        <div class="filter-row">
                            <span class="from-text">@Html.Raw(home_index.resx872)</span>
                            <input type="hidden" name="LASTLOADPAGE" id="LASTLOADPAGE">
                            <input type="text" name="costcenterStr" list="costcenterStrList" id="costcenterStr" data-bind="event { focus: searchAdvanceLOV}, value:searchFilter.CostCenterStr" placeholder="@Html.Raw(home_index.resx58)">
                            <datalist id="costcenterStrList">
                                <option value="" id="">

                            </datalist>
                        </div>
                        <div class="filter-row">
                            <span class="from-text">@Html.Raw(home_index.lblManufacturer)</span>
                            <input type="text" name="manufacturerStr" list="manufacturerStrList" id="manufacturerStr" data-bind="event { focus: searchAdvanceLOV}, value:searchFilter.ManufacturerStr" placeholder="@Html.Raw(home_index.resx58)">
                            <datalist id="manufacturerStrList">
                                <option value="" id="">

                            </datalist>
                        </div>
                        <div class="filter-row">
                            <span class="from-text">@Html.Raw(home_index.lblSupplier)</span>
                            <input type="text" name="supplierStr" list="supplierStrList" id="supplierStr" data-bind="event { focus: searchAdvanceLOV}, value:searchFilter.SupplierStr" placeholder="@Html.Raw(home_index.resx58)">
                            <datalist id="supplierStrList">
                                <option value="" id="">

                            </datalist>
                        </div>
                        <div class="filter-row">
                            <span class="from-text">@Html.Raw(home_index.resx88)</span>
                            <select class="border-search" data-bind="value:searchFilter.AssetFilterCondition" id="filterCondition" name="filterCondition" title="Select a Problem Type">
                                <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                            </select>
                        </div>
                        <div class="filter-row">
                            <span class="from-text">@Html.Raw(home_index.resx89)</span>
                            <select class="border-search" data-bind="value:searchFilter.status" id="filterStatus" name="filterStatus" title="Select a status">
                                <option value="">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                <option value="I">@Html.Raw(home_index.resx213)</option>
                                <option value="A">@Html.Raw(home_index.resx199)</option>
                                <option value="M">@Html.Raw(home_index.resx214)</option>
                                <option value="N">@Html.Raw(home_index.resx200)</option>
                                <option value="O">@Html.Raw(home_index.resx215)</option>
                                <option value="R">@Html.Raw(home_index.resx216)</option>
                                <option value="T">@Html.Raw(home_index.resx217)</option>
                                <option value="U">@Html.Raw(home_index.resx218)</option>
                            </select>
                        </div>
                        <div class="filter-row">
                            <span class="from-text">@Html.Raw(home_index.resx995)</span>
                            <input type="number" name="cloneid" id="cloneid" data-bind="value:searchFilter.CloneId">
                        </div>
                        <div class="filter-row">
                            <span class="from-text">@Html.Raw(home_index.resx873)</span>
                            <input type="text" name="purchaseNo" id="purchaseNo" data-bind="value:searchFilter.PO_NO">
                        </div>
                        <div id="addButton">
                            <span data-bind="click: searchFilterNow" class="button-extbottom">@Html.Raw(home_index.resx95)</span>

                            <span data-bind="click: clearFilter" class="button-extbottom">Clear</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="openModalInfo" class="modalBoxW">
                <div>
                    @*<a href="#close" title="Close" class="close">X</a>*@
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitleInfo" class="fc-slate-blue fs-large-strong">Depreciation Detail</span></p>

                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.Raw(assetInfo.frmInfo_assetName):<span id="itemDescription" class="fc-slate-blue"></span></p>


                    <br />
                    <div class="flex-container flex-wrap " style="margin-left:20px;">

                        <div class="flex-item-1 flex-field-container-ext ">

                            <span>@Html.Raw(home_index.resx863)&nbsp;<span id="DEPRECIATIONPERCENT"></span>%</span><br />
                            <div id="searchDepreciationCal" class="scroll style-2 paddingPage" style="height:300px;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.Raw(home_index.resx277)
                                            </th>
                                            <th>
                                                @Html.Raw(home_index.resx874)
                                            </th>
                                            <th>
                                                @Html.Raw(home_index.resx875)
                                            </th>

                                            <th>
                                                @Html.Raw(home_index.resx876)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>

                            <span><strong>@Html.Raw(home_index.resx877):</strong> <span id="DPCURVALUE"></span></span>

                        </div>

                    </div>
                    <br />
                    <div class="modal-footer">
                        <a href="#" data-bind="click: cancelChangesModal" class="button-extbottom"><span id="closeButtonIcon">@Html.Raw(assetInfo.btnLabel_text12)</span></a>

                    </div>

                </div>
            </div>
            <div id="loadingBackground">
                <div class="dark-bg">
                    <div class="sk-circle">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                        <div class="sk-circle9 sk-child"></div>
                        <div class="sk-circle10 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="print container" id="printSummary">
        <table>
            <thead>
                <tr>
                    <th style="width: 47%; display:inline-block;text-align:left;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING3" class="fs-medium-strong"></p>
                    </th>
                    <th style="width: 6%; display:inline-block;border: 0 none;">
                        <span style="width:100%;clear:both;margin:0 auto;">
                            <img class="client_logo" data-bind="attr:{src: clientDetails.CLIENT_LOGO}" style="height:60px; width:80px;" align="middle" />
                        </span>
                        <span style="width:100%;clear:both;text-align:center;">
                            <img class="client_logo" data-bind="attr:{src: clientDetails.COMPANY_LOGO}" style="height:40px; width:70px;" align="middle" />
                        </span>
                    </th>
                    <th style="width: 47%; display:inline-block;text-align:right;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING_OTH" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH3" class="fs-medium-strong"></p>
                        <img class="client_logo" src="" id="CLIENT_LOGO" name="CLIENT_LOGO" style="height:80px; width:100px; " hidden />
                    </th>
                </tr>
                <tr style="display: flex; border-bottom: 1px solid #d2d9de;">
                    <th style="border: 0 none; width: 30%;">

                    </th>
                    <th style="border: 0 none; width: 60%; text-align: center;">
                        <span class="fs-large-strong">@Html.Raw(home_index.resx1132)</span>
                    </th>
                    <th style="border: 0 none; width: 30%; text-align: right; margin-top: 10px; padding-right: 0px;">
                        <span class="fs-smaill-normal" data-bind="text: assetCategory.count">@Html.Raw(home_index.resx969): 139</span>
                    </th>
                </tr>
            </thead>
            <tbody style="border-top: .5px solid #d2d9de;">
                <tr style="width: 850px; border-color:transparent;">
                    <td style="width: 850px; border-color:transparent;">
                        <div id="assetPrintSearchResultList">

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(assetInfo.textInfo_errorOne)',
                    errorTwo: '@Html.Raw(assetInfo.textInfo_errorTwo)',
                    addModeHeader: '@Html.Raw(assetInfo.textInfo_addModeHeader)',
                    addModeSubHeader: '@Html.Raw(assetInfo.textInfo_addModeSubHeader)',
                    updateModeHeader: '@Html.Raw(assetInfo.textInfo_updateModeHeader)',
                    updateModeSubHeader: '@Html.Raw(assetInfo.textInfo_updateModeSubHeader)',
                    saveModeStatusText: '@Html.Raw(assetInfo.textInfo_saveModeStatusText)',
                    saveSuccessMessage: '@Html.Raw(assetInfo.textInfo_saveSuccessMessage)',
                    readModeStatusText: '@Html.Raw(assetInfo.textInfo_readModeStatusText)',
                    displayModeHeader: '@Html.Raw(assetInfo.textInfo_displayModeHeader)',
                    displayModeSubHeader: '@Html.Raw(assetInfo.textInfo_displayModeSubHeader)',
                    searchModeStatusText: '@Html.Raw(assetInfo.textInfo_searchModeStatusText)',
                    searchModeHeader: "@Html.Raw(assetInfo.textInfo_searchModeHeader)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx42)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',
                        otherDeth: '@Html.Raw(home_index.resx82)',
                        buildingName: '@Html.Raw(home_index.resx86)',
                        resCenterName: 'Responsible Department',
                        conditionName: '@Html.Raw(home_index.resx88)',
                        statusName: '@Html.Raw(home_index.resx89)',
                        notes: '@Html.Raw(home_index.resx241)',
                        costCenter: 'Cost Center',
                        location: 'Current Location (Floor/Room No)',
                        cloneId: 'Clone Id',
                        supplier: 'Supplier',
                        serialNo: 'Serial No'
                    }
                };

                var myViewModel = new assetDepreciationViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>
