﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>Recall Processing</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalAlert.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="/Scripts/ckeditor.js"></script>
    <script src="~/Scripts/reports_recallProcessing.js"></script>
    <style>
        .custom-table {
            width: 100%;
        }

        .custom-table th, .pr-table td {
            width: unset;
            max-width: unset;
            min-width: unset;
        }

        .custom-table tbody tr:hover {
            color: #246ca1;
            font-weight: bold;
            cursor: pointer;
        }

        table .btn-action {
            width: 17px !important;
        }

        table .btn-action-2 {
            width: 21px !important;
            min-width: 21px !important;
            max-width: 21px !important;
        }

        table.dataTable thead th {
            text-align: left;
        }

        .recall-processing-container > div {
            min-width: unset;
        }

        .recall-processing-container input, .recall-processing-container select, .recall-processing-container textarea {
            min-width: 200px;
        }
    </style>
</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>
                    <li class="fc-white"><a href="">Recall Management - Recall Processing  &nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-2">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-1">
                <ul class="align-right">
                    <li class="liSaveAll fc-slate-blue" data-bind="visible: pageMode() == modes.transactionPage && !showProgress()"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">Cancel</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue" data-bind="visible: pageMode() == modes.transactionPage && !showProgress() && selectedTransReport.REPORTSTATUS() != 'Closed'"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">Save</span>&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue" data-bind="visible: pageMode() == modes.transactionPage && !showProgress() && selectedTransReport.REPORTSTATUS() == 'For Reporting'"><a data-bind="click: function () { triggerFormSubmit(false, false, false, 'For Action') }" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="For Action"><i class="fa fa-check"></i>&nbsp;<span class="btn-text fs-medium-normal">For Action</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue" data-bind="visible: pageMode() == modes.transactionPage && !showProgress() && selectedTransReport.REPORTSTATUS() == 'For Action' && checkAssinedStaffs()"><a data-bind="click: function () { triggerFormSubmit(false, false, false, 'For Closure') }" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="For Closure"><i class="fa fa-check"></i>&nbsp;<span class="btn-text fs-medium-normal">For Closure</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue" data-bind="visible: pageMode() == modes.transactionPage && !showProgress() && selectedTransReport.REPORTSTATUS() == 'For Closure'"><a data-bind="click: function () { triggerFormSubmit(false, false, false, 'Closed') }" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Complete"><i class="fa fa-check"></i>&nbsp;<span class="btn-text fs-medium-normal">Complete</span>&nbsp;&nbsp;</a></li>

                    <li class="liApiStatus fc-slate-blue" data-bind="visible: showProgress"><span class="status-icon fs-large-normal"><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text" data-bind="text: progressText"></span></li>
                    <li class="fc-grey"><input data-bind="value: pageQuickSearch, event: { change: quickSearch } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: quickSearch" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="home-content-detail" data-bind="visible: pageMode() == modes.homePage && !showProgress()">
        <div id="homeMessage">
            <br>
            <h1>Welcome to Recall Processing</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;Recall Recommendation</li>
                <li><i class="fa fa-check"></i>&nbsp;Recall Action/Verification</li>
                <li><i class="fa fa-check"></i>&nbsp;Recall Completion/Closure</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail" data-bind="visible: pageMode() == modes.searchPage && !showProgress()">
        <div>
            <br>
            <h1 id="searchResultSummary" class="fc-slate-blue">Recall Processing</h1>
            <table id="searchDataTable" style="width:100%">
                <thead>
                    <tr class="fc-slate-blue">
                        <th>Date</th>
                        <th>Reference No.</th>
                        <th>Type</th>
                        <th>Serial No./Model No./Batch No.</th>
                        <th>Report Status</th>
                        <th class="btn-action"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <br>
        <br>
        <br>
    </div>
    <div class="field-content-detail recall-processing-container" data-bind="visible: pageMode() == modes.transactionPage && !showProgress()">
        <div class="divProgressScreen" data-bind="visible: showProgressScreen()"></div>
        <div class="notify-success fs-small-normal" id="divNotify">
            <p></p>
        </div>
        <br />

        <h1 data-bind="html: contentHeader"></h1>
        <p data-bind="html: contentSubHeader"></p>
        <form data-bind="submit: saveAllChanges">
            <div class="flex-container flex-wrap">
                <div class="flex-field-container" style="overflow: hidden; overflow-y: auto; max-height: 532px; max-width: 250px">
                    <div data-bind="if: selectedTransReport.REPORTSTATUS() == 'For Action' || selectedTransReport.REPORTSTATUS() == 'For Closure' || selectedTransReport.REPORTSTATUS() == 'Closed'">
                        <label>Action:</label>
                        <select class="border-search" required
                                data-bind="
                            options: typesOfAction,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'LOV_LOOKUP_ID',
                            value: selectedTransReport.ACTION,
                            enable: selectedTransReport.REPORTSTATUS() == 'For Action'
                            "></select>
                        <br />
                    </div>

                    <label>Type:</label>
                    <select class="border-search" data-bind="value: selectedTransReport.SEARCHTYPE" disabled>
                        <option value="Asset">Asset</option>
                        <option value="Consumable">Consumable/Parts</option>
                    </select>
                    <br />

                    <label data-bind="text: selectedTransReport.SEARCHTYPE() == 'Asset' ? 'Serial/Model No.' : 'Serial/Batch No.'"></label>
                    <input type="text" data-bind="value: selectedTransReport.SEARCHKEY" disabled>
                    <br />

                    <label>Reference No:</label>
                    <input type="text" data-bind="value: selectedTransReport.ID" disabled>
                    <br />

                    <label>Recall By:</label>
                    <select class="border-search" required disabled
                            data-bind="
                                options: recallBys,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.RECALLCATEGORY
                                "></select>
                    <br />

                    <label>Recalling Firm Reference No.:</label>
                    <input type="text" data-bind="value: selectedTransReport.RECALLFIRMREFNO" disabled>
                    <br />

                    <label>Recall Type:</label>
                    <select class="border-search" required disabled
                            data-bind="
                                options: recallTypes,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.RECALLTYPE
                                "></select>
                    <br />

                    <label>Recall Time Frame (days):</label>
                    <input type="number" min="0" data-bind="value: selectedTransReport.RECALLTIMEFRAME" disabled>
                    <br />

                    <label>Response Time Frame (days):</label>
                    <input type="number" min="0" data-bind="value: selectedTransReport.RESPONSETIMEFRAME" disabled>
                    <br />

                    <label>Reason:</label>
                    <textarea data-bind="value: selectedTransReport.REASON" disabled></textarea>
                    <br />

                    <label>Severity:</label>
                    <select class="border-search" disabled
                            data-bind="
                                options: HHLevels,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.HHLEVEL
                                "></select>
                    <br />

                    <label>Probability:</label>
                    <select class="border-search" disabled
                            data-bind="
                                options: probabilities,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.PROBABILITY
                                "></select>
                    <br />

                    <label>Detectability:</label>
                    <select class="border-search" disabled
                            data-bind="
                                options: detectabilities,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.DETECTABILITY
                                "></select>
                    <br />

                    <label>Depth of Distribution in Saudi Arabia:</label>
                    <select class="border-search" disabled
                            data-bind="
                                options: DDSA,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.DDSA
                                "></select>
                    <br />

                    <label>Quantity in Saudi Arabia:</label>
                    <select class="border-search" disabled
                            data-bind="
                                options: QSA,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.QSA
                                "></select>
                </div>
                <div class="flex-item-1 flex-field-container" style="margin: 0 10px;">
                    <p class="fc-red" data-bind="visible: !transReportItems().length, text: 'No item/s found.'"></p>
                    <div style="display: flex; align-items: center" data-bind="if: transReportItems().length && selectedTransReport.SEARCHTYPE() != 'Asset'">
                        <h3>
                            <b>Product Code: </b><text data-bind="text: transReportItems()[0].PRODUCT_CODE"></text>
                        </h3>
                        &nbsp;&nbsp;&nbsp;
                        <h3>
                            <b>Product Name: </b><text data-bind="text: transReportItems()[0].PRODUCT_NAME"></text>
                        </h3>
                    </div>
                    <div style="overflow: hidden; overflow-y: auto; max-height: 365px;">
                        <table class="custom-table" data-bind="visible: transReportItems().length && selectedTransReport.SEARCHTYPE() != 'Asset'">
                            <thead>
                                <tr>
                                    <th class="btn-action"></th>
                                    <th class="b">
                                        Stock On Hand
                                    </th>
                                    <th class="b">
                                        UOM
                                    </th>
                                    <th class="b">
                                        Store
                                    </th>
                                    <th class="b">
                                        Supplier
                                    </th>
                                    <th class="btn-action-2" data-bind="visible: selectedTransReport.REPORTSTATUS() != 'For Reporting'"></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: transReportItems">
                                <tr>
                                    <td class="btn-action">
                                        <i class="fa fa-check fc-green" data-bind="visible: $data.ACKNOWLEDGEBY"></i>
                                    </td>
                                    <td class="b" data-bind='text: $data.STOCK_ONHAND'></td>
                                    <td class="b" data-bind='text: $data.UO_DESC'></td>
                                    <td class="b" data-bind='text: $data.STORE_DESC'></td>
                                    <td class="b" data-bind='text: $data.SUPPLIER'></td>
                                    <td class="btn-action-2" data-bind="visible: $parent.selectedTransReport.REPORTSTATUS() != 'For Reporting'">
                                        <i class="fa fa-plus button-extbottom" title="Assign staff" data-bind="click: $parent.openAssignStaff, visible: !$data.RECALLBY() && $parent.checkTransReportItem($data)"></i>
                                        <i class="fa fa-eye button-extbottom" title="View assigned staff" data-bind="click: $parent.openAssignStaff, visible: $data.RECALLBY() &&$parent.checkTransReportItem($data)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="overflow: hidden; overflow-y: auto; max-height: 365px;">
                        <table class="custom-table" data-bind="visible: transReportItems().length && selectedTransReport.SEARCHTYPE() == 'Asset'">
                            <thead>
                                <tr>
                                    <th class="btn-action"></th>
                                    <th class="b">
                                        Item
                                    </th>
                                    <th class="b">
                                        Item Name
                                    </th>
                                    <th class="b">
                                        Cost Center
                                    </th>
                                    <th class="b">
                                        Supplier
                                    </th>
                                    <th class="btn-action-2" data-bind="visible: selectedTransReport.REPORTSTATUS() != 'For Reporting'"></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: transReportItems">
                                <tr>
                                    <td class="btn-action">
                                        <i class="fa fa-check fc-green" data-bind="visible: $data.ACKNOWLEDGEBY"></i>
                                    </td>
                                    <td class="b" data-bind='text: $data.ASSET_NO || $data.REFCODE'></td>
                                    <td class="b" data-bind='text: $data.DESCRIPTION || $data.REFDESCRIPTION'></td>
                                    <td class="b" data-bind='text: $data.COSTCENTER_DESC || $data.REFCOSTCENTERDESCRIPTION'></td>
                                    <td class="b" data-bind='text: $data.SUPPLIERNAME'></td>
                                    <td class="btn-action-2" data-bind="visible: $parent.selectedTransReport.REPORTSTATUS() != 'For Reporting'">
                                        <i class="fa fa-plus button-extbottom" title="Assign staff" data-bind="click: $parent.openAssignStaff, visible: !$data.RECALLBY() && $parent.checkTransReportItem($data)"></i>
                                        <i class="fa fa-eye button-extbottom" title="View assigned staff" data-bind="click: $parent.openAssignStaff, visible: $data.RECALLBY() &&$parent.checkTransReportItem($data)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <label data-bind="visible: !checkAcknowledgement()"><b>Legend: </b><text class="fc-green"><i class="fa fa-check"></i>Acknowledged</text></label>
                </div>
                <div class="flex-item-1 flex-field-container" style="margin: 0 10px;">
                    <div class="flex-container">
                        <a href="#" class="fc-slate-blue" data-bind="click: function () { scrollToViewPort('REPORTSHEADER') }"><u><b>Recommendation</b></u></a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="#" class="fc-slate-blue" data-bind="click: function () { scrollToViewPort('ACTIONREPORTSHEADER') }, visible: selectedTransReport.REPORTSTATUS() == 'For Action' || selectedTransReport.REPORTSTATUS() == 'For Closure' || selectedTransReport.REPORTSTATUS() == 'Closed'"><u><b>Action Remarks</b></u></a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="#" class="fc-slate-blue" data-bind="click: function () { scrollToViewPort('CLOSEREPORTSHEADER') }, visible: selectedTransReport.REPORTSTATUS() == 'For Closure' || selectedTransReport.REPORTSTATUS() == 'Closed'"><u><b>Closure Remarks</b></u></a>
                    </div>
                    <div style="overflow: hidden; overflow-y: auto; max-height: 509px;">
                        <div data-bind="style: { 'margin-bottom': selectedTransReport.REPORTSTATUS() != 'For Reporting' ? '10px' : '0' }">
                            <h2 style="color: #000" id="REPORTSHEADER">Recommendation</h2>
                            <textarea type="hidden" id="REPORTS"></textarea>
                        </div>
                        <div style="margin-bottom: 10px" data-bind="visible: selectedTransReport.REPORTSTATUS() == 'For Action' || selectedTransReport.REPORTSTATUS() == 'For Closure' || selectedTransReport.REPORTSTATUS() == 'Closed'">
                            <h2 style="color: #000" id="ACTIONREPORTSHEADER">Action Remarks</h2>
                            <textarea type="hidden" id="ACTIONREPORTS"></textarea>
                        </div>
                        <div data-bind="visible: selectedTransReport.REPORTSTATUS() == 'For Closure' || selectedTransReport.REPORTSTATUS() == 'Closed'">
                            <h2 style="color: #000" id="CLOSEREPORTSHEADER">Closure Remarks</h2>
                            <textarea type="hidden" id="CLOSEREPORTS"></textarea>
                        </div>
                    </div>
                </div>
                <div class="flex-field-container" style="max-width: 250px">
                    <div style="margin-left: 0;">
                        <span class="fc-slate-blue fs-medium-strong">Supporting Document</span>
                        <div style="margin-top: 15px; height: 195px; overflow: auto;">
                            <ul data-bind="foreach: documentListWithCategory">
                                <li data-bind="if: $data.documents.length">
                                    <a href="#" class="fc-slate-blue"><b data-bind="text: $data.DESCRIPTION"></b></a>

                                    <ul data-bind="foreach: $data.documents" style="padding-left: 10px;">
                                        <li class="fc-slate-blue">
                                            <a href="#" target="_blank" data-bind="attr: { href: $data.documentURL }">
                                                <i class="fa fa-arrow-circle-o-right"></i>
                                                <text data-bind="text: $data.DOCPATH"></text>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <div data-bind="visible: selectedTransReport.REPORTSTATUS() != 'Closed'">
                                <h3 class="fc-slate-blue" data-bind="click: openSupportingDocument"><i class="fa fa-file-image-o"></i> Upload new document</h3>
                                <ul data-bind="foreach: uploadedListWithCategory">
                                    <li data-bind="if: $data.documents.length">
                                        <a href="#" class="fc-slate-blue"><b data-bind="text: $data.DESCRIPTION"></b></a>

                                        <ul data-bind="foreach: $data.documents" style="padding-left: 10px;">
                                            <li class="fc-slate-blue">
                                                <a href="#">
                                                    <text data-bind="text: $data.DOCPATH"></text>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <hr />

                        <label>Reported By:</label>
                        <input type="text" data-bind="value: selectedTransReport.REPORTEDBY" disabled>
                        <br />

                        <label>Reported Date:</label>
                        <input type="text" data-bind="value: selectedTransReport.REPORTEDDATEDISPLAY" disabled>
                        <br />

                        <label>Actioned By:</label>
                        <input type="text" data-bind="value: selectedTransReport.ACTIONBY" disabled>
                        <br />

                        <label>Actioned Date:</label>
                        <input type="text" data-bind="value: selectedTransReport.ACTIONDATEDISPLAY" disabled>
                        <br />

                        <label>Closed By:</label>
                        <input type="text" data-bind="value: selectedTransReport.CLOSEBY" disabled>
                        <br />

                        <label>Closed Date:</label>
                        <input type="text" data-bind="value: selectedTransReport.CLOSEDATEDISPLAY" disabled>
                    </div>
                </div>
            </div>

            <button type="submit" class="hidden" id="prSubmitBtn"></button>
        </form>
        <br />
        <br />  
        <br />
    </div>

    <div id="openSupportingDocument" class="modalwidth2">
        <div style="padding: 10px; width: 400px; height: 250px">
            <form data-bind="submit: addSupportingDocument">
                <h2 class="fc-slate-blue">Upload File</h2>
                <label>Category:</label>
                <select class="border-search"
                        data-bind="
                            options: documentCategories,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'LOV_LOOKUP_ID',
                            value: modalDocumentCategory
                            "></select>
                <br />
                <br />
                <input type="file" id="uploadedInfo" name="uploadedInfo"
                       accept=".doc, .docx, .dot, .pdf, .txt, .cvs, .xls, .xlsx, .xlw, .bmp, .gif, .pps, .ppsx, .ppt, .pptx, .tif, .dwg, image/*" />
                <input type="hidden" name="SAVEACTION" id="SAVEACTION">

                <p class="fc-slate-blue" data-bind="text: modalFileData().uploaded.DOCPATH" style="margin-top: 15px"></p>

                <div id="addButton">
                    <button type="submit" class="button-extbottom">Add</button>
                    <a href="#" class="button-extbottom">Close</a>
                </div>
            </form>
        </div>
    </div>
    <div id="openAssignStaff" class="modalwidth2">
        <div style="padding: 10px; width: 400px; height: 250px">
            <form data-bind="submit: addAssignStaff">
                <h2 class="fc-slate-blue">Staff Information</h2>
                <label>Staff</label>
                <select class="border-search"
                        data-bind="
                            options: staffList,
                            optionsText: 'STAFF_NAME',
                            optionsValue: 'STAFF_ID',
                            value: modalStaffId,
                            enable: selectedTransReport.REPORTSTATUS() == 'For Action'
                            "></select>

                <div id="addButton">
                    <button type="submit" class="button-extbottom" data-bind="visible: selectedTransReport.REPORTSTATUS() == 'For Action'">Assign</button>
                    <a href="#" class="button-extbottom">Close</a>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">
        CKEDITOR.replace('REPORTS');
        CKEDITOR.replace('ACTIONREPORTS');
        CKEDITOR.replace('CLOSEREPORTS');

        $(document).ready(
            function () {
                /*Text that needs to be localized later*/
                var textInfo = {
                    errorOne: 'There seems to be a problem in the system. We will now redirect you to the logon page to avoid further issues.\n\r" {0} "\n\rSorry for the inconvenience.',
                    errorTwo: 'Server not available, please try again later.',
                    addModeHeader: 'Create Recall',
                    addModeSubHeader: 'Please provide all required information before <i class="fa fa-floppy-o"></i> saving. Click the <i class="fa fa-arrow-circle-o-left"></i> cancel button to abort.',
                    updateModeHeader: 'Recall Information',
                    updateModeSubHeader: 'Click the <i class="fa fa-edit"></i>modify button to edit Recall information',
                    saveSuccessMessage: 'Record Successfully Saved!',
                    deleteSuccessMessage: 'Record Successfully Deleted!',

                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx139)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',
                        category: '@Html.Raw(home_index.resx141)',
                        ancillary: '@Html.Raw(home_index.resx142)'
                    }
                };
                var myViewModel = new recallProcessingViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );
    </script>
</body>
</html>

