﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.headerUrltext)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <script src="~/Scripts/moment.js"></script>
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/core.js"></script>
    <script src="~/Scripts/reports_searchtransaction.js"></script>
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <script src="/Scripts/calendar_picker.js"></script>
    <style>
        #frmInfo .view-mode {
            background-color: #fff;
        }

            #frmInfo .view-mode[required=required] {
                background-color: #ffffde;
            }
    </style>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">Search Transaction&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">

            <div class="toolbox-left flex-item-1">
                <ul class="align-right">

                    <li class="liDisplayBy">
                        <span class="fc-slate-blue">Display By: </span>
                        <select class="border-search disable-mode " id="DISPLAYTYPE" name="DISPLAYTYPE" placeholder="">
                            <option value="TV">Table View</option>
                            <option value="MF">Message form</option>
                        </select>&nbsp;  &nbsp;
                    </li>

                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(pmProcedure.btnLabel_text5)</span></li>

                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>

                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                    <li class="fc-slate-blue "><span data-bind="click: showModalFilter" class="toolbarbutton"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></span></li>

                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>

        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>Hello, Welcome to Company Transaction Report</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;Display in Table View or Message Form</li>
                <li><i class="fa fa-check"></i>&nbsp;Contain all transaction to Cost Center</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary" class="fc-slate-blue">Company Transaction Report</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">@Html.Raw(home_index.resx35)</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>

            <div id="SearchResultListTV">
                <div id="SupplierTbl">
                    <table id="searchTransTableTV" style="width:100%">
                        <thead>
                            <tr class="fc-slate-blue">
                                <th class="a">Date</th>
                                <th class="b">Cost Center</th>
                                <th class="a">Item</th>
                                <th class="c">Item Name</th>
                                <th class="a">Category</th>
                                <th class="a">Serial/Batch</th>
                                <th class="a">QTY</th>
                                <th class="a">UOM</th>
                                <th class="a">Model</th>

                                <th class="a">Trans. Type</th>
                                <th>Transaction</th>


                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>


    <div id="openModalFilter" class="modalwidth5">
        <div>
            <a href="#" title="Close" class="close">X</a>
            <div class="modal-filter-header">
                <h2>@Html.Raw(home_index.resx69)</h2>
            </div>
            <div class="filter-row">
                <label>@Html.Raw(home_index.resx70) </label>
                <div>
                    <div class="filter-row">@Html.Raw(home_index.resx71) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestFromDate" id="requestFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                    <div class="filter-row">@Html.Raw(home_index.resx72) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestStartDate" id="requestStartDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                </div>
            </div>
            <div class="flex-item-2">
                <div class="filter-row">
                    <span class="from-text">Cost Center</span>
                    <input type="text" name="costcenterStr" list="costcenterStrList" id="costcenterStr" data-bind="event { focus: searchAdvanceLOV}, value:searchFilter.CostCenterStr" placeholder="@Html.Raw(home_index.resx58)">
                    <datalist id="costcenterStrList">
                        <option value="" id="">

                    </datalist>
                </div>
                <div class="filter-row">
                    <span class="from-text">Item Name</span>
                    <input type="text" data-bind="value:searchFilter.ItemName">

                </div>
                <div class="filter-row">
                    <span class="from-text">Category</span>
                    <select class="border-search" data-bind="value:searchFilter.Category" id="filterStatus" name="filterStatus" title="Select a status">
                        <option value="">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Asset">Asset</option>
                        <option value="Consumable">Consumable/Parts</option>
                    </select>
                </div>
                <div class="filter-row">
                    <span class="from-text">Serial/Batch No</span>
                    <input type="text" data-bind="value:searchFilter.SerialBatch">

                </div>
                <div class="filter-row">
                    <span class="from-text">Model</span>
                    <input type="text" data-bind="value:searchFilter.ItemModel">

                </div>
                <div class="filter-row">
                    <span class="from-text">Transaction Type</span>
                    <select class="border-search" data-bind="value:searchFilter.TransType" id="filterStatus" name="filterStatus" title="Select a status">
                        <option value="">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Purchased">Purchased</option>
                        <option value="Received">Received</option>
                        <option value="Returned">Returned</option>
                        <option value="Recall">Recall</option>
                        <option value="Ticket">Ticket</option>
                        <option value="Expired">Expired</option>
                    </select>
                </div>

                <div id="addButton">
                    <span data-bind="click: searchFilterNow" class="button-extbottom">Apply</span>

                    <span data-bind="click: clearFilter" class="button-extbottom">Clear</span>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(pmProcedure.txtInfo_text1)',
                    errorTwo: '@Html.Raw(pmProcedure.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(pmProcedure.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(pmProcedure.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(pmProcedure.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(pmProcedure.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(pmProcedure.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(pmProcedure.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(pmProcedure.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(pmProcedure.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(pmProcedure.txtInfo_text11)',
                    searchStatusText: '@Html.Raw(pmProcedure.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(pmProcedure.txtInfo_text13)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx627)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',

                        status: '  '
                    }
                };

				var myViewModel = new sysTransactionViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

