﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.headerUrltext)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <script src="/Scripts/ckeditor.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/core.js"></script>
    <script src="~/Scripts/reports_systemTransactionReporting.js"></script>
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <script src="/Scripts/ckeditor.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <style>
        .view-mode {
            background-color: #fff;
        }

            .view-mode[required=required] {
                background-color: #ffffde;
            }

        .custom-table {
            width: 100%;
        }

            .custom-table th, .pr-table td {
                width: unset;
                max-width: unset;
                min-width: unset;
                white-space: nowrap;
            }

            .custom-table tbody tr:hover {
                color: #246ca1;
                font-weight: bold;
                cursor: pointer;
            }

        table .btn-action {
            width: 17px !important;
        }

        .recall-processing-container > div {
            min-width: unset;
        }

        .recall-processing-container input, .recall-processing-container select, .recall-processing-container textarea {
            min-width: 200px;
        }
    </style>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">System Transaction Reporting&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name" data-bind="visible: clientInfo.isVisible !=true"> @Html.Raw(home_index.header_title_text)</li>
                    <li class="hospital-name" data-bind="visible: clientInfo.isVisible"> <img id="imgLogo" data-bind="attr:{src: clientInfo.clientLogo}" alt="" height="35" width="35">&nbsp; <span class="fs-large-normal" data-bind="text: clientInfo.Description"></span></li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        @*asdfasdf*@
        <div class="toolbox flex-container">

            <div class="toolbox-left flex-item-1">
                <ul class="align-right">
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifyReport" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Location details"><i class=" fa fa-edit"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(services.toolbox_left_ul_li_linkBtnModify_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll liCancel fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to home page"><i class=" fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(services.toolbox_left_ul_li_linkBtnSaveCancel_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll liSave fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class=" fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(services.toolbox_left_ul_li_linkBtnSaveAll_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="fc-slate-blue" data-bind="visible: checkAcknowledgement() && !selectedTransReport.ACKNOWLEDGEFLAG()"><a data-bind="click: acknowledge" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Acknowledge"><i class="fa fa-check"></i>&nbsp;<span class="btn-text fs-medium-normal">Acknowledge</span>&nbsp;&nbsp;</a></li>

                    <li class="liDisplayBy">

                        <select class="border-search disable-mode " id="DISPLAYTYPE" name="DISPLAYTYPE" placeholder="" hidden>
                            <option value="TV">Table View</option>
                            <option value="MF">Message form</option>
                        </select>&nbsp;  &nbsp;
                    </li>

                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(pmProcedure.btnLabel_text5)</span></li>

                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>

                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                    <li class="fc-slate-blue "><span data-bind="click: showModalFilter" class="toolbarbutton"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></span></li>

                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail recall-processing-container">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal" id="divNotify">
            <p></p>
        </div>
        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>

        <form data-bind="submit: saveAllChanges">
            <div class="flex-container flex-wrap">
                <div class="flex-field-container" style="overflow: hidden; overflow-y: auto; max-height: 532px; max-width: 250px">
                    <div data-bind="if: selectedTransReport.REPORTSTATUS() == 'For Action' || selectedTransReport.REPORTSTATUS() == 'For Closure' || selectedTransReport.REPORTSTATUS() == 'Closed'">
                        <label>Action:</label>
                        <select class="border-search" disabled
                                data-bind="
                            options: typesOfAction,
                            optionsText: 'DESCRIPTION',
                            optionsValue: 'LOV_LOOKUP_ID',
                            value: selectedTransReport.ACTION
                            "></select>
                        <br />
                    </div>

                    <label>Type:</label>
                    <select class="border-search" data-bind="value: selectedTransReport.SEARCHTYPE" disabled>
                        <option value="Asset">Asset</option>
                        <option value="Consumable">Consumable/Parts</option>
                    </select>
                    <br />

                    <label data-bind="text: selectedTransReport.SEARCHTYPE() == 'Asset' ? 'Serial/Model No.' : 'Serial/Batch No.'"></label>
                    <input type="text" data-bind="value: selectedTransReport.SEARCHKEY" disabled>
                    <br />

                    <label>Reference No:</label>
                    <input type="text" data-bind="value: selectedTransReport.ID" disabled>
                    <br />

                    <label>Recall By:</label>
                    <select class="border-search" disabled
                            data-bind="
                                options: recallBys,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.RECALLCATEGORY
                                "></select>
                    <br />

                    <label>Recalling Firm Reference No.:</label>
                    <input type="text" data-bind="value: selectedTransReport.RECALLFIRMREFNO" disabled>
                    <br />

                    <label>Recall Type:</label>
                    <select class="border-search" required disabled
                            data-bind="
                                options: recallTypes,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.RECALLTYPE
                                "></select>
                    <br />

                    <label>Recall Time Frame (days):</label>
                    <input type="number" min="0" data-bind="value: selectedTransReport.RECALLTIMEFRAME" disabled>
                    <br />

                    <label>Response Time Frame (days):</label>
                    <input type="number" min="0" data-bind="value: selectedTransReport.RESPONSETIMEFRAME" disabled>
                    <br />

                    <label>Reason:</label>
                    <textarea data-bind="value: selectedTransReport.REASON" disabled></textarea>
                    <br />

                    <label>Severity:</label>
                    <select class="border-search" disabled
                            data-bind="
                                options: HHLevels,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.HHLEVEL
                                "></select>
                    <br />

                    <label>Probability:</label>
                    <select class="border-search" disabled
                            data-bind="
                                options: probabilities,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.PROBABILITY
                                "></select>
                    <br />

                    <label>Detectability:</label>
                    <select class="border-search" disabled
                            data-bind="
                                options: detectabilities,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.DETECTABILITY
                                "></select>
                    <br />

                    <label>Depth of Distribution in Saudi Arabia:</label>
                    <select class="border-search" disabled
                            data-bind="
                                options: DDSA,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.DDSA
                                "></select>
                    <br />

                    <label>Quantity in Saudi Arabia:</label>
                    <select class="border-search" disabled
                            data-bind="
                                options: QSA,
                                optionsText: 'DESCRIPTION',
                                optionsValue: 'LOV_LOOKUP_ID',
                                value: selectedTransReport.QSA
                                "></select>
                </div>
                <div class="flex-item-1 flex-field-container" style="margin: 0 10px;">
                    <p class="fc-red" data-bind="visible: !transReportItems().length, text: 'No item/s found.'"></p>
                    <div style="display: flex; align-items: center" data-bind="if: transReportItems().length && selectedTransReport.SEARCHTYPE() != 'Asset'">
                        <h3>
                            <b>Product Code: </b><text data-bind="text: transReportItems()[0].PRODUCT_CODE"></text>
                        </h3>
                        &nbsp;&nbsp;&nbsp;
                        <h3>
                            <b>Product Name: </b><text data-bind="text: transReportItems()[0].PRODUCT_NAME"></text>
                        </h3>
                    </div>
                    <div style="overflow: hidden; overflow-y: auto; max-height: 365px;">
                        <table class="custom-table" data-bind="visible: transReportItems().length && selectedTransReport.SEARCHTYPE() != 'Asset'">
                            <thead>
                                <tr>
                                    <th class="btn-action"></th>
                                    <th class="b">
                                        Stock On Hand
                                    </th>
                                    <th class="b">
                                        UOM
                                    </th>
                                    <th class="b">
                                        Store
                                    </th>
                                    <th class="b">
                                        Supplier
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: transReportItems">
                                <tr>
                                    <td class="btn-action">
                                        <i class="fa fa-check fc-green" data-bind="visible: $data.ACKNOWLEDGEBY"></i>
                                    </td>
                                    <td class="b" data-bind='text: $data.STOCK_ONHAND'></td>
                                    <td class="b" data-bind='text: $data.UO_DESC'></td>
                                    <td class="b" data-bind='text: $data.STORE_DESC'></td>
                                    <td class="b" data-bind='text: $data.SUPPLIER'></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="overflow: hidden; overflow-y: auto; max-height: 365px;">
                        <table class="custom-table" data-bind="visible: transReportItems().length && selectedTransReport.SEARCHTYPE() == 'Asset'">
                            <thead>
                                <tr>
                                    <th class="btn-action"></th>
                                    <th class="b">
                                        Item
                                    </th>
                                    <th class="b">
                                        Item Name
                                    </th>
                                    <th class="b">
                                        Cost Center
                                    </th>
                                    <th class="b">
                                        Supplier
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: transReportItems">
                                <tr>
                                    <td class="btn-action">
                                        <i class="fa fa-check fc-green" data-bind="visible: $data.ACKNOWLEDGEBY"></i>
                                    </td>
                                    <td class="b" data-bind='text: $data.ASSET_NO || $data.REFCODE'></td>
                                    <td class="b" data-bind='text: $data.DESCRIPTION || $data.REFDESCRIPTION'></td>
                                    <td class="b" data-bind='text: $data.COSTCENTER_DESC || $data.REFCOSTCENTERDESCRIPTION'></td>
                                    <td class="b" data-bind='text: $data.SUPPLIERNAME'></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <label data-bind="visible: !checkAcknowledgement()"><b>Legend: </b><text class="fc-green"><i class="fa fa-check"></i>Acknowledged</text></label>
                    <div data-bind="visible: checkAcknowledgement()">
                        <label style="display: flex"><input type="checkbox" style="margin-top: .2rem" data-bind="checked: selectedTransReport.ACKNOWLEDGEFLAG1, enable: !selectedTransReport.ACKNOWLEDGEFLAG()" /> I have received the FSN and read/understand its content.</label>
                        <label style="display: flex"><input type="checkbox" style="margin-top: .2rem" data-bind="checked: selectedTransReport.ACKNOWLEDGEFLAG2, enable: !selectedTransReport.ACKNOWLEDGEFLAG()" /> I performed all actions mentioned in the FSN.</label>
                        <label style="display: flex"><input type="checkbox" style="margin-top: .2rem" data-bind="checked: selectedTransReport.ACKNOWLEDGEFLAG3, enable: !selectedTransReport.ACKNOWLEDGEFLAG()" /> I performed (disposal/isolation/return/ ....) the mentioned devices (number, date, identifier), or that the devices are not available (out of service or missing) mentioning (number, date, identifier)</label>
                    </div>
                </div>
                <div class="flex-item-1 flex-field-container" style="margin: 0 10px;">
                    <div class="flex-container">
                        <a href="#" class="fc-slate-blue" data-bind="click: function () { scrollToViewPort('REPORTSHEADER') }"><u><b>Recommendation</b></u></a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="#" class="fc-slate-blue" data-bind="click: function () { scrollToViewPort('ACTIONREPORTSHEADER') }, visible: selectedTransReport.REPORTSTATUS() == 'For Action' || selectedTransReport.REPORTSTATUS() == 'For Closure' || selectedTransReport.REPORTSTATUS() == 'Closed'"><u><b>Action Remarks</b></u></a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="#" class="fc-slate-blue" data-bind="click: function () { scrollToViewPort('CLOSEREPORTSHEADER') }, visible: selectedTransReport.REPORTSTATUS() == 'For Closure' || selectedTransReport.REPORTSTATUS() == 'Closed'"><u><b>Closure Remarks</b></u></a>
                    </div>
                    <div style="overflow: hidden; overflow-y: auto; max-height: 509px;">
                        <div data-bind="style: { 'margin-bottom': selectedTransReport.REPORTSTATUS() != 'For Reporting' ? '10px' : '0' }">
                            <h2 style="color: #000" id="REPORTSHEADER">Recommendation</h2>
                            <textarea type="hidden" id="REPORTS"></textarea>
                        </div>
                        <div style="margin-bottom: 10px" data-bind="visible: selectedTransReport.REPORTSTATUS() == 'For Action' || selectedTransReport.REPORTSTATUS() == 'For Closure' || selectedTransReport.REPORTSTATUS() == 'Closed'">
                            <h2 style="color: #000" id="ACTIONREPORTSHEADER">Action Remarks</h2>
                            <textarea type="hidden" id="ACTIONREPORTS"></textarea>
                        </div>
                        <div data-bind="visible: selectedTransReport.REPORTSTATUS() == 'For Closure' || selectedTransReport.REPORTSTATUS() == 'Closed'">
                            <h2 style="color: #000" id="CLOSEREPORTSHEADER">Closure Remarks</h2>
                            <textarea type="hidden" id="CLOSEREPORTS"></textarea>
                        </div>
                    </div>
                </div>
                <div class="flex-field-container" style="max-width: 250px">
                    <div style="margin-left: 0;">
                        <span class="fc-slate-blue fs-medium-strong">Supporting Document</span>
                        <div style="margin-top: 15px; height: 195px; overflow: auto;">
                            <ul data-bind="foreach: documentListWithCategory">
                                <li data-bind="if: $data.documents.length">
                                    <a href="#" class="fc-slate-blue"><b data-bind="text: $data.DESCRIPTION"></b></a>

                                    <ul data-bind="foreach: $data.documents" style="padding-left: 10px;">
                                        <li class="fc-slate-blue">
                                            <a href="#" target="_blank" data-bind="attr: { href: $data.documentURL }">
                                                <i class="fa fa-arrow-circle-o-right"></i>
                                                <text data-bind="text: $data.DOCPATH"></text>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <hr />

                        <label>Reported By:</label>
                        <input type="text" data-bind="value: selectedTransReport.REPORTEDBY" disabled>
                        <br />

                        <label>Reported Date:</label>
                        <input type="text" data-bind="value: selectedTransReport.REPORTEDDATEDISPLAY" disabled>
                        <br />

                        <label>Actioned By:</label>
                        <input type="text" data-bind="value: selectedTransReport.ACTIONBY" disabled>
                        <br />

                        <label>Actioned Date:</label>
                        <input type="text" data-bind="value: selectedTransReport.ACTIONDATEDISPLAY" disabled>
                        <br />

                        <label>Closed By:</label>
                        <input type="text" data-bind="value: selectedTransReport.CLOSEBY" disabled>
                        <br />

                        <label>Closed Date:</label>
                        <input type="text" data-bind="value: selectedTransReport.CLOSEDATEDISPLAY" disabled>
                    </div>
                </div>
            </div>

            <button type="submit" class="hidden" id="prSubmitBtn"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>Hello, Welcome to Company Transaction Reporting</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;Display all recall transaction</li>
                <li><i class="fa fa-check"></i>&nbsp;Facility to create report per transaction</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary" class="fc-slate-blue">Company Transaction Report</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">@Html.Raw(home_index.resx35)</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>

            <div id="SearchResultListTV">
                <div id="SupplierTbl">
                    <table id="searchTransTableTV" style="width:100%">
                        <thead>
                            <tr class="fc-slate-blue">
                                <th class="a">Recall Id</th>
                                <th class="a">Date</th>
                                <th class="b">Cost Center</th>
                                <th class="a">Item</th>
                                <th class="c">Item Name</th>
                                <th class="a">Category</th>
                                <th class="a">Serial/Batch</th>
                                <th class="a">QTY</th>
                                <th class="a">UOM</th>
                                <th class="a">Trans. Type</th>
                                <th>Transaction</th>
                                <th class="a">Report Status</th>
                                <th class="a btn-action"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>

    <div id="openModalFilter" class="modalwidth5">
        <div>
            <a href="#" title="Close" class="close">X</a>
            <div class="modal-filter-header">
                <h2>@Html.Raw(home_index.resx69)</h2>
            </div>
            <div class="filter-row">
                <label>@Html.Raw(home_index.resx70) </label>
                <div>
                    <div class="filter-row">@Html.Raw(home_index.resx71) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestFromDate" id="requestFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                    <div class="filter-row">@Html.Raw(home_index.resx72) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestStartDate" id="requestStartDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                </div>
            </div>
            <div class="flex-item-2">
                <div class="filter-row">
                    <span class="from-text">Cost Center</span>
                    <input type="text" name="costcenterStr" list="costcenterStrList" id="costcenterStr" data-bind="event { focus: searchAdvanceLOV}, value:searchFilter.CostCenterStr" placeholder="@Html.Raw(home_index.resx58)">
                    <datalist id="costcenterStrList">
                        <option value="" id="">

                    </datalist>
                </div>
                <div class="filter-row">
                    <span class="from-text">Item Name</span>
                    <input type="text" data-bind="value:searchFilter.ItemName">

                </div>
                <div class="filter-row">
                    <span class="from-text">Category</span>
                    <select class="border-search" data-bind="value:searchFilter.Category" id="filterStatus" name="filterStatus" title="Select a status">
                        <option value="">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Asset">Asset</option>
                        <option value="Consumable">Consumable/Parts</option>
                    </select>
                </div>
                <div class="filter-row">
                    <span class="from-text">Serial/Batch No</span>
                    <input type="text" data-bind="value:searchFilter.SerialBatch">

                </div>
                <div class="filter-row">
                    <span class="from-text">Model</span>
                    <input type="text" data-bind="value:searchFilter.ItemModel">

                </div>
                <div class="filter-row">
                    <span class="from-text">Transaction Type</span>
                    <select class="border-search" data-bind="value:searchFilter.TransType" id="filterStatus" name="filterStatus" title="Select a status">
                        <option value="">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Purchased">Purchased</option>
                        <option value="Received">Received</option>
                        <option value="Returned">Returned</option>
                        <option value="Recall">Recall</option>
                        <option value="Ticket">Ticket</option>
                        <option value="Expired">Expired</option>
                    </select>
                </div>

                <div id="addButton">
                    <span data-bind="click: searchFilterNow" class="button-extbottom">Apply</span>

                    <span data-bind="click: clearFilter" class="button-extbottom">Clear</span>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">
        CKEDITOR.replace('REPORTS');
        CKEDITOR.replace('ACTIONREPORTS');
        CKEDITOR.replace('CLOSEREPORTS');


        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(pmProcedure.txtInfo_text1)',
                    errorTwo: '@Html.Raw(pmProcedure.txtInfo_text2)',
                    addModeHeader: 'Create Transaction Report',
                    addModeSubHeader: '@Html.Raw(pmProcedure.txtInfo_text4)',
                    updateModeHeader: 'Update Transaction Report',
                    updateModeSubHeader: '@Html.Raw(pmProcedure.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(pmProcedure.txtInfo_text7)',
                    saveSuccessMessage: 'Record Successfully Saved!',
                    readModeStatusText: '@Html.Raw(pmProcedure.txtInfo_text9)',
                    displayModeHeader: 'Transaction Report Information',
                    displayModeSubHeader: '@Html.Raw(pmProcedure.txtInfo_text11)',
                    searchStatusText: '@Html.Raw(pmProcedure.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(pmProcedure.txtInfo_text13)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx627)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',

                        status: '  '
                    }
                };

				var myViewModel = new sysTransactionReportingViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

