﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.rptReportsWorkOrderReport)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/reports_woResponsibleStaffV4.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>Menu&nbsp;</a></li>

                    <li class="fc-white"><a href="">Work Order (Assign/Re-assign/Close)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">User</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">

            <div class="toolbox-left flex-item-3">
                <ul class="align-right">
                  
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                    <li class="fc-slate-blue "> <a class="toolbarbutton" href="#"><span class="fs-large-normal"></span>&nbsp;</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>

    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(home_index.resx536)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx537)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.textJobTypeSummary)</li>
            </ul>
        </div>
    </div>

    <div class="search-content-detail">
        <div>
            <input type="hidden" name="sortAction" id="sortAction">
            <input type="hidden" name="PRIVROW" id="PRIVROW">
            <input type="hidden" name="NEXTROW" id="NEXTROW">
            <input type="hidden" name="MODIFYACTION" id="MODIFYACTION">
            <br />
            <h1 id="searchResultSummary">Responsible Staff.</h1>
            <div id="searchResultList">
                <table>
                    <thead>
                        <tr>
                            <th class='d'>Staff ID</th>
                            <th class='h'><a data-bind="click: sortTable" href="#" title="Sort by Description" id="tcDescription">Staff Name</a></th>
                            <th class='d'><a data-bind="click: sortTable" href="#" title="Sort by Closed" id="tcActive">Total WO Assign</a></th>
                           

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                    </tbody>

                </table>
            </div>
         
        </div>
        <br />
        <br />
        <br />
    </div>

   <div id="openModalWO" class="modalwidth11">
        <div>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;<span  class="fc-slate-blue fs-medium-strong"></span> </p>            
                   
                    

            <div>
                <ul>
                    <li>
                        <div>
                            &nbsp;&nbsp;&nbsp;<span>Search</span><input data-bind="event: { change: filterWOSearch } " type="search" placeholder="search anything" id="lookUptxtGlobalSearchOth" />  &nbsp;<a data-bind="click: filterWOSearch" class="fc-slate-blue fa fa-search fa-lg searhButton searchAsset" title="Search"></a> <span style="float:right; margin-right:20px;" id="winTitleAssignName">Assigned To:</span>
                        </div>
                        
                    </li>
                    <li>
                        <div >
                            <label style="float:right;" for="CLONE_NO">Number of Work Order: <span data-bind='text: woData().length'></span><span>&nbsp;&nbsp;&nbsp; <i data-bind="click: privRow" class="fc-slate-blue fa fa-backward" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<i style="margin-right:20px;" data-bind="click: nextRow" title="Click to display next 100" class="fc-slate-blue fa fa-forward" aria-hidden="true"></i></span> </label>
                        </div>
                        
                    </li>
                </ul>
                <br />
            </div>
            <div style="height:90%;">

                <div class=" scroll style-2 paddingPage">
                    <input type="hidden" name="WOLOADED" id="WOLOADED">
                    <input type="hidden" name="BTNACTION" id="BTNACTION">
                    <table self.searchWOResult id="itemsClone">
                        <thead>
                            <tr>
                                <th class='a'></th>
                                <th class='d'>WO No</th>
                                <th class='d'>Req. Date</th>
                                <th class='h'>Req. Type</th>
                                <th class='h'>Problem</th>
                                <th class='h'>Tag/Asset</th>                               
                                <th class='h'>Cost Center</th>
                                <th class='h' id="thStatus">Status</th>
                                <th class='h' id="thCloseDate">Close Date</th>
                                <th class='h'id="thAssignTo">Assign To</th>
                                <th class='h'id="thAssignDate">Assign Date</th>
                               

                            </tr>
                        </thead>
                        <tbody data-bind='foreach: woData'>
                            <tr data-bind="click: $parent.select">
                                <td class="a"><span data-bind='text: ROWCOUNT, uniqueName: true'></span></td>
                                <td class="d"><span data-bind='text: REQ_NO, uniqueName: true'></span></td>
                                <td class="d"><span data-bind='text: REQ_DATE, uniqueName: true'></span></td>
                                <td class="h"><span data-bind='text: PROBTYPEDESC, uniqueName: true'></span></td>
                                <td class="h"><span data-bind='text: PROBLEM, uniqueName: true'></span></td>
                                <td class="h"><span data-bind='text: ASSET_NAME, uniqueName: true'></span></td>
                                <td class="h"><span data-bind='text: COSTCENTER_NAME, uniqueName: true'></span></td>
                                <td data-bind='visible: BTNTYPE =="CLOSE"'>
                                    @*<select class="border-search"  data-bind='event: { change: $root.woModified($data , $index()) $root.checkIfCloseStatus($data, $index()) }, value:WO_STATUS'>*@
                                    <select class="border-search" data-bind='event: { change: function() { $root.woModified($data , $index()); $root.checkIfCloseStatus($data, $index()) } }, value: WO_STATUS'>
                                        <option value="CL">@Html.Raw(home_index.resx96)</option>
                                        <option value="FC">For Close</option>
                                        <option value="HA">@Html.Raw(home_index.resx297)</option>
                                        <option value="NE">@Html.Raw(home_index.resx210)</option>
                                        <option value="OP">@Html.Raw(home_index.resx211)</option>
                                    </select>
                                </td>
                                <td data-bind='visible: BTNTYPE =="CLOSE"'>
                                    <input class="datefield tcal" data-isdate="true" data-val="true" type="text" data-bind='event: { blur: $root.checkCloseDate($data, $index()) }, value: DISPLAY_CLOSED_DATE' placeholder="dd/mm/yyyy hh:mm" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">
                                </td>

                                <td data-bind='visible: BTNTYPE =="ASSIGN"'>

                                    <select id="ASSIGNTO" data-bind="options: staffLOV, optionsText:'STAFF_NAME', optionsValue:'STAFF_ID', optionsCaption: 'Please select...',event: { blur: $root.woModified($data , $index())}, value: ASSIGN_TO"></select>
                                </td>
                                <td data-bind='visible: BTNTYPE =="ASSIGN"' class="h"><span data-bind='text: ASSIGN_DATE, uniqueName: true'></span></td>
                               
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" style="margin-left:20px;">
                  
                    <a id="addConeButtonIcon" href="#" data-bind="click: applyUpdate" class="button-extbottom"><span>@Html.Raw(assetInfo.btnLabel_text13)</span></a>
                    <a href="#" data-bind="click: closeModal" class="button-extbottom"><span id="closeButtonIcon">@Html.Raw(assetInfo.btnLabel_text12)</span></a>

                </div>

            </div>
            <br />






        </div>
    </div>


    <div id="openModalFilter" class="modal-filter">
        <div>
            <a href="#" title="Close" class="close">X</a>
            <div class="modal-filter-header">
                <h2>@Html.Raw(home_index.resx69)</h2>
            </div>
            <div class="flex-item-2">
                <div class="filter-row">
                    <label>@Html.Raw(home_index.resx70)</label>
                    <div>
                        <div class="filter-row">@Html.Raw(home_index.resx71) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestFromDate" id="requestFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                        <div class="filter-row">@Html.Raw(home_index.resx72)<input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestStartDate" id="requestStartDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"> </div>
                    </div>
                </div>

                <div id="addButton">
                    <span class="button-extbottom" data-bind="event: {click: searchFilterNow}">@Html.Raw(home_index.resx95)</span>
                    <span class="button-extbottom" data-bind="event: {click: clearFilter}">@Html.Raw(home_index.resx97)</span>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(supplier.txtInfo_text1)',
                    errorTwo: '@Html.Raw(supplier.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(supplier.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(supplier.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(supplier.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(supplier.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(supplier.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(supplier.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(supplier.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(supplier.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(supplier.txtInfo_text11)',
                    searchStatusText: '@Html.Raw(supplier.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(supplier.txtInfo_text13)"

                };

                var myViewModel = new woResponsibleStaffViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

