﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.rptReportsWorkOrderReport)</title>
    <link href="~/Content/gridSystem.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/reports_woReptSummaryV3.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <link href="~/content/print.css" rel="stylesheet" />
    <link href="~/Content/loadingScreen.css" rel="stylesheet" />
    <script src="~/Scripts/tableSorter.js"></script>
    <script src="~/Scripts/excelexportjs.js"></script>

</head>
<body>
    <div class="no-print">
        <div>
            <header role="heading">
                <nav class="nav-main flex-container" role="navigation">
                    <div class="nav-site-map flex-item-2">
                        <ul class="align-left">
                            <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>Menu&nbsp;</a></li>

                            <li class="fc-white"><a href="">@Html.Raw(home_index.resx533)&nbsp;</a></li>
                        </ul>
                    </div>
                    <div class="nav-user-info flex-item-3">
                        <ul>
                            <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>
                        </ul>
                    </div>
                    <div class="nav-user-info flex-item-1">
                        <ul class="align-right">
                            <li class="fc-light-grey"><span id="spanUser">User</span></li>
                            <li class="fc-white">&nbsp;-&nbsp;</li>
                            <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="toolbox flex-container">

                    <div class="toolbox-left flex-item-3">
                        <ul class="align-right">
                            <li class="fs-medium-strong fc-slate-blue"><span id="fromToDate">@Html.Raw(home_index.textDatefromDateto)</span>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li class="fc-grey">
                                <select class="border-search" id="sumCategory" name="sumCategory">
                                    <option value="PM" selected="selected">@Html.Raw(home_index.textPMTypeStatusSummary)</option>
                                    <option value="SP" selected="selected">@Html.Raw(home_index.textSupplierStatusSummary)</option>
                                    <option value="AS" selected="selected">@Html.Raw(home_index.textAssetStatusSummary)</option>
                                    <option value="ASC" selected="selected">@Html.Raw(home_index.textCostCenterStatusSummary)</option>
                                    <option value="DT" selected="selected">@Html.Raw(home_index.textDeviceTypeStatusSummary)</option>
                                    <option value="CC" selected="selected">@Html.Raw(home_index.resx534)</option>
                                    <option value="RC" selected="selected">@Html.Raw(home_index.textJobTypeStatusSummary)</option>
                                    <option value="CB" selected="selected">@Html.Raw(home_index.textCreatedByStatusSummary)</option>
                                    <option value="AT" selected="selected">@Html.Raw(home_index.textAssignToStatusSummary)</option>
                                    <option value="AP" selected="selected">@Html.Raw(home_index.textAssignPersonCompanyStatusSummary)</option>
                                    <option value="WT" selected="selected">@Html.Raw(home_index.textWaitingTimeDetails)</option>
                                </select>
                            </li>
                            <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                            <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                            <li class="fc-slate-blue "> <a class="toolbarbutton" href="#"><span class="fs-large-normal">&nbsp;|&nbsp;  </span><span class="fs-large-normal "><i data-bind="click: showModalFilter" class="fa fa-caret-square-o-down"></i></span></a></li>
                            <li class="liPrint fc-slate-blue" id="excelexportId"><a data-bind="click: exportToExcel" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Save To Excel"><i class="fa fa-file-excel-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;Export To Excel</span>&nbsp;&nbsp;</a></li>
                            <li class="liPrint fc-slate-blue"><a data-bind="click: printSummary" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Click to Print"><i class="fa fa-print"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;Print</span>&nbsp;&nbsp;</a></li>

                        </ul>
                    </div>
                </div>
            </header>
            <div class="field-content-detail">
                <div class="divProgressScreen"></div>
                <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

                <br />
                <h1 id="contentHeader"></h1>
                <p id="contentSubHeader"></p>

            </div>
            <div class="home-content-detail">
                <div id="homeMessage">
                    <br />
                    <h1>@Html.Raw(home_index.resx536)</h1>
                    <ul>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.textPMTypeStatusSummary)</li>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.textSupplierStatusSummary)</li>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.textAssetStatusSummary)</li>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.textCostCenterStatusSummary)</li>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.textDeviceTypeStatusSummary)</li>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx537)</li>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.textJobTypeSummary)</li>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.textCreatedByStatusSummary)</li>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.textAssignToStatusSummary)</li>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.textAssignPersonCompanyStatusSummary)</li>
                        <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.textWaitingTimeDetails)</li>
                        <li><i class="fa fa-check"></i>&nbsp;You can export report to Excel... Max limeted to 6500 Record</li>
                        <li><i class="fa fa-check"></i>&nbsp;If You want to Export More than 6500 Record, Please Activate the download of multiple files in your Browser.</li>
                    </ul>
                </div>
            </div>

            <div class="search-content-detail">
                <div>
                    <input type="hidden" name="sortAction" id="sortAction">
                    <br />
                    <div style="margin-bottom: 50px;">
                        <h1 id="searchResultSummary" style="position: absolute;">Work Order Summary search results for ''. 6 Items found.</h1>
                        <h3 id="searchResultSummaryCount" style="float: right; padding-top: 15px;">Number of Record: 195</h3>
                    </div>
                    <div id="searchResultPMTypeList">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th class='h'><a href="#" title="Sort by Description">@Html.Raw(home_index.resx140)</a></th>
                                    <th class='a'><a href="#" title="Sort by Closed">@Html.Raw(home_index.resx207)</a></th>
                                    <th class='a'><a href="#" title="Sort by Hold">@Html.Raw(home_index.resx297)</a></th>
                                    <th class='a'><a href="#" title="Sort by New">@Html.Raw(home_index.textNew)</a></th>
                                    <th class='a'><a href="#" title="Sort by Open">@Html.Raw(home_index.resx211)</a></th>
                                    @*<th class='a'><a href="#" title="Sort by Posted">@Html.Raw(home_index.resx212)</a></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                            </tbody>

                        </table>
                    </div>
                    <div id="searchResultList">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th class='d not-sorted'>@Html.Raw(home_index.txtTableFirstColumn)</th>
                                    <th class='h'><a href="#" title="Sort by Description">@Html.Raw(home_index.resx140)</a></th>
                                    <th class='a'><a href="#" title="Sort by Closed">@Html.Raw(home_index.resx207)</a></th>
                                    <th class='a'><a href="#" title="Sort by Hold">@Html.Raw(home_index.resx297)</a></th>
                                    <th class='a'><a href="#" title="Sort by New">@Html.Raw(home_index.textNew)</a></th>
                                    <th class='a'><a href="#" title="Sort by Open">@Html.Raw(home_index.resx211)</a></th>
                                    @*<th class='a'><a href="#" title="Sort by Posted">@Html.Raw(home_index.resx212)</a></th>*@

                                </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                            </tbody>

                        </table>
                    </div>
                    <div id="searchResultStaffList">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th class='d not-sorted'>@Html.Raw(home_index.resx611)</th>
                                    <th class='align-center'><a href="#" title="Sort by Staff Name">@Html.Raw(home_index.textName)</a></th>
                                    <th class='align-center'><a href="#" title="Sort by Closed">CM @Html.Raw(home_index.resx207)</a></th>
                                    <th class='align-center'><a href="#" title="Sort by PM Closed">PM @Html.Raw(home_index.resx207)</a></th>
                                    <th class='align-center'><a href="#" title="Sort by Hold">CM @Html.Raw(home_index.resx297)</a></th>
                                    <th class='align-center'><a href="#" title="Sort by PM Hold">PM @Html.Raw(home_index.resx297)</a></th>
                                    <th class='align-center'><a href="#" title="Sort by CM New">CM @Html.Raw(home_index.textNew)</a></th>
                                    <th class='align-center'><a href="#" title="Sort by PM New">PM @Html.Raw(home_index.textNew)</a></th>
                                    <th class='align-center'><a href="#" title="Sort by CM Open">CM @Html.Raw(home_index.resx211)</a></th>
                                    <th class='align-center'><a href="#" title="Sort by PM Open">PM @Html.Raw(home_index.resx211)</a></th>
                                    <th class='align-center'><a href="#" title="Sort by CM For Close">CM For Close</a></th>
                                    <th class='align-center'><a href="#" title="Sort by PM For Close">PM For Close</a></th>
                                    <th class='align-center'><a href="#" title="Sort by over due date">Over Due</a></th>
                                    <th class='align-center'><a href="#" title="Sort by Over Due Open">Over Due Open</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                            </tbody>

                        </table>
                    </div>
                    <div id="searchResultAssignTypeList">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th class='h'><a href="#" title="Sort by Description">@Html.Raw(home_index.resx140)</a></th>
                                    <th class='a'><a href="#" title="Sort by Closed">@Html.Raw(home_index.resx207)</a></th>
                                    <th class='a'><a title="Sort by Hold">@Html.Raw(home_index.resx297)</a></th>
                                    <th class='a'><a title="Sort by New">@Html.Raw(home_index.textNew)</a></th>
                                    <th class='a'><a href="#" title="Sort by Open">@Html.Raw(home_index.resx211)</a></th>
                                    @*<th class='a'><a href="#" title="Sort by Posted">@Html.Raw(home_index.resx212)</a></th>*@

                                </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                            </tbody>

                        </table>
                    </div>
                    <div id="searchResultWOList">
                        <label class="no-print">@Html.Raw(home_index.textcal1)</label>
                        <label class="no-print">@Html.Raw(home_index.textcal2) </label>
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th class='a'><a href="#">@Html.Raw(home_index.textWorkOrderNo)</a></th>
                                    <th class='h'><a href="#">@Html.Raw(home_index.resx83)</a></th>
                                    <th class='d'><a href="#">@Html.Raw(home_index.resx246)</a></th>
                                    <th class='d'><a href="#">@Html.Raw(home_index.textCreatedBy)</a></th>
                                    <th class='a'><a href="#">@Html.Raw(home_index.textAssetNo)</a></th>
                                    <th class='a '><a href="#">@Html.Raw(home_index.resx89)</a></th>
                                    <th class='a'><a href="#">@Html.Raw(home_index.resx70)</a></th>
                                    <th class='a'><a href="#"> @Html.Raw(home_index.resx187)</a></th>
                                    <th class='a '><a href="#">@Html.Raw(home_index.textWaitingTimeHours)</a></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>

            <style>
                #openModalFilter > div {
                    width: 600px;
                }

                #openModalFilter .row {
                    margin-left: 5px;
                }

                #openModalFilter .aline {
                    padding-left: 0px;
                }

                #openModalFilter .filter-row input, #openModalFilter .filter-row select {
                    min-width: 250px;
                }
            </style>

            <div id="openModalFilter" class="modal-filter">
                <div>
                    <a href="#" title="Close" class="close">X</a>
                    <div class="modal-filter-header">
                        <h2>@Html.Raw(home_index.resx69)</h2>
                    </div>
                    <div class="flex-item-2">
                        <div class="row">
                            <label>@Html.Raw(home_index.resx70)</label>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 aline">
                                <div class="filter-row">@Html.Raw(home_index.resx71) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestFromDate" id="requestFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 aline">
                                <div class="filter-row">@Html.Raw(home_index.resx72)<input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestStartDate" id="requestStartDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"> </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 aline">
                                <div class="filter-row">
                                    <span class="from-text">Cost Center</span>
                                    <input type="text" name="costcenterStr" list="costcenterStrList" id="costcenterStr" data-bind="value:searchFilter.CostCenterStr" placeholder="@Html.Raw(home_index.resx58)">
                                    <datalist id="costcenterStrList">
                                        <option value="" id="">

                                    </datalist>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 aline">
                                <div class="filter-row">
                                    <span class="from-text">Supplier</span>
                                    <input type="text" name="supplierStr" list="supplierStrList" id="supplierStr" data-bind="value:searchFilter.SupplierStr" placeholder="@Html.Raw(home_index.resx58)">
                                    <datalist id="supplierStrList">
                                        <option value="" id="">

                                    </datalist>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 aline">
                                <div class="filter-row">
                                    <span class="from-text">@Html.Raw(home_index.resx219)</span>
                                    <select class="border-search" data-bind="value:searchFilter.problemType" id="filterProblemType" name="filterProblemType" title="Select a Problem Type">
                                        <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 aline">
                                <div class="filter-row" id="PMTYPE">
                                    <span class="from-text" id="filterPMTypelable">PM Type</span>
                                    <select class="border-search" data-bind="value:searchFilter.pmtype" id="filterPMType" name="filterPMType">
                                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                        <option value="Loan">Loan</option>
                                        <option value="Service Contract">Service Contract</option>
                                        <option value="Warranty">Warranty</option>
                                        <option value="Biomedical">Biomedical</option>
                                        @*<option value="KAUH Service Contract">KAUH Service Contract</option>*@
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 aline">
                                <div class="filter-row">
                                    <span class="from-text">@Html.Raw(home_index.resx89)</span>
                                    <select class="border-search" data-bind="value:searchFilter.status" id="filterStatus" name="filterStatus">
                                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                        <option value="PSOP" selected="selected">New/Open</option>
                                        <option value="CL">@Html.Raw(home_index.resx207)</option>
                                        <option value="HA">@Html.Raw(home_index.resx297)</option>
                                        <option value="NE">@Html.Raw(home_index.resx210)</option>
                                        <option value="OP">@Html.Raw(home_index.resx211)</option>
                                        <option value="FC">For Close</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 aline">
                                <div class="filter-row">
                                    <span class="from-text">@Html.Raw(home_index.resx221)</span>
                                    <select class="border-search" data-bind="value:searchFilter.priority" id="filterPriority" name="filterPriority" title="Select a Priority">
                                        <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 aline">
                                <div class="filter-row">
                                    <span class="from-text">@Html.Raw(home_index.resx222)</span>
                                    <select class="border-search" data-bind="value:searchFilter.jobType" id="filterJobType" name="filterJobType" title="Select a Job Type">
                                        <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 aline">
                                <div class="filter-row">
                                    <span class="from-text">Assign To</span>
                                    <select class="border-search" data-bind="value:searchFilter.assignTo" id="filterAssignTo" name="filterAssignTo" title="Select Assign To">
                                        <option value="" selected="selected"> @Html.Raw(home_index.resx58)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 aline">
                                <div class="filter-row">
                                    <span class="from-text">Assign Person/Company</span>
                                    <select class="border-search" data-bind="value:searchFilter.assignType" id="filterAssignType" name="filterAssignType">
                                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                                        <option value="COMPANY">@Html.Raw(othresource.resx_outsourced)</option>
                                        <option value="PERSON">@Html.Raw(home_index.resx259)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 aline">
                            </div>
                        </div>

                        <div id="addButton">
                            <span class="button-extbottom" data-bind="event: {click: searchFilterNow}">@Html.Raw(home_index.resx95)</span>
                            <span class="button-extbottom" data-bind="event: {click: clearFilter}">@Html.Raw(home_index.resx97)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="loadingBackground">
                <div class="dark-bg">
                    <div class="sk-circle">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                        <div class="sk-circle9 sk-child"></div>
                        <div class="sk-circle10 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="dvjson"></div>
    <iframe id="txtArea1" style="display:none"></iframe>

    <div class="print container" id="printSummary">
        <table>
            <thead>
                <tr>
                    <th style="width: 47%; display:inline-block;text-align:left;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING3" class="fs-medium-strong"></p>
                    </th>
                    <th style="width: 6%; display:inline-block;border: 0 none;">
                        <span style="width:100%;clear:both;margin:0 auto;">
                            <img class="client_logo" data-bind="attr:{src: clientDetails.CLIENT_LOGO}" style="height:60px; width:80px;" align="middle" />
                        </span>
                        <span style="width:100%;clear:both;text-align:center;">
                            <img class="client_logo" data-bind="attr:{src: clientDetails.COMPANY_LOGO}" style="height:40px; width:70px;" align="middle" />
                        </span>
                    </th>
                    <th style="width: 47%; display:inline-block;text-align:right;border: 0 none;">
                        <p data-bind="text: clientDetails.HEADING_OTH" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH2" class="fs-medium-strong"></p>
                        <p data-bind="text: clientDetails.HEADING_OTH3" class="fs-medium-strong"></p>
                        <img class="client_logo" src="" id="CLIENT_LOGO" name="CLIENT_LOGO" style="height:80px; width:100px; " hidden />
                    </th>
                </tr>
                <tr style="display: flex;">
                    <th style="border: 0 none; width: 30%;">

                    </th>
                    <th style="border: 0 none; width: 60%; text-align: center;">
                        <span class="fs-large-strong" data-bind="text: assetCategory.title">Asset Information</span>
                    </th>
                    <th style="border: 0 none; width: 30%; text-align: right; margin-top: 10px; padding-right: 0px;">
                        <span class="fs-smaill-normal" data-bind="text: assetCategory.count">No. of Records: 139</span>
                    </th>
                </tr>
            </thead>
            <tbody style="border-top: .5px solid #d2d9de;">
                <tr style="width: 850px; border-color:transparent;">
                    <td style="width: 850px; border-color:transparent;">
                        <div id="printSearchResultList">

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">
        $(document).ready(

            function () {
                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(supplier.txtInfo_text1)',
                    errorTwo: '@Html.Raw(supplier.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(supplier.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(supplier.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(supplier.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(supplier.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(supplier.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(supplier.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(supplier.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(supplier.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(supplier.txtInfo_text11)',
                    searchStatusText: '@Html.Raw(supplier.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(supplier.txtInfo_text13)"

                };

				var myViewModel = new woReptSummaryViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

