﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>Reports - Work Order By Responsible</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
		document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/reports_workOrderByEngrReptV3.js"></script>
    <script src="/Scripts/calendar_picker.js"></script>
    <script src="~/Scripts/moment.js"></script>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>Menu&nbsp;</a></li>

                    <li class="fc-white"><a href="">Reports - Work Order By Responsible&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">User</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">

            <div class="toolbox-left flex-item-1">
                <ul class="align-right">
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                    <li class="fc-slate-blue "> <a class="toolbarbutton" href="#"><span class="fs-large-normal">&nbsp;|&nbsp;  </span><span class="fs-medium-normal "><i data-bind="click: showModalFilter" class="fa fa-caret-square-o-down"></i></span></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>

    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>Hello, Welcome to Purchase Request By Items Report</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;Search By Status</li>
                <li><i class="fa fa-check"></i>&nbsp;Search by Date Criteria</li>
                <li><i class="fa fa-check"></i>&nbsp;Search by Parts</li>
            </ul>
        </div>
    </div>

    <div class="search-content-detail">
        <div>
            <input type="hidden" name="sortAction" id="sortAction">
            <br />
            <h1 id="searchResultSummary">Purchase Request By Items search results for ''. 6 Items found.</h1>
            <div id="searchResultList">
                <table>
                    <thead>
                        <tr>
                            <th class='d'>Code</th>
                            <th class='h'><a data-bind="click: sortTable" href="#" title="Sort by Description" id="tcDescription">Description</a></th>
                            <th class='a'><a data-bind="click: sortTable" href="#" title="Sort by Closed" id="tcActive">Req. Date</a></th>
                            <th class='a'><a data-bind="click: sortTable" href="#" title="Sort by Field Access" id="tcInService">Req. No.</a></th>
                            <th class='a'><a data-bind="click: sortTable" href="#" title="Sort by Field Access" id="tcInService">Req.Status</a></th>
                            <th class='a'><a data-bind="click: sortTable" href="#" title="Sort by Held" id="tcMissing">Qty Req.</a></th>
                            <th class='a'><a data-bind="click: sortTable" href="#" title="Sort by New" id="tcInActive">PO No.</a></th>
                            <th class='a'><a data-bind="click: sortTable" href="#" title="Sort by Open" id="tcOtService">PO Status</a></th>
                            <th class='a'><a data-bind="click: sortTable" href="#" title="Sort by Posted" id="tcRetired">Qty PO</a></th>
                            <th class='a'><a data-bind="click: sortTable" href="#" title="Sort by Posted" id="tcRetired">Unit Price</a></th>
                            <th class='a'><a data-bind="click: sortTable" href="#" title="Sort by Posted" id="tcRetired">Qty Received</a></th>
                            <th class='h'><a data-bind="click: sortTable" href="#" title="Sort by Description" id="tcDescription">Supplier</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>

                </table>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>

    <div id="openModalFilter" class="modal-filter">
        <div>
            <a href="#" title="Close" class="close">X</a>
            <div class="modal-filter-header">
                <h2>Advanced Filter</h2>
            </div>
            <div class="flex-item-2">
                <div class="filter-row">
                    <label>Request Date: </label>
                    <div>
                        <div class="filter-row">From: <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestFromDate" id="requestFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                        <div class="filter-row">To:<input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestStartDate" id="requestStartDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"> </div>
                       
                    </div>
                </div>

                <div id="addButton">
                    <span class="button-extbottom" data-bind="event: {click: searchFilterNow}">Apply</span>
                    <a data-bind="event: {click: clearFilter}" href="#" class="button-extbottom"><span>Close</span></a>
                    <span class="button-extbottom" data-bind="event: {click: clearFilter}">Clear</span>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(purchaseRequestByItems.txtInfo_text1)',
                    errorTwo: '@Html.Raw(purchaseRequestByItems.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(purchaseRequestByItems.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(purchaseRequestByItems.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(purchaseRequestByItems.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(purchaseRequestByItems.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(purchaseRequestByItems.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(purchaseRequestByItems.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(purchaseRequestByItems.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(purchaseRequestByItems.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(purchaseRequestByItems.txtInfo_text11)',
                    searchStatusText: '@Html.Raw(purchaseRequestByItems.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(purchaseRequestByItems.txtInfo_text13)"

                };

                var myViewModel = new workOrderByEngrReptViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

