﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx292)</title>
    <link rel="icon" type="image/png" href="/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/emessages.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/core.js"></script>
    <script src="/Scripts/emessages_indexV6.js"></script>
    <link href="/Content/modalAlert.css" rel="stylesheet" />


</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey"> <a data-bind="click: returnHome" href="#"><i class="fa fa-list"></i>Menu&nbsp;</a></li>
                    <li class="fc-white"><a href="">Tickets&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name" data-bind="visible: clientInfo.isVisible !=true"> @Html.Raw(home_index.header_title_text)</li>
                    <li class="hospital-name" data-bind="visible: clientInfo.isVisible"> <img id="imgLogo" data-bind="attr:{src: clientInfo.clientLogo}" alt="" height="35" width="35">&nbsp; <span class="fs-large-normal" data-bind="text: clientInfo.Description"></span></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">User</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-2">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Click to create new"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.textNewIssue)</span>&nbsp;&nbsp;</a></li>
                    <li class="liClose fc-slate-blue"><a data-bind="click: updateAccepted" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Ticket Information"><i class=" fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;Accepted/Close</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifyHelpDesk" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Ticket Information"><i class=" fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(home_index.resx5)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to home page"><i class=" fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx6)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class=" fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx7)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(home_index.resx8)</span></li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>

           
        </div>
    </header>
    <div class="divInfo">@Html.Raw(home_index.resx22): &nbsp;<span class="fs-medium-normal" id="TICKETNO"></span></div>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        <div id="openModalAlert" class="modalAlert">

            <div>
                <div class="modalAlert-content">
                    <div class="modalAlert-header">

                        <h2>@Html.Raw(home_index.resx482)</h2>
                    </div>
                    <div class="modalAlert-body">
                        <br />
                        <p id="alertmessage">@Html.Raw(assetInfo.pLabel_text2)</p>
                        <br />
                    </div>
                    <div class="modalAlert-footer">

                        <a href="#" data-bind="click: closeAlertModal"><span class="fc-red fs-medium-strong">@Html.Raw(home_index.resx483)</span></a>
                    </div>
                </div>


            </div>

        </div>
		<div id="openModal" class="modalwidth3">
			<div>
				<a href="#close" title="Close" class="close">X</a>
				<br />
                <p>Please search asset to proceed.</p>
				<div class="flex-item-2">
					<input type="hidden" name="actionButton" id="actionButton">
					<input type="hidden" name="pageNum" id="pageNum">
					<input type="hidden" name="pageCount" id="pageCount">
					<ul class="align-left">
						<li class="fc-grey">
							&nbsp;&nbsp;&nbsp;<input data-bind="event: { change: pageLoader } " type="search" placeholder="search assetno/description/serialno" id="txtGlobalSearchOth" />
							&nbsp;<a data-bind="click: assetSearchListNow" class="fc-slate-blue fa fa-search fa-lg searhButton searchAsset" title="Search"></a>
							
						</li>

					</ul>
				</div>

				<div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchResult1">
                    <h2 id="noresult" style="color:red;">@Html.Raw(home_index.resx145)</h2>
					<ul>
						<li><i></i>&nbsp;</li>

					</ul>
				</div>
				<br />

			</div>
		</div>
        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <div class="flex-container flex-wrap">
          
            <div class="flex-item-3 flex-field-container messageEntry">
                <form id="frmMessage" data-bind="submit: saveMessageDetails">
                    <div class="flex-container flex-wrap ">
                        <div class="flex-item-1 flex-field-container">
                            <h2 class="fc-slate-blue fs-large-strong">Question/Problem Information</h2>
                            <div class="flex-container flex-wrap ">
                                <br />
								<input type="hidden" name="ASSET_NO" id="ASSET_NO">
                                <div class="flex-item-1 flex-field-container">
                                    <input type="hidden" name="TICKET_ID" id="TICKET_ID">
									<input type="hidden" name="REQ_STAFF_ID" id="REQ_STAFF_ID">
									<input type="hidden" name="COST_CENTER" id="COST_CENTER">
                                    <label for="CONTACT_PERSON">Contact Person:</label>
                                    <input type="text" name="CONTACT_PERSON" id="CONTACT_PERSON" placeholder=""  required="required"><br />
                                    <label for="ISSUE_DATE">Date:</label>
                                    <input data-isdatetime="true" type="text" name="ISSUE_DATE" id="ISSUE_DATE"  readonly pattern="^(((0[1-9]|[12]\d|3[01])[\/\.-](0[13578]|1[02])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|[12]\d|30)[\/\.-](0[13456789]|1[012])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|1\d|2[0-8])[\/\.-](02)[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((29)[\/\.-](02)[\/\.-]((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])))$"><br />
									<label for="ASSET_DESC">Asset:</label>
									<input type="text" name="ASSET_DESC" id="ASSET_DESC" placeholder="" required="required" readonly>&nbsp;<a data-bind="click: assetSearchNow" class="fc-slate-blue fa fa-search fa-lg searhButton searchAsset" title="Add Asset"></a><br />

                                </div>

                                <div class="flex-item-1 flex-field-container">
									<label for="REQ_STAFF_DESC">Requestor:</label>
									<input type="text" name="REQ_STAFF_DESC" id="REQ_STAFF_DESC" placeholder="" required="required" readonly><br />
                                    <label for="CONTACT_NO">Contact No:</label>
                                    <input type="text" name="CONTACT_NO" id="CONTACT_NO" placeholder="" required="required" ><br />
                                    <label for="LOCATION">Location:</label>
                                    <input type="text" name="LOCATION" id="LOCATION" placeholder="" required="required" ><br />
									<label for="STATUS">Status:</label>
									<select class="border-search" id="STATUS" name="STATUS" readonly>
										<option value="" selected="selected">-select-</option>
										<option value="OPEN">Open</option>
										<option value="CANCELLED">Cancelled</option>
										<option value="PENDING">Pending</option>
										<option value="ONHOLD">On-Hold</option>
										<option value="COMPLETED">Completed</option>
									</select>
                                </div>

                            </div>
                            <div class="flex-container flex-wrap ">
                                <div>
                                   
                                    <br />
                                    

                                    <label for="ISSUE_DETAILS">Write your Question/Problem</label>
                                    <textarea id="ISSUE_DETAILS" name="ISSUE_DETAILS" placeholder="" required="required" pattern="^[0-9]*$"></textarea><br /><br />

                                    <label for="STEPDETAILS">Steps to replicate the problem(if possible)</label>
                                    <textarea id="STEPDETAILS" name="STEPDETAILS" placeholder="" pattern="^[a-z0-9].*"></textarea><br /><br />


                                </div>

                            </div>
                        </div>
                        <div class="flex-item-1 flex-field-container" id="helpDeskAction">
                            <h2 class="fc-slate-blue fs-large-strong">Action Information</h2>
                            <div class="flex-container flex-wrap ">
                                <div class="flex-item-1 flex-field-container">
                                    
                                    <label for="ASSIGN_TO">Assign To:</label>
                                    <select class="border-search" id="ASSIGN_TO" name="ASSIGN_TO" readonly="readonly" data-bind="event: { change: populateAssignDate }">
                                        <option value="" selected="selected">-select-</option>
                                        
                                    </select><br />
                                    <label for="ASSIGN_DATE">Assigned Date:</label>
                                    <input data-isdatetime="true" type="text" name="ASSIGN_DATE" id="ASSIGN_DATE" readonly pattern="^(((0[1-9]|[12]\d|3[01])[\/\.-](0[13578]|1[02])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|[12]\d|30)[\/\.-](0[13456789]|1[012])[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((0[1-9]|1\d|2[0-8])[\/\.-](02)[\/\.-]((19|[2-9]\d)\d{2})\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]))|((29)[\/\.-](02)[\/\.-]((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))\s(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])))$"><br />

									<label for="Priority">Priority:</label>
									<select class="border-search" id="PRIORITY" name="PRIORITY">
										<option value="" selected="selected">-select-</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select><br />
									<label for="CATEGORY">Problem Category:</label>
									<input type="text" name="CATEGORY" id="CATEGORY" placeholder=""><br />
                                </div>

                                <div class="flex-item-1 flex-field-container">

									<label for="REF_WO">Reference Work Order:</label>
									<input type="text" name="REF_WO" id="REF_WO" placeholder=""><br />
									<label for="WO_STATUS">Work Order Status:</label>
									<select class="border-search" id="WO_STATUS" name="WO_STATUS">
										<option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
										<option value="CL">Completed</option>									
										<option value="HA">On-Hold</option>
										<option value="NE">New</option>
										<option value="OP">Open</option>
										<option value="PS">Posted</option>
									</select><br />
									<label for="WO_CLOSEDDATE">Work Order Closed Date:</label>
									<input type="text" name="WO_CLOSEDDATE" id="WO_CLOSEDDATE" placeholder=""><br />
                                    
                                    
                                </div>
                               
                            </div>
                            <div class="flex-container flex-wrap ">
                                <div>
                                   
                                   
                                    
                                    <br />
                                    

                                    <label for="ACTION_DETAILS">Action Details</label>
                                    <textarea id="ACTION_DETAILS" name="ACTION_DETAILS" placeholder=""></textarea><br /><br />

                                    


                                </div>

                            </div>
                        </div>
                    </div>
                        <button type="submit" id="saveMessage" class="hidden"></button>
</form>
            </div>
        </div>

        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(home_index.resx300)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx301)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx302)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">Client Tickets search results for 'ahmed'. 6 Items found.</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">k</a>
                        <span class="searchRowLabel1 searchRowLabel">Short Description: <span class="searchRowData">CPED</span></span>
                        <span class="searchRowLabel2 searchRowLabel">Description: <span class="searchRowData">Pediatric</span></span>
                        <span class="searchRowLabel3 searchRowLabel">Other Description: <span class="searchRowData">OTH</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: 'There seems to be a problem in the system. We will now redirect you to the logon page to avoid further issues.\n\r" {0} "\n\rSorry for the inconvenience.',
                    errorTwo: 'Server not available, please try again later',
                    addModeHeader: 'Ticket Details',
                    addModeSubHeader: 'Please provide all required information before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    updateModeHeader: 'Update Ticket Details',
                    updateModeSubHeader: 'Please provide all required information before <i class=" fa fa-floppy-o"></i> saving. Click the <i class=" fa fa-undo"></i> cancel button to abort.',
                    saveModeStatusText: 'Please wait while saving . . .',
                    saveSuccessMessage: 'Record Successfully Saved!',
                    readModeStatusText: 'Please wait while getting Ticket information . . .',
                    displayModeHeader: 'Tickets',
                    displayModeSubHeader: 'Click the <i class=" fa fa-edit"></i>edit button to modify Ticket details',
                    searchModeStatusText: 'Please wait while searching . . .',
                    searchModeHeader: "Client Tickets search results for '{0}'. {1} Items found.",
                    searchModeLabels: {
                        idDebtor: '@Html.Raw(home_index.resx22)',
                        asset: '@Html.Raw(home_index.resx91)',
                        contactPerson: '@Html.Raw(home_index.resx202)',
                        contactNo: '@Html.Raw(home_index.resx15)',
                        location: 'Location',
						status: '@Html.Raw(home_index.resx89)',
						buildingName: '@Html.Raw(home_index.resx86)',
						locationName: 'Location',
						conditionName: '@Html.Raw(home_index.resx88)',
                        statusName: '@Html.Raw(home_index.resx89)',
                        costCenter: 'Cost Center',
                        dueDate: 'Due Date',
                        supplier: 'Supplier',
                        serialNo: 'Serial No'
                    }
                };

                var myViewModel = new emessagesViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

