﻿@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx682)</title>
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/setup_staff_positions.js"></script>
    @*<script src="~/scripts/authentication.js"></script>*@

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">@Html.Raw(home_index.resx683)&nbsp; </li>
                    <li class="fs-medium-normal fc-white">/</li>
                    <li class="fc-white"><a href="/Setup/StaffPositions">@Html.Raw(home_index.resx684)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx630)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-2">
                <ul class="align-left">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNewClientRule" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create New Client Rule"><i class=" fa fa-file-text-o"></i>&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifyClientRuleDetails" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify client rule details"><i class=" fa fa-edit"></i>&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to home page"><i class=" fa fa-arrow-circle-o-left"></i>&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class=" fa fa-floppy-o"></i>&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(home_index.resx8)</span></li>
                </ul>
            </div>
            
            <div class="toolbox-right flex-item-1">
                <ul class="align-right">
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="  Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        
        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmClientRule" data-bind="submit: saveClientRuleDetails">
            <div class="flex-container flex-wrap">
                <div class="flex-item-1 flex-field-container">
                    <br />
                    <input type="hidden" name="CLIENT_RULE_ID" id="CLIENT_RULE_ID">
                    
                    <label for="DESCRIPTION">@Html.Raw(home_index.resx38)</label>
                    <input type="text" name="DESCRIPTION" id="DESCRIPTION" placeholder=""><br /><br />
                    
                    <label for="DESCRIPTION_OTH">@Html.Raw(home_index.resx40)</label>
                    <input type="text" name="DESCRIPTION_OTH" id="DESCRIPTION_OTH" placeholder=""><br /><br />

                    <label for="CLIENT_RULE_VALUE">@Html.Raw(home_index.resx685)</label>
                    <input type="text" name="CLIENT_RULE_VALUE" id="CLIENT_RULE_VALUE" placeholder=""><br /><br />

                </div>
            </div>
            <button type="submit" id="saveClientRule" class="hidden"></button>
        </form>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(home_index.resx686)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx687)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_index.resx688)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx689)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">@Html.Raw(home_index.resx630)</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx690) <span class="searchRowData">@Html.Raw(home_index.resx633)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx691)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx692)<span class="searchRowData">@Html.Raw(home_index.resx693)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx635)</span></span>
                        
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>&copy; @Html.Raw(home_index.resx657)</p>
        </div>
    </footer>
    <script type="text/javascript">

       

        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(home_index.resx17)',
                    errorTwo: '@Html.Raw(home_index.textinfo_errorTwo)',
                    addModeHeader: '@Html.Raw(home_index.resx694)',
                    addModeSubHeader: '@Html.Raw(home_index.resx20)',
                    updateModeHeader: '@Html.Raw(home_index.resx695)',
                    updateModeSubHeader: '@Html.Raw(home_index.resx20)',
                    saveModeStatusText: '@Html.Raw(home_index.resx23)',
                    saveSuccessMessage: '@Html.Raw(home_index.resx24)',
                    readModeStatusText: '@Html.Raw(home_index.resx696)',
                    displayModeHeader: '@Html.Raw(home_index.resx697)',
                    displayModeSubHeader: '@Html.Raw(home_index.resx698)',
                    searchModeStatusText: '@Html.Raw(home_index.resx28)',
                    searchModeHeader: "@Html.Raw(home_index.resx699)",
                    searchModeLabels: {
                        idStaffPosition: '@Html.Raw(home_index.resx700)',
                        descriptionshortname: '@Html.Raw(home_index.resx36)',
                        descriptionname: '@Html.Raw(home_index.resx140)',
                        descriptionothname: '@Html.Raw(home_index.resx40)'
                    }
                };

               // var myViewModel = new staffpositionsViewModel(textInfo);
              //  ko.applyBindings(myViewModel);
            }
        );

    </script>
</body>
</html>

