﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(staffPositions.staffPositions_title)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <script src="/Scripts/resize.js"></script>
    <script src="/Scripts/ckeditor.js"></script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/setup_costcenter.js"></script>
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <style>
        table .btn-action {
            width: 25px;
            min-width: 25px;
            max-width: 25px;
        }
    </style>
</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>
                    <li class="fc-white"><a href="">@Html.Raw(staffPositions.nav_site_map_ul_li_2_text)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx630)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(staffPositions.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-1">
                <ul class="align-right">
                    <li class="liCreateStore fc-slate-blue"><a data-bind="click: createNewStore" class="linkBtnCreateStore toolbarbutton fs-large-normal" href="#" title="Create New Store"><i class="fa fa-file-text-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staffPositions.toolbox_left_ul_li_linkBtnCreateStore_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Cost Center"><i class="fa fa-file-text-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staffPositions.toolbox_left_ul_li_linkBtnAddNew_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifyCostCenter" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Cost Center Information"><i class=" fa fa-edit"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staffPositions.toolbox_left_ul_li_linkBtnModify_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to home page"><i class=" fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staffPositions.toolbox_left_ul_li_linkBtnSaveCancel_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staffPositions.toolbox_left_ul_li_linkBtnSaveAll_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(staffPositions.toolbox_left_ul_li_status_text_text)</span></li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="@Html.Raw(staffPositions.toolbox_rightul_li_txtGlobalSearch_text)" id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmCostCenter" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">
                <div class="flex-item-1 flex-field-container">
                    <input type="hidden" name="CODEID" id="CODEID">
                    <input type="hidden" name="LOGOPATH" id="LOGOPATH">
                    <label for="COSTCENTER_IMAGE">@Html.Raw(staffPositions.label_01)</label>
                    <img src="" id="COSTCENTER_IMAGE" name="COSTCENTER_IMAGE" style="height:150px; width:150px;" /><br />
                    <input style="height:50px;" type="file" accept="image/jpeg, image/png, image/gif" id="imageInfo" name="imageInfo" /><br /><br />
                    <select id="COSTCENTERTYPE" name="COSTCENTERTYPE" required="required">
                        <option value="">- select -</option>
                        <option value="SC">Sub Client</option>
                        <option value="MC">Client</option>
                    </select>

                    @*<label for="CODEID">@Html.Raw(staffPositions.label_02)</label>
                    <input type="text" name="CODEID" id="CODEID" placeholder="" required="required"><br />*@

                    <label for="SHORTNAME">@Html.Raw(staffPositions.label_03)</label>
                    <input type="text" name="SHORTNAME" id="SHORTNAME" placeholder="" required="required"><br />

                    <label for="DESCRIPTION">@Html.Raw(staffPositions.label_04)</label>
                    <textarea name="DESCRIPTION" id="DESCRIPTION" placeholder="" required="required"></textarea> <br />

                    <label for="DESCRIPTIONOTH">@Html.Raw(staffPositions.label_05)</label>
                    <textarea name="DESCRIPTIONOTH" id="DESCRIPTIONOTH" placeholder=""></textarea> <br />
                </div>
                <div class="flex-item-1 flex-field-container">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <label for="ADDRESS">@Html.Raw(staffPositions.label_06)</label>
                    <textarea name="ADDRESS" id="ADDRESS" placeholder=""></textarea> <br />

                    <label for="CITY">@Html.Raw(home_index.resx12)</label>
                    <input type="text" name="CITY" id="CITY" placeholder=""><br />

                    <label for="STATE">@Html.Raw(home_index.resx14)</label>
                    <input type="text" name="STATE" id="STATE" placeholder=""><br />

                    <label for="CONTACTNO">@Html.Raw(home_index.resx15)</label>
                    <input type="text" name="CONTACTNO" id="CONTACTNO" placeholder=""><br />

                    <label for="CONTACTNO2">@Html.Raw(home_index.resx16)</label>
                    <input type="text" name="CONTACTNO2" id="CONTACTNO2" placeholder=""><br />

                    <label for="EMAILADDRESS">@Html.Raw(supplier.frmInfo_input_text15):</label>
                    <input type="email" name="EMAILADDRESS" id="EMAILADDRESS" placeholder=""><br /><br />

                    <label for="STATUS">@Html.Raw(home_index.txtStatus):</label>
                    <select id="STATUS" name="STATUS" required="required">
                        <option value="Y">@Html.Raw(home_index.resx199)</option>
                        <option value="N">@Html.Raw(home_index.resx200)</option>
                    </select>
                </div>
                <div class="flex-item-1 flex-field-container">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <label for="CONTACTPERSON">@Html.Raw(staffPositions.label_07)</label>
                    <input type="text" name="CONTACTPERSON" id="CONTACTPERSON" placeholder=""><br />

                    <label for="CONTACTPERSONCONTACTNO">@Html.Raw(staffPositions.label_08)</label>
                    <input type="text" name="CONTACTPERSONCONTACTNO" id="CONTACTPERSONCONTACTNO" placeholder=""><br />

                    <label for="CONTACTPERSONEMAILADD">@Html.Raw(staffPositions.label_09)</label>
                    <input type="email" name="CONTACTPERSONEMAILADD" id="CONTACTPERSONEMAILADD" placeholder=""><br />

                    <div id="CLIENT_CONTAINER">
                        <label>@Html.Raw(staffPositions.label_10)</label>
                        <input type="text" placeholder="No Store Linked" data-bind="value: unsaveStore.DESCRIPTION" disabled="disabled"><br />
                    </div>
                    <div id="SUBCLIENT_CONTAINER">
                        <label for="CLIENT_NAME">@Html.Raw(home_index.resx811):</label>
                        <input type="text" placeholder="No Store Linked" data-bind="value: costcenterClient.DESCRIPTION" disabled="disabled"><br />
                    </div>
                </div>
                <div class="flex-item-1 flex-field-container">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                    <div class="flex-container" style="justify-content: space-between;">
                        <label for="otherContact">Other Contacts</label>
                        <text class="fc-slate-blue" style="cursor: pointer" title="Add New Other Contact" id="otherContactNew" data-bind="click: openOtherContactModal"><i class="fa fa-plus"></i> New</text>
                    </div>
                    <table style="width: 100%; padding: 0">
                        <thead>
                            <tr>
                                <th class="b">Contact Type</th>
                                <th class="c">Description</th>
                                <th class="btn-action otherContactRemove"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: otherContactList">
                            <tr>
                                <td data-bind="text: $data.CLIENTCONTACTTYPEVALUE"></td>
                                <td data-bind="text: $data.CLIENTCONTACT"></td>
                                <td class="otherContactRemove">
                                    <i class="fa fa-trash button-extbottom" data-bind="click: $parent.removeOtherContact" title="Remove Contact"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
        <div id="openCreateStoreModal" class="modalwidth5">
            <div>
                <a href="#" title="Close" class="close">X</a><br />
                <div>
                    <p><span id="lookUpTitle" class="fc-slate-blue fs-large-strong">Create Store</span></p>
                </div>
                <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage">
                    <form>
                        <div class="flex-container flex-wrap">
                            <div class="flex-item-1 flex-field-container">
                                <label for="STORE_NO">@Html.Raw(home_index.resx411)</label>
                                <input type="text" name="STORE_NO" id="STORE_NO" placeholder="" data-bind="value: unsaveStore.STORE_NO" disabled="disabled" style="width: 94%;"><br />

                                <label for="DESCRIPTION">@Html.Raw(home_index.resx38)</label>
                                <input type="text" name="DESCRIPTION" id="DESCRIPTION" placeholder="" required="required" data-bind="value: unsaveStore.DESCRIPTION" style="width: 94%;"><br />

                                <label for="LOCATION">@Html.Raw(home_index.resx87):</label>
                                <input type="text" name="LOCATION" id="LOCATION" placeholder="" data-bind="value: unsaveStore.LOCATION" style="width: 94%;"><br />

                                <label for="CONTACT_NO">@Html.Raw(home_index.resx15):</label>
                                <input type="text" name="CONTACT_NO" id="CONTACT_NO" placeholder="" data-bind="value: unsaveStore.CONTACT_NO" style="width: 94%;"><br />

                                <label for="CLIENT_NAME">@Html.Raw(home_index.resx9):</label>
                                <input type="text" name="CLIENT_NAME" id="CLIENT_NAME" data-bind="value: unsaveStore.CLIENT_NAME" placeholder="" style="width: 94%;"><br />
                            </div>
                        </div><br />
                        <div class="align-right" style="padding-right: 30px;">
                            <button type="button" id="saveStore" class="fc-slate-blue" data-bind="click: saveStore" style="padding: 5px 10px;">Add Store</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="openOtherContactModal" class="modalwidth7">
            <div style="padding: 15px; width: 240px; height: 290px">
                <a href="#" title="Close" class="close">X</a><br />
                <div>
                    <p><span class="fc-slate-blue fs-large-strong">New Other Contact</span></p>
                </div>
                <form data-bind="submit: addOtherContact">
                    <label for="CLIENTCONTACTTYPE">Contact Type</label>
                    <select name="CLIENTCONTACTTYPE" id="CLIENTCONTACTTYPE" data-bind="value: modalOtherContact.CLIENTCONTACTTYPE" required>
                        <option value="">-- Select --</option>
                        <option value="E">Email</option>
                        <option value="FN">Fax Number</option>
                        <option value="MN">Mobile Number</option>
                        <option value="TN">Telephone Number</option>
                        <option value="P">Person</option>
                        <option value="PN">Pager Number</option>
                    </select><br /><br />

                    <label for="CLIENTCONTACT">Description</label>
                    <input type="text" name="CLIENTCONTACT" id="CLIENTCONTACT" data-bind="value: modalOtherContact.CLIENTCONTACT" required autocomplete="off"><br />

                    <div id="addButton">
                        <button type="submit" class="button-extbottom">Add</button>
                        <a href="#" class="button-extbottom"><span>Cancel</span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(staffPositions.homeMessage_h1_text)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(staffPositions.homeMessage_h1_ul_li_1_text)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(staffPositions.homeMessage_h1__ul_li_2_text)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">Cost Center search results for ''. 6 Items found.</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">@Html.Raw(home_index.resx630)</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx663) <span class="searchRowData">@Html.Raw(home_index.resx633)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx664)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40)<span class="searchRowData">@Html.Raw(home_index.resx635)</span></span>

                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(staffPositions.textInfo_errorOne_text)',
                    errorTwo: '@Html.Raw(staffPositions.textInfo_errorTwo_text)',
                    addModeHeader: 'New Cost Center',
                    addModeSubHeader: '@Html.Raw(staffPositions.textInfo_addModeSubHeader_text)',
                    updateModeHeader: 'Update Cost Center  Information',
                    updateModeSubHeader: '@Html.Raw(staffPositions.textInfo_updateModeSubHeader_text)',
                    saveModeStatusText: '@Html.Raw(staffPositions.textInfo_saveModeStatusText_text)',
                    saveSuccessMessage: '@Html.Raw(staffPositions.textInfo_saveSuccessMessage_text)',
                    readModeStatusText: 'Please wait while getting cost center information . . .',
                    displayModeHeader: 'Cost Center Information',
                    displayModeSubHeader: 'Click the <i class=" fa fa-edit"></i>edit button to modify cost center information',
                    searchModeStatusText: '@Html.Raw(staffPositions.textInfo_searchModeStatusText_text)',
                    searchModeHeader: "Cost Center  search results for '{0}'. {1} Items found.",
                    searchModeLabels: {

                        descriptionshortname: '@Html.Raw(staffPositions.textInfo_searchModeLabels_descriptionshortname_text)',
                        descriptionname: '@Html.Raw(staffPositions.textInfo_searchModeLabels_descriptionname_text)',
                        descriptionothname: '@Html.Raw(staffPositions.textInfo_searchModeLabels_descriptionothname_text)',
                        address: 'Address:',
                        contactNo: 'Contact No:'
                    }
                };

                var myViewModel = new costcentersViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>
</body>
</html>

