﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx621)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/setup_groupPrivileges.js"></script>
    <script src="~/scripts/authentication.js"></script>

    <style>
        #frmInfo .view-mode {
            background-color: #fff;
        }

            #frmInfo .view-mode[required=required] {
                background-color: #ffffde;
            }
    </style>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">@Html.Raw(groupPrivileges.page_title_text)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">

            <div class="toolbox-left flex-item-1">
                <ul class="align-right">
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: staffGroupInfo" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Click return to staff group"><i class="fa fa-hand-o-right"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx622)</span>&nbsp;&nbsp;</a></li>
                     <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(supplier.btnLabel_text4)</span>&nbsp;&nbsp;</a></li>
                    
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(supplier.btnLabel_text5)</span></li>

                   
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        <br />
     
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveInfo">
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">
                    <h2 id="searchGroupPrivileges">@Html.Raw(home_index.resx623)</h2>
                    <input type="hidden" name="delRow" id="delRow">
                    <input type="hidden" name="POSTID" id="POSTID">
                    <p class="itemRequest">@Html.Raw(home_index.resx60)<span data-bind='text: reqList().length'>&nbsp;</span> </p>

                    <table data-bind='visible: reqList().length > 0' id="itemsReceiveBatch">
                        <thead>
                            <tr>
                                <th class='a'>@Html.Raw(home_index.resx31)</th>
                                <th class='h'>@Html.Raw(home_index.resx624)</th>


                            </tr>
                        </thead>
                        <tbody data-bind='foreach: reqList'>
                            <tr data-bind="click: $parent.select">
                                <td class="a fs-medium-normal"><span data-bind='text: PRIVILEGES_ID, uniqueName: true' ></span></td>
                                <td class="h fs-medium-normal"><span data-bind='text: DESCRIPTION, uniqueName: true' ></span></td>
                                
                                <td id="btnRemove"><a href='#' data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-trash-o"></i></a></td>

                                @*<td id="btnRemove"><a data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-eraser"></i></a></td>*@
                            </tr>
                        </tbody>
                    </table>
                 


                </div>

                <div class="flex-item-1 flex-field-container">
                 
                    
                           
                            <h2 id="searchResultSummary">@Html.Raw(home_index.resx625)</h2>
                            <div id="searchResultList">
                                <ul>
                                    <li>
                                        <a href="#" class="fs-medium-normal">@Html.Raw(home_index.resx35)</a>
                                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36) <span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38)<span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                                    </li>
                                </ul>
                            </div>
                 
                     
                 
                </div>


            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(groupPrivileges.homeMessage_text1)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(supplier.homeMessage_text2)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(supplier.homeMessage_text3)</li>
            </ul>
        </div>
    </div>
   
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(supplier.txtInfo_text1)',
                    errorTwo: '@Html.Raw(supplier.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(supplier.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(supplier.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(supplier.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(supplier.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(supplier.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(supplier.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(supplier.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(supplier.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(supplier.txtInfo_text11)',
                    searchStatusText: '@Html.Raw(supplier.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(supplier.txtInfo_text13)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx42)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',
                        contactPerson: '@Html.Raw(home_index.resx202)',
                        mobile: '@Html.Raw(home_index.resx203)',
                        officeContact: '@Html.Raw(home_index.resx204)',
                        otherDeth: '@Html.Raw(home_index.resx82)',
                        status: '@Html.Raw(home_index.resx89)'
                    }
                };

                var myViewModel = new amGroupPriviligesViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>

