﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.resx626)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/setup_pmProcedure.js"></script>
    <script src="~/scripts/authentication.js"></script>

    <style>
        #frmInfo .view-mode {
            background-color: #fff;
        }

            #frmInfo .view-mode[required=required] {
                background-color: #ffffde;
            }
    </style>

</head>
<body>
	<header role="heading">
		<nav class="nav-main flex-container" role="navigation">
			<div class="nav-site-map flex-item-2">
				<ul class="align-left">
					<li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

					<li class="fc-white"><a href="">@Html.Raw(pmProcedure.page_title_text)&nbsp;</a></li>
				</ul>
			</div>
			<div class="nav-user-info flex-item-3">
				<ul>
					<li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

				</ul>
			</div>
			<div class="nav-user-info flex-item-1">
				<ul class="align-right">
					<li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
					<li class="fc-white">&nbsp;-&nbsp;</li>
					<li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
				</ul>
			</div>
		</nav>
		<div class="toolbox flex-container">

			<div class="toolbox-left flex-item-1">
				<ul class="align-right">
					<li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Purchase Billing Address"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(pmProcedure.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>
					<li class="liModify fc-slate-blue"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Purchase Billing Address Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(pmProcedure.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>

					<li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Purchase Billing Address Information"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(pmProcedure.btnLabel_text3)</span></a></li>
					<li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(pmProcedure.btnLabel_text4)</span>&nbsp;&nbsp;</a></li>
					<li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(pmProcedure.btnLabel_text5)</span></li>

					<li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
					<li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
				</ul>
			</div>
		</div>
	</header>
	<div class="field-content-detail">
		<div class="divProgressScreen"></div>
		<div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

		<br />
		<h1 id="contentHeader"></h1>
		<p id="contentSubHeader"></p>
		<form id="frmInfo" data-bind="submit: saveInfo">
			<div class="flex-container flex-wrap">

				<div class="flex-item-1 flex-field-container">
					<input type="hidden" name="PROCEDURE_ID" id="PROCEDURE_ID">
					<label for="PROCEDURE_CODE">@Html.Raw(pmProcedure.frmInfo_input_text1):</label>
					<input type="text" name="PROCEDURE_CODE" id="PROCEDURE_CODE" placeholder="" maxlength="10" disabled><br />

					<label for="DESCRIPTION">@Html.Raw(pmProcedure.frmInfo_input_text2):</label>
					<input type="text" name="DESCRIPTION" id="DESCRIPTION" placeholder="" required="required"><br />
					<label for="SERV_DEPT">@Html.Raw(pmProcedure.frmInfo_input_text3):</label>
					<select class="border-search" id="SERV_DEPT" name="SERV_DEPT">
						<option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>

					</select><br />
					<label for="AVERAGE_TIME">@Html.Raw(pmProcedure.frmInfo_input_text4):</label>
					<input type="number" name="AVERAGE_TIME" id="AVERAGE_TIME" min="0" step="0.1" placeholder=""><br />
					<label for="REMARKS">@Html.Raw(pmProcedure.frmInfo_input_text5):</label>
					<textarea name="REMARKS" id="REMARKS" placeholder=""></textarea> <br />

					<label for="STATUS">@Html.Raw(pmProcedure.frmInfo_input_text6):</label>
					<select class="border-search" id="STATUS" name="STATUS" required="required">
						<option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
						<option value="Y">@Html.Raw(home_index.resx199)</option>
						<option value="N">@Html.Raw(home_index.resx200)</option>
					</select><br />
				</div>




			</div>
			<button type="submit" id="saveInfo" class="hidden"></button>
		</form>
		<br />
		<br />
		<br />
	</div>
	<div class="home-content-detail">
		<div id="homeMessage">
			<br />
			<h1>@Html.Raw(pmProcedure.homeMessage_text1)</h1>
			<ul>
				<li><i class="fa fa-check"></i>&nbsp;@Html.Raw(pmProcedure.homeMessage_text2)</li>
				<li><i class="fa fa-check"></i>&nbsp;@Html.Raw(pmProcedure.homeMessage_text3)</li>
			</ul>
		</div>
	</div>
	<div class="search-content-detail">
		<div>
			<br />
			<h1 id="searchResultSummary">@Html.Raw(home_index.resx201)</h1>
			<div id="searchResultList">
				<ul>
					<li>
						<a href="#" class="fs-medium-normal">@Html.Raw(home_index.resx35)</a>
						<span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36)<span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
						<span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
						<span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
					</li>
				</ul>
			</div>
		</div>
		<br />
		<br />
		<br />
	</div>
	<footer>
		<div class="footer-main">
			<p>@Html.Raw(home_index.footer_main_ptext)</p>
		</div>
	</footer>
	<script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(pmProcedure.txtInfo_text1)',
                    errorTwo: '@Html.Raw(pmProcedure.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(pmProcedure.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(pmProcedure.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(pmProcedure.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(pmProcedure.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(pmProcedure.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(pmProcedure.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(pmProcedure.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(pmProcedure.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(pmProcedure.txtInfo_text11)',
                    searchStatusText: '@Html.Raw(pmProcedure.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(pmProcedure.txtInfo_text13)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx627)',
                        descriptionInfo: '@Html.Raw(home_index.resx140)',

                        status: '@Html.Raw(home_index.resx89)'
                    }
                };

				var myViewModel = new pmProcedureInfoViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

	</script>

</body>
</html>

