﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(lovLookups.lovLookups_title)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/setup_lov_lookupsV3.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>
                    <li class="fc-white"><a href="">@Html.Raw(lovLookups.nav_site_map_ul_li_2_text)</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx390)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(lovLookups.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-right flex-item-1">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: searchCagetoryList" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Back to Cagetory List"><i class=" fa fa-list-ul"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx628)</span>&nbsp;&nbsp;</a></li>
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNewLovLookup" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Lookups"><i class="fa fa-file-text-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(lovLookups.toolbox_left_ul_li_linkBtnAddNew_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifyLovLookupDetails" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Lookups Information"><i class=" fa fa-edit"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(lovLookups.toolbox_left_ul_li_linkBtnModify_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Lookup"><i class=" fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(lovLookups.toolbox_left_ul_li_linkBtnSaveCancel_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class=" fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(lovLookups.toolbox_left_ul_li_linkBtnSaveAll_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class="fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(lovLookups.toolbox_left_ul_li_status_text_text)</span></li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="@Html.Raw(lovLookups.toolbox_rightul_li_txtGlobalSearch_text)" id="txtGlobalSearch" /></li>
                    <li class="fc-grey" hidden><input type="hidden" name="CATEGORY_DESCRIPTION" id="CATEGORY_DESCRIPTION"> </li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmLovLookup" data-bind="submit: saveLovLookupDetails">
            <div class="flex-container flex-wrap">
                <div class="flex-item-1 flex-field-container">
                    <br />

                    <label for="CATEGORY">@Html.Raw(home_index.resx141):</label>
                    <input type="text" name="CATEGORY" id="CATEGORY" data-bind="enabled:enable" placeholder=""><br /><br />

                    <label for="LOV_LOOKUP_ID">@Html.Raw(home_index.resx31):</label>
                    <input type="text" name="LOV_LOOKUP_ID" id="LOV_LOOKUP_ID" placeholder=""><br /><br />

                    <label for="DESCRIPTION_SHORT">@Html.Raw(home_index.resx36)</label>
                    <input type="text" name="DESCRIPTION_SHORT" id="DESCRIPTION_SHORT" placeholder=""><br /><br />

                    <label for="DESCRIPTION">@Html.Raw(home_index.resx38)</label>
                    <input type="text" name="DESCRIPTION" id="DESCRIPTION" placeholder="" required="required" title="This is a required information."><br /><br />

                    <label for="DESCRIPTION_OTH">@Html.Raw(home_index.resx40)</label>
                    <input type="text" name="DESCRIPTION_OTH" id="DESCRIPTION_OTH" placeholder=""><br /><br />
                    <div id="DTYPESELECT">
                        <label for="ACTION">Asset Type:</label>
                        <select class="border-search" id="ACTION" name="ACTION">
                            <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                            <option value="OTHASSET">Other Asset</option>
                            <option value="ASSET">Asset</option>
                        </select><br /><br />
                    </div>


                    <div id="WODURATION">
                        <label for="DESCRIPTION_SHORT">Work Order Duration(format in day)</label>
                        <input type="number" name="WO_DURATION" id="WO_DURATION" placeholder="" min="0"><br /><br />

                    </div>
                    <div id="WOPRIORITY">
                        <label for="DESCRIPTION_SHORT">Work Order Priority:</label>
                        <select class="border-search" id="WO_PRIORITY" name="WO_PRIORITY">
                            <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                           
                        </select><br /><br />

                    </div>


                    <label for="STATUS">@Html.Raw(home_index.resx89):</label>
                    <select class="border-search" id="STATUS" name="STATUS" required="required">
                        <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                        <option value="Y">@Html.Raw(home_index.resx199)</option>
                        <option value="N">@Html.Raw(home_index.resx200)</option>
                    </select><br />
                </div>
            </div>
            <button type="submit" id="saveLovLookup" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(lovLookups.homeMessage_h1_text)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(lovLookups.homeMessage_h1_ul_li_1_text)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(lovLookups.homeMessage_h1__ul_li_2_text)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(lovLookups.search_content_detail_searchResultSummary_text)</h1>
            <br />
            <div id="searchResultCategoryList">
                <div id="searchResultcontainer" class="flex-container flex-wrap">

                    <div id="searchResultCategoryList1" class="flex-item-1 flex-field-container">
                        <ul class='fs-medium-normal fc-slate-blue'>

                        </ul>
                    </div>

                    <div id="searchResultCategoryList2" class="flex-item-1 flex-field-container">
                        <ul class='fs-medium-normal fc-slate-blue'>


                        </ul>
                    </div>
                </div>
                <div id="searchResultcontainer" class="flex-container flex-wrap">

                    <div id="searchResultList1" class="flex-item-1 flex-field-container">
                        <ul class='fs-medium-normal fc-slate-blue'></ul>
                    </div>

                    <div id="searchResultList2" class="flex-item-1 flex-field-container">
                        <ul class='fs-medium-normal fc-slate-blue'></ul>
                    </div>
                    <div id="searchResultList3" class="flex-item-1 flex-field-container">
                        <ul class='fs-medium-normal fc-slate-blue'></ul>
                    </div>

                </div>
            </div>
            <br/>
            <br/>
            <br/>
         </div>
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(lovLookups.textInfo_errorOne_text)',
                    errorTwo: '@Html.Raw(lovLookups.textInfo_errorTwo_text)',
                    addModeHeader: '@Html.Raw(lovLookups.textInfo_addModeHeader_text)',
                    addModeSubHeader: '@Html.Raw(lovLookups.textInfo_addModeSubHeader_text)',
                    updateModeHeader: '@Html.Raw(lovLookups.textInfo_updateModeHeader_text)',
                    updateModeSubHeader: '@Html.Raw(lovLookups.textInfo_updateModeSubHeader_text)',
                    saveModeStatusText: '@Html.Raw(lovLookups.textInfo_saveModeStatusText_text)',
                    saveSuccessMessage: '@Html.Raw(lovLookups.textInfo_saveSuccessMessage_text)',
                    readModeStatusText: '@Html.Raw(lovLookups.textInfo_readModeStatusText_text)',
                    displayModeHeader: '@Html.Raw(lovLookups.textInfo_displayModeHeader_text)',
                    displayModeSubHeader: '@Html.Raw(lovLookups.textInfo_displayModeSubHeader_text)',
                    searchModeStatusText: '@Html.Raw(lovLookups.textInfo_searchModeStatusText_text)',
                    searchModeHeader: "@Html.Raw(lovLookups.textInfo_searchModeHeader_text)",
                    searchModeLabels: {

                        descriptionshortname: '@Html.Raw(lovLookups.textInfo_searchModeLabels_descriptionshortname_text)',
                        descriptionname: '@Html.Raw(lovLookups.textInfo_searchModeLabels_descriptionname_text)',
						descriptionothname: '@Html.Raw(lovLookups.textInfo_searchModeLabels_descriptionothname_text)',
						statusname: '@Html.Raw(lovLookups.textInfo_searchModeLabels_Status_text)'
                    }
                };

                var myViewModel = new lovlookupsViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>
</body>
</html>

