﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(moduleFunctions.moduleFunctions_title)</title>
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(moduleFunctions.moduleFunctions_cssMainUrl)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/setup_module_functions.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>
                    <li class="fc-white"><a href="">@Html.Raw(moduleFunctions.nav_site_map_ul_li_2_text)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx630)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(moduleFunctions.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-2">
                <ul class="align-left">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNewModuleFunction" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Location"><i class=" fa fa-file-text-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(moduleFunctions.toolbox_left_ul_li_linkBtnAddNew_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifyModuleFunctionDetails" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Location details"><i class=" fa fa-edit"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(moduleFunctions.toolbox_left_ul_li_linkBtnModify_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to home page"><i class=" fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(moduleFunctions.toolbox_left_ul_li_linkBtnSaveCancel_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class=" fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(moduleFunctions.toolbox_left_ul_li_linkBtnSaveAll_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(moduleFunctions.toolbox_left_ul_li_status_text_text)</span></li>

                </ul>
            </div>
            
            <div class="toolbox-right flex-item-1">
                <ul class="align-right">
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="@Html.Raw(moduleFunctions.toolbox_rightul_li_txtGlobalSearch_text)" id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        
        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmModuleFunction" data-bind="submit: saveModuleFunctionDetails">
            <div class="flex-container flex-wrap">
                <div class="flex-item-1 flex-field-container">
                    <br />
                    <input type="hidden" name="MODULE_FUNCTION_ID" id="MODULE_FUNCTION_ID">
                    <label for="MODULE_ID">@Html.Raw(moduleFunctions.frmModuleFunction_label_MODULE_ID_text)</label>
                    <select id="MODULE_ID" name="MODULE_ID" required="required"></select><br /><br />

                    <label for="FUNCTION_ID">@Html.Raw(moduleFunctions.frmModuleFunction_label_FUNCTION_ID_text)</label>
                    <input type="text" name="FUNCTION_ID" id="FUNCTION_ID" placeholder=""><br /><br />

                    <label for="DESCRIPTION">@Html.Raw(moduleFunctions.frmModuleFunction_label_DESCRIPTION_text)</label>
                    <input type="text" name="DESCRIPTION" id="DESCRIPTION" placeholder="" required="required" title="This is a required information."><br /><br />
                    <label for="APP_ID">@Html.Raw(home_index.resx636)</label>
                    <select id="APP_ID" name="APP_ID">
                        <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                        <option value="1">@Html.Raw(home_index.resx637)</option>
                        <option value="2">@Html.Raw(home_index.resx319)</option>
                        <option value="3">@Html.Raw(home_index.resx638)</option>
                        <option value="4">@Html.Raw(home_index.resx639)</option>
                    </select>

                </div>
                <div class="flex-item-1 flex-field-container">
                    <br />
                    <label for="DESCRIPTION_OTH">@Html.Raw(moduleFunctions.frmModuleFunction_label_DESCRIPTION_OTH_text)</label>
                    <input type="text" name="DESCRIPTION_OTH" id="DESCRIPTION_OTH" placeholder=""><br /><br />

                    <label for="FUNCTION_TYPE">@Html.Raw(moduleFunctions.frmModuleFunction_label_FUNCTION_TYPE_text)</label>
                    <input type="text" name="FUNCTION_TYPE" id="FUNCTION_TYPE" placeholder=""><br /><br />

                    <label for="URL">@Html.Raw(moduleFunctions.frmModuleFunction_label_URL_text)</label>
                    <input type="text" name="URL" id="URL" placeholder=""><br /><br />
                    <label for="STATUS">@Html.Raw(moduleFunctions.frmModuleFunction_label_STATUS_text)</label>
                    <select id="STATUS" name="STATUS" required="required">
                        <option value="ACTIVE">@Html.Raw(home_index.resx199)</option>
                        <option value="INACTIVE">@Html.Raw(home_index.resx200)</option>
                    </select>

                </div>
            </div>

            <button type="submit" id="saveModuleFunction" class="hidden"></button>
        </form>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(moduleFunctions.homeMessage_h1_text)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(moduleFunctions.homeMessage_h1_ul_li_1_text)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(moduleFunctions.homeMessage_h1__ul_li_2_text)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(moduleFunctions.search_content_detail_searchResultSummary_text)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">@Html.Raw(home_index.resx631)</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx632) <span class="searchRowData">@Html.Raw(home_index.resx633)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38)<span class="searchRowData">@Html.Raw(home_index.resx634)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx635)</span></span>
                        
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">

       

        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(moduleFunctions.textInfo_errorOne_text)',
                    errorTwo: '@Html.Raw(moduleFunctions.textInfo_errorTwo_text)',
                    addModeHeader: '@Html.Raw(moduleFunctions.textInfo_addModeHeader_text)',
                    addModeSubHeader: '@Html.Raw(moduleFunctions.textInfo_addModeSubHeader_text)',
                    updateModeHeader: '@Html.Raw(moduleFunctions.textInfo_updateModeHeader_text)',
                    updateModeSubHeader: '@Html.Raw(moduleFunctions.textInfo_updateModeSubHeader_text)',
                    saveModeStatusText: '@Html.Raw(moduleFunctions.textInfo_saveModeStatusText_text)',
                    saveSuccessMessage: '@Html.Raw(moduleFunctions.textInfo_saveSuccessMessage_text)',
                    readModeStatusText: '@Html.Raw(moduleFunctions.textInfo_readModeStatusText_text)',
                    displayModeHeader: '@Html.Raw(moduleFunctions.textInfo_displayModeHeader_text)',
                    displayModeSubHeader: '@Html.Raw(moduleFunctions.textInfo_displayModeSubHeader_text)',
                    searchModeStatusText: '@Html.Raw(moduleFunctions.textInfo_searchModeStatusText_text)',
                    searchModeHeader: "@Html.Raw(moduleFunctions.textInfo_searchModeHeader_text)",
                    searchModeLabels: {

                        functiontypename: '@Html.Raw(moduleFunctions.textInfo_searchModeLabels_functiontypename_text)',
                        descriptionname: '@Html.Raw(moduleFunctions.textInfo_searchModeLabels_descriptionname_text)',
                        descriptionothname: '@Html.Raw(moduleFunctions.textInfo_searchModeLabels_descriptionothname_text)'
                    }
                };

                var myViewModel = new modulefunctionsViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>
</body>
</html>

