﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>Notification Setup</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/setup_notificationSetup.js"></script>
    <script src="~/scripts/authentication.js"></script>

    <style>
        #frmInfo .view-mode {
            background-color: #fff;
        }

            #frmInfo .view-mode[required=required] {
                background-color: #ffffde;
            }
    </style>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">Notification Setup&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">

            <div class="toolbox-left flex-item-1">
                <ul class="align-right">
                    @*<li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Supplier"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(riskFactor.btnLabel_text1)</span>&nbsp;&nbsp;</a></li>*@
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Supplier Information"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;@Html.Raw(riskFactor.btnLabel_text2)</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to Supplier Information"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(riskFactor.btnLabel_text3)</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(riskFactor.btnLabel_text4)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(supplier.btnLabel_text5)</span></li>
                    @*<li class="fc-slate-blue">&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(home_index.resx654)&nbsp;<select class="border-search" id="riskCat" name="riskCat" title="Risk Category"> <option value="" selected="selected">@Html.Raw(home_index.resx58)</option></select></span>&nbsp;&nbsp;</li>*@
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="Search Anything ..." id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>


        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>Hello, Welcome to AIMS Notification Setup</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;Activate/Deactivate Notification</li>
                <li><i class="fa fa-check"></i>&nbsp;Assign Users in a Notification</li>
                <li><i class="fa fa-check"></i>&nbsp;Activate Notification by Dashboard, SMS and Email</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx201)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">@Html.Raw(home_index.resx35)</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx36)<span class="searchRowData">@Html.Raw(home_index.resx37)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx39)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40) <span class="searchRowData">@Html.Raw(home_index.resx41)</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div id="openModalInfo" class="modalwidth5">

            <div>
                <a href="#" title="Close" class="close"></a>
                <br />
                <div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitle" class="fc-darkcolor fs-large-strong"></span></p>
                </div>

                <form id="frmInfo" data-bind="submit: saveInfo">
                    <div class="flex-container flex-wrap">

                        <div class="flex-item-1 flex-field-container">
                            <input type="hidden" name="NOTIFY_ID" id="NOTIFY_ID">
                            <input type="hidden" name="NOTIFY_NO" id="NOTIFY_NO">
                            <input type="hidden" name="NOTIFY_DESCRIPTION" id="NOTIFY_DESCRIPTION">
                            <label for="SMS_FLAG">SMS:</label>
                            <select id="SMS_FLAG" name="SMS_FLAG">
                                <option value="Y">Active</option>
                                <option value="N">Inactive</option>
                            </select><br />
                            <label for="RISK_DESCRIPTION">SMS Message:</label>
                            <textarea class="textareanotify" name="SMS_MESSAGE" id="SMS_MESSAGE" placeholder="" maxlength="160"></textarea> <br />
                            <label for="EMAIL_FLAG">Email:</label>
                            <select id="EMAIL_FLAG" name="EMAIL_FLAG">
                                <option value="Y">Active</option>
                                <option value="N">Inactive</option>
                            </select><br />
                            <label for="RISK_CATEGORYCODE">Email Message:</label>
                            <textarea class="textareanotify" name="EMAIL_MESSAGE" id="EMAIL_MESSAGE" placeholder="" maxlength="1000"></textarea> <br />
                            <label for="DASHBOARD_FLAG">Darshboard:</label>
                            <select id="DASHBOARD_FLAG" name="DASHBOARD_FLAG">
                                <option value="Y">Active</option>
                                <option value="N">Inactive</option>
                            </select><br />
                            <label for="RISK_SCORE">Dashboard Message:</label>
                            <textarea class="textareanotify" name="DASHBOARD_MESSAGE" id="DASHBOARD_MESSAGE" placeholder="" maxlength="1000"></textarea> <br />
                            
                            
                           
                            <label for="STATUS">Status:</label>
                            <select id="STATUS" name="STATUS">
                                <option value="Y">Active</option>
                                <option value="N">Inactive</option>
                            </select><br />
                        </div>





                    </div>
                    <button type="submit" id="saveInfo" class="hidden"></button>
                    <div class="modal-footer">
                        <a href="#" data-bind="click: saveAllChanges" class="button-extbottom"><span id="addButtonIcon">@Html.Raw(home_index.resx7)</span></a>
                        <a href="#" data-bind="click: closeModal" class="button-extbottom"><span id="addButtonIcon">@Html.Raw(home_index.resx96)</span></a>
                    </div>
                </form>

            </div>

        </div>

        <div id="openModalStaff" class="modalwidth5">

            <div >
                <a href="#" title="Close" class="close"></a>
                <br />
                <div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="winSubTitle" class="fc-darkcolor fs-small-normal">Active Staff List</span></p>
                </div>
              
                @*<p>&nbsp;&nbsp;&nbsp;<strong>Active Staff List</strong></p>*@
                <ul class="align-left">
                    <li class="fc-grey">
                        Staff List&nbsp;&nbsp;&nbsp;<input data-bind="event: { change: searchStaff } " type="search" placeholder="search anything" id="txtGlobalSearchOth" />
                        &nbsp;&nbsp;&nbsp;
                    </li>
                </ul>
                <div id="searchResultListStaff" class="field-list align-left scroll style-2 paddingPage">
                    <ul>
                        <li>

                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a href="#" data-bind="click: saveStafflistNotify" class="button-extbottom"><span id="addButtonIcon">@Html.Raw(home_index.resx7)</span></a>
                    <a href="#" data-bind="click: closeModal" class="button-extbottom"><span id="addButtonIcon">@Html.Raw(home_index.resx96)</span></a>
                </div>
            </div>

        </div>

        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(riskFactor.txtInfo_text1)',
                    errorTwo: '@Html.Raw(riskFactor.txtInfo_text2)',
                    addModeHeader: '@Html.Raw(riskFactor.txtInfo_text3)',
                    addModeSubHeader: '@Html.Raw(riskFactor.txtInfo_text4)',
                    updateModeHeader: '@Html.Raw(riskFactor.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(riskFactor.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(riskFactor.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(riskFactor.txtInfo_text8)',
                    readModeStatusText: '@Html.Raw(riskFactor.txtInfo_text9)',
                    displayModeHeader: '@Html.Raw(riskFactor.txtInfo_text10)',
                    displayModeSubHeader: '@Html.Raw(riskFactor.txtInfo_text11)',
                    searchStatusText: '@Html.Raw(riskFactor.txtInfo_text12)',
                    searchModeHeader: "@Html.Raw(home_index.textsearchModeHeader)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx42)',
                        statusName: 'Status',
                        smsFlag: 'SMS',
                        dashboardFlag: 'DashBoard',
                        emailFlag: 'Email'
                    }
                };

                var myViewModel = new amnotifySetupViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>
