﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(staffPositions.staffPositions_title)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/setup_staff_positions.js"></script>
    <script src="~/scripts/authentication.js"></script>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>
                    <li class="fc-white"><a href="">@Html.Raw(staffPositions.nav_site_map_ul_li_2_text)&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx630)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(staffPositions.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            
            
            <div class="toolbox-left flex-item-1">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNewStaffPosition" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Staff Position"><i class="fa fa-file-text-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staffPositions.toolbox_left_ul_li_linkBtnAddNew_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifyStaffPositionDetails" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Staff Position Information"><i class=" fa fa-edit"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staffPositions.toolbox_left_ul_li_linkBtnModify_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to home page"><i class=" fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staffPositions.toolbox_left_ul_li_linkBtnSaveCancel_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staffPositions.toolbox_left_ul_li_linkBtnSaveAll_text)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(staffPositions.toolbox_left_ul_li_status_text_text)</span></li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="@Html.Raw(staffPositions.toolbox_rightul_li_txtGlobalSearch_text)" id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        
        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmStaffPosition" data-bind="submit: saveStaffPositionDetails">
            <div class="flex-container flex-wrap">
                <div class="flex-item-1 flex-field-container">
                    <br />
                    <input type="hidden" name="STAFF_POSITION_ID" id="STAFF_POSITION_ID">
                    
                    <label for="DESCRIPTION_SHORT">@Html.Raw(staffPositions.frmStaffPosition_label_DESCRIPTION_SHORT_text)</label>
                    <input type="text" name="DESCRIPTION_SHORT" id="DESCRIPTION_SHORT" placeholder=""><br /><br />

                    <label for="DESCRIPTION">@Html.Raw(staffPositions.frmStaffPosition_label_DESCRIPTION_text)</label>
                    <input type="text" name="DESCRIPTION" id="DESCRIPTION" placeholder="" required="required" title="This is a required information."><br /><br />

                    <label for="DESCRIPTION_OTH">@Html.Raw(staffPositions.frmStaffPosition_label_DESCRIPTION_OTH_text)</label>
                    <input type="text" name="DESCRIPTION_OTH" id="DESCRIPTION_OTH" placeholder=""><br /><br />
                </div>
            </div>
            <button type="submit" id="saveStaffPosition" class="hidden"></button>
        </form>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(staffPositions.homeMessage_h1_text)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(staffPositions.homeMessage_h1_ul_li_1_text)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(staffPositions.homeMessage_h1__ul_li_2_text)</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(staffPositions.search_content_detail_searchResultSummary_text)</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">@Html.Raw(home_index.resx630)</a>
                        <span class="searchRowLabel1 searchRowLabel">@Html.Raw(home_index.resx663) <span class="searchRowData">@Html.Raw(home_index.resx633)</span></span>
                        <span class="searchRowLabel2 searchRowLabel">@Html.Raw(home_index.resx38) <span class="searchRowData">@Html.Raw(home_index.resx664)</span></span>
                        <span class="searchRowLabel3 searchRowLabel">@Html.Raw(home_index.resx40)<span class="searchRowData">@Html.Raw(home_index.resx635)</span></span>

                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(staffPositions.footer_main_p_text)</p>
        </div>
    </footer>
    <script type="text/javascript">

       

        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(staffPositions.textInfo_errorOne_text)',
                    errorTwo: '@Html.Raw(staffPositions.textInfo_errorTwo_text)',
                    addModeHeader: '@Html.Raw(staffPositions.textInfo_addModeHeader_text)',
                    addModeSubHeader: '@Html.Raw(staffPositions.textInfo_addModeSubHeader_text)',
                    updateModeHeader: '@Html.Raw(staffPositions.textInfo_updateModeHeader_text)',
                    updateModeSubHeader: '@Html.Raw(staffPositions.textInfo_updateModeSubHeader_text)',
                    saveModeStatusText: '@Html.Raw(staffPositions.textInfo_saveModeStatusText_text)',
                    saveSuccessMessage: '@Html.Raw(staffPositions.textInfo_saveSuccessMessage_text)',
                    readModeStatusText: '@Html.Raw(staffPositions.textInfo_readModeStatusText_text)',
                    displayModeHeader: '@Html.Raw(staffPositions.textInfo_displayModeHeader_text)',
                    displayModeSubHeader: '@Html.Raw(staffPositions.textInfo_displayModeSubHeader_text)',
                    searchModeStatusText: '@Html.Raw(staffPositions.textInfo_searchModeStatusText_text)',
                    searchModeHeader: "@Html.Raw(staffPositions.textInfo_searchModeHeader_text)",
                    searchModeLabels: {

                        descriptionshortname: '@Html.Raw(staffPositions.textInfo_searchModeLabels_descriptionshortname_text)',
                        descriptionname: '@Html.Raw(staffPositions.textInfo_searchModeLabels_descriptionname_text)',
                        descriptionothname: '@Html.Raw(staffPositions.textInfo_searchModeLabels_descriptionothname_text)'
                    }
                };

                var myViewModel = new staffpositionsViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>
</body>
</html>

