﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>Screen Name</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/' + sessionStorage.cssSite + '" rel="stylesheet" />');
    </script>
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/nav.css" rel="stylesheet" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>

    <script src="/Scripts/setup_viewTemplate.js"></script>
    <link href="/Content/calendar_picker.css" rel="stylesheet" />
    <script src="/Scripts/calendar_picker.js"></script>
    <link href="~/Content/loadingScreen.css" rel="stylesheet" />
    <script src="~/scripts/authentication.js"></script>


</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>@Html.Raw(home_index.resx2)&nbsp;</a></li>

                    <li class="fc-white"><a href="">Screen Name&nbsp;</a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-2">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">@Html.Raw(home_index.resx4)</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">

            <div class="toolbox-left flex-item-3">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNew" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new"><i class="fa fa-file-text-o"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;New</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifySetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify Test Table"><i class="fa fa-edit"></i><span class="btn-text fs-medium-normal"> &nbsp;&nbsp;Edit</span>&nbsp;&nbsp;</a></li>

                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">Cancel</span></a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class="fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">Save</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(partsRequest.btnLabel_text7)</span></li>

                    <li class="fc-grey"><input data-bind="event: { change: searchNow }" type="search" placeholder="Search Anything ..." id="txtGlobalSearch" />&nbsp;</li>
                    <li class="fc-slate-blue "><a data-bind="click: searchNow" class="toolbarbutton" href="#">&nbsp;<i class="fa fa-search fa-lg "></i>&nbsp;|</a></li>

                    <li class="fc-slate-blue "><span data-bind="click: showModalFilter" class="toolbarbutton"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></span></li>

                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>
        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmInfo" data-bind="submit: saveTestInfo">
            <div class="flex-container flex-wrap">

                <div class="flex-item-1 flex-field-container">

                    <input type="hidden" name="ID" id="ID">
                    <label for="DESCRIPTION">Description</label>
                    <input type="text" name="DESCRIPTION" id="DESCRIPTION" placeholder="" required><br />
                    <label for="STATUS">Status</label>
                    <select id="STATUS" name="STATUS">
                        <option value="" selected="selected">-select-</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select><br />
                </div>

                <div class="flex-item-3 flex-field-container">

                    <label for="OTHERDESCRIPTION">Other Description</label>
                    <input type="text" name="OTHERDESCRIPTION" id="OTHERDESCRIPTION" placeholder=""><br />
                    <label for="SUPPLIER">Supplier </label>
                    <select class="border-search" id="SUPPLIERCODE" name="SUPPLIERCODE">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                    </select><br />
                    <label for="JOBTYPE">Job Type:</label>
                    <select class="border-search" id="JOBTYPE" name="JOBTYPE">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                    </select><br />
                    <label for="MANUFACTURER">Manufacturer:</label>
                    <select class="border-search" id="MANUFACTURERCODE" name="MANUFACTURERCODE">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                    </select><br />
                </div>


            </div>
            <button type="submit" id="saveInfo" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div id="openModalFilter" class="modal-filter">
        <div>
            <a href="#" title="Close" class="close">X</a>
            <div class="modal-filter-header">
                <h2>@Html.Raw(home_index.resx69)</h2>
            </div>
            <div class="flex-item-2">
                <div class="filter-row">
                    <label>@Html.Raw(home_index.resx70) </label>
                    <div>
                        <div class="filter-row">@Html.Raw(home_index.resx71) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestFromDate" id="requestFromDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                        <div class="filter-row">@Html.Raw(home_index.resx72) <input data-bind="click: dateClick" class="datefield tcal tcalInput " data-isdate="true" data-val="true" type="text" name="requestStartDate" id="requestStartDate" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"></div>
                    </div>
                </div>
                <div class="filter-row">
                    <span class="from-text">@Html.Raw(othresource.resx_status) </span>
                    <select class="border-search" data-bind="value:searchFilter.status" id="filterStatus" name="filterStatus" title="Select a Status">
                        <option value="" selected="selected">@Html.Raw(home_index.resx58)</option>
                        <option value="REQUEST">Request</option>
                        <option value="APPROVED">Approved</option>
                        <option value="RECEIVED">Received</option>
                        <option value="CANCELLED">Cancelled</option>
                    </select>
                </div>
                <div id="addButton">
                    <span data-bind="event: {click: searchFilterNow}" class="button-extbottom">@Html.Raw(home_index.resx95)</span>
                    <a data-bind="event: {click: clearFilter}" href="#" class="button-extbottom"><span>@Html.Raw(home_index.resx96)</span></a>
                    <span data-bind="event: {click: clearFilter}" class="button-extbottom">@Html.Raw(home_index.resx97)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>Screen Name</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;Info1</li>
                <li><i class="fa fa-check"></i>&nbsp;Info2</li>
                <li><i class="fa fa-check"></i>&nbsp;Info3</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">@Html.Raw(home_index.resx135)</h1>
            <div id="searchResultList">
                <ul>
                    <li>

                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <div id="loadingBackground">
        <div class="dark-bg">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">



        $(document).ready(

            function () {

                /*Text that needs to be localized later*/
                var textInfo = {

                    errorOne: '@Html.Raw(purchaseRequest.txtInfo_text1)',
                    errorTwo: '@Html.Raw(purchaseRequest.txtInfo_text2)',
                    addModeHeader: 'Create Test Table',
                    addModeSubHeader: 'Test Tabel',
                    updateModeHeader: '@Html.Raw(purchaseRequest.txtInfo_text5)',
                    updateModeSubHeader: '@Html.Raw(purchaseRequest.txtInfo_text6)',
                    saveModeStatusText: '@Html.Raw(purchaseRequest.txtInfo_text7)',
                    saveSuccessMessage: '@Html.Raw(purchaseRequest.txtInfo_text8)',

                    readModeStatusText: '@Html.Raw(purchaseRequest.txtInfo_text10)',
                    displayModeHeader: '@Html.Raw(purchaseRequest.txtInfo_text11)',
                    displayModeSubHeader: '@Html.Raw(purchaseRequest.txtInfo_text12)',
                    searchModeStatusText: '@Html.Raw(purchaseRequest.txtInfo_text13)',
                    searchModeHeader: "@Html.Raw(purchaseRequest.txtInfo_text14)",
                    searchModeLabels: {
                        idInfo: '@Html.Raw(home_index.resx31)',
                        Statuslable: 'Status',
                        otherDeth: '@Html.Raw(home_index.resx82)',
                        problem: '@Html.Raw(home_index.resx83)',
                        supplierLable: '@Html.Raw(home_index.lblSupplier)',
                        manufacturerLable: '@Html.Raw(home_index.lblManufacturer)',
                        jobtypeLable: '@Html.Raw(home_index.lblJobType)'

                    }
                };

                var myViewModel = new viewTemplateViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>

</body>
</html>
