﻿@using Resources;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>BSAIMS-Contact</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />

    <link href="/Content/siteLogin.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <script>
        if (localStorage["cssHomeSite"]) {

        } else {
            @Html.Raw("sessionStorage.setItem('cssHomeSite','home_blue.css');");
            @Html.Raw("sessionStorage.setItem('cssSite','siteBlue.css');")
        }
        document.write('<link href="/Content/'+sessionStorage.cssHomeSite+'" rel="stylesheet" />');
    </script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/home_index.js"></script>

</head>
<body style="background: white;">
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">

            <div class="nav-user-info flex-item-1">
                <ul class="align-right" id="userInfo">
                    <li class="liContactHelpdesk fc-white"><a class="status-icon fs-large-normal" href="/" title="Display the quick user guide.."><span class="status-icon fs-large-normal "><i class="fa fa-home"></i>&nbsp;</span><span class="status-text mobileHide">Home &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>
                    @*<li class="liContactHelpdesk fc-white"><a class="status-icon fs-large-normal" href="#" title="Display the quick user guide.."><span class="status-icon fs-large-normal "><i class="fa fa-globe"></i>&nbsp;</span><span class="status-text mobileHide">Services &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>*@
                    @*<li class="liContactHelpdesk fc-white"><a class="status-icon fs-large-normal" href="/Home/Overview" title="Display the quick user guide.."><span class="status-icon fs-large-normal "><i class="fa fa-info-circle"></i>&nbsp;</span><span class="status-text mobileHide">Product Overview &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>*@
                    <li class="liquikAccess fc-white"><a class="status-icon fs-large-normal" href="#" title="Display the quick user guide.."><span class="status-icon fs-large-normal "><i class="fa fa-fax"></i></span> <span class="status-text mobileHide"> Contact Us&nbsp;&nbsp;&nbsp;</span></a></li>
                    <li class="liquikAccess fc-white"><a id="btnBlue" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Blue Scheme"><span><img src="../images/appblue.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-white"><a id="btnGreen" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Green Scheme"><span><img src="../images/appgreen.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-white"><a id="btnRed" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Red Scheme"><span><img src="../images/appred.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-white"><a id="btnBlack" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Black Scheme"><span><img src="../images/appblack.png" width="20" height="20" /></span>&nbsp;&nbsp;&nbsp;</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="field-content-detail">
        <div class="flex-container flex-wrap">
            <div class="flex-field-container">
                <div>
                    <br />
                    <br />
                    <br />
                    <h2 class="fc-darkcolor align-left">
                    </h2>

                    <div class="slider">
                        <img class="mySlides00" src="~/images/overview/databasetools.png" id="imagePic">
                    </div>


                    <br />
                </div>
            </div>
            <div class="flex-item-2 flex-field-container ">
                <div>
                    <div>
                        <br />
                        <br />
                        <br />
                        <ul class="a">
                            <li> For online demo please email us at isoftwaresolutions@hotmail.com </li>
                        </ul>



                    </div>
                </div>
            </div>


        </div>

    </div>
    <br />
    <br />
    <br />
    <footer class="mobileHide">
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>

    <script type="text/javascript">
        
        $(document).ready(
            function () {
                var myItem = sessionStorage.getItem('cssSite');
                var myItemcssHomeSite = sessionStorage.getItem('cssHomeSite');
                sessionStorage.clear();
                sessionStorage.setItem('cssSite', myItem);
                sessionStorage.setItem('cssHomeSite', myItemcssHomeSite);
                @Html.Raw("sessionStorage.setItem('webApiURL','" + ViewBag.WebApiURL + "');");
                var textInfo = {
                    errorOne: '@Html.Raw(home_index.textinfo_errorOne)',
                    errorTwo: '@Html.Raw(home_index.textinfo_errorTwo)',
                    logonSuccessMessage: '@Html.Raw(home_index.textinfo_logonSuccessMessage)'
                };
                var myViewModel = new logonViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );
    </script>
</body>
</html>