﻿@using Resources;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(home_index.headerUrltext)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <link href="/Content/modalOth.css" rel="stylesheet" />
    <link href="/Content/siteLogin.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
	
    <script>
        if (sessionStorage["cssHomeSite"]) {

        } else {
            @Html.Raw("sessionStorage.setItem('cssHomeSite','home_blue.css');");
            @Html.Raw("sessionStorage.setItem('cssSite','siteBlue.css');")
        }
        document.write('<link href="/Content/'+sessionStorage.cssHomeSite+'" rel="stylesheet" />');
    </script> 
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/home_index.js"></script>

</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-user-info flex-item-1">
                <ul class="align-left" > 
                    <li class="fs-medium-normal hospital-name fc-light-grey"><a href="https://bst.com.sa/ "  target="_blank">@Html.Raw(home_index.header_title_login)&nbsp;</a> </li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-2">
                <ul class="align-right" id="userInfo">
                    <li class="liContactHelpdesk fc-white"><a class="status-icon fs-large-normal" href="/" title="Display Main Home page"><span class="status-icon fs-large-normal "><i class="fa fa-home"></i>&nbsp;</span><span class="status-text mobileHide">@Html.Raw(home_index.btnHomeLabel_text)&nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>
                    <li class="liquikAccess fc-white"><a class="status-icon  fs-large-normal" href="https://bst.com.sa/"  target="_blank"><span class="status-icon fs-large-normal "><i class="fa fa-desktop"></i></span> <span class="status-text mobileHide">Our Website&nbsp;&nbsp;&nbsp;</span></a></li>
                    @*<li class="liquikAccess fc-white"><a id="btnBlue" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Blue Scheme"><span><img src="../images/appblue.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-white"><a id="btnGreen" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Green Scheme"><span><img src="../images/appgreen.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-white"><a id="btnRed" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Red Scheme"><span><img src="../images/appred.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-white"><a id="btnBlack" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Black Scheme"><span><img src="../images/appblack.png" width="20" height="20" /></span>&nbsp;&nbsp;&nbsp;</a></li>*@
                </ul>
            </div>
        </nav>
    </header>
	<div id="openModalChangePassword" class="modalwidthPassword">
		<div>
			<p id="costHeader">&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitle" class="fc-darkcolor fs-medium-strong">Please provide new password.</span></p>
			<div class="flex-container flex-wrap iconDet ">
				<ul>
                    <p id="validChangeInfo" style="color:green;">Password successfully changed.</p>
					<li>
						<form id="frmInfo" >
							<div class="flex-container flex-wrap">
								<div class="flex-item-1 flex-field-container">
									<label for="NEW_PW">New password:</label>
									<input type="password" name="NEW_PW" id="NEW_PW" placeholder=""><br />
									<label for="RE_PW">Re-enter password:</label>
									<input type="password" name="RE_PW" id="RE_PW" placeholder=""><br />
								</div>
							</div>
						</form>
					</li>
				</ul>
			</div>
			<br />
			<div class="modal-footer">
				<a id="addButtonIcon" href="#" data-bind="click: updatePassword" class="button-extbottom"><span>@Html.Raw(assetInfo.btnLabel_text13)</span></a>
				<a href="#" data-bind="click: closeModal" class="button-extbottom"><span id="closeButtonIcon">@Html.Raw(assetInfo.btnLabel_text12)</span></a>

			</div>

		</div>
	</div>

    <div id="openModalChangePasswordActive" class="modalBoxW">
        <div>
            <br />
            <p id="costHeader">&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitle" class="fc-darkcolor fs-medium-strong">Please provide information needed.</span></p>
            <div class="flex-container flex-wrap iconDet ">
                <ul>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li>
                        <form id="frmInfoPM">
                            <div class="flex-container flex-wrap">
                                <div class="flex-item-1 flex-field-container">
                                    <label for="NEW_PW">User ID:</label>
                                    <input type="text" name="CUR_USERID" id="CUR_USERID" placeholder="" style="text-transform:uppercase"><br />
                                    <label for="NEW_PW">Current Password:</label>
                                    <input type="password" name="CUR_PASSWORD" id="CUR_PASSWORD" placeholder=""><br />
                                    <label for="NEW_PW">New password:</label>
                                    <input type="password" name="NEW_PASSWORD" id="NEW_PASSWORD" placeholder=""><br />
                                    <label for="RE_PW">Re-enter password:</label>
                                    <input type="password" name="RE_PASSWORD" id="RE_PASSWORD" placeholder=""><br />

                                
                                    <br />
                                    <p id="invalidInfo" style="color:red;">Please make sure that you enter correct User Id and current password.</p>
                                    <p id="validInfo" style="color:green;">You can use now your new password to login.</p>

                                </div>
                                

                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <br />
            <div class="modal-footer">
                <a id="addButtonIcon" href="#" data-bind="click: updatenewPassword" class="button-extbottom"><span>@Html.Raw(assetInfo.btnLabel_text13)</span></a>
                <a href="#" data-bind="click: closeModal" class="button-extbottom"><span id="closeButtonIcon">@Html.Raw(assetInfo.btnLabel_text12)</span></a>
            </div>
        </div>
    </div>

    <div id="openModalInfo" class="modalwidth5">
        <div>
            <br />
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="winTitle" class="fc-darkcolor fs-large-strong">Please select Application to continue.</span></p>
            </div>
            <div class="flex-item-1 flex-field-container field-list align-left" id="searchResult1">
                <ul>
                    <li><i></i>&nbsp;</li>

                </ul>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br />
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="button"><span>Close</span></a>
        </div>
    </div>

    <div class="flex-container flex-wrap login-page">
        <div class="flex-item-1 flex-field-container " id="map0" style="margin-left:5%;">
            <div class="login-page3" style="height:270px;width:270px;margin-left:50%;margin-top:15%;">

                <span class="fc-green fs-large-strong" style="margin-left:10%;margin-right:10%; margin-top:35%;text-align: center; color:#0094ff">
                    Medical and Equipment Supplies
                </span>
                
            </div>
            <div class="login-page3 " style="height:270px;width:270px;margin-top:0%; margin-right:50%;">
                <br />

                <span class="fc-darkcolor fs-large-strong" style="margin-left:10%;margin-right:10%; margin-top:25%;text-align: center; ">
                    Biomedical Management
                </span>

            </div>
            <div class="login-page3" style="height:270px;width:270px;margin-top:0%; margin-left:50%;">
                <br />
                <span class="fc-darkcolor fs-large-strong" style="margin-left:10%;margin-right:10%; margin-top:20%;text-align: center; color:#023f6b ">
                    Contract and Inventory Management
                </span>
              
            </div>
        </div>
        <div class="flex-item-1 flex-field-container  " id="map1">
            <div class="search-content-detail align-left">
                <div class="content">
                    <div id="searchResultList" class="login-pageText" style="margin-top:56%;">

                        <img src="~/images/companylogo.png" &nbsp;&nbsp;&nbsp;&nbsp; style=" width:70px; float: left; margin: 0 15px 0 30px;" align="left" />
                        <span class="fc-darkcolor align-left fs-large-normal" style="display:block;font-size:1.1em;">
                            The <strong class="fs-large-strong fc-slate-grey" style="font-size:1.1em; color:#0094ff;">(MESCMS)</strong>
                            Medical & Equipment Supplies Contract Management System is engineered on the second generation software solution that runs fluidly on Smartphones, Tablets and PCs. It is also designed to meet the information requirements of Biomedical in a modern technology.
                        </span>
                        <br/>
                        <span class="fc-darkcolor align-left fs-large-normal" style="font-size:1.1em;">@Html.Raw(home_index.resx809)</span>
                        <br/>
                        <br/>
                        <span class="fc-darkcolor align-left fs-large-normal" style="font-size:1.1em;">@Html.Raw(home_index.resx810)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-item-1 flex-field-container login-page2">
            <div class="search-content-detail  align-right">
                <h2 style="color:red;" id="ppmstart">PPM Start</h2>
                <div id="divSuccess">
                    <br /><br /><br /><br /><br />
                    <div class="notify-success fs-small-normal"><p><span data-bind="text: SUCCESS_MESSAGE"></span><br /><br /><i class="fa fa-circle-o-notch fa-spin fa-lg"></i></p><br /></div>
                </div>
                <main class="logon-main">
                    <form role="form" id="frmLogin" data-bind="submit: authenticateUser">
                        <div id="form-container">
                            <div>
                                <p><span style="font-size: 1em; color:#ff0000" id="emptyUserId">Please provide User ID</span></p>
                                <p><span style="font-size: 1em; color:#ff0000" id="invalidUserId">Please enter valid User ID</span></p>
                                <p><span style="font-size: 1em; color:#ff0000" id="invalidemailId">Please provide your email address to Iso Team for activation.</span></p>
                                <p><span style="font-size: 1em; color:#025a0c" id="successMail">password has been sent to your email address</span></p>
                                <br />
                                <br />
                                <input type="text" id="USER_ID" name="USER_ID" placeholder="@Html.Raw(home_index.USER_IDplaceholder)" required="required" data-bind="value: USER_ID ">
                            </div>
                            <br />

                            <div>
                                <span style="color:green;" id="changePWSC">Enter your new password</span>
                                <input type="password" id="PASSWORD" name="PASSWORD" placeholder="@Html.Raw(home_index.PASSWORD_placeholder)" required="required" data-bind="value: PASSWORD ">
                            </div>
                            <br />
                            <div>
                                <button type="submit" class="button button-block" style="padding-top: 0;">
                                    <span id="btnSignInLabel">@Html.Raw(home_index.btnSignInLabel_text)</span>
                                    <span id="btnSignInStatus"><i class="fa fa-cog fa-spin fa-lg"></i>&nbsp;&nbsp;&nbsp;@Html.Raw(home_index.btnSignInStatus_text)</span>
                                </button>
                            </div>
                            <br />
                            <a href="" data-bind="click: changePassword"><p style="font-size: 1em;" class="fc-darkcolor ">Change Password?</p></a>
                            <p><a href=""><span style="font-size: 1em;" class="fc-darkcolor " data-bind="click: forgotPassword">@Html.Raw(home_index.btnforgotpasswordLabel_text) |</span><span style="font-size: 1em;" class="fc-darkcolor " data-bind="click: needHelp">&nbsp;@Html.Raw(home_index.btnneedHelpLabel_text)</span></a> </p>
                            <br />
                            <p class="fc-darkcolor"><a href="#" id="copyRight" style="font-size: 70%;">© 2016 BS-ISoftS.IT All Rights Reserved.</a></p>
                            <br />
                        </div>
                        <div class="notify-error fs-small-normal"><span><span data-bind="text: ERROR_MESSAGE"></span><i class="fa fa-exclamation-circle fa-lg"></i></span></div>
                    </form>

                    <div class="align-left" id="needHelp" style="padding:20px;">
                        <br />
                        <br />
                        <p><span style="font-size: 90%; color:#0094ff">Problem Login in iPhone or Ipad?</span></p>
                        <br />
                        <p><span style="font-size: 85%;">Launch Safari from the Home screen of your iPhone or iPad.</span></p>
                        <p><span style="font-size: 85%;">Tap on the show pages icon in the lower right hand navigation.</span></p>
                        <p><span style="font-size: 85%;">Now tap on Private in the lower left hand corner.</span></p>
                        <p><span style="font-size: 85%;">You may be prompted to close or keep all current tabs open. Make your choice.</span></p>
                        <p><span style="font-size: 85%;">Now tap Done in the lower right hand corner and continue browsing.</span></p>
                        <br />
                        <br />
                        <p><a href="/home/index"><span style="font-size: 90%; color:#0094ff">Back to Login</span></a></p>
                    </div>
                    <div id="divLocalize">
                        @Html.Raw(home_index.divLocalize_html)
                    </div>
                </main>
            </div>
        </div>
    </div>
        <footer class="mobileHide">
            <div class="footer-main">
                <p>@Html.Raw(home_index.footer_main_ptext)</p>
            </div>
        </footer>

        <script type="text/javascript">
        $(document).ready(
            function () {
                var myItem = sessionStorage.getItem('cssSite');
                var myItemcssHomeSite = sessionStorage.getItem('cssHomeSite');
                sessionStorage.clear();
                sessionStorage.setItem('cssSite', myItem);
                sessionStorage.setItem('cssHomeSite', myItemcssHomeSite);
                @Html.Raw("sessionStorage.setItem('webApiURL','" + ViewBag.WebApiURL + "');");
                var textInfo = {
                    errorOne: '@Html.Raw(home_index.textinfo_errorOne)',
					errorTwo: '@Html.Raw(home_index.textinfo_errorTwo)',
					errorThree: '@Html.Raw(home_index.textinfo_errorthree)',
					errorFour: '@Html.Raw(home_index.textinfo_errorfour)',
					logonSuccessMessage: '@Html.Raw(home_index.textinfo_logonSuccessMessage)',
					pwLogin:'@Html.Raw(home_index.textinfo_pwUpdated)'

                };
                var myViewModel = new logonViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );
        </script>
</body>
</html>