﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <title>@Html.Raw(home_menu.home_menu_title)</title>

    <link href="@Html.Raw(home_menu.home_menu_cssMainUrl)" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
   

    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/home_menu.js"></script>


</head>
<body>
    
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">@Html.Raw(home_menu.header_title_text)&nbsp;</li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">Mohammad Abdullah Ghamdi</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(patient_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="toolbox flex-container">
            <div class="toolbox-left flex-item-2">
                <ul class="align-left">
                    <li class="liContactHelpdesk fc-slate-blue"><span class="status-icon fs-large-normal "><i class="fa fa-user"></i>&nbsp;</span><span class="status-text">@Html.Raw(home_menu.liContactHelpdesk_span_2_text)</span></li>
                </ul>
            </div>

            <div class="toolbox-right flex-item-1">
                <ul class="align-right">
                    <li class="fc-grey"><input type="search" placeholder="@Html.Raw(home_menu.txtGlobalSearch_placeholder)" id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(home_menu.homeMessage_h1_text)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_menu.homeMessage_ul_li_1_text)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(home_menu.homeMessage_ul_li_2_text)</li>
                <li><i class="fa fa-check"></i>&nbsp; </li>
                <li class="fc-white"><a data-bind="click: regModule" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(home_menu.homeMessage_ul_li_3_text)</a></li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary"></h1>
            <div id="searchResultList">
                <ul></ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <nav class="main-menu">
            
        </nav>
        <div class="footer-main">
            <p>&copy; @Html.Raw(home_menu.footer_main_p_text)</p>
        </div>
    </footer>
    <script type="text/javascript">
        $(document).ready(
            function () {
               
                var textInfo = {

                    errorOne: '@Html.Raw(home_index.textinfo_errorOne)',
                    errorTwo: '@Html.Raw(home_index.textinfo_errorTwo)',
      

                };
                
                var myViewModel = new menuViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );

    </script>
</body>
</html>


