﻿@using Resources;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>DRCIS-Overview</title>
    <link rel="icon" type="image/png" href="~/images/DocAppPNG.png" />

    <link href="/Content/siteLogin.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <script>
        if (localStorage["cssHomeSite"]) {

        } else {
            @Html.Raw("sessionStorage.setItem('cssHomeSite','home_blue.css');");
            @Html.Raw("sessionStorage.setItem('cssSite','siteBlue.css');")
        }
        document.write('<link href="/Content/'+sessionStorage.cssHomeSite+'" rel="stylesheet" />');
    </script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/home_index.js"></script>

</head>
<body style="background: white;">
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">

            <div class="nav-user-info flex-item-1">
                <ul class="align-right" id="userInfo">
                    <li class="liContactHelpdesk fc-white"><a class="status-icon fs-large-normal" href="/" title="Display the quick user guide.."><span class="status-icon fs-large-normal "><i class="fa fa-home"></i>&nbsp;</span><span class="status-text mobileHide">Home &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>
                    @*<li class="liContactHelpdesk fc-white"><a class="status-icon fs-large-normal" href="#" title="Display the quick user guide.."><span class="status-icon fs-large-normal "><i class="fa fa-globe"></i>&nbsp;</span><span class="status-text mobileHide">Services &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>*@
                    <li class="liContactHelpdesk fc-white"><a class="status-icon fs-large-normal" href="/Home/Overview" title="Display the quick user guide.."><span class="status-icon fs-large-normal "><i class="fa fa-info-circle"></i>&nbsp;</span><span class="status-text mobileHide">Product Overview &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>
                    <li class="liquikAccess fc-white"><a class="status-icon fs-large-normal" href="/Home/Contact" title="Display the quick user guide.."><span class="status-icon fs-large-normal "><i class="fa fa-fax"></i></span> <span class="status-text mobileHide"> Contact Us&nbsp;&nbsp;&nbsp;</span></a></li>
                    <li class="liquikAccess fc-white"><a id="btnBlue" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Blue Scheme"><span><img src="../images/appblue.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-white"><a id="btnGreen" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Green Scheme"><span><img src="../images/appgreen.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-white"><a id="btnRed" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Red Scheme"><span><img src="../images/appred.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-white"><a id="btnBlack" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Black Scheme"><span><img src="../images/appblack.png" width="20" height="20" /></span>&nbsp;&nbsp;&nbsp;</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="field-content-detail">
        <div class="flex-container flex-wrap">
            <div class="flex-field-container">
                <div>
                        <h2 class="fc-darkcolor align-left">
                            Supported Database/Explorer / Tools
                        </h2>

                       <div class="slider">
                            <img class="mySlides00" src="~/images/overview/databasetools.png" id="imagePic">
                        </div>


                    <br />
                </div>
            </div>
            <div class="flex-item-2 flex-field-container ">
                <div>
                    <div>
                        <br />
                        <br />
                        <br />
                        <ul class="a">
                            <li> - The DRCIS is engineered on the second generation software solution that runs fluidly on Smartphones, Tablets and PCs. It is also designed to meet the information requirements of each Doctor in a modern technology.</li>
                            <li> - Contains the medical and treatment histories of patients, its system is built to go beyond standard clinical data collected in provider's office and can be inclusive of a broader view  of a patient's care.</li>
                            <li> - This development helps to make the process management become easier and efficient. It is designed with an optimized and systematic automated health care solution that has user-friendly interface for easier handling of patients and benefits the medical practice.</li>
                            
                        </ul>
                       


                    </div>
                </div>
            </div>


        </div>

        <div class="flex-container flex-wrap">
            <div class="flex-field-container">
                <div>
                        <h2 class="fc-darkcolor align-left">
                            Dashboard
                        </h2>

                        
                        <div class="slider">
                            <img class="mySlides4" src="../images/overview/dashboard2.png" id="imagePic">
                            <img class="mySlides4" src="../images/overview/dashboard3.png" id="imagePic">
                            <img class="mySlides4" src="../images/overview/dashboard.png" id="imagePic">
                            <a class="button-ext" onclick="plusDivs4(-1)"> ></a> <a class="button-ext" onclick="plusDivs4(1)"> < </a>
                        </div>

                 
                    <br />
                </div>
            </div>
            <div class="flex-item-2 flex-field-container ">
                <div>
                    <div>
                        <br />
                        <br />
                        <h2 class="fc-darkcolor align-left">
                           
                        </h2> 
                        <ul class="a">
                            <li> - Availity to select color scheme.</li>
                            <li> - Quick Access to some functionality.</li>
                            <li> - Patient-centered approach</li>
                            <li> - Single login</li>
                            <li> - Data consistency and Transparency</li>
                            <li> - display total Bookings (3 consecutive clinic days)</li>
                            <li> - User-friendly easy to use</li>
                        </ul>

                    </div>
                </div>
            </div>


        </div>

        <div class="flex-container flex-wrap">
            <div class="flex-field-container">
                <div>
                        <h2 class="fc-darkcolor align-left">
                           Patient Registration
                        </h2>


                        <div class="slider">
                            <img class="mySlides" src="~/images/overview/reg1.png" id="imagePic">
                            <img class="mySlides" src="~/images/overview/reg2.png" id="imagePic">
                            <img class="mySlides" src="~/images/overview/reg_photo.png" id="imagePic">
                            <img class="mySlides" src="~/images/overview/imageLoader.png" id="imagePic">
                            <a class="button-ext" onclick="plusDivs(-1)"> ></a> <a class="button-ext" onclick="plusDivs(1)"> < </a>

                        </div>

                  
                    <br />
                </div>
            </div>
            <div class="flex-item-2 flex-field-container ">
                <div>
                    <div>
                        <br />
                        <br />

                        <h2 class="fc-darkcolor align-left"></h2>
                        <ul class="a">
                            <li> - Captures/Updates patient demographics.</li>
                            <li> - At the time of patient registration, the system generates a unique patient ID.</li>
                            <li> - Capture/Upload patient photo.</li>
                            <li> - Upload patient reports(laboratory,radiology,medication list etc.).</li>
                            <li> - Facility to upload photo/images from your smart phones.</li>
                            <li> - Detailed registration reports that can be filtered in various ways.</li>
                        </ul>
                       

                    </div>
                </div>
            </div>
            <br />

        </div>

        <div class="flex-container flex-wrap">
            <div class="flex-field-container">
                <div>
                    <br />

                    <h2 class="fc-darkcolor align-left">
                        Booking Scheduling
                    </h2>


                    <div class="slider">
                        <img class="mySlides2" src="~/images/overview/op_sche1.png" id="imagePic">
                        <img class="mySlides2" src="~/images/overview/op_sche2.png" id="imagePic">
                        <img class="mySlides2" src="~/images/overview/op_sche3.png" id="imagePic">
                        <a class="button-ext" onclick="plusDivs2(-1)"> ></a> <a class="button-ext" onclick="plusDivs2(1)"> < </a>
                    </div>

                </div>
            </div>
            <div class="flex-item-1 flex-field-container ">
                <div>
                    <div>
                        <br />
                        <br />
                        <br />
                        <ul class="a">
                            <li> - Booking & Scheduling is highly customizable and offers every scheduling option your clinic may need.</li>
                            <li> - Easily manage your schedule with a calendar that fully integrates with the rest of your practice.</li>
                            <li> - Make bookings anywhere 24/7.</li>
                            <li> - Ability to reserve and freeze slots.</li>
                            <li> - Detailed booking reports that can be filtered in various ways.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />

        </div>

        <div class="flex-container flex-wrap">
            <div class="flex-field-container">
                <div>
                    <br />
                    <br />
                    <br />
                    <h2 class="fc-darkcolor align-left">
                        Billing / Insurance
                    </h2>


                    <div class="slider">
                        <img class="mySlides3" src="~/images/overview/bill1.png" id="imagePic">
                        <img class="mySlides3" src="~/images/overview/bill2.png" id="imagePic">
                        <img class="mySlides3" src="~/images/overview/bill5.png" id="imagePic">
                        <img class="mySlides3" src="~/images/overview/bill3.png" id="imagePic">
                        <img class="mySlides3" src="~/images/overview/bill4.png" id="imagePic">
                        <a class="button-ext" onclick="plusDivs3(-1)"> ></a> <a class="button-ext" onclick="plusDivs3(1)"> < </a>
                        <br />
                        <br />
                        <br />
                        <a class="status-icon fs-large-normal" href="/Home/OverviewCont" style="float:right"><span class="status-icon fs-large-normal ">&nbsp;</span><span class="status-text fs-medium-normal fc-grey">Continue &nbsp; <i class="fs-large-normal fc-grey fa fa-arrow-circle-o-right"></i></span></a>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>

                </div>
            </div>
            <div class="flex-item-2 flex-field-container ">
                <div>
                    <div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <ul class="a">
                            <li> - Calculates service charges.</li>
                            <li> - Print receipt for patient billed.</li>
                            
                            <li> - Calculations based on patent's insurance coverage and eligibility.</li>
                            <li> - Facility to Exclude/Include services from Insurance.</li>
                            <li> - Display clinic income from specific dates.</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <br />

        </div>
       
      
    </div>
    <br />
    <br />
    <br />
    <footer class="mobileHide">
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>

    <script type="text/javascript">
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }

        var slideIndex2 = 1;
        showDivs2(slideIndex2);

        function plusDivs2(n) {
            showDivs2(slideIndex2 += n);
        }

        function showDivs2(n) {
            var i;
            var x = document.getElementsByClassName("mySlides2");
            if (n > x.length) { slideIndex2 = 1 }
            if (n < 1) { slideIndex2 = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex2 - 1].style.display = "block";
        }

        var slideIndex3 = 1;
        showDivs3(slideIndex3);

        function plusDivs3(n) {
            showDivs3(slideIndex3 += n);
        }

        function showDivs3(n) {
            var i;
            var x = document.getElementsByClassName("mySlides3");
            if (n > x.length) { slideIndex3 = 1 }
            if (n < 1) { slideIndex3 = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex3 - 1].style.display = "block";
        }

        var slideIndex4 = 1;
        showDivs4(slideIndex4);

        function plusDivs4(n) {
            showDivs4(slideIndex4 += n);
        }

        function showDivs4(n) {
            var i;
            var x = document.getElementsByClassName("mySlides4");
            if (n > x.length) { slideIndex4 = 1 }
            if (n < 1) { slideIndex4 = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex4 - 1].style.display = "block";
        }
        $(document).ready(
            function () {
                var myItem = sessionStorage.getItem('cssSite');
                var myItemcssHomeSite = sessionStorage.getItem('cssHomeSite');
                sessionStorage.clear();
                sessionStorage.setItem('cssSite', myItem);
                sessionStorage.setItem('cssHomeSite', myItemcssHomeSite);
                @Html.Raw("sessionStorage.setItem('webApiURL','" + ViewBag.WebApiURL + "');");
                var textInfo = {
                    errorOne: '@Html.Raw(home_index.textinfo_errorOne)',
                    errorTwo: '@Html.Raw(home_index.textinfo_errorTwo)',
                    logonSuccessMessage: '@Html.Raw(home_index.textinfo_logonSuccessMessage)'
                };
                var myViewModel = new logonViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );
    </script>
</body>
</html>