﻿@using Resources;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>DRCIS-Overview</title>
    <link rel="icon" type="image/png" href="~/images/DocAppPNG.png" />

    <link href="/Content/siteLogin.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <script>
        if (localStorage["cssHomeSite"]) {

        } else {
            @Html.Raw("sessionStorage.setItem('cssHomeSite','home_blue.css');");
            @Html.Raw("sessionStorage.setItem('cssSite','siteBlue.css');")
        }
        document.write('<link href="/Content/'+sessionStorage.cssHomeSite+'" rel="stylesheet" />');
    </script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/home_index.js"></script>

</head>
<body style="background: white;">
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">

            <div class="nav-user-info flex-item-1">
                <ul class="align-right" id="userInfo">
                    <li class="liContactHelpdesk fc-white"><a class="status-icon fs-large-normal" href="/" title="Display the quick user guide.."><span class="status-icon fs-large-normal "><i class="fa fa-home"></i>&nbsp;</span><span class="status-text mobileHide">Home &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>
                    @*<li class="liContactHelpdesk fc-white"><a class="status-icon fs-large-normal" href="#" title="Display the quick user guide.."><span class="status-icon fs-large-normal "><i class="fa fa-globe"></i>&nbsp;</span><span class="status-text mobileHide">Services &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>*@
                    <li class="liContactHelpdesk fc-white"><a class="status-icon fs-large-normal" href="/Home/Overview" title="Display the quick user guide.."><span class="status-icon fs-large-normal "><i class="fa fa-info-circle"></i>&nbsp;</span><span class="status-text mobileHide">Product Overview &nbsp;&nbsp;|&nbsp;&nbsp;  </span></a></li>
                    <li class="liquikAccess fc-white"><a class="status-icon fs-large-normal" href="/Home/Contact" title="Display the quick user guide.."><span class="status-icon fs-large-normal "><i class="fa fa-fax"></i></span> <span class="status-text mobileHide"> Contact Us&nbsp;&nbsp;&nbsp;</span></a></li>
                    <li class="liquikAccess fc-white"><a id="btnBlue" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Blue Scheme"><span><img src="../images/appblue.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-white"><a id="btnGreen" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Green Scheme"><span><img src="../images/appgreen.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-white"><a id="btnRed" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Red Scheme"><span><img src="../images/appred.png" width="20" height="20" /></span>&nbsp;</a></li>
                    <li class="liquikAccess fc-white"><a id="btnBlack" data-bind="click: schemeColor" class="status-icon fs-large-normal" href="#" title="Black Scheme"><span><img src="../images/appblack.png" width="20" height="20" /></span>&nbsp;&nbsp;&nbsp;</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="field-content-detail">
    

        <div class="flex-container flex-wrap">
            <div class="flex-field-container">
                <div>
                    <h2 class="fc-darkcolor align-left">
                        Patient Assessment / Triage
                    </h2>


                    <div class="slider">
                        <img class="mySlides" src="~/images/overview/triage1.png" id="imagePic">
                        <img class="mySlides" src="~/images/overview/triage2.png" id="imagePic">
                        <img class="mySlides" src="~/images/overview/triage3.png" id="imagePic">
                        <a class="button-ext" onclick="plusDivs(-1)"> ></a> <a class="button-ext" onclick="plusDivs(1)"> < </a>

                    </div>


                    <br />
                </div>
            </div>
            <div class="flex-item-2 flex-field-container ">
                <div>
                    <div>
                        <br />
                        <br />

                        <h2 class="fc-darkcolor align-left"></h2>
                        <ul class="a">
                            <li> - Captures/Record vitals and body measurement.</li>
                            <li> - Once the nurse/doctor record the triage, system will automatically stamp triage time.</li>
                            <li> - Capture/Record Patient Assessment and Important Alerts.</li>
                        </ul>


                    </div>
                </div>
            </div>
            <br />

        </div>

        <div class="flex-container flex-wrap">
            <div class="flex-field-container">
                <div>
                    <br />

                    <h2 class="fc-darkcolor align-left">
                        Physician Desktop/Consultation
                    </h2>


                    <div class="slider">
                        <img class="mySlides2" src="~/images/overview/consultation1.png" id="imagePic">
                        <img class="mySlides2" src="~/images/overview/consultation2.png" id="imagePic">
                        <img class="mySlides2" src="~/images/overview/consultation3.png" id="imagePic">
                        <img class="mySlides2" src="~/images/overview/consultation4.png" id="imagePic">
                        <a class="button-ext" onclick="plusDivs2(-1)"> ></a> <a class="button-ext" onclick="plusDivs2(1)"> < </a>
                    </div>

                </div>
            </div>
            <div class="flex-item-1 flex-field-container ">
                <div>
                    <div>
                        <br />
                        <br />
                        <br />
                        <ul class="a">
                            <li> - Display immediately the patient for today. Easy to search and identify patient.</li>
                            <li> - Captures Complaints, HPI, History, ROS, Examinations, Assessments and Planning etc.</li>
                            <li> - Upload/Sketch image and save to database.</li>
                            <li> - Unloaded ICD for patient diagnosis.</li>
                            <li> - Consolidate report base on your input..</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />

        </div>

        <div class="flex-container flex-wrap">
            <div class="flex-field-container">
                <div>
                    <br />
                    <br />
                    <br />
                    <h2 class="fc-darkcolor align-left">
                        Order Services
                    </h2>


                    <div class="slider">
                        <img class="mySlides3" src="~/images/overview/order1.png" id="imagePic">
                        <img class="mySlides3" src="~/images/overview/order2.png" id="imagePic">
                        <img class="mySlides3" src="~/images/overview/order3.png" id="imagePic">
                        <a class="button-ext" onclick="plusDivs3(-1)"> ></a> <a class="button-ext" onclick="plusDivs3(1)"> < </a>
                        <br />
                        <br />
                        <br />
                        
                    </div>

                </div>
            </div>
            <div class="flex-item-2 flex-field-container ">
                <div>
                    <div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <ul class="a">
                            <li> - Provides the facility for Doctors to electronically request services for the patient (e.g. laboratory tests, medications, radiology examinations etc.)</li>
                            <li> - The system transmits these orders directly to the inteded department or individuals so that these orders can be perform.</li>
                            <li> - Print orders base on category with secured QRCODE unique ID.</li>
                        </ul>

                    </div>
                </div>
            </div>
            <br />

        </div>

        <div class="flex-container flex-wrap">
            <div class="flex-field-container">
                <div>
                    <br />
                    <br />
                    <br />
                    <h2 class="fc-darkcolor align-left">
                        Medical Reporting
                    </h2>


                    <div class="slider">
                        <img class="mySlides4" src="~/images/overview/med1.png" id="imagePic">
                        <img class="mySlides4" src="~/images/overview/med2.png" id="imagePic">
                        <a class="button-ext" onclick="plusDivs4(-1)"> ></a> <a class="button-ext" onclick="plusDivs4(1)"> < </a>
                        <br />
                        <br />
                        <br />
                        
                    </div>

                </div>
            </div>
            <div class="flex-item-2 flex-field-container ">
                <div>
                    <div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <ul class="a">
                            <li> - Create your own report template.</li>
                            <li> - Facility to copy notes from consultation and paste in you current report.</li>
                            <li> - Easy to indentify if there is already report done for the patient.</li>
                        </ul>

                    </div>
                </div>
            </div>
            <br />

        </div>

        <div class="flex-container flex-wrap">
            <div class="flex-field-container">
                <div>
                    <br />
                    <br />
                    <br />
                    <h2 class="fc-darkcolor align-left">
                        Patient Profile
                    </h2>


                    <div class="slider">
                        <img class="mySlides5" src="~/images/overview/profile5.png" id="imagePic">
                        <img class="mySlides5" src="~/images/overview/profile1.png" id="imagePic">
                        <img class="mySlides5" src="~/images/overview/profile2.png" id="imagePic">
                        <img class="mySlides5" src="~/images/overview/profile3.png" id="imagePic">
                        <img class="mySlides5" src="~/images/overview/profile4.png" id="imagePic">
                        <a class="button-ext" onclick="plusDivs5(-1)"> ></a> <a class="button-ext" onclick="plusDivs5(1)"> < </a>
                        <br />
                        <br />
                        <br />
                        <a class="status-icon fs-large-normal" href="/Home/Overview" style="float:right"><span class="status-icon fs-large-normal ">&nbsp;</span><span class="status-text fs-medium-normal fc-grey"><i class="fs-large-normal fc-grey fa fa-arrow-circle-o-left"></i>&nbsp;Return  </span></a>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>

                </div>
            </div>
            <div class="flex-item-2 flex-field-container ">
                <div>
                    <div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <ul class="a">
                            <li> - Easy to review Consultation History, Orders List, Diagnosis, Bills, Images and Triage.</li>
                            <li> - The profile also contains a patient’s complete order history that can be filtered to simplify data retrieval for clinicians.</li>
                            <li> - Date and status in reverse chronological order to be referenced during patient assessment. Likewise, expiring orders, vitals out of range, and other important factors are flagged and color-coded to denote importance (i.e. high blood pressure denoted with red)</li>
                        </ul>

                    </div>
                </div>
            </div>
            <br />

        </div>


    </div>
    <br />
    <br />
    <br />
    <footer class="mobileHide">
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>

    <script type="text/javascript">
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }

        var slideIndex2 = 1;
        showDivs2(slideIndex2);

        function plusDivs2(n) {
            showDivs2(slideIndex2 += n);
        }

        function showDivs2(n) {
            var i;
            var x = document.getElementsByClassName("mySlides2");
            if (n > x.length) { slideIndex2 = 1 }
            if (n < 1) { slideIndex2 = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex2 - 1].style.display = "block";
        }

        var slideIndex3 = 1;
        showDivs3(slideIndex3);

        function plusDivs3(n) {
            showDivs3(slideIndex3 += n);
        }

        function showDivs3(n) {
            var i;
            var x = document.getElementsByClassName("mySlides3");
            if (n > x.length) { slideIndex3 = 1 }
            if (n < 1) { slideIndex3 = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex3 - 1].style.display = "block";
        }

        var slideIndex4 = 1;
        showDivs4(slideIndex4);

        function plusDivs4(n) {
            showDivs4(slideIndex4 += n);
        }

        function showDivs4(n) {
            var i;
            var x = document.getElementsByClassName("mySlides4");
            if (n > x.length) { slideIndex4 = 1 }
            if (n < 1) { slideIndex4 = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex4 - 1].style.display = "block";
        }

        var slideIndex5 = 1;
        showDivs5(slideIndex5);

        function plusDivs5(n) {
            showDivs5(slideIndex5 += n);
        }

        function showDivs5(n) {
            var i;
            var x = document.getElementsByClassName("mySlides5");
            if (n > x.length) { slideIndex5 = 1 }
            if (n < 1) { slideIndex5 = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex5 - 1].style.display = "block";
        }
        $(document).ready(
            function () {
                var myItem = sessionStorage.getItem('cssSite');
                var myItemcssHomeSite = sessionStorage.getItem('cssHomeSite');
                sessionStorage.clear();
                sessionStorage.setItem('cssSite', myItem);
                sessionStorage.setItem('cssHomeSite', myItemcssHomeSite);
                @Html.Raw("sessionStorage.setItem('webApiURL','" + ViewBag.WebApiURL + "');");
                var textInfo = {
                    errorOne: '@Html.Raw(home_index.textinfo_errorOne)',
                    errorTwo: '@Html.Raw(home_index.textinfo_errorTwo)',
                    logonSuccessMessage: '@Html.Raw(home_index.textinfo_logonSuccessMessage)'
                };
                var myViewModel = new logonViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }
        );
    </script>
</body>
</html>