﻿@using Resources;
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi" />
    <title>@Html.Raw(staff_index.staff_index_title)</title>
    <link rel="icon" type="image/png" href="~/images/companylogo.png" />
    <script>
        document.write('<link href="/Content/'+sessionStorage.cssSite+'" rel="stylesheet" />');
    </script> 
    <link href="@Html.Raw(cssMain.cssMainSite)" rel="stylesheet" />
	@*<link href="/Content/site.css" rel="stylesheet" />*@
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />   
    <link href="/Content/modalOth.css" rel="stylesheet" />     
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>
    <script src="/Scripts/staff_index_v4.js"></script>
    <script src="/Scripts/cropbox.js"></script>
	<link href="/Content/modalAlert.css" rel="stylesheet" />
</head>
<body>
    <header role="heading">
        <nav class="nav-main flex-container" role="navigation">
            <div class="nav-site-map flex-item-2">
                <ul class="align-left">
                    <li class="fs-medium-normal fc-light-grey">  <a data-bind="click: returnHome" href=""><i class="fa fa-list"></i>Menu&nbsp;</a></li>
                    <li class="fc-white"><a href="">@Html.Raw(staff_index.nav_site_map_ul_li_2_text)<i class="fa fa-user"></i></a></li>
                </ul>
            </div>
            <div class="nav-user-info flex-item-3">
                <ul>
                    <li class="hospital-name"> @Html.Raw(home_index.header_title_text)</li>

                </ul>
            </div>
            <div class="nav-user-info flex-item-1">
                <ul class="align-right">
                    <li class="fc-light-grey"><span id="spanUser">staff</span></li>
                    <li class="fc-white">&nbsp;-&nbsp;</li>
                    <li class="fc-white"><a data-bind="click: signOut" href="#" id="signOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;@Html.Raw(staff_index.nav_user_info_ul_li_signOut_text)</a></li>
                </ul>
            </div>
        </nav>
        <div class="wrapper">
            <input type="checkbox" id="menu" />
            <label for="menu" class="nav-trigger"></label>
             
        </div>
        <div class="toolbox flex-container">
            

            <div class="toolbox-left flex-item-4">
                <ul class="align-right">
                    <li class="liAddNew fc-slate-blue"><a data-bind="click: createNewStaffUser" class="linkBtnAddNew toolbarbutton fs-large-normal" href="#" title="Create new Staff/User"><i class="fa fa-file-text-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staff_index.btnNew)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a data-bind="click: modifyStaffUserDetails" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Edit or modify staff/user details"><i class="fa fa-edit"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staff_index.btnModify)</span>&nbsp;&nbsp;</a></li>
                    <li class="liModify fc-slate-blue"><a id="btnCostCenter" data-bind="click: othSetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to assign Cost Center"><i class="fa fa-list-ul"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staff_index.btnAssignCostCenter)</span>&nbsp;&nbsp;</a></li>
                  
                    @*<li class="liModify fc-slate-blue"><a id="btnStore" data-bind="click: othSetup" class="linkBtnModify toolbarbutton fs-large-normal" href="#" title="Click to assign Store"><i class="fa fa-list-ul"></i>&nbsp;<span class="btn-text fs-medium-normal">Assign to Store</span>&nbsp;&nbsp;</a></li>*@
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: cancelChanges" class="linkBtnSaveCancel toolbarbutton fs-large-normal" href="#" title="Cancel changes, return to home page"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staff_index.btnCancel)</span>&nbsp;&nbsp;</a></li>
                    <li class="liSaveAll fc-slate-blue"><a data-bind="click: saveAllChanges" class="linkBtnSaveAll toolbarbutton fs-large-normal" href="#" title="Save all changes"><i class=" fa fa-floppy-o"></i>&nbsp;<span class="btn-text fs-medium-normal">@Html.Raw(staff_index.btnSave)</span>&nbsp;&nbsp;</a></li>
                    <li class="liApiStatus fc-slate-blue"><span class="status-icon fs-large-normal "><i class=" fa fa-cog fa-spin"></i>&nbsp;</span><span class="status-text">@Html.Raw(staff_index.textInfo_saveModeStatusText)</span></li>
                    <li class="fc-grey"><input data-bind="event: { change: searchNow } " type="search" placeholder="@Html.Raw(staff_index.toolbox_rightul_li_txtGlobalSearch_text)" id="txtGlobalSearch" /></li>
                    <li class="fc-slate-blue"><a data-bind="click: searchNow" class="toolbarbutton" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="field-content-detail">
        <div class="divProgressScreen"></div>
        <div class="notify-success fs-small-normal"><p><span id="successMessage"></span></p></div>

        <div id="openModalAlert" class="modalAlert">

            <div>
                <div class="modalAlert-content">
                    <div class="modalAlert-header">

                        <h2>@Html.Raw(staff_index.textWarningMessage)</h2>
                    </div>
                    <div class="modalAlert-body">
                        <br />
                        <p id="alertmessage"></p>
                        <br />
                    </div>
                    <div class="modalAlert-footer">

                        <a href="#" data-bind="click: closeAlertModal"><span class="fc-red fs-medium-strong">@Html.Raw(staff_index.btnOK)</span></a>
                    </div>
                </div>


            </div>

        </div>
        <div id="openModalInHouseParts" class="modalwidth3">
            <div class="flex-container flex-wrap">

                <div class="flex-item-2 flex-field-container marginRight">
                    <h2 id="assignedHeader" class="fs-large-strong">@Html.Raw(staff_index.textUserAssignedCostCenter)</h2>
                    <input type="hidden" name="delRow" id="delRow">
                    <input type="hidden" name="POSTID" id="POSTID">
                    <input type="hidden" name="UCATEGORYID" id="UCATEGORYID">

                    <div>
                        <table data-bind='visible: othList().length > 0' id="itemsReceiveBatch">
                            <thead>
                                <tr>
                                    <th class='a'>@Html.Raw(staff_index.textCode)</th>
                                    <th class='h'>@Html.Raw(staff_index.textName)</th>


                                </tr>
                            </thead>
                            <tbody data-bind='foreach: othList'>
                                <tr data-bind="click: $parent.select">
                                    <td class="a fs-medium-normal"><span data-bind='text: LOV_LOOKUP_ID, uniqueName: true' input type="hidden" name="UCATEGORY" id="UCATEGORY"></span></td>
                                    <td class="h fs-medium-normal"><span data-bind='text: DESCRIPTION, uniqueName: true' input type="hidden" name="STAFFCODE" id="STAFFCODE"></span></td>
                                    <td hidden><input type="text" name="CREATED_BY" id="CREATED_BY"></td>
                                    <td hidden><input type="text" name="CREATED_DATE" id="CREATED_DATE"></td>
                                    <td hidden><input type="text" name="CODE" id="CODE"></td>
                                    <td id="btnRemove"><a href='#' data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-trash-o"></i></a></td>


                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div id="addButton">
                        <span data-bind="click: saveOthInfo" class="button-extbottom">@Html.Raw(staff_index.btnSave)</span>
                        <a href="#" class="button-extbottom"><span>@Html.Raw(staff_index.btnClose)</span></a>
                    </div>



                </div>

                <div class="flex-item-2 flex-field-container">



                    <h2 id="lovHeader" class="fs-large-strong">@Html.Raw(staff_index.textSelectfromlistofCostCenter)</h2>
                    <div id="searchResult1" class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage">
                        <ul>
                            <li>

                            </li>
                        </ul>
                    </div>



                </div>



            </div>
        </div>
        <div id="openOthSetup" class="modalwidth3 flex-container flex-wrap">
            @*<div class="flex-container flex-wrap">*@

            <div class="flex-item-1 flex-field-container">
                <br />
                <span id="assignedHeader" class="fc-slate-blue fs-large-strong">@Html.Raw(staff_index.textUserAssignedCostCenter)></span> <span data-bind="click: removeAllCostCenter" class="pullright fc-slate-blue fs-medium-strong" style="float: right; margin-right:50px;"><i class="fa fa-trash-o"></i>&nbsp;Remove All</span>
                <div class="flex-item-1 flex-field-container marginRight scroll style-2 paddingPage">

                    <input type="hidden" name="delRow" id="delRow">
                    <input type="hidden" name="POSTID" id="POSTID">
                    <input type="hidden" name="UCATEGORYID" id="UCATEGORYID">

                    <div>
                        <table data-bind='visible: othList().length > 0' id="itemsReceiveBatch">
                            <thead>
                                <tr>
                                    <th class='a'>@Html.Raw(staff_index.textCode)</th>
                                    <th class='h'>@Html.Raw(staff_index.textName)</th>


                                </tr>
                            </thead>
                            <tbody data-bind='foreach: othList'>
                                <tr data-bind="click: $parent.select">
                                    <td class="a fs-medium-normal"><span data-bind='text: LOV_LOOKUP_ID, uniqueName: true' input type="hidden" name="UCATEGORY" id="UCATEGORY"></span></td>
                                    <td class="h fs-medium-normal"><span data-bind='text: DESCRIPTION, uniqueName: true' input type="hidden" name="STAFFCODE" id="STAFFCODE"></span></td>
                                    <td hidden><input type="text" name="CREATED_BY" id="CREATED_BY"></td>
                                    <td hidden><input type="text" name="CREATED_DATE" id="CREATED_DATE"></td>
                                    <td hidden><input type="text" name="CODE" id="CODE"></td>
                                    <td id="btnRemove"><a href='#' data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-trash-o"></i></a></td>


                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div id="addButton">
                        <span data-bind="click: saveOthInfo" class="button-extbottom">@Html.Raw(staff_index.btnSave)</span>
                        <a href="#" class="button-extbottom"><span>@Html.Raw(staff_index.btnClose)</span></a>
                    </div>



                </div>


            </div>

            <div class="flex-item-1 flex-field-container " id="sparePartsList">
                <a href="#close" title="Close" class="close"></a>
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="fc-slate-blue fs-large-strong">Please select from list of Cost Center</span><span data-bind="click: addAllCostCenter" class="pullright fc-slate-blue fs-medium-strong" style="float: right; margin-right:50px;"><i class="fa fa-hand-o-right "></i>&nbsp;Add All</span>
                <br />

                <div class="scroll style-2 paddingPage">

                    <div id="searchResult1" class="flex-item-1 flex-field-container field-list align-left ">
                        <ul>
                            <li>

                            </li>
                        </ul>
                    </div>
                </div>
                <br />

            </div>

            @*</div>*@
        </div>


        <div id="openModal" class="modalBox">
            <div>
                <a href="#close" title="Close" class="close">X</a>

                <div class="containerImage">
                    <div class="imageBox">
                        <div class="thumbBox"></div>
                        <div class="spinner" style="display: none">Loading...</div>
                    </div>
                    <div class="action">
                        <input type="file" id="file" style="width: 250px">
                        <br />
                        <button id="btnCrop" class="button">Crop</button>
                        <button id="btnZoomIn" class="button">ZoomIn</button>
                        <button id="btnZoomOut" class="button">ZoomOut</button>

                    </div>

                </div>
            </div>
        </div>

        <div id="openModalLookup" class="modalwidth5">

            <div>
                <a href="#" title="Close" class="close">X</a>
                <br />
                <div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="lookUpTitle" class="fc-slate-blue fs-large-strong">Building List</span></p>
                </div>

                <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchResultLookUp">

                    <ul>
                        <li><i></i>&nbsp;</li>

                    </ul>
                 
                    <br />

                </div>

            </div>

        </div>


        <div id="openModalStore" class="modalwidth5">

            <div>
                <a href="#" title="Close" class="close">X</a>
                <br />
                <div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;<span id="lookUpTitle" class="fc-slate-blue fs-large-strong">Store List</span></p>
                </div>

                <div class="flex-item-1 flex-field-container field-list align-left scroll style-2 paddingPage" id="searchResulStore">

                    <ul>
                        <li><i></i>&nbsp;</li>

                    </ul>
                    
                    <br />

                </div>

            </div>

        </div>

        <br />
        <h1 id="contentHeader"></h1>
        <p id="contentSubHeader"></p>
        <form id="frmStaffUser" data-bind="submit: saveStaffUserDetails">
            <div class="flex-container flex-wrap">
                <div class="flex-item-1 flex-field-container">
                    <br />
                    <label for="STAFF_ID">@Html.Raw(staff_index.frmStaff_label_STAFF_ID_text)</label>
                    <input type="text" name="STAFF_ID" id="STAFF_ID" placeholder="" required="required" style="text-transform:uppercase"><br />

                    <label for="FIRST_NAME">@Html.Raw(staff_index.frmStaff_label_FIRST_NAME_text)</label>
                    <input type="text" name="FIRST_NAME" id="FIRST_NAME" required="required" title="@Html.Raw(staff_index.frmStaff_input_FIRST_NAME_title_text)"><br />

                    <label for="LAST_NAME">@Html.Raw(staff_index.frmStaff_label_LAST_NAME_text)</label>
                    <input type="text" name="LAST_NAME" id="LAST_NAME" required="required" title="@Html.Raw(staff_index.frmStaff_input_LAST_NAME_title_text)"><br />

                    <label for="STAFF_POSITION_ID">@Html.Raw(staff_index.frmStaff_label_STAFF_POSITION_ID_text)</label>
                    <select id="STAFF_POSITION_ID" name="STAFF_POSITION_ID"></select><br />

                    <label for="SRVC_DEPT">@Html.Raw(staff_index.textServiceDepartment)</label>
                    <select id="SRVC_DEPT" name="SRVC_DEPT"></select><br />
                    <label for="EMAIL_ADDRESS">@Html.Raw(staff_index.frmStaff_label_EMAIL_ADDRESS_text)</label>
                    <input type="email" name="EMAIL_ADDRESS" id="EMAIL_ADDRESS" placeholder="@Html.Raw(staff_index.frmStaff_input_EMAIL_ADDRESS_placeholder_text)"><br />

                    <label for="CONTACT_PRIMARY">Mobile Number:(Format 05*********)</label>
                    <input type="text" name="CONTACT_PRIMARY" id="CONTACT_PRIMARY" required="required" maxlength="10"><br />

                    <label for="CONTACT_SECONDARY">@Html.Raw(staff_index.frmStaff_label_CONTACT_SECONDARY_text)</label>
                    <input type="text" name="CONTACT_SECONDARY" id="CONTACT_SECONDARY" pattern="[0-9]+"><br />
                    <label for="CONTACT_3">@Html.Raw(staff_index.textContactOfficeNo)</label>
                    <input type="text" name="CONTACT_3" id="CONTACT_3" pattern="[0-9]+"><br />


                    <label for="BEEPER_PH">@Html.Raw(staff_index.frmBeeper)</label>
                    <input type="text" name="BEEPER_PH" id="BEEPER_PH"><br />
                    <label for="LOCATION">@Html.Raw(staff_index.frmLocation)</label>
                    <select id="LOCATION" name="LOCATION" required="required">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                    </select><br />


                </div>
                <div class="flex-item-1 flex-field-container">
                    <br />
                    <label for="CHRG_RATE">@Html.Raw(staff_index.frmChargeRate)</label>
                    <input type="number" name="CHRG_RATE" min="0" step="0.01" id="CHRG_RATE"><br />
                    <label for="PAY_RATE">@Html.Raw(staff_index.frmPayRate)</label>
                    <input type="number" name="PAY_RATE" min="0" step="0.01" id="PAY_RATE"><br />
                    <label for="SCHED_HRS">@Html.Raw(staff_index.frmScheduleHours)</label>
                    <input type="number" name="SCHED_HRS" min="0" step="0.01" id="SCHED_HRS"><br />
                    <label for="PAY_PERIOD">@Html.Raw(staff_index.frmPayPeriod)</label>
                    <select id="PAY_PERIOD" name="PAY_PERIOD">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Day">Day</option>
                    </select><br />
                    <label for="PAY_ST_DAY">@Html.Raw(staff_index.frmPayDay)</label>
                    <select id="PAY_ST_DAY" name="PAY_ST_DAY">
                        <option value="" selected="selected">@Html.Raw(assetInfo.frmInfo_input_text1)</option>
                        <option value="Sunday">Sunday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                    </select><br />
                    <label for="HIRE_DATETIME">@Html.Raw(staff_index.frmHireDate)</label>
                    <input type="text" name="HIRE_DATETIME" id="HIRE_DATETIME" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$" title="@Html.Raw(staff_index.frmStaff_input_PASSWORD_EXPIRY_title_text)">
                    <label for="TERM_DATETIME">@Html.Raw(staff_index.frmTermDate)</label>
                    <input type="text" name="TERM_DATETIME" id="TERM_DATETIME" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$" title="@Html.Raw(staff_index.frmStaff_input_PASSWORD_EXPIRY_title_text)">



                </div>
                <div class="flex-item-1 flex-field-container">
                    <br />


                    <label for="USER_ID" >@Html.Raw(staff_index.frmStaff_label_USER_ID_text)</label>
                    <input type="text" name="USER_ID" id="USER_ID" required="required" placeholder="@Html.Raw(staff_index.frmStaff_input_USER_ID_placeholder_text)" title="@Html.Raw(staff_index.frmStaff_input_USER_ID_title_text)" style="text-transform:uppercase"><br />
                    <label for="STAFF_GROUP_ID">@Html.Raw(staff_index.frmStaff_label_STAFF_GROUP_ID_text)</label>
                    <select id="STAFF_GROUP_ID" name="STAFF_GROUP_ID" required="required">
                        <option value="" selected="selected">-select-</option>
                    </select><br />
                    <label for="PASSWORD">@Html.Raw(staff_index.frmStaff_label_PASSWORD_text)</label>
                    <input type="password" name="PASSWORD" id="PASSWORD" required="required" title="@Html.Raw(staff_index.frmStaff_input_PASSWORD_title_text)"><br />

                    <label for="PASSWORD_EXPIRY">@Html.Raw(staff_index.frmStaff_label_PASSWORD_EXPIRY_text)</label>
                    <input type="text" name="PASSWORD_EXPIRY" id="PASSWORD_EXPIRY" required="required" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$" title="@Html.Raw(staff_index.frmStaff_input_PASSWORD_EXPIRY_title_text)">
                    <br />
                    <label for="SYSTEM_LOOKUP">@Html.Raw(staff_index.frmStaff_label_SYSTEM_LOOKUP_text)</label>
                    <select id="SYSTEM_LOOKUP" name="SYSTEM_LOOKUP" required="required">
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                    </select><br />
                    <label for="REQUESTER">@Html.Raw(staff_index.frmRequester)</label>
                    <select id="REQUESTER" name="REQUESTER">
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                    </select><br />
                    <label for="PROMPT_PASSWORD">@Html.Raw(staff_index.frmPromptPasswordNextLogin)</label>
                    <select id="PROMPT_PASSWORD" name="PROMPT_PASSWORD" required="required">
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                    </select><br />
                    <label for="STATUS">@Html.Raw(staff_index.frmStaff_label_STATUS_text)</label>
                    <select id="STATUS" name="STATUS" required="required">
                        <option value="ACTIVE">Active</option>
                        <option value="INACTIVE">Inactive</option>
                    </select>

                </div>
                <div class="flex-item-1 flex-field-container">
                    <br />

                    <p style="cursor:pointer;" class="fc-slate-blue fs-medium-normal liSaveAll" data-bind="click: addModels" id="clientBuildingAddModels"><i class="fa fa-search"></i>&nbsp;Link to Building &nbsp; <span data-bind='text: modelsList().length'>&nbsp;</span> </p>
                    <p style="cursor:pointer;" class="fc-slate-blue fs-medium-normal liModify">&nbsp;Linked Building &nbsp; </p>

                    <table id="itemsReceiveBatch">
                        <thead>
                            <tr>
                                <th class='a'>Short Name</th>
                                <th class='c'>Building Name</th>


                            </tr>
                        </thead>
                        <tbody data-bind='foreach: modelsList'>
                            <tr data-bind="click: $parent.select">
                                <td class="a"><span data-bind='text: BUILDING_CODE, uniqueName: true'></span></td>
                                <td class=""><span data-bind='text: DESCRIPTION, uniqueName: true'></span></td>

                                <td id="btnRemove" class="liSaveAll"><a href='#' data-bind='click: $root.removeItem' class="button-ext"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>


                    <br />

                    <p style="cursor:pointer;" class="fc-slate-blue fs-medium-normal liSaveAll" data-bind="click: addModelStore" id="userStoreAddModels"><i class="fa fa-search"></i>&nbsp;Link to Store &nbsp; <span data-bind='text: userStore().length'>&nbsp;</span> </p>
                    <p style="cursor:pointer;" class="fc-slate-blue fs-medium-normal liModify">&nbsp;Linked Store &nbsp; </p>

                    <table id="itemsReceiveBatchS">
                        <thead>
                            <tr>
                                <th class='a'>Store Code</th>
                                <th class='c'>Store Name</th>


                            </tr>
                        </thead>
                        <tbody data-bind='foreach: userStore'>
                            <tr data-bind="click: $parent.select">
                                <td class="a"><span data-bind='text: STORE_ID, uniqueName: true'></span></td>
                                <td class=""><span data-bind='text: DESCRIPTION, uniqueName: true'></span></td>

                                <td id="btnRemove" class="liSaveAll"><a href='#' data-bind='click: $root.removeUserStoreItem' class="button-ext"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>



                </div>

            </div>
            <button type="submit" id="saveStaffUser" class="hidden"></button>
        </form>
        <br />
        <br />
        <br />
    </div>
    <div class="home-content-detail">
        <div id="homeMessage">
            <br />
            <h1>@Html.Raw(staff_index.homeMessage_h1_text)</h1>
            <ul>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(staff_index.homeMessage_h1_ul_li_1_text)</li>
                <li><i class="fa fa-check"></i>&nbsp;@Html.Raw(staff_index.homeMessage_h1__ul_li_2_text)</li>
                <li><i class="fa fa-check"></i>&nbsp;Assign to Location</li>
                <li><i class="fa fa-check"></i>&nbsp;Assign to Hospital</li>
            </ul>
        </div>
    </div>
    <div class="search-content-detail">
        <div>
            <br />
            <h1 id="searchResultSummary">search_content_detail_searchResultSummary_text.</h1>
            <div id="searchResultList">
                <ul>
                    <li>
                        <a href="#" class="fs-medium-normal">staffname</a>
                        <span class="searchRowLabel1 searchRowLabel">Staff ID: <span class="searchRowData">asdfaer12412asdfasdf</span></span>
                        <span class="searchRowLabel2 searchRowLabel">Email Address: <span class="searchRowData">software@hotmail.com</span></span>
                        <span class="searchRowLabel3 searchRowLabel">Staff Group: <span class="searchRowData">administrator</span></span>
                        <span class="searchRowLabel4 searchRowLabel">Primary Contact: <span class="searchRowData">0098888</span></span>
                        <span class="searchRowLabel5 searchRowLabel">Password Expiry: <span class="searchRowData">01/01/1900</span></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>
        <div class="footer-main">
            <p>@Html.Raw(home_index.footer_main_ptext)</p>
        </div>
    </footer>
    <script type="text/javascript">
       
        $(document).ready(
            function () {
                var textInfo = {
                    errorOne: '@Html.Raw(staff_index.textInfo_errorOne)',
                    errorTwo: '@Html.Raw(staff_index.textInfo_errorTwo)',
                    addModeHeader: '@Html.Raw(staff_index.textInfo_addModeHeader)',
                    addModeSubHeader: '@Html.Raw(staff_index.textInfo_addModeSubHeader)',
                    updateModeHeader: '@Html.Raw(staff_index.textInfo_updateModeHeader)',
                    updateModeSubHeader: '@Html.Raw(staff_index.textInfo_updateModeSubHeader)',
                    saveModeStatusText: '@Html.Raw(staff_index.textInfo_saveModeStatusText)',
                    saveSuccessMessage: '@Html.Raw(staff_index.textInfo_saveSuccessMessage)',
                    readModeStatusText: '@Html.Raw(staff_index.textInfo_readModeStatusText)',
                    displayModeHeader: '@Html.Raw(staff_index.textInfo_displayModeHeader)',
                    displayModeSubHeader: '@Html.Raw(staff_index.textInfo_displayModeSubHeader)',
                    searchModeStatusText: '@Html.Raw(staff_index.textInfo_searchModeStatusText)',
                    searchModeHeader: "@Html.Raw(staff_index.textInfo_searchModeHeader)",
                    searchModeLabels: {
                        userid: '@Html.Raw(staff_index.textInfo_searchModeLabels_userid)',
                        emailaddress: '@Html.Raw(staff_index.textInfo_searchModeLabels_emailaddress)',
                        passwordexpiry: '@Html.Raw(staff_index.textInfo_searchModeLabels_passwordexpiry)',
                        staffposition: '@Html.Raw(staff_index.textInfo_searchModeLabels_staffposition)',
                        staffgroup: '@Html.Raw(staff_index.textInfo_searchModeLabels_staffgroup)',
                        status: '@Html.Raw(staff_index.textInfo_searchModeLabels_status)'
                    }
                };
                var myViewModel = new staffuserViewModel(textInfo);
                ko.applyBindings(myViewModel);
            }


        );

    </script>
</body>
</html>

